/**
 External
 */
@import url("../bower_components/gaia-theme/gaia-theme.css");

html {
  font-size: 10px;
  /* We have Fira Sans as default font in real device. But it isn't default in
   * browser. That's the main reason this line is here.*/
  font-family: "Fira Sans";
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

article, section, video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loading-section {
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
  top: calc(50% - 20rem);
  left: calc(50% - 15rem);
  height: 30rem;
  width: 30rem;
}

#loading-section span{
  color: white;
  line-height: 5rem;
  font-size: 2.4rem;
  font-style: italic;
  display: inline-block;
}

.control-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
  visibility: visible;
  transition: all 1s ease;
}

.control-panel.fade-out {
  opacity: 0;
  visibility: hidden;
}

/* TMP */

.control-panel.fade-out {
  opacity: 1;
  visibility: visible;
}

#video-player-section {
  background-color: #B2FFFF;
}

/* TMP end */

/* TMP _KEY_ */
#video-time-progess {
  width: 100%;
  height: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10rem;
}

#video-time-progess div {
  position: absolute;
}

#time-progess {
  width: 80%;
  height: 4rem;
  left: 10%;
}

.time-bar {
  width: 100%;
  height: 1rem;
  background: #888;
  border-radius: 1rem;
  top: 2rem;
  transform: translate(0, -50%);
}

#elapsed-time-bar {
  background: #3399FF;

  /* TMP */
  width: 33%;
}

#buffered-time-bar {
  background: #fff;

  /* TMP */
  width: 66%
}

.time-text {
  font-size: 2.5rem;
  height: 4rem;
  line-height: 4rem;
}

#elapsed-time {
  left: 3rem;
}

#duration-time {
  right: 3rem;
}

#video-control-buttons {
  width: 100%;
  height: 10rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#video-control-buttons > smart-button {
  font-size: 5rem;
}

#backward-button {
  float: left;
  margin-left: 2rem;
}

#play-button {
  display: block;
  margin: 0 auto;
}

#forward-button {
  float: right;
  margin-right: 2rem;
}
/* TMP _KEY_ end */
