html {
  font-size: 10px;
  /* We have Fira Sans as default font in real device. But it isn't default in
   * browser. That's the main reason this line is here.*/
  font-family: "Fira Sans";
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

article, section, video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loading-section {
  background-color: rgba(0, 0, 0, 0.75);
}

#loading-section span{
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 10rem;
  color: white;
  line-height: 108rem;
  text-align: center;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.control-bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
  visibility: visible;
  transition: all 1s ease;
}

.control-bar.fade-out {
  opacity: 0;
  visibility: hidden;
}
