<html>
  <head></head><body><element name="tc-appDetails" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#tc-applications">
        <span class="icon gaia-icon-back">back</span>
      </a>
      <h1></h1>
    </header>

    <div>
      <ul>
        <li class="app-info app-element">
          <a class="menu-item">
            <img src="">
            <span></span>
          </a>
        </li>
      </ul>

      <div id="tc-perm-explicit" class="permission-group" hidden="">
        <header>
          <h2 data-l10n-id="tc-explicit-permissions">Permissions</h2>
        </header>
        <ul class="permission-list"></ul>
      </div>

      <div id="tc-perm-implicit" class="permission-group" hidden="">
        <header>
          <h2 data-l10n-id="tc-implicit-permissions">Implicit Permissions</h2>
        </header>
        <ul class="permission-list"></ul>
      </div>

      <div class="debug" hidden="">
        <header>
          <h2>Debug</h2>
        </header>
        <pre></pre>
      </div>

    </div>
  </template>
</element>
</body>
</html>
