<element name="tc-applications" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#tc-main">
        <span class="icon gaia-icon-back">back</span>
      </a>
      <h1 data-l10n-id="tc-applications">Applications</h1>
    </header>

    <div>
      <form id="tc-appSearch" role="search">
        <button type="submit" data-l10n-id="tc-search-close">close</button>
        <p>
          <input type="search" x-inputmode="verbatim"
            placeholder="Search Apps" data-l10n-id="tc-search-apps" dir="auto">
          <button type="reset" data-l10n-id="tc-search-clear">Clear</button>
        </p>
      </form>

      <ul id="tc-sortApps">
        <li>
          <span class="button icon icon-dialog">
            <select id="tc-sortKey">
              <option value="name"   data-l10n-id="tc-sort-alphabetical" selected>alphabetical</option>
              <option value="trust"  data-l10n-id="tc-sort-trustLevel">Trust Level</option>
              <option value="vendor" data-l10n-id="tc-sort-vendor">Vendor</option>
            </select>
          </span>
        </li>
      </ul>

      <div id="tc-appList"></div>
    </div>
  </template>
</element>
