<html>
  <head></head><body><element name="tc-main" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-back">back</span>
      </a>
      <h1 data-l10n-id="tc-panel">Transparency Control</h1>
    </header>

    <div>
      <ul>
        <li>
          <a class="menu-item pp-link panel-link" href="#tc-applications">
            <span data-l10n-id="tc-applications">Applications</span>
          </a>
        </li>
        <li>
          <a class="menu-item pp-link panel-link" href="#tc-permissions">
            <span data-l10n-id="tc-permissions">Permissions</span>
          </a>
        </li>
      </ul>
    </div>
  </template>
</element>
</body>
</html>
