<element name="tc-permDetails" extends="section">
  <template>
    <gaia-header>
      <a class="pp-link back" href="#tc-permissions">
        <span class="icon gaia-icon-back"></span>
      </a>
      <h1></h1>
    </gaia-header>

    <div>
      <ul class="permission-list">
        <li class="perm-info">
          <a><span></span></a>
          <p class="description"></p>
        </li>
      </ul>

      <div class="permission-group" hidden>
        <header>
          <h2 data-l10n-id="tc-apps-accessing-permission">Apps accessing this permission</h2>
        </header>
        <ul class="app-list"></ul>
      </div>
    </div>
  </template>
</element>
