<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>&lt;gaia-button&gt;</title>
  <meta name="description" content="gaia-text-input demo" />
  <link rel="stylesheet" type="text/css" href="bower_components/base/base.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-icons/gaia-icons.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-fonts/style.css">
  <script src="bower_components/gaia-theme/lib/gaia-theme-selector.js"></script>
  <script src="bower_components/gaia-component/gaia-component.js"></script>
  <script src="gaia-button.js"></script>
  <style type="text/css">

    body {
      padding-top: 48px;
      background-color: var(--background);
    }
/*
    [data-icon=back-light] {
      margin-left: -9px;
      margin-right: 10px;
    }


    [data-icon=forward-light] {
      margin-left: 10px;
      margin-right: -9px;
    }*/

    [flex] {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
  </style>
</head>
<body role="application" class="l-align-center">
  <gaia-theme-selector></gaia-theme-selector>
  <h1 class="large l-align-center l-mb-mega">&lt;gaia-button&gt;</h1>

  <section>
    <gaia-button>Gaia button 1</gaia-button>
    <gaia-button disabled>Gaia button 1</gaia-button>
  </section>

  <hr/>

  <section>
    <gaia-button><i data-icon="back-light"></i><span>Back</span></gaia-button>
    <gaia-button><span>Forward</span><i data-icon="forward-light"></i></gaia-button>
  </section>

  <hr/>

  <section flex>
    <gaia-button circular><i data-icon="camera"></i></gaia-button>
    <gaia-button circular><i data-icon="bug"></i></gaia-button>
    <gaia-button circular><i data-icon="video"></i></gaia-button>
    <gaia-button circular><i data-icon="camera"></i></gaia-button>
    <gaia-button circular><i data-icon="reload"></i></gaia-button>
    <gaia-button circular><i data-icon="airplane"></i></gaia-button>
  </section>
</body>
</html>
