<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="pragma" content="no-cache">
		<title>Item</title>

		<!-- BOOTZILLA -->
		<link rel="stylesheet" type="text/css" href="../../style/css/package.css">
		<script type="text/javascript" src="../../js/base/responsive.js"></script>

		<!-- DOCS: basic styles used for the documentation; -->
		<style type="text/css">
			.docs, .item { margin-bottom: 1rem; }
		</style>
	</head>
	<body>
		<section class="view">
			<div class="vw-inner">
				<header class="vw-header">
					<h1>.item</h1>
				</header>
				<article class="vw-body">
					<div class="vw-bdy-inner">
						<p class="docs">This is the smallest and complete structure</p>
						
						<div class="item">
							<figure class="itm-media">
								<img src="../dummy/60x60.jpg" alt="Alt">
							</figure>
							<p class="itm-body">i have flexible width</p>
						</div>

						<div class="item">
							<figure class="itm-media pull-right">
								<img src="../dummy/60x60.jpg" alt="Alt">
							</figure>
							<p class="itm-body">The image could be at right</p>
						</div>

						<div class="item">
							<figure class="itm-media">
								<img src="../dummy/60x60.jpg" alt="Alt">
							</figure>
							<div class="itm-body-exp">
								<p>I have all the restant space</p>
							</div>
						</div>

						<div class="item">
							<figure class="itm-media">
								<img src="../dummy/60x60.jpg" alt="Alt">
							</figure>
							<div class="itm-body-exp">
								<p>I'm a parent</p>
								<div class="item">
									<figure class="itm-media">
										<img src="../dummy/60x60.jpg" alt="Alt">
									</figure>
									<div class="itm-body-exp">
										<p>I'm a child</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</article>
			</div>
		</section>
	</body>
</html>