#collections-select {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 0;
  pointer-events: none;
  border: 0;
}

#collections-select.visible {
  display: block;
}

#evmeOverlay #shortcuts-customize-loading {
    z-index: 800;
}

#evmeOverlay #shortcuts-customize-loading p {
    text-align: center;
    overflow: hidden;
}
