
/* view */
.view, .cache, .views {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.view[data-state="active"], .cache[data-state="active"], .views[data-state="active"] { z-index: 100; }

/*.views { background: blue; }
.cache { background: red; }*/

.cache { pointer-events: none; }
.cache .view {
  background-color: transparent;
  background-repeat: no-repeat;
  -moz-transition: all 0.5s ease;
  /*-moz-transform-style: preserve-3d;*/
  /*-moz-backface-visibility: hidden;*/
  position: fixed;
}
  
.view-right {
  -moz-transform: translateX(100%);
}

.view-left {
  -moz-transform: translateX(-100%);
}

.view-top {
  -moz-transform: translateY(-100%);

}

.view-bottom {
  -moz-transform: translateY(100%);
}

.view-inner {
  width: 100%;
  height: 100%;
  display: -moz-box;
  -moz-box-orient: vertical;
  overflow: hidden;
  border-radius: 0.8rem;
}

/* header */
.view-header {
  height: 4.8rem;
  overflow: hidden;
  position: relative;
  color: #fff;
  background-image: -moz-linear-gradient(top, #cc6523, #bb492d);
  background-color: #cc6523;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.25), 0 2px 4px -4px rgba(0, 0, 0, 0.99);
  z-index: 10;
}

.view-header a {
  display: block; padding: 1rem;
}

.view-header h1 {
  font: 2.1rem/4.8rem System Sans Light, Sans-serif;
  text-align: left;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin-left: 3rem;
  height: 100%
}

/* Back button */
.view-back a {
  padding: 1.1rem 0.7rem 1rem 1px;
  background: rgba(0, 0, 0, 0.1);
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 1px rgba(255, 255, 255, 0.3);
  position: relative;
}
  .view-back a:before {
    content: "";
    position: absolute;
    top: 0;
    right: -2rem;
    left: 0;
    bottom: 0;
  }

/* Generic actions in header */
.view-actions {
  height: 100%;
  float: right;
  letter-spacing: -0.4rem;
}

.view-actions li {
  height: 50%;
  border-left: solid 1px rgba(255, 255, 255, 0.3);
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0;
}

.view-actions li:first-child {
  border-left: none;
}

.view-actions li:last-child {
  border-right: none;
}

.view-actions a {
  margin-top: -1rem;
  color: #fff;
  font-size: 1.4rem;
  line-height: 3.3rem;
  padding: 0 1rem;
  height: 4.6rem;
  -moz-box-sizing: border-box;
}
  .view-actions a:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 100%;
    margin-left: -1px;
  }

.view-actions:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 1px;
  height: 100%;
  margin-left: -1px;
}


/* BODY */
.view-body {
  position: relative;
  -moz-box-flex: 1;
  height: 0;
}

.view-body-inner {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  -moz-box-sizing: border-box;
  padding: 1.4rem 2rem;
  background: #f4f4f4;
  color: #333;
  text-align: left;
}

/* Removes scroll from the view body inner */
.view-noscroll .view-body-inner {
  width: -moz-calc(100% + 0.8rem);
}

/* jumper: Goes directly to some point of a scrollable area */
.view-jumper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 1rem;
  z-index: 10;
}

.view-jumper:active .view-jumper-inner, .view-jumper.active .view-jumper-inner  {
  background: #999;
}

.view-jumper-current {
  position: absolute;
  right: 4rem;
  top: 30%;
  width: 10.5rem;
  height: 10.5rem;
  background: -moz-element(#current-jumper);
  pointer-events: none;
  -moz-transition: opacity;
  opacity: 0;
}

#current-jumper {
  width: 10.5rem;
  background: rgba(0, 0, 0, 0.7);
  font: 6rem/10.5rem System Sans Light, Sans-serif;
  color: #fff;
  text-align: center;
}

.view-jumper-inner {
  display: -moz-box;
  -moz-box-orient: vertical;
  padding: 0.3rem 0;
  border-radius: 4rem;
  opacity: 0.6;
}

.view-jumper li {
  font-size: 1.1rem;
  line-height: 1.3em;
  text-align: center;
  text-transform: uppercase;
  -moz-box-flex: 1;
  width: 4.5rem;
}

.view-jumper-inner a, .view-jumper-inner abbr {
  display: block;
  color: #333;
  width: 100%;
}
