body {
  background-size: cover;
}

body.bgimage:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  content: " ";
  background-color: rgba(0,0,0,0.4);
}

body.bgimage section {
  color: #fff;
  position: relative;
  z-index: 2;
}
