html, body {
  font-family: "OpenSans", sans-serif;
  height: 100%;
  margin: 0 auto;
}

/* title bar */
header {
  background: url("images/app-texture.png") repeat scroll 50% 50%, -moz-linear-gradient(center top , #F4F4F4, #EAEAEA) repeat scroll 0 0 transparent;
  border-bottom: 2px solid #7F7F7F;
  border-radius: 6px 6px 0 0;
  height: 66px;
  padding-top: 2px;
  position: relative;
}
header h1 {
  margin: 0;
  padding: 0;
  line-height: 66px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
}
header button {
  display: none; /* disabled atm */
  background: url("images/grippy.png") repeat scroll -16px -16px transparent;
  position: absolute;
  right: 0;
  top: 0;
  width: 68px;
  height: 68px;
  border: none;
}
header button:active {
  background-position: -16px -116px;
}

/* thumbnail list */
ul {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: -moz-calc(100% - 70px);
  overflow-y: scroll;
  background-color: #e0e5ea;
}
ul li:first-child {
  border-top: none;
}
li {
  margin: 0;
  padding: 0 20px 0 150px;
  height: 72px;
  border-bottom: 1px solid #cbcdd1;
  border-top: 1px solid #e6ebef;
  position: relative;
  list-style-type: none;
  overflow: hidden;
}
li:active, li.active {
  background: -moz-linear-gradient(center top , #FFCE75 0pt, rgba(255, 212, 153, 0.2) 2px, rgba(255, 148, 0, 0.4) 20%, #C16700 98%, #C16700 99%, #FF8300 100%) repeat scroll 0 0%, -moz-linear-gradient(center top , #FFCE75 0pt, #FF9400 2px, #C16700 98%, #C16700 99%, #FF8300 100%) repeat scroll 0 0 transparent;
}
li img {
  width: 130px;
  position: absolute;
  left: 0;
  margin: 0;
  padding: 0;
}
li p {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
p.name {
  color: #141414;
  font-size: 18px;
  height: 24px;
  margin-top: 12px;
}
p.time {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

/* fullscreen video player */
#videoFrame {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}
body.fullscreen > * {
  display: none;
}
body.fullscreen #videoFrame {
  display: block;
}

