* { -moz-box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}

header {
  background: grey;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

footer {
  background: grey;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

header span, footer span {
  text-align: center;
  width: -moz-calc(100% - 6px);
  height: -moz-calc(100% - 6px);
  background: silver;
  color: white;
  display: inline-block;
  margin: 3px;
  border: solid 1px white;
}

#back {
  position: absolute;
  top: 5px;
  left: 5px;
}

/* All of the main views fill the screen */
#thumbnail-list-view, #thumbnail-select-view, #photo-view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  z-index: 1;
}

/*
 * Thumbnails are implemented as <li> elements in a <ul> with background-image
 * set to display the image. We use background-size: cover to automatically
 * resize the image as needed.
 * 
 * The thumbnail list appears in regular browsing mode, in selection mode, 
 * and also in "filmstrip" form in single-photo mode. So the thumbnail list
 * and the individual thumbnails are styled differently depending on 
 * what element they are contained within, and also depending on the phone
 * resolution and orientation (and also language direction).
 */

#thumbnails {
  position: absolute;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /* If we want to scroll up and down, then apparently we have to add */
  /* some extra width to keep the scrollbar offscreen */
  width: -moz-calc(100% + 10px);
  background-color: #000;
}

.thumbnail {
  margin: 0;
  padding: 0;
  /* borders only on right and bottom */
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  overflow: hidden;
  /* default to left-to-right, but overridden for rtl languages below */
  float: left;
  /* no list item bullets */
  list-style-type: none;
  /* don't let the user select the items */
  -moz-user-select: none;
  /* thumbnail images will be displayed with background-image */
  /* these properties scale and position the images correctly */
  background-size: cover;        /* allow some cropping */
  background-position: center;   /* keep the cropping at the edges */
  background-repeat: no-repeat;
}

.thumbnail.selected {
  outline: solid orange 5px;
  outline-offset: -5px;
}

/* 320x480 phones */
@media (orientation: portrait) and (width: 320px) {
  .thumbnail {
    width: 107px;
    height: 107px;
  }
}

@media (orientation: landscape) and (width: 480px) {
  .thumbnail {
    width: 120px;
    height: 120px;
  }
}

/* 480x800 phones portrait */
@media (orientation: portrait) and (width: 480px),
       (orientation: landscape) and (width: 800px) {
    .thumbnail {
        width: 160px;
        height: 160px;
    }
}

/* thumbnails in regular thumbnail list view */
#thumbnail-list-view > #thumbnails {
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
}

.hidden {
  display: none;
}

/* localization */
body.hidden *[data-l10n-id] {
  visibility: hidden;
}

*[dir=rtl] .thumbnail {
  float: right;
}

/* buttons */
a.button {
  display: block;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

a.button:active, a.button:focus {
  outline: none;
}

a.button.disabled {
  opacity: 0.4;
}

#thumbnails-bottom {
  background: #888;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#thumbnails-camera-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-image: url('images/camera.png');
  border-right: 1px solid #000;
}

#thumbnails-select-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-image: url('images/select.png');
}

#thumbnails-select-top {
  background: #888;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#thumbnails-cancel-button {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 0;
  background-image: url('images/cancel.png');
}

#thumbnails-number-selected {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%;
  margin-top: 10px;
}

#thumbnails-select-bottom {
  background: #888;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#thumbnails-delete-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-image: url('images/delete.png');
  border-right: 1px solid #000;
}

#thumbnails-share-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-image: url('images/share.png');
}

#photos-overlay-top {
  position: absolute;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  /* the filmstrip is taller than 50px so we can hide its scrollbar */
  overflow: hidden; 
}

#photos-back-button {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  background-image: url('images/gallery.png');
}

#crop {
  position: absolute;
  bottom: 100px;
  right: 20px;
  width: 50px;
}

#crop button {
  width: 50px;
  height: 50px;
}
