* { -moz-box-sizing: border-box; }

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

/* All of the main views fill the screen */
#thumbnail-list-view, #thumbnail-select-view, #photo-view, edit-view {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#nophotos {
  margin: 0;
  margin-top: 40%;
  padding: 0;
  width: 100%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 26px;
  color: #fff;
  -moz-user-select: none;
}


/*
 * Thumbnails are implemented as <li> elements in a <ul> with background-image
 * set to display the image. We use background-size: cover to automatically
 * resize the image as needed.
 * 
 * The thumbnail list appears in regular browsing mode, in selection mode, 
 * and also in "filmstrip" form in single-photo mode. So the thumbnail list
 * and the individual thumbnails are styled differently depending on 
 * what element they are contained within, and also depending on the phone
 * resolution and orientation (and also language direction).
 */

#thumbnails {
  position: absolute;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  /* If we want to scroll up and down, then apparently we have to add */
  /* some extra width to keep the scrollbar offscreen */
  width: -moz-calc(100% + 10px);
  background-color: #000;
}

.thumbnail {
  margin: 0;
  padding: 0;
  /* borders only on right and bottom */
  border-right: solid black 1px;
  border-bottom: solid black 1px;
  overflow: hidden;
  /* default to left-to-right, but overridden for rtl languages below */
  float: left;
  /* no list item bullets */
  list-style-type: none;
  /* don't let the user select the items */
  -moz-user-select: none;
  /* thumbnail images will be displayed with background-image */
  /* these properties scale and position the images correctly */
  background-size: cover;        /* allow some cropping */
  background-position: center;   /* keep the cropping at the edges */
  background-repeat: no-repeat;
}

.thumbnail.selected {
  outline: solid orange 5px;
  outline-offset: -5px;
}

/* 320x480 phones */
@media (orientation: portrait) and (width: 320px) {
  .thumbnail {
    width: 107px;
    height: 107px;
  }
}

@media (orientation: landscape) and (width: 480px) {
  .thumbnail {
    width: 120px;
    height: 120px;
  }
}

/* 480x800 phones portrait */
@media (orientation: portrait) and (width: 480px),
       (orientation: landscape) and (width: 800px) {
    .thumbnail {
        width: 160px;
        height: 160px;
    }
}

/* thumbnails in regular thumbnail list view */
#thumbnail-list-view > #thumbnails {
  top: 0;
  left: 0;
  right: 0;
  bottom: 50px;
}

/* thumbnails in thumbnail select view where there is a top bar */
#thumbnail-select-view > #thumbnails {
  top: 50px;
  left: 0;
  right: 0;
  bottom: 50px;
}

/*
 * In photo view mode, the thumbnail list becomes a "filmstrip"
 * and the thumbnail images become much smaller.
 * JavaScript will set the width of the thumbnails container so that 
 * we get working scrollbars
 */
#photos-filmstrip #thumbnails {
  left:0;
  top:0;
  height:50px;
  overflow-y: hidden;
  overflow-x: scroll;
}

#photos-filmstrip li.thumbnail {
    border-left: solid black 2px;
    border-right: none;
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    width: 50px;
    height: 50px;
}

#photo-frames {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.photoFrame {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  -moz-user-select: none;
}

div.currentPhoto {
  left: 0px;
}

/* the next photo is waiting in the wings just off to the right */
/* We use 102% instead of 100% to give a small black border between photos */
div.nextPhoto {
  left: 102%;
}

/* In RTL languages, the next photo is off to the left */
*[dir=rtl] div.nextPhoto {
  left: -102%;
}

div.previousPhoto {
  left: -102%;
}

*[dir=rtl] div.previousPhoto {
  left: 102%;
}

.photoFrame > img {
  position: relative;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  pointer-events: none;
  -moz-user-select: none;
}

.hidden {
  display: none;
}

/* localization */
body.hidden *[data-l10n-id] {
  visibility: hidden;
}

*[dir=rtl] .thumbnail {
  float: right;
}

/* buttons */
a.button {
  display: block;
  padding: 0;
  margin: 0;
  border-width: 0;
  background-position: center center;
  background-repeat: no-repeat;

  /* for buttons that display text */
  font-size: smaller;
  text-align: center;
  vertical-align: 75%;
  line-height: 50px;;
}

a.button:active, a.button:focus {
  outline: none;
}

a.button.disabled {
  opacity: 0.4;
}

#thumbnails-bottom {
  background: #888;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#thumbnails-camera-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-image: url('images/camera.png');
  border-right: 1px solid #000;
}

#thumbnails-select-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-image: url('images/select.png');
}

#thumbnails-select-top {
  background: #888;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#thumbnails-cancel-button {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 0;
  background-image: url('images/cancel.png');
}

#thumbnails-number-selected {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 25%;
  margin-top: 10px;
}

#thumbnails-select-bottom {
  background: #888;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#thumbnails-delete-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  background-image: url('images/delete.png');
  border-right: 1px solid #000;
}

#thumbnails-share-button {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 50%;
  background-image: url('images/share.png');
}

#photos-overlay-top {
  position: absolute;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  /* the filmstrip is taller than 50px so we can hide its scrollbar */
  overflow: hidden; 
}

#photos-filmstrip {
  position: absolute;
  height: 100%;
  left: 0;
  right: 60px; /* 50px plus extra for the scrollbar we don't want to see */
  overflow-x: scroll;
  overflow-y: hidden;
}

#photos-back-button {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  background-image: url('images/gallery.png');
}


#photos-overlay-bottom {
  background: rgba(0, 0, 0, 0.4);
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#photos-camera-button {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 0;
  background-image: url('images/camera.png');
}

#photos-edit-button {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 25%;
  background-image: url('images/edit.png');
}

#photos-share-button {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 50%;
  background-image: url('images/share.png');
}

#photos-delete-button {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 75%;
  background-image: url('images/delete.png');
}

#edit-header {
  background: #ccc;
  position: absolute;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}

#edit-cancel-button {
  position: absolute;
  width: 25%;
  height: 100%;
  left: 0;
  background-image: url('images/cancel.png');
}

#edit-title {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 25%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  line-height: 50px;
  vertical-align: 75%;
  text-align: center;
  font-variant: small-caps;
}

#edit-save-button {
  position: absolute;
  width: 25%;
  height: 100%;
  right: 0;
}

#edit-preview-area {
  position: absolute;
  top: 50px;
  bottom: 100px;
  left: 0;
  width: 100%;
}

#edit-preview-image {
  width:100%;
  height:100%;
}

#edit-options {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  bottom: 50px;
  background: #ccc;
}

/* All the edit option divs have the same placement */
#edit-options > div {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}

/* All the buttons within any of the edit option divs share these styles */
#edit-options > div > a.button {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 3px;

  background-size: cover;        /* allow some cropping */
  background-position: center;   /* keep the cropping at the edges */
  background-repeat: no-repeat;
}

#edit-exposure-options {
}

#edit-crop-options {
}

#edit-effect-options {
}

#edit-border-options {
}

a.filter-exposure-minus-one {
  filter: url(../index.html#filter-exposure-minus-one);
}
a.filter-exposure-minus-half {
  filter: url(../index.html#filter-exposure-minus-half);
}
a.filter-exposure-plus-half {
  filter: url(../index.html#filter-exposure-plus-half);
}
a.filter-exposure-plus-one {
  filter: url(../index.html#filter-exposure-plus-one);
}
a.filter-bw {
  filter: url(../index.html#filter-bw);
}
a.filter-sepia {
  filter: url(../index.html#filter-sepia);
}

a.border-thin-white {
  border: 2px solid white;  
}
a.border-thick-white {
  border: 4px solid white;  
}
a.border-thin-black {
  border: 2px solid black;  
}
a.border-thick-black {
  border: 4px solid black;  
}


#edit-toolbar {
  background: #888;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* all buttons in the toolbar share these styles */
#edit-toolbar > .button {
  position: absolute;
  width: 25%;
  height: 100%;
  border-right: 1px solid #000;
  background: #666;
}

/* If the button is selected, it has a different background */
#edit-toolbar > .button.selected {
  background: #999;
}

#edit-exposure-button {
  left: 0;
}

#edit-crop-button {
  left: 25%
}

#edit-effect-button {
  left: 50%
}

#edit-border-button {
  left: 75%
}
