html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, Sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1.8mozmm;
  overflow: hidden;
}

header {
  height: 20px;
  background-color: #fff;
  background-image: -moz-linear-gradient(#fff, #eaeae4);
  margin: 0;
  padding: 25px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #333;
  text-align: center;
  width: 100%;
}

#thumbnails {
  padding: 0;
  margin: 0;
  width: -moz-calc(100% + 8px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#thumbnails li {
  float: left;
  width: 160px;
  height: 140px;
  margin: 0;
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  user-select: none;
}

.thumbnail {
  width: 160px;
  height: 140px;
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: none;
}

#photos {
  display: table;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}

#photos li {
  display: table-cell;
  width: 100%;
  height: 100%;
}

.hidden, #photos.hidden {
  display: none;
}

.photo {
  width: 100%;
  height: 100%;
}

