
.slide {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: black;
}

/* Sliding */
#slides > .sliding {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition-property: transform;
	transition-timing-function: ease;
}

/* Fading */
#slides > .fade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition-property: opacity;
	transition-timing-function: ease;
}
