#storage-watcher-container {
  display: none;
}

#storage-watcher-container.displayed {
  display: block;
}

#storage-watcher-container > .title-container {
  margin: 1.4rem 0 0 3.7rem;
}

#storage-watcher-container > .detail {
  margin-left: 3.7rem;
}
