<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
    <meta charset="utf-8">
    <meta name="theme-group" content="theme-communications">
    <meta name="theme-color" content="var(--header-background)">
    <title>Inbox</title>

    <!--App Style root.css-->
    <link rel="stylesheet" type="text/css" href="/views/shared/style/root.css">

    <!-- Stable Building blocks -->
    <link rel="stylesheet" type="text/css" href="/shared/style/action_menu.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/option_menu.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/buttons.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/confirm.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/edit_mode.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/switches.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/lists.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/tabs.css" >
    <link rel="stylesheet" type="text/css" href="/shared/style/progress_activity.css">
    <link rel="stylesheet" type="text/css" href="/shared/style/status.css">
    <link rel="stylesheet" type="text/css" href="/shared/elements/gaia-icons/gaia-icons.css">

    <!-- App styles -->
    <link rel="stylesheet" type="text/css" href="/views/shared/style/sms.css">
    <link rel="stylesheet" type="text/css" href="/views/shared/style/panel.css">
    <link rel="stylesheet" type="text/css" href="/views/shared/style/edit-mode.css">
    <link rel="stylesheet" type="text/css" href="/views/shared/style/notification.css">
    <link rel="stylesheet" type="text/css" href="/views/shared/style/common.css">

    <link rel="stylesheet" type="text/css" href="/views/inbox/style/inbox.css">
    <link rel="stylesheet" type="text/css" href="/views/inbox/style/edit-mode.css">

    <!-- Localization -->
    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="en-US">
    <link rel="localization" href="/locales/sms.{locale}.properties">
    <link rel="localization" href="/shared/locales/date/date.{locale}.properties">
    <!-- Firefox Desktop shims -->
    <script defer src="/desktop-mock/navigator_moz_has_pending_message.js"></script>
    <script defer src="/desktop-mock/navigator_moz_icc_manager.js"></script>
    <script defer src="/desktop-mock/navigator_moz_settings.js"></script>
    <script defer src="/desktop-mock/navigator_moz_mobilemessage.js"></script>
    <script defer src="/desktop-mock/navigator_moz_contacts.js"></script>
    <script defer src="/desktop-mock/async_storage.js"></script>
    <!-- Web Components -->
    <script defer src="/shared/elements/config.js"></script>
    <link rel="stylesheet" type="text/css" href="app://theme.gaiamobile.org/shared/elements/gaia-theme/gaia-theme.css" />
    <script async src="/shared/elements/gaia-header/dist/gaia-header.js"></script>
    <!-- Shared code -->
    <script defer src="/shared/js/l10n.js"></script>
    <!-- Should be removed while gecko support navigator.mozHour12 API -->
    <script defer src="/shared/js/date_time_helper.js"></script>
    <script defer src="/shared/js/template.js"></script>
    <script defer src="/shared/js/async_storage.js"></script>
    <script defer src="/shared/js/lazy_loader.js"></script>
    <script defer src="/shared/js/sticky_header.js"></script>
    <script defer src="/shared/js/contact_photo_helper.js"></script>

    <script defer src="/shared/js/fb/fb_request.js"></script>
    <script defer src="/shared/js/fb/fb_data_reader.js"></script>
    <script defer src="/shared/js/fb/fb_reader_utils.js"></script>

    <script defer src="/shared/js/event_dispatcher.js"></script>

    <script defer src="/views/shared/js/utils.js"></script>
    <script defer src="/views/shared/js/navigation.js"></script>
    <script defer src="/views/shared/js/inter_instance_event_dispatcher.js"></script>
    <script defer src="/views/shared/js/time_headers.js"></script>
    <script defer src="/views/shared/js/contacts.js"></script>
    <script defer src="/services/js/drafts.js"></script>
    <script defer src="/services/js/threads.js"></script>
    <script defer src="/views/inbox/js/inbox.js"></script>
    <script defer src="/views/shared/js/settings.js"></script>
    <script defer src="/services/js/message_manager.js"></script>
    <script defer src="/views/shared/js/app.js"></script>
    <script defer src="/views/inbox/js/startup.js"></script>
    <script defer src="/views/shared/js/bootstrap.js"></script>

    <!-- Lazy load scripts
    <script defer src="/shared/js/option_menu.js"></script>
    <script defer src="/views/shared/js/dialog.js"></script>
    <script defer src="/views/shared/js/waiting_screen.js"></script>
    <script defer src="/views/shared/js/activity_picker.js"></script>
    -->
  </head>

  <body role="application" class="skin-comms theme-communications">
    <article id="main-wrapper" class="wrapper">
      <section class="panel panel-InboxView" role="region" aria-hidden="true">
        <!-- title-start and title-end indicates the button widths respectively
          at the start and end of the line -->
        <!-- see https://github.com/gaia-components/gaia-header/ for more information -->
        <!-- WARNING: the actual value depends on the actual CSS being used in gaia-header -->
        <gaia-header class="view-header regular-header" title-start="0" title-end="100">
          <h1 data-l10n-id="messages"></h1>
          <a href="#/composer" id="threads-composer-link" data-icon="compose" data-l10n-id="composeLink"></a>
          <a id="threads-options-button" data-icon="more" data-l10n-id="actionsButton"></a>
          <a id="threads-settings-button" data-icon="settings" data-l10n-id="settingsButton"></a>
        </gaia-header>
        <article id="threads-container" class="view-body edit-container" data-type="list">
        </article>

        <div id="threads-no-messages">
          <div id="no-result-message">
            <p data-l10n-id="noMessages-title">No messages</p>
            <p data-l10n-id="noMessages-text">Start communicating now</p>
          </div>
        </div>

        <form id="threads-edit-form" role="dialog" data-type="edit">
          <section role="region" class="theme-settings">
            <gaia-header id="threads-edit-header" action="close" no-font-fit>
              <h1 id="threads-edit-mode" data-l10n-id="selectThreads-title"></h1>
              <button id="threads-check-uncheck-all-button" class="edit-button" data-l10n-id="select-all"></button>
            </gaia-header>
          </section>
          <div class="bottom-tab" role="region" >
            <ul class="bb-tablist">
              <li role="presentation">
                <button id="threads-delete-button" class="disable-when-dialog-animates" data-action="delete-button"></button>
              </li>
              <li role="presentation">
                <button id="threads-read-unread-button" data-action="mark-as-read"></button>
              </li>
            </ul>
          </div>
        </form>

        <section id="threads-draft-saved-banner" class="hide" role="status">
          <p data-l10n-id="message-draft-saved">Message saved as draft</p>
        </section>

        <div id="sticky"></div>
      </section>
    </article>

    <article id="loading">
      <form role="dialog" data-type="confirm" class="loading-container">
        <section>
          <p class="loading-header" data-l10n-id="deleting-messages">Deleting messages...</p>
          <div role="status">
            <progress class="small"></progress>
          </div>
        </section>
      </form>
    </article>

    <!--
      -  Templates
      -->

    <div id="messages-thread-tmpl" class="hide">
      <!--
      <label class="pack-checkbox negative">
        <input type="checkbox" value="${id}" data-mode="${mode}">
        <span></span>
      </label>
      <a href="${hash}">
        <aside role="note" data-l10n-id="${iconLabel}" class="icon icon-unread icon-draft"></aside>
        <aside class="pack-end threadlist-item-picture"
               role="img" aria-label="Contact photo"
               data-l10n-id="contact-photo">
          <span data-type="img"></span>
        </aside>
        <p class="threadlist-item-title"><bdi class="ellipsis-dir-fix">${number}</bdi></p>
        <p class="summary">
          <time data-time-update="true" data-time-only="true" data-time="${timestamp}"></time>
          <span class="mms-icon" data-l10n-id="mms-label">MMS</span>
          <span dir="auto" class="body-text ellipsis-dir-fix">${bodyHTML}</span>
        </p>
      </a>
      -->
    </div>
  </body>
</html>
