<element name="about" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#root">
        <span class="icon icon-back">back</span>
      </a>
      <h1 data-l10n-id="about-privacy-panel">About Privacy Panel</h1>
    </header>
    <div>
      <ul>
        <li>
          <span data-l10n-id="version">Version</span>
          <small id="privacy-panel-version" class="multiline">1.0.13</small>
        </li>
        <li>
          <span data-l10n-id="build-id">Build-ID</span>
          <small id="privacy-panel-build" class="multiline">XYZ-ABC-CONTENT</small>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="about-header">About the Privacy Panel</h2>
      </header>
      <ul>
        <li class="description">
          <p data-l10n-id="about-description">
            Together with Deutsche Telecom the Mozilla Foundation developed the
            Privacy Panel to enable the user to take back control of their
            personal data ...
          </p>
        </li>
      </ul>
    </div>
  </template>
</element>
