/**
Some css properties are global (keyframes) and cannot be specified
to to only apply to our shadow dom so we hack around this by including
this file without scoping it.
Bug 1018269 - we need to specify the keyframe outside of the web component.
*/

/**
Moving backward because:
http://www.chrisharrison.net/projects/progressbars2/ProgressBarsHarrison.pdf
*/
@-moz-keyframes moving-backward {
  0% {
    transform: translateX(0);
  }
  100% {
    /**
    The width of the gradient is 10rem, but we adjust to 14.2 to account for
    the gradient rotation. Without this adjustment the animation will jump.
    */
    transform: translateX(-14.2rem);
  }
}
