#screen.dialog #left-panel,
#screen.dialog #right-panel,
.gesture-panel.disabled {
  visibility: hidden;
}

#left-panel {
  position: absolute;
  top: 6rem;
  bottom: 4rem;
  left: 0;
  width: 2rem;

  border-radius: 0 50% 50% 0;

  background-color: red;
  opacity: 0;
}

#screen > #right-panel {
  position: absolute;
  top: 6rem;
  right: 0;
  bottom: 4rem;
  width: 2rem;

  z-index: auto;
}

#right-panel-top {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  border-radius: 50% 0 0 50%;
}

#right-panel-top, #right-panel-right,
#right-panel-bottom, #right-panel-left {
  background-color: green;
  opacity: 0;
}

#screen.edges-debug .gesture-panel {
  opacity: 0.5;
}

@media (orientation: landscape) {
  #left-panel, #right-panel {
    top: 3rem;
    bottom: 1rem;
  }

  #screen.software-button-enabled > #right-panel {
    top: 0;
    bottom: 0;
    width: 5rem;
  }

  #screen.software-button-enabled #right-panel-top {
    top: 3rem;
    bottom: calc(50% + 2rem);
    border-radius: 0;
  }

  #screen.software-button-enabled #right-panel-right {
    position: absolute;
    top: calc(50% - 2rem);
    right: 0;
    height: 4rem;
    width: 0.5rem;
  }

  #screen.software-button-enabled #right-panel-bottom {
    position: absolute;
    top: calc(50% + 2rem);
    right: 0;
    bottom: 1rem;
    left: 0;
  }

  #screen.software-button-enabled #right-panel-left {
    position: absolute;
    top: calc(50% - 2rem);
    left: 0;
    height: 4rem;
    width: 0.5rem;
  }
}
