.DS_Store
*.rej
*.orig
*.swp
.svn
*~
manifest.appcache

/apps/system/camera
/apps/settings/resources/gaia_commit.txt
/apps/homescreen/js/init.json
/apps/homescreen/js/hiddenapps.js
/apps/settings/js/hiddenapps.js
/apps/costcontrol/js/config.json
/apps/sms/js/blacklist.json
/test_apps/test-agent/test/config.json
/apps/dialer/contacts
/apps/browser/js/init.json

/apps/*/test/unit/_sandbox.html
/apps/*/test/unit/_proxy.html
/apps/*/shared
/apps/settings/resources/support.json
/apps/settings/resources/icc.json
/test_apps/*/test/unit/_sandbox.html
/test_apps/*/test/unit/_proxy.html
/showcase_apps/*/test/unit/_sandbox.html
/showcase_apps/*/test/unit/_proxy.html

/profile/
/profile.tar.gz
/.xulrunner-url
/xulrunner/
/xulrunner-sdk/
/tools/test-agent/node_modules
/test-output.xml
/mocha-test-results.html
/build/custom-prefs.js
/build/custom-settings.json
/local.mk

/tools/xpcwindow/vendor/

/outoftree_apps/
