.DS_Store
*.rej
*.orig
*.swp
.svn
*~
manifest.appcache

/apps/calendar/js/presets.js
/apps/camera/js/config.js
/apps/gallery/js/config.js
/apps/homescreen/js/init.json
/apps/homescreen/everything.me/config/local.json
/apps/costcontrol/js/config.json
/apps/sms/js/blacklist.json
/test_apps/test-agent/test/config.json
/apps/dialer/contacts
/apps/browser/js/init.json
/apps/communications/contacts/config.json
/apps/communications/contacts/oauth2/js/parameters.js

/apps/*/test/unit/_sandbox.html
/apps/*/test/unit/_proxy.html
/apps/*/locales-obj
/apps/*/shared
/apps/settings/resources/network.json
/apps/settings/resources/support.json
/apps/settings/resources/sensors.json
/apps/system/resources/icc.json
/apps/system/resources/wapuaprof.json
/test_apps/*/test/unit/_sandbox.html
/test_apps/*/test/unit/_proxy.html
/test_apps/*/locales-obj
/test_external_apps/*/locales-obj
/showcase_apps/*/test/unit/_sandbox.html
/showcase_apps/*/test/unit/_proxy.html
/showcase_apps/*/locales-obj

/shared/test/integration/node_modules

/b2g
/profile/
/profile-debug/
/profile-test/
/profile.tar.gz
/.xulrunner-url
/xulrunner/
/xulrunner-sdk*/
/tools/test-agent/node_modules
/test-output.xml
/mocha-test-results.html
/build/config/custom-extensions.json
/build/config/custom-prefs.js
/build/config/custom-settings.json
/build_stage/
/local.mk
/.b2g.mk

/tools/xpcwindow/vendor/

/outoftree_apps/

/distribution/
/node_modules/
/docs/
/.cproject
/.project
/.settings

/external-apps/*/test/unit/_sandbox.html
/external-apps/*/test/unit/_proxy.html

/test_external_apps/*/test/unit/_sandbox.html
/test_external_apps/*/test/unit/_proxy.html
apps/*, external-apps/* & GAIA_DISTRIBUTION_DIR
