.DS_Store
*.rej
*.orig
*.swp
.svn
*~
manifest.appcache

/apps/system/camera
/apps/settings/gaia-commit.txt
/apps/homescreen/js/init.json
/apps/costcontrol/js/config.json
/apps/sms/js/blacklist.json
/test_apps/test-agent/test/config.json
/apps/dialer/contacts

/apps/*/test/unit/_sandbox.html
/apps/*/test/unit/_proxy.html
/apps/*/shared
/test_apps/*/test/unit/_sandbox.html
/test_apps/*/test/unit/_proxy.html
/showcase_apps/*/test/unit/_sandbox.html
/showcase_apps/*/test/unit/_proxy.html

/profile/
/profile.tar.gz
/.xulrunner-url
/xulrunner/
/xulrunner-sdk/
/tools/test-agent/node_modules
/test-output.xml
/mocha-test-results.html
/custom-prefs.js
/local.mk

/tools/xpcwindow/vendor/

/locales/*
