#evmeContainer #shortcuts-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 0;
    pointer-events: none;
}

#evmeContainer.shortcuts-customizing #search {
    pointer-events: none;
    -moz-animation: fadeout .2s linear;
    -moz-animation-fill-mode: forwards;
}
@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}

#evmeContainer #shortcuts-customize-loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    text-align: center;
    background:
      url(../../images/shared/pattern.png) repeat left top,
      url(../../images/shared/gradient.png) no-repeat left top / 100% 100%;
}
    #evmeContainer #shortcuts-customize-loading b {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        height: 40px;
        line-height: 40px;
        margin-top: -20px;
        font-weight: 300;
        font-size: 38px;
    }
    #evmeContainer #shortcuts-customize-loading .loading-wrapper {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin-top: 40px;
    }
    
    
#evmeContainer #shortcuts-customize-loading menu {
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
    #evmeContainer #shortcuts-customize-loading menu button {
      width: calc(100% - 5rem);
      height: 4rem;
      -moz-box-sizing: border-box;
      vertical-align: middle;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-family: 'MozTT', Sans-serif;
      font-weight: 600;
      line-height: 4rem;
      outline: none;
      font-size: 1.4rem;
      color: #fff;
      text-shadow: none;
      text-align: left;
      padding: 0 1rem;
      margin: 0 2.5rem 1rem 2.5rem;
      background: #4e4e4e padding-box;
      border-radius: 0.3rem;
      border: solid 1px rgba(0, 0, 0, 0.25);
    }

    #evmeContainer #shortcuts-customize-loading menu button:last-child {
      text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
      color: #333;
      background-image: url(action_menu/images/ui/default.png);
      background-color: #fafafa;
      border: solid 1px #9f9f9f;
      margin: 2.5rem 1.5rem 1.5rem 1.5rem;
      width: calc(100% - 3rem);
      text-align: center;
      font-size: 1.6rem;
    }
        #evmeContainer #shortcuts-customize-loading menu button:last-child:before {
          content: '';
          position: absolute;
          width: 100%;
          background: url(action_menu/images/ui/pattern.png) repeat scroll left top #2D2D2D;
          height: 7rem;
          left: 0;
          bottom: 0;
          z-index: -1;
          border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
        }

/* Press state */
#evmeContainer #shortcuts-customize-loading menu button:active {
  background-color: #006f86;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
#evmeContainer #shortcuts-customize-loading menu button:last-child:active {
  border: solid 1px #008aaa;
  background: #008aaa;
  color: #333;
}