/* Media definitions */
@media screen and (max--moz-device-pixel-ratio: 1.5) {
  html {
    font-size: 15px;
  }
}

/* Font definitions */
@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open-Sans.woff');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-weight: bold;
  src: url('fonts/Open-Sans-Bold.woff');
}

@font-face {
  font-family: 'Open Sans Semibold';
  font-weight: 600;
  src: url('fonts/Open-Sans-Semibold.woff');
}

@font-face {
  font-family: 'Keyboard Symbols';
  font-weight: 600;
  src: url('fonts/Keyboard-Symbols.woff');
}

/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

/* Keyboard */
#keyboard {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #3b424e url(images/bgbase.jpg) no-repeat center center;
  background-size: 100% auto;
  -moz-transition: -moz-transform 0.3s ease;
  -moz-transform: translateY(0);
}

#keyboard.hide{
  -moz-transform: translateY(100%);
}

/* Rows */
.keyboard-row {
  width: 100%;
  white-space: nowrap;
}

/* Buttons: logic keys */
.keyboard-key {
  -moz-box-sizing: border-box;
  box-sizing: boder-box;
  padding: 0.25rem 0.2rem 0.15rem;
  border: none;
  background: none;
  min-width: 2.6rem;
  display: inline-block;
}

.keyboard-row:first-child .keyboard-key {
  padding-top: 0.5rem;
}

/* Visible keys */
.keyboard-key > .visual-wrapper {
  display: inline-block;
  height: 4.2rem;
  width: 100%;
  border: none;
  background: url(images/key-begin.png) no-repeat left top, url(images/key-end.png) no-repeat right top;
  background-size: auto 100%;
  position: relative;
  text-align: center;
}

.keyboard-key > .visual-wrapper > span {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  height: 100%;
  /*background: -moz-linear-gradient(#fff, #ebebeb);*/
  /*box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.9);*/
  background: url(images/key-middle.png) repeat-x center top;
  background-size: auto 100%;
  font-family: 'Open Sans Semibold';  
  font-size: 2.4rem;
  line-height: 3.8rem;
  color: #333;
  /*border: 1px solid rgba(0, 0, 0, 0.6);*/
  /*border-radius: 0.3rem;*/
}

/* Highlights */
.keyboard-key:not(.special-key).highlighted > .visual-wrapper {
  background: #ebebeb;
  box-shadow: inset 0 0 0 1px #FFF, 0 0 0.4rem 0px rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  border: solid 1px rgba(0, 0, 0, 0.6);
  border-top: none;
  margin-top: -0.5rem;
}

.keyboard-key:not(.special-key).highlighted > .visual-wrapper > span {
  font: 2.8rem/4rem Open Sans Semibold, Sans-serif;
  background-clip: padding-box;
  background: -moz-linear-gradient(#fff, #ebebeb);
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: none;
  height: 5.2rem;
  top: -5rem;
  left: -0.8rem;
  right: -0.8rem;
  z-index: 100;
}

.keyboard-key:not(.special-key).highlighted > .visual-wrapper > span:after {
  content: "";
  position: absolute;
  margin: 0 0.5rem;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 200;
  height: 1px;
  background: #ebebeb;
  border: solid 1px #61646A;
  border-top: none;
  border-bottom: none;
}

.keyboard-key:not(.special-key).highlighted:last-child  > .visual-wrapper > span {
  right: -1px;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.keyboard-key:not(.special-key).highlighted:last-child  > .visual-wrapper > span:after {
  border: none;
  margin: 0 0 0 0.6rem;
}

.keyboard-key:not(.special-key).highlighted:first-child  > .visual-wrapper > span {
  left: -1px;
  border-bottom-left-radius: 0;
  border-bottom: none;
}

.keyboard-key:not(.special-key).highlighted:first-child  > .visual-wrapper > span:after {
  border: none;
  margin: 0 0.6rem 0 0;
}

/*  Special keys */
.keyboard-key.special-key > .visual-wrapper {
  background: url(images/key-special-begin.png) no-repeat left top, url(images/key-special-end.png) no-repeat right top;
  background-size: auto 100%;
}
.keyboard-key.special-key > .visual-wrapper > span { 
  font-size: 1.5rem;
  line-height: 4rem;
  font-family: 'Keyboard Symbols', sans-serif;
  color: #5B6574;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  /*background: -moz-linear-gradient(bottom, #B3B3B3, #EDEDED);*/
  /*box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.5);*/
  background: url(images/key-special-middle.png) repeat-x center top;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  bottom: 0;
  height: 100%
}

/* Highlight for special keys */
.keyboard-key.special-key.highlighted > .visual-wrapper {
/*  box-shadow: 0 0 0 2px #4495A8;*/
}
.keyboard-key.special-key.highlighted > .visual-wrapper:before {
  content: "";
  position: absolute;
  left: -2px;
  right: -2px;
  top: -2px;
  bottom: 0;
  border: #4495A8 2px solid;
  border-radius: 0.3rem;
}
.keyboard-key.special-key.highlighted > .visual-wrapper > span:after  {
  display: none;
}

/* Highlight for spacebar */
.keyboard-key.highlighted[data-keycode="32"] > .visual-wrapper {
  margin: 0;
  border: none;
  opacity: 0.5;
  box-shadow: none;
  background: url(images/key-begin.png) no-repeat left top, url(images/key-end.png) no-repeat right top;
}

.keyboard-key.highlighted[data-keycode="32"] > .visual-wrapper > span  {
  position: absolute;
  top: 0;
  left: 2px;
  right: 2px;
  bottom: 0;
  height: 100%;
  border: none;
  background: url(images/key-middle.png) repeat-x center top;
}
.keyboard-key.highlighted[data-keycode="32"] > .visual-wrapper > span:after {
  display: none;
}
/* Menu for special keys */
.keyboard-key.special-key.highlighted.kbr-menu-on > .visual-wrapper{
  background: #ebebeb;
  box-shadow: inset 0 0 0 1px #FFF, 0 0 0.4rem 0px rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
}

.keyboard-key.special-key.highlighted.kbr-menu-on > .visual-wrapper > span {
  background: -moz-linear-gradient(#fff, #ebebeb);
  border-radius: 0.3rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: none;
  z-index: 100;
  color: #333;
}

.keyboard-key.special-key.highlighted.kbr-menu-on > .visual-wrapper > span:after {
  content: "";
  background: #fff;
  display: block;
  bottom: 100%;
  top: auto;
  margin: 0 -2px -1px;
}

/* Alternatives */
#keyboard-accent-char-menu {
  position: absolute;
  bottom: 0;
  left: -1px;
  margin-bottom: -1px;
  height: 5rem;
  border-radius: 0.3rem;
  background: -moz-linear-gradient(#fff, #ebebeb);
  border: 1px solid #61646A;
  white-space: nowrap;
  overflow: visible;
  padding: 0 0.5rem;
  display: none;
}
.keyboard-key:first-child #keyboard-accent-char-menu { border-radius: 0.3rem 0.3rem 0.3rem 0; }
.keyboard-key:last-child #keyboard-accent-char-menu { border-radius: 0.3rem 0.3rem 0 0.3rem; }

#keyboard-accent-char-menu.show {
  display: block;
}

/* Alternatives from right */
#keyboard-accent-char-menu.kbr-menu-right {
  left: auto;
  right: -1px;
}

#keyboard-accent-char-menu .keyboard-key {
margin-top: 0.2rem;
}
#keyboard-accent-char-menu .keyboard-key.highlighted > .visual-wrapper {
/*  box-shadow: 0 0 0 2px #53B6CC;*/
  border: #53B6CC 2px solid;
  border-radius: 0.3rem;
  margin:-2px
  background: -moz-linear-gradient(#fff, #ebebeb);
}

#keyboard-accent-char-menu .keyboard-key.highlighted > .visual-wrapper > span {
  top: 0;
  left: 0;
  right: 0;
  background: none;
  border-radius: 0;
  border: 0;
  font-weight: 600;
}

#keyboard-accent-char-menu .keyboard-key.highlighted > .visual-wrapper > span:after {
  display: none;
}

/* Language alternatives */
#keyboard-accent-char-menu.kbr-menu-lang {
  position: absolute;
  bottom: 100%;
  left: -0.8rem;
  right: auto;
  top: auto;
  padding: 0;
  height: auto;
  max-height: 30rem;
  overflow: auto;
  white-space: normal;
  padding: 0 0.5rem 0.5rem;
  background: #fff;
}

#keyboard-accent-char-menu.kbr-menu-lang > .keyboard-key > .visual-wrapper {
  -moz-box-sizing: border-box;
  width: 10rem;
}

#keyboard-accent-char-menu.kbr-menu-lang > .keyboard-key > .visual-wrapper > span { 
  background: -moz-linear-gradient(#fff, #ebebeb);
  box-shadow: inset 0 0px 0px 1px rgba(255, 255, 255, 0.9);
  font-family: 'Open Sans Semibold';  
  font-size: 1.8rem;
  line-height: 3.8rem;
  color: #333;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3rem;
}

/* Key states */

/* Press */
.keyboard-key.kbr-key-press > .visual-wrapper > span {
  box-shadow: 0 0 0 2px #4495A8;
}

/* Active */
.keyboard-key.kbr-key-active > .visual-wrapper > span {
  color: #4495A8;
  text-shadow: none;
}

/* Hold */
.keyboard-key.kbr-key-hold > .visual-wrapper {
  background: url(images/key-hold-begin.png) no-repeat left bottom, url(images/key-hold-end.png) no-repeat right bottom;
}
.keyboard-key.kbr-key-hold > .visual-wrapper > span {
  /*background: #5cc9e1; */
  color: #295B65;
  /*box-shadow: inset 0 0 12px -4px rgba(0, 0, 0, 0.6);*/
  background: url(images/key-hold-middle.png) repeat-x center bottom;
  text-shadow: none;
  left: 0.3rem;
  right: 0.3rem;
}

/* IMEs */
#keyboard-pending-symbol-panel {
  position: absolute;
  top: -35px;
  left: 0;
  height: 32px;
  line-height: 32px;
  font-size: 24px;
  width: auto;
  padding: 0 8px;
  background: rgba(245, 245, 245, 0.7);
  color: rgb(36, 36, 36);
  border-top-right-radius: 8px;
  border-top: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  white-space: nowrap;
}

#keyboard-pending-symbol-panel:empty {
  display: none;
}

#keyboard-candidate-panel {
  height: 64px;
  overflow: auto;
  white-space: nowrap;
  color: black;
  background: rgb(176, 174, 168);
  border-top: 1px solid #e8e8ff;
  border-bottom: 1px solid #808098;
  display: none;
  margin: 0 -1rem 0 -1rem;
}
#keyboard.candidate-panel #keyboard-candidate-panel {
  display: block;
  width: -moz-calc(100% - 62px + 1rem);
  overflow-y: hidden;
}

#keyboard.full-candidate-panel {
  padding-top: 66px;
}

#keyboard.full-candidate-panel #keyboard-candidate-panel {
  display: block;
  position: absolute;
  white-space: normal;
  top: 0;
  height: 100%;
  width: 100%;
  border: none;
  border-top: 2px solid #a3a3a3;
  z-index: 1;
  margin:0; padding:0;
  overflow-x: hidden;
  overflow-y: auto;
}

#keyboard.full-candidate-panel #keyboard-candidate-panel span {
  border-top: 1px solid #e8e8ff;
  border-bottom: 1px solid #808098;
}

#keyboard-candidate-panel[data-truncated]::after {
  content: '…';
  background: none ! important;
  border-color: transparent ! important;
  color: #666;
}

#keyboard-candidate-panel span,
#keyboard-candidate-panel[data-truncated]::after {
  border-left: 1px solid #e8e8ff;
  border-right: 1px solid #808098;
  font-size: 32px;
  line-height: 60px;
  min-width: 60px;
  display: inline-block;
  height: 64px;
  padding: 0 10px;
  text-align: center;
  background: -moz-linear-gradient(top, rgb(191,191,183) 10%, rgb(161,158,153) 90%);
}

#keyboard-candidate-panel-toggle-button {
  border-left: 1px solid #e8e8ff;
  border-right: 1px solid #808098;
  border-bottom: 1px solid #808098;
  position: absolute;
  font-size: 32px;
  line-height: 60px;
  right: 0;
  top: 1px;
  text-align: center;
  box-shadow: -4px 0 5px -5px black;
  width: 60px;
  height: 64px;
  color: black;
  background: -moz-linear-gradient(top, rgb(191,191,183) 10%, rgb(161,158,153) 90%);
  display: none;
}

#keyboard.full-candidate-panel #keyboard-candidate-panel-toggle-button {
  display: block;
  border-top: 1px solid #e8e8ff;
  top: 0;
  z-index: 1;
}

#keyboard.candidate-panel #keyboard-candidate-panel-toggle-button {
  display: block;
}

#keyboard-candidate-panel span[data-active],
#keyboard-candidate-panel-toggle-button[data-active] {
  background: -moz-linear-gradient(bottom, rgb(191,191,183) 10%, rgb(161,158,153) 90%);
}

/* Pending panel highlight */
.keyboard-pending-symbols-highlight-green {
  background: #33aa33;
}

.keyboard-pending-symbols-highlight-red {
  background: #aa3333;
}

.keyboard-pending-symbols-highlight-blue {
  background: #3333aa;
}
