html, body {
  margin:0;
  padding:0;
}

#screen.fullscreen #keyboard {
  z-index: 9999;
}

#keyboard {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  z-index: 9996;
  bottom: 0;
  overflow: visible;
  background: -moz-radial-gradient(#b1b1b1, #686868);
  width: 96%;
  -moz-transition: -moz-transform 0.3s ease;
  padding: 2%;
}
.keyboard-row {
  margin: 10px 0;
  /* XXX: 11 key-row layouts add up to 802px when width=800px,
  need detail fix on key width calculation */
  white-space: nowrap;
}

.keyboard-key {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-align: center;
  color: rgb(36, 36, 36);
  border: 1px solid #464646;
  min-width: 0 !important;
  margin:0 0.5%;
  font-size: 1.5em;
  border-radius: 5px;
  height: 1.6em;
  background: -moz-linear-gradient(#fff, #ebebeb);
}

.keyboard-key.highlighted {
  pointer-events:none;
  margin-top: -2em;
  -moz-transform: scale(1.3);
  padding-bottom: 10%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .7), 0 1px 0 rgba(0, 0, 0, .3);  
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, .45);
  text-shadow: 0 1px 1px white;
}

#keyboard-accent-char-menu {
  position: absolute;
  display: none;
  background: -moz-linear-gradient(#fff, #ebebeb);
  padding: 2%;
  margin-top: -84px;
  border-radius: 5px;
  border: 1px solid #fff;
  box-shadow: 0 0 2px #ccc;
  white-space: nowrap;
  overflow:hidden;
  pointer-events: all;
  white-space: nowrap;
}

#keyboard-accent-char-menu .keyboard-key {
  margin:0 0.1em;
}
#keyboard-accent-char-menu.show {
  display: block;
}