/* -------------------------------------------------------------------
  HEADERS: layout
  Form factor or Skin dependent styles should NOT be defined here.
------------------------------------------------------------------- */

gaia-header {
  display: block;
  height: 5rem;
  z-index: 10;
}

header {
  display: flex;
}

h1 {
  flex: 1 1 auto;
  font-size: 2.3rem;
  line-height: 5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem;
  height: 100%;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

/* Opt-out of italic style in these locales. See bug 1023702 */
h1:lang(ar), h1:lang(as), h1:lang(bn), h1:lang(fa), h1:lang(gu), h1:lang(he),
h1:lang(hi), h1:lang(ja), h1:lang(km), h1:lang(kn), h1:lang(ko), h1:lang(mai),
h1:lang(ml), h1:lang(mr), h1:lang(ne), h1:lang(or), h1:lang(pa),  h1:lang(si),
h1:lang(ta), h1:lang(te), h1:lang(th), h1:lang(ur), h1:lang(zh) {
  font-style: normal;
}

h1 em {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1em;
  font-style: normal;
}

/* Buttons */
a,
button {
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: hidden;
  min-width: 5rem;
  width: auto;
  height: 5rem;
  border: none;
  background: none;
  padding: 0 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 5rem;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  font-style: italic;
}

/* Opt-out of italic style in these locales. See bug 1023702 */
a:lang(ar), a:lang(as), a:lang(bn), a:lang(fa), a:lang(gu), a:lang(he),
a:lang(hi), a:lang(ja), a:lang(km), a:lang(kn), a:lang(ko), a:lang(mai),
a:lang(ml), a:lang(mr), a:lang(ne), a:lang(or), a:lang(pa),  a:lang(si),
a:lang(ta), a:lang(te), a:lang(th), a:lang(ur), a:lang(zh),
button:lang(ar), button:lang(as), button:lang(bn), button:lang(fa),
button:lang(gu), button:lang(he), button:lang(hi), button:lang(ja),
button:lang(km), button:lang(kn), button:lang(ko), button:lang(mai),
button:lang(ml), button:lang(mr), button:lang(ne), button:lang(or),
button:lang(pa),  button:lang(si), button:lang(ta), button:lang(te),
button:lang(th), button:lang(ur), button:lang(zh) {
  font-style: normal;
}

/* Pressed state */
a:focus{
  outline: none;
}

button::-moz-focus-inner,
.button::-moz-focus-inner {
  outline: none;
  border: none;
  margin-top: -0.2rem; /* To fix line-height bug (697451) */
  padding: 0;
}

/* Disabled state */
a[aria-disabled="true"],
button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

/* Hidden */
[hidden] {
  visibility: hidden;
}

/* Icons */
[icon] {
  font-size: 0;
}

[icon]:before {
  position: absolute;
  content: "";
  width: 3rem;
  height: 3rem;
  background: transparent no-repeat center / 3rem auto;
  top: 1rem;
  left: 1rem;
}

/* right-to-left */

/* We would need an attribute to know if we are using rtl,
 * as styles are scoped
 */

html[dir="rtl"] [icon="back"] {
  transform: rotate(180deg);
}

/* -----------------------------------------------------------------
  HEADER SKIN: default
  Default values in case we are not overriding them using
  'skin'
----------------------------------------------------------------- */

gaia-header {
  color: #fff;
  background-color: #f97c17;
}

h1 {
  color: #fff;
}

a,
button {
  color: rgba(0,0,0,0.6);
}

a:active,
button:active,
a:hover,
button:hover {
  background-color: rgba(0,0,0,0.07);
}

a:focus,
button:focus {
  background-color: transparent;
}

/* Icons */
[icon="add"]:before {
  background-image: url(images/icons/add.png);
}

[icon="compose"]:before {
  background-image: url(images/icons/compose.png);
}

[icon="edit"]:before {
  background-image: url(images/icons/edit.png);
}

[icon="send"]:before {
  background-image: url(images/icons/send.png);
}

[icon="close"]:before {
  background-image: url(images/icons/close.png);
}

[icon="back"]:before {
  background-image: url(images/icons/back.png);
}

[icon="menu"]:before {
  background-image: url(images/icons/menu.png);
}

[icon="user"]:before {
  background-image: url(images/icons/user.png);
}

[icon="up"]:before {
  background-image: url(images/icons/up.png);
}

[icon="down"]:before {
  background-image: url(images/icons/down.png);
}

[icon="options"]:before {
  background-image: url(images/icons/options.png);
}

/* -----------------------------------------------------------------
  HEADER SKIN: comms
----------------------------------------------------------------- */

[skin="comms"] {
  background-color: #00adad;
}

[skin="comms"] a,
[skin="comms"] button {
  color: rgba(0,0,0,0.5);
}

[skin="comms"] a:hover,
[skin="comms"] button:hover,
[skin="comms"] a:active,
[skin="comms"] button:active {
  background-color: rgba(0,0,0,0.1);
}

[data-skin="comms"] a:focus,
[data-skin="comms"] button:focus {
  background-color: transparent;
}

/* -----------------------------------------------------------------
  HEADER SKIN: dark
----------------------------------------------------------------- */

[skin="dark"] {
  background-color: #242d33;
}

[skin="dark"] a,
[skin="dark"] button {
  color: #00aac5;
}

[skin="dark"] a:hover,
[skin="dark"] button:hover,
[skin="dark"] a:active,
[skin="dark"] button:active {
  background-color: rgba(0,0,0,0.4);
}

[data-skin="dark"] a:focus,
[data-skin="dark"] button:focus {
  background-color: transparent;
}

/* -----------------------------------------------------------------
  HEADER SKIN: organic
----------------------------------------------------------------- */

[skin="organic"] {
  color: #868692;
  background-color: #f4f4f4;
}

[skin="organic"] h1 {
  color: #868692;
}

[skin="organic"] a,
[skin="organic"] button {
  color: #00aac5;
}

[data-skin="organic"] a:focus,
[data-skin="organic"] button:focus {
  background-color: transparent;
}

/* Icons */
[skin="organic"] [icon="back"]:before {
  background-image: url(images/icons/organic/back.png);
}

[skin="organic"] [icon="close"]:before {
  background-image: url(images/icons/organic/close.png);
}

[skin="organic"] [icon="add"]:before {
  background-image: url(images/icons/organic/add.png);
}

[skin="organic"] [icon="edit"]:before {
  background-image: url(images/icons/organic/edit.png);
}

/* -----------------------------------------------------------------
  Transitions
----------------------------------------------------------------- */

[transition] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  transition: visibility 0.4s;
}

[transition="slide"] {
  transform: translateY(0);
  transition: transform 0.4s ease, visibility 0.4s;
}

[transition="slide"][hidden] {
  transform: translateY(-100%);
}

[transition="fade"] {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s ease, visibility 0.4s;
}

[transition="fade"][hidden] {
  opacity: 0;
  pointer-events: none;
}
