/* -------------------------------------------------------------------
  HEADERS: layout
  Form factor or Skin dependent styles should NOT be defined here.
------------------------------------------------------------------- */

gaia-header {
  display: block;
  height: 5rem;
  z-index: 10;
  color: var(--text-color-brand, #858585);
  background: var(--brand-color, #f4f4f4);
  border-bottom-right-radius: var(--border-radius, 0);
  border-bottom-left-radius: var(--border-radius, 0);
  box-shadow: var(--box-shadow, none);
}

h1 {
  font-size: 2.3rem;
  line-height: 5rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0 1rem;
  height: 100%;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}

h1 em {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1em;
  font-style: normal;
}

menu {
  height: 100%;
  float: right;
  padding: 0;
  margin: 0;
}

/* Buttons */
a,
button {
  box-sizing: border-box;
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  min-width: 5rem;
  width: auto;
  height: 5rem;
  border: none;
  background: none;
  padding: 0 1rem;
  margin: 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 5rem;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  font-style: italic;
}

a:hover,
button:hover,
a:active,
button:active {
  background: var(--active-background, rgba(0,0,0,0.7));
}

/* Pressed state */
a:focus{
  outline: none;
}

button::-moz-focus-inner,
.button::-moz-focus-inner {
  outline: none;
  border: none;
  margin-top: -0.2rem; /* To fix line-height bug (697451) */
  padding: 0;
}

/* Disabled state */
a[aria-disabled="true"],
button[disabled] {
  opacity: 0.3;
  pointer-events: none;
}

/* Hidden */
[hidden] {
  display: none;
}

/* right-to-left */

/* We would need an attribute to know if we are using rtl,
 * as styles are scoped
 */
html[dir="rtl"] menu {
  float: left;
}

html[dir="rtl"] a,
html[dir="rtl"] button {
  float: right;
}

html[dir="rtl"] [icon="back"] {
  transform: rotate(180deg);
}

a:active,
button:active,
a:hover,
button:hover {
  background-color: rgba(0,0,0,0.07);
}

a:focus,
button:focus {
  background-color: transparent;
}

/** Action Button
 ---------------------------------------------------------*/

.action-button {
  font-size: 3rem;
  color: inherit;
}

/* -----------------------------------------------------------------
  Transitions
----------------------------------------------------------------- */

[transition] {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

[transition="slide"] {
  transform: translateY(0);
  transition: transform 0.4s ease;
}

[transition="slide"][hidden] {
  transform: translateY(-100%);
}

[transition="fade"] {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.4s ease;
}

[transition="fade"][hidden] {
  opacity: 0;
  pointer-events: none;
}
