/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

a:active {
  outline: none;
}

html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}

body {
  background: url(images/app/ui/pattern.png) repeat left top;
}

form {
  padding: 1.5rem;
  background: #49525c;
}

[aria-hidden="true"] { display: none !important; }

/* WINDOW & VIEWS */
.window, .view{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.view {
  bottom: 4.1rem;
  z-index: 1;
  overflow-x: auto;
  background: url(images/app/ui/pattern.png) repeat left top;
  -moz-transition: -moz-transform 0.3s ease;
}
.view[role="dialog"] {
  bottom: 0;
}

/* VIEWPORTS */
.view[data-viewport="bottom"] {
  -moz-transform: translateY(100%);
}

.view[data-viewport="top"] {
  -moz-transform: translateY(-100%);
}

.view[data-viewport="left"] {
  -moz-transform: translateX(-100%);
}

.view[data-viewport="right"] {
  -moz-transform: translateX(100%);
}

.view[data-viewport="inside"] {
  -moz-transform: scale(0.3);
  opacity: 0;
  pointer-events: none;
}


/* BB FILTER */
body[role="application"] ul.filter[role="tablist"][data-position=bottom] {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* BB HEADER ICONS */
body[role="application"] section[role="region"] > header .icon.config {
  background-image: url(images/app/icons/config.png);
}

body[role="application"] section[role="region"] > header button {
  text-shadow: none;
  font-weight: normal;
}


/* BB BUTTONS ICONS */
body[role="application"] button span.reload {
  background-image: url(images/app/icons/reload.png);
}

body[role="application"] button span.topup {
  background-image: url(images/app/icons/topup.png);
}

/* CONTENT */
section.content {
  padding: 2.5rem 2rem;
}

/* ERROR MESSAGES */
section.content .error-messages[aria-hidden="true"] {
  -moz-transform: translateY(-10rem);
  display: block!important;
  height: 0;
  padding: 0;
}

section.content .error-messages {
  color: #b20000;
  font-size: 1.4rem;
  line-height: 1.4em;
  padding: 0 0.8rem 0.5rem;
  overflow: hidden;
  border-bottom: solid 1px #b20000;
  -moz-transition: all 0.2s ease;
}

/* OVERVIEW */
section.content .overview {
  font-size: 1.6rem;
  line-height: 1em;
  font-weight: 600;
  border-bottom: solid 1px #e5e5e1;
  margin-bottom: 1rem;
  padding: 1.5rem 1rem 1.5rem;
  overflow: hidden;
  height: 2.8rem;
}

section.content .overview .start {
  float: left; 
  -moz-transform: translateX(-4.0rem);
  -moz-transition: -moz-transform 0.5s;
}

section.content .overview .end {
  float: right;
}

section.content .overview time {
  font-weight: normal;
}

/* ICONS CONTAINER */
section.content .overview .icons {
  width: 2.1rem;
  height: 2.1rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0.4rem;
  display: inline-block;
}

/* ICONS*/
section.content .overview .icons .spinner,
section.content .overview .icons .warning {
  display: none;
}

/* SPINNER */
section.content .overview .icons .spinner{
  margin: 0.2rem;
}

/* WARNING*/
section.content .overview .icons .warning {
  background: url('./images/app/icons/warning.png') no-repeat center center;
  width: 100%;
  height: 100%;
}

/* ALL STATES */
#balance-tab.updating section.content .overview > .start,
#balance-tab.warning section.content .overview > .start {
  -moz-transform: none;
}

/* UPDATING STATE */
#balance-tab.updating .overview .icons .spinner {
  display: block;
}

#balance-tab.updating .overview .icons .warning {
  display: none !important;
}

/* WARNING STATE */
#balance-tab.warning .overview .icons .warning{
  display: block;
}

/* LOW CREDIT STATE */
#balance-tab.low-credit #cost-control-credit {
  color: #b20000;
}

