/* Normalizing */
html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: black;
}

* {
  margin: 0;
  padding: 0;
  text-align: left;
}

button:focus,
button::-moz-focus-inner {
  border: 0;
  outline: none;
}

[aria-hidden="true"] {
  display: none;
}

/* Base font patterns */
.unit {
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

p {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

p.time {
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}

/* Main layout */
#cost-control {
  background: url(images/widget/ui/gray-noise-pattern.png) repeat left bottom;
  position: relative;
  height: 4.5rem;
  width: 100%;
}

#cost-control.full .credit,
#cost-control.full .data {
  width: auto;
  float: none;
}

/* Credit & Data strcuture */
.credit,
.data {
  float: left;
  width: 50%;
  height: 100%;
  -moz-box-sizing: border-box;
  background: url(images/widget/ui/glossy-gradient.png) repeat-x left bottom;
}

.credit {
  border-right: solid 0.1rem #000;
}

.data {
  border-left: solid 0.1rem rgba(255, 255, 255, 0.15);
}

/* Credit */
.credit .view {
  height: 100%;
  background: url(images/widget/icons/icon-go.png) no-repeat calc(100% - 1rem) center ;
}

.credit .info {
  padding: 0.5rem 0;
}

.credit p:not(.time) {
  line-height: 1.5rem;
}

.credit .icon {
  width: 4.5rem;
  height: 4.5rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
}

/* Balance view */
#balance-view .icon,
#balance-view .info {
  display: inline-block;
  vertical-align: middle;
  transform: translateX(-4.5rem);
  transition: transform 0.5s;
}

/* Low balance credit warning */
#balance-view.low-credit {
  background-color: #f9a722;
}

/* No balance credit warning */
#balance-view.no-credit {
  background: url(images/widget/icons/icon-go.png) no-repeat calc(100% - 1rem) center, url(images/widget/ui/zero-credit.png) repeat-x left bottom;
}

/* Updating */
#balance-view.updating #balance-icon {
  background-image: url(images/widget/icons/updating.png);
  animation: balance-spin 1.75s infinite linear;
  animation-delay: 0.5s;
}

/* Warning */
#balance-view.warning #balance-icon {
  background-image: url(images/widget/icons/warning.png);
  animation: none;
}

@keyframes balance-spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

/* Updating & Warning */
#balance-view.updating .icon,
#balance-view.updating .info,
#balance-view.warning .icon,
#balance-view.warning .info {
  transform: none;
}

/* Telephony view */
#telephony-view {
  padding-left: 0.8em;
}
