#statusMsg {
  position: fixed;
  transition: transform .5s ease;
  transform: translateY(100%);
  pointer-events: none;
}

#statusMsg.opening {
  transform: translateY(0);
  z-index: 1001 !important;
}

#statusMsg.hidden {
  display: none;
}
