





.view-header h1 {
  color: white;
  font: 2.2rem/4.8rem System Sans, Sans-serif;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0 0 0 3rem;
  height: 100%
}

.view-header .tel {
  display:none;
  color: black;
  font: 2.2rem/4.8rem System Sans, Sans-serif;
  text-align: left;
  
  display: block;
  overflow: hidden;
  

  -moz-box-sizing: border-box;
  width: -moz-calc(100% - 8rem);
  margin: 1rem 3rem;
  position: relative;
  height: -moz-calc(100% - 2rem);
}

.view-header [role="link"] {
  padding: 1rem 0;
    position: absolute;
    left: 0;
    width: 4rem;
   cursor: pointer;
    /*background: -moz-linear-gradient(bottom, #803220, #b5521f);*/
    background: url(images/ui/separator-large.png) no-repeat 2rem center;
    overflow: visible;
  }
   .view-header [role="link"] .icon {
        overflow: visible;
        text-indent: -9999px;
        position: static;
        margin-left: -3rem;
    }
     .view-header [role="link"] .icon:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          width: 2rem;
          height: 4.9rem;
          background: #9d3d26 url(images/ui/negative.png) repeat-x left top;
      }
   .view-header [role="link"] .icon.icon-menu
   { background-position: -0.6rem center; }

.view-header menu[type="toolbar"] { 
  height: 100%; 
  float: right; 
  padding: 0; 
  margin: 0;
}

.view-header menu[type="toolbar"] button { 
  height: 100%; 
  float: left; 
  background: none;
  padding: 0 1.75rem;
  font: 1.4rem/1.1em System Sans Semibold, Sans-serif;
  color: #fff;
}
.view-header menu[type="toolbar"] button:first-letter {
      text-transform: uppercase;
     }

.view-header menu[type="toolbar"] button:last-child {
  background: url(images/ui/separator.png) no-repeat left center;
}

.view-header menu[type="toolbar"] a { 
  height: 100%; 
  float: left; 
  background: url(images/ui/separator.png) no-repeat right center;

  padding: 1rem 1.75rem;
  -moz-box-sizing: border-box;
}

.view-header menu[type="toolbar"] a:last-child {
  background: none !important;
}

.view-header .icon {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        margin: 0 -1rem;
        background: transparent no-repeat center center;
        background-size: 100% auto;
        text-indent: 100%;
        overflow: hidden;
        position: relative;
      }

     .view-header .icon.icon-add
     { background-image: url(images/icons/add.png); }

    .view-header .icon.icon-edit
     { background-image: url(images/icons/edit.png); }

     .view-header .icon.icon-close
     { background-image: url(images/icons/close.png); }

     .view-header .icon.icon-back
     { background-image: url(images/icons/back.png); }

     .view-header .icon.icon-menu
     { background-image: url(images/icons/menu.png); }

     .view-header .icon.icon-user
     { background-image: url(images/icons/user.png); }

      #icon-contact {
  display: none;
}





@media screen and (min-resolution: 200dpi) {

  html {
    font-size: 13.5px;
  }
}

@media screen and (max-resolution: 200dpi) {

  html {
    font-size: 10px;
  }
}



html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  overflow-y: hidden !important; 
  font-family: 'System Sans', sans-serif;
}

.wrapper {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  top: 0;
  /* -moz-transition: -moz-transform 0.3s ease;
  transition:left .15s ease-in;
  -moz-transition: left .15s ease-in;*/
}

.panel{
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  /*border: 1px solid black;
  -moz-box-sizing: border-box;*/
}

.to-left {
  left: -100%;
}

.header-wrapper{
  width: 200%;
  height: 100%;
  /*background: red;*/
  position: relative;
  left: 0;
  top:0;
  transition:left .15s ease-in;
  -moz-transition: left .15s ease-in;


}

.header-group {
  width: 100%;
  height: 5rem;
  /*background: yellow;*/
  overflow: hidden;
  
  
}




.view-header {
  float: left;
  width: 50%;
  height: 100%;
  position: relative;
}



/* Styles of header */

.regular-header {
  background: url(images/ui/header.png) repeat-x left top;
}

.dark-header {
  background: url(images/ui/dark/header.png) repeat-x left top;
}


.view-body {
  overflow-y: auto;
  overflow-x: hidden;
  height: -moz-calc(100% - 5rem);
  width: 100%;
}



.options {
  height: 5rem;
  background: rgba(0,0,0,.85);
  bottom: -5rem;
  width: 100%;
  position: absolute;
  transition:bottom .15s ease-in;
  -moz-transition: bottom .15s ease-in;
}

.new-sms-form {
  height: 3rem;
  background: red;
  bottom: 0rem;
  width: 100%;
  position: absolute;
  transition:bottom .15s ease-in;
  -moz-transition: bottom .15s ease-in;
}


/* Clases para EDIT MODE*/

.edit .options{
  bottom: 0rem;
}

.edit .new-sms-form{
  bottom: -3.6rem;
}

.edit .header-wrapper{
  left: -100%;
}

.new h1 {
  display: none;
}

.new .tel {
  display: block;
}
.new #icon-edit {
  display: none;
}

.new #icon-contact {
  display: block;
}


#thread-list-mirror {
  z-index: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: red;
  -moz-transition: -moz-transform .5s ease;
  background:-moz-element(#thread-list) no-repeat;
}

#thread-messages-mirror {
  z-index: 0;
  
  pointer-events: none;
  position: absolute;
  left: 50%;
  top: 0;
  width: 50% !important;
  height: 100% ;
  /*background: blue !important;*/
  -moz-transition: -moz-transform .5s ease;
  background:-moz-element(#thread-messages) no-repeat;
}



/*.mirror-swipe #mirror {
  top: -100%;
}
.mirror-swipe #main-wrapper {
  top: -100%;
}*/

#thread-list {
  z-index: 10;
  background: white;
 
}

#thread-messages {
 z-index: 10;
 background: white;
}

/*.mirror-swipe #thread-list {
  -moz-transform: translateX(-100%);
}*/


.snapshot #snapshot {
   top: -100%;
   z-index: 100;
}


.mirror-swipe #thread-list-mirror {
  -moz-transform: translateX(-100%);
 
}



.mirror-swipe #thread-messages-mirror {
  -moz-transform: translateX(-100%);
  
}

.tooo-left {
  left: -100%;
}


/*  TODO Hacer que al darle hacia num=
    -mirror se ponga al frente
    -mainwrapper no sea visible
    -mainwrapper se desplace hacia la izq
    -mirror hacia la izq.*/




