html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 10px;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  font-family: 'MozTT', sans-serif;
}

/* Override Building Block [Header] styles */
section[role="region"] > header:first-child .icon.icon-clear {
  background-image: url(images/icons/clear.png);
  background-position: center calc(50% + 0.1rem);
  background-size: 1.7rem;
  right: calc(-50% + 7rem);
  width: 2rem;
  margin: 0;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

section[role="region"] > header:first-child form {
  display: none;
}

/* Override Building Block [Imput areas] styles */
form.bottom[role="search"] {
  z-index: 3;
}

#messages-recipient {
  padding-right: 3rem;
  font-size: 1.8rem;
}

/* Override Building Block [Edit mode] styles */
form[role="dialog"][data-type="edit"] header,
form[role="dialog"][data-type="edit"] > menu {
  transition: all 0.4s ease;
}

form[role="dialog"][data-type="edit"] header {
  transform: translateY(-110%);
}

form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(110%);
}

/* BB issue */
form[role="dialog"][data-type="edit"] header menu[type="toolbar"] button {
  border: none;
  color: #fff;
}

/* Override Building Block [Lists] styles */
[data-type="list"] {
  padding: 0;
  text-align: left;
}

[data-type="list"] header {
  margin: 0 1.5rem;
  padding: 0.5rem 1.5rem;
}

[data-type="list"] header:first-child {
  padding-top: 1.5rem;
}

[data-type="list"] ul {
  padding: 0 1.5rem;
}

[data-type="list"] li {
  height: 6.1rem;
}

[data-type="list"] li > label {
  opacity: 0;
  display: block;
  overflow: hidden;
  right: 5rem;
}

[data-type="list"] aside.icon-unread {
  margin: 0;
  width: 1.5rem;
}

[data-type="list"] .unread aside.icon-unread {
  background: url("../style/images/unread.png") no-repeat left center / 1rem;
}

[data-type="list"] p time {
  display: inline-block;
}

[data-type="list"] .unread p time {
  color: #1D8399;
}

[data-type="list"] aside.pack-end img[src=""] {
  opacity: 0;
  width: 0;
}

/* Lists: edit mode */
.edit [data-type="list"] li > label {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(5rem);
  transition: all 0.3s ease;
}

.edit [data-type="list"] li > a > aside.icon-unread {
  opacity: 0;
}

.edit [data-type="list"] li > a > p {
  transform: translateX(3.5rem);
  transition: all 0.3s ease;
}

.edit #threads-container[data-type="list"] aside.pack-end {
  margin: 0 0 0 -3rem;
}

.edit #threads-container[data-type="list"] aside.pack-end img {
  transform: translateX(7.5rem);
  transition: all 0.3s ease;
}

.edit #threads-container[data-type="list"] aside.pack-end img[src=""] {
  width: 6.5rem;
}

/* Panel handling */
#main-wrapper {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: url(/shared/style/headers/images/ui/header.png),
                    url(/shared/style/headers/images/ui/shadow.png);
  background-repeat: repeat-x;
  background-position: 0 0, 0 5rem;
  background-size: 100% 5rem, 100% 0.3rem;
}

.panel:first-child {
  left: 0;
}

.panel {
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;

  transition: transform .4s ease;
}

#main-wrapper.peek .panel {
  transition: transform 1ms linear;
}

#main-wrapper[data-position='left'].peek .panel {
  transform: translateX(-0.1rem);
}
#main-wrapper[data-position='left'] .panel {
  transform: translateX(-100%);
}

#main-wrapper[data-position='right'].peek .panel {
  transform: translateX(calc(-100% + 0.1rem));
}
#main-wrapper[data-position='right'] .panel {
  transform: translateX(0%);
}

#threads-container,#thread-messages {
  z-index: 10;
  background: white;
}

#messages-contact-pick-button {
  display: none;
}

/*
  Styles for Edit mode in Thread List
*/

.edit form[role="dialog"][data-type="edit"] > menu {
  transform: translateY(0);
}

.edit .messages-compose-form {
  transform: translateY(3.6rem);
}

.edit form[role="dialog"][data-type="edit"] header {
  transform: translateY(0);
}

.edit #threads-container .item > a {
  transform: translateX(3rem);
  pointer-events: none;
}

.edit #threads-container .item > a.unread .unread-tag {
  opacity: 0;
}

.edit #threads-container .checkbox-container {
  pointer-events:auto;
  opacity: 1;
  transform: translateX(0);
}

.edit .undo-candidate {
  display: none;
}

.edit .message-block {
  border-top: .1rem solid #DBDBDB;
  margin-bottom: 0;
}

/*
  Styles for new message
*/

section[role="region"].new > header:first-child h1 {
  display: none;
}

section[role="region"].new > header:first-child form {
  display: block;
}

.carrier-wrapper {
  z-index: 2;
}

.new .carrier-wrapper {
  display: none;
}

.new #icon-edit {
  display: none;
}

.new #messages-contact-pick-button {
  display: block;
}

/*
  Messages Style as 'bubbles'
*/

#messages-container {
  -moz-box-sizing: border-box;
  background: none repeat scroll 0 0 #F4F4F4;
  text-align: left;
}

#messages-container header:first-child {
  margin-top: 2rem;
}

#messages-container header {
  border-bottom: 0.1rem solid #A6A6A6;
  color: #606060;
  font-size: 1.3rem;
  margin: 0 1.5rem 1rem;
  padding: 1rem 1.5rem 0;
  text-align: left;
  text-transform: uppercase;
}

#messages-container[data-type="list"] > ul:last-child {
  margin-bottom: 7rem;
}

#messages-container[data-type="list"] li.bubble {
  border-bottom: 0.1rem solid transparent;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0.5rem 0;
  position: relative;
  width: 100%;
  height: auto;
}

#messages-container[data-type="list"] li.hidden {
  display: none;
}

#messages-container[data-type="list"] header.hidden {
  display: none;
}

#messages-container[data-type="list"] li.bubble:first-child {
  padding: 0 0 0.5rem 0;
}

#messages-container[data-type="list"] li.bubble a {
  height: 100%;
}

#messages-container[data-type="list"] li.bubble p {
  text-align: right;
  overflow: visible;
  white-space: normal;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 0.2rem solid #2c393b;
  background: #fff;
  margin-right: 0.7rem;
  font-size: 1.9rem;
  line-height: 2.2rem;
  -moz-box-sizing: border-box;
  max-width: 20.5rem;
  padding: 1rem;
  position: relative;
  text-align: left;
  float: right;
}

#messages-container[data-type="list"] li.bubble p:after {
  content: '';
  width: 1.1rem;
  height: 1rem;
  background-image: url('images/bubble_ticks.png');
  background-position: -2.2rem 0;
  background-size: 5.5rem;
  position: absolute;
  right: -1.1rem;
  top: 1rem;
}

#messages-container[data-type="list"] li.bubble .received p {
  float: left;
  background: #FBEAE0;
  border: 0.2rem solid #FF4E00;
  margin-left: 0.7rem;
  float: left;
}

#messages-container[data-type="list"] li.bubble .received p:after {
  background-position: 0 0;
  left: -1.1rem;
  margin-top: 0;
}

#messages-container[data-type="list"] li.bubble .sending p {
  border: 0.2rem solid #5f5f5f;
  color: #5f5f5f;
}

#messages-container[data-type="list"] li.bubble .sending p:after {
  background-position: -3.3rem 0;
  right: -1.1rem;
}

#messages-container[data-type="list"] li.bubble .error p {
  border: 0.2rem solid #B90000;
}
#messages-container[data-type="list"] li.bubble .error p:after {
  background-position: -4.4rem 0;
  right: -1.1rem;
}

#messages-container[data-type="list"] li.bubble .error aside.pack-end {
  background: url('images/icons/exclamation.png') no-repeat center center;
  background-size: 2.2rem;
  width: 3.2rem;
  height: 4.5rem;
}
#messages-container[data-type="list"] li.bubble aside progress {
  margin-top: 0.4rem;
}

#messages-container[data-type="list"] li.bubble aside {
  overflow: hidden;
}

/*
  Styles for Edit mode in Messages Container
*/

.edit #messages-container[data-type="list"] li {
  border-color: #e7e7e7;
}

.edit #messages-container[data-type="list"] li:last-child {
  border-color: transparent;
}

.edit [data-type="list"] li a {
  pointer-events: none;
}

.edit #messages-container[data-type="list"] li p {
  transform: translateX(0);
}

.edit #messages-container[data-type="list"] li .received p {
  transform: translateX(4rem);
  transition: all 0.3s ease 0s;
}

.edit #messages-container[data-type="list"] li.selected p {
  border: 0.2rem solid #B90000;
}

.edit #messages-container[data-type="list"] li.selected p:after {
  background-position: -4.4rem 0;
}

.edit #messages-container[data-type="list"] li.selected .received p:after {
  background-position: -1.1rem 0;
}

.edit-button {
  background: -moz-linear-gradient(top, #b50404 0%, #850a0a 100%);
  height: 100%;
  width: 100%;
  -moz-box-sizing: border-box;
  font-weight: 600;
  font-size: 1.6rem;
  color: white;
  opacity: 0.99; /* hackaround for painting bug (bug 821221) */
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

/*
  Bottom bar for sending SMS
*/

.messages-compose-form {
  transition: transform .2s ease-in;
}

form.bottom[role="search"].messages-compose-form {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

#messages-send-button.active {
  background: #008aaa;
}

#messages-send-button:before {
  content: attr(data-counter);
  color: #666;
  font-weight: normal;
  font-size: -moz-calc(8 * 0.226rem);
  position: absolute;
  right: 1rem;
  top: -0.2rem;
}

#messages-input {
  padding: 0.4rem 0.2rem 0.2rem 0.6rem;
  line-height: 1.8rem !important;
  font-size: 1.8rem;
}

#send-message-container {
  height: 100%;
  width: 6rem;
  float: right;
}

/*
  Loading screen while deleting
*/

#loading.show-loading {
  display: block;
}

#loading {
  display: none;
}

.loading-header {
  text-align: left;
}

#loading [role="status"] {
  text-align: center;
  height: 4rem;
}

/*
  No result container
*/

#threads-no-messages {
  background-image: url('images/SMS_200x200_bubble.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 20rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: -moz-calc(100% - 5rem);
  width: 100%;
}

#no-result-message {
  text-align: left;
  line-height: 3rem;
  position: relative;
  top: 50%;
  border-top: .1rem solid rgba(96,96,96,.5);
  padding: 2rem 0.5rem;
  width: 27rem;
  margin: -8rem auto;
  color: #606060;
  font-weight: 300;
  font-size: 2.2rem;
}

/*
  Fixed headers
*/
.fixed-title {
  position: absolute;
  top: 5rem;
  width: calc(100% - 6rem);
  padding: 1.5rem 1.5rem 0.5rem;
  margin: 0 1.5rem;
  border-bottom: solid 0.1rem #ff4e00;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  transform: translateY(-3rem);
  pointer-events: none;
  text-align: left;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.8rem;
  color: #FF4E00;
  z-index: 4;
}
