html, body, section[role="region"] {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 10px;
}

html, body, section[role="region"], form {
  width: 100%;
  height: 100%;
}

form {
  padding: 0 1rem;
  width: -moz-calc(100% - 2rem);
}

fieldset {
  margin: 1rem 0;
}

textarea#feedback-textarea {
  height: -moz-calc(100% - 13rem);
}

