html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  background-color: #f4f4f4;
}

#bookmark-entry-sheet {
  width: 100%;
  height: 100%;
}

#bookmark-form {
  padding: 1.5rem;
}

#bookmark-form label {
  text-transform: uppercase;
  font-size: 1.5rem;
}

#bookmark-form input {
  margin-bottom: 1.5rem;
}
