@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open-Sans.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('fonts/Open-Sans-Bold.woff');
}
@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('fonts/Open-Sans-Semibold.woff');
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: -moz-box;
  -moz-box-orient: vertical;
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

#toolbar-start {
  display: -moz-box;
  -moz-box-orient: horizontal;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: solid 2px #a3a3a3;
}

#toolbar-start.loading {
  border-bottom-width: 4px;
  -moz-border-image: url('images/progress.gif') 0 1 100% 1;
}

#toolbar-end {
  border-top: solid 2px #a3a3a3;
}

#url-bar {
  -moz-box-flex: 1;
  display: -moz-box;
  -moz-box-orient: horizontal;
  padding: 0;
  margin: 0;
  border: solid 2px #9ca1a6;
  border-radius: 22px;
  height: 44px;
  margin: 9px 8px;
  padding: 0 0 0 16px;
  background-color: #fff;
  font-weight: 600;
}

#url-input {
  font-family: 'Open Sans';
  font-size: 18px;
  height: 44px;
  margin: 0;
  -moz-box-flex: 1;
  border: none;
  background-color: transparent;
}

#url-input:invalid {
  box-shadow: none;
}

menu[type="toolbar"] {
  height: 62px;
  background-color: #fff;
  background-image: -moz-linear-gradient(#fff, #eaeae4);
  margin: 0;
  padding: 0;
}

menu button {
  background-color: transparent;
  -moz-appearance: none;
  border: none;
  display: block;
  margin: 0;
  padding: 0;
  width: 56px;
  height: 62px;
  float: left;
}

#back-button {
  background-image: url("images/back.png");
}

#forward-button {
  background-image: url("images/forward.png");
}


#back-button:active {
  background-image: url("images/back-pressed.png");
}

#menu-button {
  background-image: url("images/menu.png");
  float: right;
}

input::-moz-focus-inner {
  border: 0;
}

#back-button[disabled] {
  background-image: url("images/back-disabled.png");
}

#forward-button[disabled] {
  display: none;
}

#browser-content {
  -moz-box-flex: 1;
  width: 100%;
  border: none;
  background-color: white;
}

#shade {
  position: absolute;
  bottom: 62px;
  left: 0;
  width: 100%;
  height: -moz-calc(100% - 62px);
  background-color: rgba(5, 5, 5, 0.5);
}

#browser-menu {
  position: absolute;
  right: 8px;
  bottom: 72px;
  width: 50%;
  background-color: #f5f2f3;
  border-radius: 8px;
  z-index: 999;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 5px #333;
}

#browser-menu::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -8px;
  right: 12px;
  -moz-transform: rotate(-45deg);
  background-color: #f5f2f3;
  box-shadow: 0 0 4px #333;
}

#browser-menu::after {
  content: '';
  display: block;
  width: 30px;
  height: 16px;
  position: absolute;
  bottom: 0;
  right: 7px;
  background-color: #f5f2f3;
}

#browser-menu li {
  padding: 0;
  margin: 0 16px;
  list-style-type: none;
}


#browser-menu li:last-child {
  border-bottom: none;
}

#browser-menu li a {
  display: block;
  font-size: 22px;
  padding: 19px 19px 19px 44px;
  border-bottom: solid 1px #d0cecf;
  text-decoration: none;
  color: #4f5357;
  background-repeat: no-repeat;
  background-position: 5px 20px;
  font-weight: 600;
}

#refresh a {
  background-image: url('images/refresh.png');
}

.hidden {
  display: none;
}
