<element name="about" extends="section">
  <template>
    <gaia-header>
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-back"></span>
      </a>
      <h1 data-l10n-id="about-privacy-controls"></h1>
    </gaia-header>
    <div>
      <ul>
        <li>
          <span data-l10n-id="version"></span>
          <small id="privacy-panel-version" class="multiline"></small>
        </li>
        <li>
          <span data-l10n-id="build-id"></span>
          <small id="privacy-panel-build" class="multiline"></small>
        </li>
      </ul>
      <header>
        <h2 data-l10n-id="about-pc-header"></h2>
      </header>
      <ul>
        <li>
          <p class="description" data-l10n-id="about-pc-desc"></p>
        </li>
      </ul>
    </div>
  </template>
</element>
