<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Smart Button Demo</title>
  <meta name="description" content="Demo app for smart-button" />
  <style type="text/css">
    html,
    body {
      margin: 0;
      padding: 10rem;
      font-size: 10px;
      background-color: gray;
    }

    #test-smart-button {
      background-image: url('test-icon.png');
    }

    #test-smart-button.focused {
      background-image: url('test-icon_s.png');
    }

    #test-smart-button.pressed {
      background-image: url('test-icon_p.png');
    }

    #test-banner-button {
      background-image: url('example.jpg');
    }

  </style>
  <link rel="stylesheet" type="text/css" href="../style.css">
  <script src="../script.js" type="text/javascript"></script>
</head>
<body role="application">
  <smart-button id="test-smart-button"></smart-button><br />
  <smart-button type="simple-text" id="test-simple-text-button">Test Simple Text Button</smart-button><br />
  <smart-button type="app-button" app-type="tv" label="Channel 79" id="test-app-button"></smart-button>
  <smart-button type="banner-button" label="Mozilla Firefox" id="test-banner-button"></smart-button>
  <smart-button type="circle-text" label="Cancel">Cancel</smart-button>
  <smart-button type="circle-text" label="Delete" class="danger">Delete</smart-button>
  <smart-button type="circle-text" label="OK" class="primary">OK</smart-button>
</body>
</html>
