<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>&lt;gaia-tabs&gt;</title>
  <meta name="description" content="gaia-tabs example" />
  <link rel="stylesheet" type="text/css" href="bower_components/base/base.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-fonts/style.css">
  <script src="bower_components/gaia-theme/lib/gaia-theme-selector.js"></script>
  <script src="bower_components/gaia-component/gaia-component.js"></script>
  <script src="gaia-tabs.js"></script>
  <style type="text/css">

    body {
      padding: 16px;
      padding-top: 48px;
    }

  </style>
</head>
<body>
  <gaia-theme-selector></gaia-theme-selector>
  <h1 class="large l-align-center l-mb-mega">&lt;gaia-tabs&gt;</h1>
  <section>
    <gaia-tabs selected="2">
      <a href="#" class="icon-dialer">Item 1</a>
      <a href="#" class="icon-contacts">Item 2</a>
      <a href="#" class="icon-call-log">Item 3</a>
      <a href="#" disabled="">Item 4</a>
      <a href="#">Item 5</a>
    </gaia-tabs>
  </section>
</body>
</html>
