<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>GaiaCheckbox Demo</title>
  <meta name="description" content="GaiaCheckbox Demo" />
  <style type="text/css">
    html,
    body {
      margin: 0;
      padding: 0;
      font: 10px sans-serif;
      background-color: #efefef;
      width: 100%;
      color: #444;
    }

    ul {
      margin: 0;
      padding: 0;
    }

    li {
      display: flex;
      list-style-type: none;
      font-size: 16px;
      padding: 0 1rem;
      align-items: center;
      border-bottom:  1px solid #e8e8e8;
    }

    li label {
      flex: 1;
      padding: 2rem 0;
    }

    li gaia-checkbox {
    }
  </style>
  <script>
    window.packagesBaseUrl = '../bower_components/';
    window.GaiaCheckboxBaseUrl = '../';
  </script>
  <script src="../bower_components/gaia-component-utils/index.js"></script>
  <script src="../script.js"></script>
</head>
<body role="application">
  <section>
    <ul>
      <li>
        <label for="b1">I'm a label</label>
        <gaia-checkbox id="b1" name="b" checked></gaia-checkbox>
      </li>
      <li>
        <label for="b2">I'm a label</label>
        <gaia-checkbox id="b2" name="b"></gaia-checkbox>
      </li>
      <li>
        <label for="b3">This is danderous</label>
        <gaia-checkbox id="b3" name="b" danger></gaia-checkbox>
      </li>
    </ul>
  </section>
  <div id="result"></div>
  <script>
    var result = document.getElementById('result');
    var elements = document.querySelectorAll('gaia-checkbox');

    [].forEach.call(elements, function(el, index) {
      el.addEventListener('click', function(e) {
        result.textContent = 'Click event for: ' + (index + 1) + ' value: ' +
          e.target.checked;
      });
    });
  </script>
</body>
</html>
