
/**
 * Gaia Textinput
 */

gaia-textinput {
  display: block;
  height: 4rem;
}

/** Inner
 ---------------------------------------------------------*/

.inner {
  position: relative;
  margin: 0;
}

/** Input
 ---------------------------------------------------------*/

/**
 * 1. Override the box-shadow from
 *    the system (performance issue)
 */

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  resize: none;
  padding: 0 1.2rem;
  font-size: 1.8rem;
  line-height: 4rem;
  border: 0;
  border-radius: 0;
  box-shadow: none; /* 1 */
  background-color: var(--base-color-tint, #fff);
  color: var(--text-color, #333);
}

/**
 * :invalid
 *
 * Fix for required inputs with
 * wrong or empty value
 * eg. [type=email]
 */

input:invalid {
  border: 0.1rem solid #820000;
  color: #b90000;
}

/**
 * :focus
 */

input:focus {
  padding-right: 3rem;
}

/** Placeholder Text
 ---------------------------------------------------------*/

input::-moz-placeholder {
  color: var(--text-color-shade, #a6a6a6);
  opacity: 1;
}


/** Reset Button
 ---------------------------------------------------------*/

input + button {
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 2.1rem;
  height: 2.1rem;
  font-size: 1.8rem;
  line-height: 2.1rem;
  text-align: center;
  margin-top: -1.1rem;
  padding: 0;
  border: 0;
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  background-color: var(--base-color-shade);
  color: #fff;
  cursor: pointer;
}

/**
 * [resettable]
 */

[resettable] input:focus + button {
  opacity: 1;
  pointer-events: all;
}
