/**
 * FORMS.CSS
 * Low and medium structures for creating forms
 * ------------------------------------------------------*/


/* TEXTFIELD: we use a classname to avoid redefine with type=mail, type=number, type=text, etc...; */
.textfield {
	font: 1.3rem/4rem System Sans Semibold, Sans-serif, Arial;
	border-radius: 0.3rem;
	border: solid 1px #c8c8c8;
	height: 4rem;
	padding: 0 1rem;
}
.textfield:focus { border-color: #7a7a7a; }


/* SETBOX: used for grouping inputs with data asociations; */
.setbox { border: solid 1px #c8c8c8; border-radius: 0.3rem; overflow: hidden; }
	.sbox-title {
		float: left;
		display: inline;
		width: 9.3rem;
		height: 100%;
		min-height: 4rem;
		padding: 0 0.5rem 0 1.4rem;
		position: relative;
		-moz-box-sizing: border-box;
		font-size: 1.2rem;
		line-height: 1.6rem;
		text-transform: uppercase;
	}
		.sbox-title a { color: #333; }
		.sbox-title a, .sbox-title:before { display: inline-block; vertical-align: middle; }
		.sbox-title:before {
			content: "";
			width: 1px;
			height: 100%;
			min-height: 4rem;
			margin-left: -1px;
		}
			.sbox-icon { position: absolute; right: 0.5rem; top: 50%; }
			.sbox-icon.i-arrow { margin-top: -0.2rem; }

	.sbox-body {
		display: block;
		overflow: hidden;
		border-left: solid 1px #ddd;
		border-radius: 0 0.3rem 0.3rem 0;
	}
		.sbox-item { border-bottom: solid 1px #ddd; }
		.sbox-item:last-child { border-bottom: none; }
			.sbox-body .textfield { border: none; border-radius: 0; margin-bottom: 0; }


/* FILL FLOW: general components for helping in defining basic flows in forms; */
.fill-flow { padding-right: 1rem; }

	/* ROW: horizontal separation for elements; */
	.ff-row { margin-bottom: 0.5rem; position: relative; }
	
		/* ROW ACTION */
		.ff-row-action { position: absolute; left: 100%; top: 50%; margin: -1rem 0 0 0.5rem; }

	/* MEDIA: specific ratio used in forms; */
	.ff-media { border: solid 1px #c8c8c8; margin: 0 0.5rem 0.5rem 0; width: 8.8rem; height: 8.3rem; }






