.attention-indicator {
  background: none #006e86 repeat;
  height: 0.2rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.attention-indicator.visible {
  display: block;
}

.attention-indicator > .handle {
  border-top: 0.2rem #00d3ff solid;
  border-left: 0.2rem transparent solid;
  border-right: 0.2rem transparent solid;
  animation: handle 1s infinite;
  height: 0.2rem;
  width: 8.6rem;
  margin: 0 auto;
}

.attention-indicator > .handle2 {
  animation-delay: 0.5ms;
  margin: -0.4rem auto;
}

@keyframes handle {
  0%   { transform: scaleX(1.0); opacity: 1;}
  100% { transform: scaleX(4.0); opacity: 0;}
}
