/*csslint empty-rules: false*/
/* See bug 1053721 */
:root {
  --software-home-button-height: 5rem;
  --statusbar-height: 3rem;

  /* The scale factor for the shrinking rocketbar */
  /* 0.682 = --statusbar-height (3rem) / rocketbar height (4.4rem) */
  --rocketbar-scale: 0.682;
  --rocketbar-urlbar-height: 4.4rem;
}
