#nfc-connect-dialog .container {
  position: absolute;
  white-space: pre-wrap;
  top: 6rem;
  left: 0;
  padding: 0 2rem;
  font-size: 3rem;
  height: calc(100% - 16rem);
  width: calc(100% - 4rem);
  overflow-y: scroll;
}
