/* zIndex of important system app parts 
 * is gathered here to clearly specify all system-app hierarchy */

/* Reset zIndex */
#screen > *, 
[data-zindex-level="homescreen"] {
  z-index: 0;
}

/* Level 0: System overlay */
[data-zindex-level="system-overlay"] {
  z-index: 65536;
}

/* Level 1: Sleep menu/Card View/Keyboard */
[data-zindex-level="sleep-menu"] {
  z-index: 65536;
}

[data-zindex-level="cardsview"] {
  z-index: 65536;
}

[data-zindex-level="keyboard-overlay"] {
  z-index: 65536;
}

[data-zindex-level="keyboard-frame"] {
  z-index: 65536;
}

/* Level 2: Notification toaster */
[data-zindex-level="notification-toaster"] {
  z-index: 32768;
}

/* Level 3: Activity menu, context menu */
[data-zindex-level="list-menu"] {
  z-index: 16384;
}

/* Level 4: Statusbar, Utility-Tray */
[data-zindex-level="statusbar"] {
  z-index: 16384;
}

[data-zindex-level="utility-tray"] {
  z-index: 16383;
}

/* Level 5: Attention screen */
[data-zindex-level="attention-screen"] {
  z-index: 8192;
}


/* Level 6: Lock Screen Camera */
[data-zindex-level="lockscreen-camera"]{
  z-index: 2048;
}

/* Level 7: Lock Screen */
[data-zindex-level="lockscreen"]{
  z-index: 1024;
}

/* Level 8: Debug grid */
[data-zindex-level="debug-grid"] {
  z-index: 512;
}

/* Level 9: Dialog Module */
[data-zindex-level="dialog-overlay"],
[data-zindex-level="value-selector"],
[data-zindex-level="permission-screen"] {
  z-index: 511;
}

/* Level 10 */
[data-zindex-level="window-sprite"] {
  z-index: 1;
}

/* Fullscreen */
#screen.fullscreen [data-zindex-level="system-overlay"],
#screen.fullscreen [data-zindex-level="lockscreen"],
#screen.fullscreen [data-zindex-level="lockscreen-camera"],
#screen.fullscreen [data-zindex-level="value-selector"],
#screen.fullscreen [data-zindex-level="dialog-overlay"],
#screen.fullscreen [data-zindex-level="keyboard-overlay"],
#screen.fullscreen [data-zindex-level="keyboard-frame"],
#screen.fullscreen [data-zindex-level="keyboard-frame"].visible,
#screen.fullscreen [data-zindex-level="notification-toaster"],
#screen.fullscreen [data-zindex-level="cardsview"] {
  z-index: 2147483647;
}
