html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, Sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  display: block;
  background-color: #666;
  text-align: center;
  margin: 0;
}

header h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 1.5em;
}

.thumbnails {
  overflow: hidden;
  padding: 5px;
  margin: 0;
  display: table;
}

.thumbnails li {
  display: table;
  text-align: center;
  width: 140px;
  height: 145px;  
  float: left;
  margin: 5px;
  list-style-type: none;
  padding: 0;
}

.thumbnails li a {
  display: table-cell;
  vertical-align: middle;
  width: 140px;
  height: 145px;
  margin: 0;
  padding: 0;
}

.thumbnail {
  max-width: 130px;
  max-height: 130px;
  margin: 0 auto;
  border: solid 5px #fff;
}

#photoFrame {
  display: table;
  width: 100%;
  height: 100%;
}

#photoBorder {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}

.hidden, #photoFrame.hidden {
  visibility: hidden;
  display: none;
}

.photo {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

