
.drawer {
  position: absolute;
  top: 0;
  bottom: 0;
}

.drawer.left {
  left: 0;
  right: 25%;
}

.drawer.right {
  left: 25%;
  right: 0;
}

.drawer.left.out {
  transform: translateX(-100%);
}

.drawer.right.out {
  transform: translateX(100%);
}
