.header {
  position: relative;
  width: 100%;
  height: 3rem;
  background: url(../headers/images/ui/dark/header.png) repeat-x 0 0;
  background-size: auto 100%;
  z-index: 100;
}

.header:after {
  content: "";
  display: block;
  height: 0.3rem;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: url(../headers/images/ui/shadow.png) repeat-x 0 0;
  background-size: auto 100%;
}

.header .headerTitle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 1.25rem;
  line-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .headerTitle.left {
  padding-left: 1.5rem;
  text-align: left;
}

.header .headerTitle.center {
  left: 4rem;
  right: 4rem;
  text-align: center;
}

.leftHeaderElem,
.rightHeaderElem {
  height: 100%;
  position: absolute;
}

.leftHeaderElem {
  width: 3em;
  left: 0;
  background-color: rgba(0, 0, 0, .25);
}

.rightHeaderElem {
  width: 4em;
  right: 0;
}

.rightHeaderElem:after {
  right: 100%;
  background-image: url(../headers/images/ui/dark/separator.png);
}

.leftHeaderElem:after {
  left: 100%;
  background-image: url(../headers/images/ui/dark/separator.png);
  margin-left: -.25rem;
}

.rightHeaderElem:after,
.leftHeaderElem:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;
}


.header .leftHeaderElem > *,
.header .rightHeaderElem > * {
  text-align: center;
  line-height: 3em;
  font-weight: bold;
  -moz-box-sizing: border-box;
  height: 100%;
  width: 100%;
}

#toggleSettingsDrawer {
  background-image: url('../headers/images/icons/menu.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60%;
}

#gotoCurrentMusicPage {
  background-image: url('../images/now_playing.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60%;
}

#gotoSelectMusicPage {
  background-image: url('../headers/images/icons/back.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60%;
}

#togglePlaylistDrawer {
  background-image: url('../iconaction_media_playlist.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: auto 200%;
}

#gotoSettings {
  background-image: url('../settings.png'); /*Clément Thorez, from The Noun Project*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60%;
}

#gotoSources {
  background-image: url('../sources.png'); /*Nicola Felaco, from The Noun Project*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 60%;
}
