
.floating {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, .5);
}

.topFloat {
  z-index: 2000;
}

.uiItem {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.uiItem > .content {
  padding-left: 2em;
  padding-right: 3.5em;
}

.uiItem > .content.noButtons {
  padding-right: 0em;
}

.uiItem > .content.noIcon {
  padding-left: 0em;
}

.uiItem > .icon {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 2em;
  background-repeat: no-repeat;
  background-position: center center;
}

.uiItem > .primaryButton {
  position: absolute;
  right: 0em;
  top: 0em;
  width: 3.75em;
  height: 3em;
}

.uiItem > .primaryButton.full {
  bottom: 0em;
  height: auto;
  width: 3em;
}

.uiItem > .toggleMore {
  position: absolute;
  right: 0em;
  top: 3em;
  width: 3.75em;
  height: 3em;
  background-image: url('../images/header/down.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50%;
}

.uiItem > .toggleMore.unhide {
  background-image: url('../images/header/up.png');
}

.uiItem > .more {
  position: relative;
  width: 100%;
  padding-left: 2.5em;
  -moz-box-sizing: border-box; 
}
