
.contentOverlay {
  position: absolute;
  top: 3rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: -moz-linear-gradient(center top, #303030 0%, #000000 100%) repeat scroll 0 0 transparent;
}

.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page.left {
  transform: translateX(-100%);
}

.page.right {
  transform: translateX(100%);
}

.page.partialLeft {
  transform: translateX(-75%);
}

.page.partialRight {
  transform: translateX(75%);
}

