.menu-icon {
  position: relative;
  background-image: url('../images/header/menu.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 2rem auto;
}

.menu-icon:after {
  right: 100%;
  background-image: url(../images/header/separator.png);
  position: absolute;
  content: "";
  display: block;
  top: 0;
  height: 100%;
  width: 0.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 80%;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 750;
}

.menu-list {
  position: fixed;

  width: 6rem;
  z-index: 1000;
  background: #222;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
  border-top: 1px solid #111;
  border-left: 1px solid rgba(255, 255, 255, .05);
  border-bottom: 1px solid rgba(255, 255, 255, .05);

}

.menu-list > * {
  min-height: 3rem;
  width: 100%;
  line-height: 3rem;
  font-size: 1.25rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}
