#metaDrawer {
  background-color: #222;
}

#sourcesMetaDrawer > * {
  font-size: 1.333333em;
  padding-left: 1em;
  padding-top: .666667em;
  padding-bottom: .666667em;
}

#sourcesMetaDrawer .current {
  background: #333;
}

#settingsMetaDrawer > * {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
}

#settingsMetaDrawer > * > input[type="checkbox"] {
  position: absolute;
  right: 1em;
}

#settingsMetaDrawer .info {
  text-align: center;
  width: 100%;
  -moz-box-sizing: border-box;
}
