
html {
    height: 100%;
}

body {
  overflow-x: hidden;
  font-family: Lato,Helvetica,Arial,sans-serif;
  color: #cce;

  height: 100%;
  margin: 0;
  background: -moz-linear-gradient(center top, #303030 0%, #000000 100%) repeat scroll 0 0 transparent;
}

* {
  -moz-user-select: none;
}

.hidden {
  display: none;
}

.faded {
    opacity: 0;
}

.fastTransition {
  -moz-transition: all .2s ease-in-out 0s;
}

.superFastTransition {
  -moz-transition: all .1s ease-in-out 0s;
}

.buttonDown {
  background-color: #008aaa !important;
  -moz-transition-duration: 0s;
}

.buttonLong {
  background-color: #22accc !important;
  -moz-transition-duration: 0s;
}
