.evmeScope.loading-app .evme-apps {
    pointer-events: none;
}

.evmeScope.empty-query #evmeApps {
    display: none;
}

.evmeScope .evme-apps ul li {
    position: relative; /* for span.remove positioning */
    display: inline-block;
    width: 25%;
    height: 11.5rem;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    transition: transform 200ms linear;
}

.evmeScope .evme-apps ul.marketapps li {
    height: 13.3rem;
}

.evmeScope .evme-apps ul li.save-to-homescreen {
  pointer-events: none;
}

.evmeScope .evme-apps:not(.has-installed) .has-installed-visible {
    display: none;
}
.evmeScope .evme-apps ul li img {
  visibility: hidden;
	transition: transform .2s linear;
}
.evmeScope .evme-apps ul li[data-loaded="true"] img {
  visibility: visible;
}
.evmeScope .evme-apps ul #button-more {
    position: absolute;
    top: auto;
    bottom: 1.5rem;
    left: 0;
    height: auto;
    color: #b4dae7;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.1rem #000;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}
.evmeScope .evme-apps ul #button-more.visible {
    opacity: 1;
}

.evmeScope .evme-apps ul {
  padding: 0;
  margin: 0;
  display: inline;
}
.evmeScope .evme-apps ul.cloud {
  min-height: 0.1rem; /* meant for when there's no content */
}
.evmeScope .evme-apps ul li.new:not(.installed) .icon {
    transform: scale(0);
}
.evmeScope .evme-apps ul li > span.remove {
  position: absolute;
  top: 0;
  left: 0.3rem;
  width: calc(100% - .5rem);
  height: 2.6rem;
  z-index: 2;
  background: url(/resources/images/delete.png) no-repeat left top;
  display: none;
}

/* Loading an app */
.evmeScope.loading-app .evme-apps ul li,
.evmeScope.loading-app .evme-apps ul #button-more.visible,
.evmeScope.loading-app .evme-apps.has-installed ul:before {
    opacity: 0;
}
.evmeScope.loading-app .evme-apps ul li.inplace {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: visible;
    margin-top: 0 !important;
    transition: transform .2s linear;
}
.evmeScope.loading-app .evme-apps ul li.inplace .doat-loading {
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -3rem;
}

.evmeScope.loading-app .evme-apps > div {
    min-height: 100%;
}
.evmeScope .evme-apps hr {
    height: 0.1rem;
    border: 0;
    background-color: rgba(255,255,255,.3);
    margin: 0 0.7rem 1.2rem 0.7rem;
    display: none;
}
.evmeScope ul:not(:empty) ~ hr {
    display: block;
}