html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  font-size: 10px;
  font-family: "MozTT","Moz",sans-serif;
  font-weight: 400;
  user-select: none;
}

/*
  Areas in our app
*/


/* Basics */

[role=region] {
  width: 100%;
  height: 100%;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: auto;
  background: url(images/bgtop.png) top left no-repeat,
              url(images/bgbottom.png) bottom left no-repeat,
              url(images/bg_1px.png) repeat-y;
  background-size: 100% auto;
}

[role=region].show {
  visibility: visible;
}

[role=main] {
  height: calc(100% - 11.5rem);
  position: relative;
}

[role=main] > [role=region] {
  background: none
}

[role=region]:target {
  visibility: visible;
}

[role=navigation] {
  white-space: nowrap;
  margin: 0px;
  padding: 1.5rem;
  border-top: 1px solid #a6a6a6;
  background: rgba(0,0,0,0.05);
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
  height: 3.5rem;
}

[role=navigation] button {
  width: calc((100% - 1rem) / 2);
  float: left;
  margin-right: 1rem;
  position: relative;
  text-align: right;
  text-transform: capitalize;
}

[role=navigation] .recommend {
  margin-right: 0;
  text-align: left;
}

[role=navigation] button span {
  width: 3rem;
  height: 100%;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: url(images/prev.png) no-repeat center center;
}

[role=navigation] button.recommend span {
  left: calc(100% - 3rem);
  background: url(images/next.png) no-repeat center center;
}

[role=navigation] #join {
  display:none;
}

[role=navigation].forward-only .back {
  display:none;
}

[role=navigation].forward-only .recommend {
  width: 100%;
}

[role=navigation].secondary-menu .forward {
  display: none;
}

[role=navigation].secondary-menu #join {
  display: block;
}

[role=navigation].back-only .back {
  width: 100%;
  margin: 0;
}

[role=navigation].back-only .recommend {
  display:none;
}

/* Steps state */
.step-state {
  height: 0;
  font-size: 0;
  border-top: solid 0.1rem #b7b7b7;
  border-bottom: solid 0.1rem #fff;
  position: absolute;
  top: 6.5rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 100;
}

 .step-state:before {
  content: "";
  width: calc(100% / 5);
  height: 0.6rem;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.3rem;
  background: #00a5c6;
  transition: all 0.35s cubic-bezier(0.000, 1.000, 0.535, 1.110);
}

/* STATES */
.step-1.step-state:before {
  transform: translateX(0);
}

.step-2.step-state:before {
  transform: translateX(75%);
}

.step-3.step-state:before {
  transform: translateX(150%);
}

.step-4.step-state:before {
  transform: translateX(200%);
}

.step-5.step-state:before {
  transform: translateX(300%);
}

.step-6.step-state:before {
  transform: translateX(400%);
}

/*
  Header conditional button
*/

.no-options header menu {
  display: none;
}

/*
  Splash screen
*/

#splash {
  opacity: 0;
  z-index: 3000;
  transition: all 1s ease;
  background-image: url(images/powered.png);
  background-size: 100% auto;
}

#splash.show {
  opacity: 1;
}
/*
  Pin code screen
*/

#pincode .pin_container {
  height: calc(100% - 10rem);
}

#pincode section header {
  padding: 1.5rem 3rem 0.5rem 3rem;
  color: black;
  font-size: 1.5rem;
}

#pincode .input-wrapper {
  padding: 0 1.5rem;
  position: relative;
}

#pincode #pin_error {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: red;
}

#pincode #sim-pin.onerror {
  border-color: red;
}

#pincode .input-wrapper input {
  font-size: 2rem;
  padding-left: 1.5rem;
  pointer-events: none;
}

#pincode #fake-sim-pin {
  margin-top: -4rem;
  opacity: 0;
  pointer-events: auto;
}

#pincode input[type="number"] {
    -moz-box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    resize: none;
    padding: 0px 0.8rem;
}

/*
  Languages Styles
*/

#languages [data-type="list"] {
  background: url(images/bgbubbles.png) 0 -4.5rem no-repeat;
  background-size: 100% auto;
  padding-top: 14rem;
}

/*
  Wifi
*/
#wifi [data-type="list"] li > p {
  pointer-events: none;
}

/*
  Wifi configuration
*/

#configure_network_params form {
  padding: 1rem 1.5rem;
}

#configure_network_params form label {
  display: block;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem ;
  font-size: 1.5rem;
  text-transform: capitalize;
}

#configure_network_params form input {
  padding-left: 1.5rem;
}

.hidden {
  display: none !important;
}


/*
  Finish process
*/

#finish, #tutorialFinish {
  opacity: 0;
  z-index: 3010;
  transition: all 1s ease;
  background: #3b4547;
}

#finish.show, #tutorialFinish.show {
  opacity: 1;
}

#finish h1, #tutorialFinish h1 {
  margin: 0;
  color: white;
  font-size: 4.1rem;
  padding: 4rem 0 0 0;
  font-weight: 200;
  line-height: 4rem;
}

#finish h2, #tutorialFinish h2 {
  margin: 0;
  color: white;
  font-size: 1.8rem;
  padding: .5rem 0 2rem 0;
  font-weight: 200;
  line-height: 2rem;
}

#finish p, #tutorialFinish p {
  margin: 0;
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
}

#finish .content {
  background: url(images/icon_tour.png) no-repeat center 95%;
}

#tutorialFinish .content {
  background: url(images/thumb-up.png) no-repeat center 70%;
}

#finish .content, #tutorialFinish .content {
  height: calc(100% - 6rem);
  padding: 0 3rem;
  width: calc(100% - 6rem);
}

#finish [role=navigation],#tutorialFinish [role=navigation] {
  border-top: .1rem solid #697476;
}

#finish [role=navigation] button,#tutorialFinish [role=navigation] button {
  text-align: center;
}

/*
  Date and time
*/

.change {
  float: right;
  width: 8rem;
}

#time_zone_overlay {
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 4rem;
  height: 21.5rem;
  margin-top: 0.5rem;
}

#time_zone_overlay.gmt0 {
  background-image: url('images/timezone/+0.png') ;
}
#time_zone_overlay.gmt1 {
  background-image: url('images/timezone/+1.png') ;
}
#time_zone_overlay.gmt2 {
  background-image: url('images/timezone/+2.png') ;
}
#time_zone_overlay.gmt3 {
  background-image: url('images/timezone/+3.png') ;
}
#time_zone_overlay.gmt4 {
  background-image: url('images/timezone/+4.png') ;
}
#time_zone_overlay.gmt5 {
  background-image: url('images/timezone/+5.png') ;
}
#time_zone_overlay.gmt6 {
  background-image: url('images/timezone/+6.png') ;
}
#time_zone_overlay.gmt7 {
  background-image: url('images/timezone/+7.png') ;
}
#time_zone_overlay.gmt8 {
  background-image: url('images/timezone/+8.png') ;
}
#time_zone_overlay.gmt9 {
  background-image: url('images/timezone/+9.png') ;
}
#time_zone_overlay.gmt10 {
  background-image: url('images/timezone/+10.png') ;
}
#time_zone_overlay.gmt11 {
  background-image: url('images/timezone/+11.png') ;
}
#time_zone_overlay.gmt12 {
  background-image: url('images/timezone/+12.png') ;
}
#time_zone_overlay.gmt3 {
  background-image: url('images/timezone/+3.png') ;
}
#time_zone_overlay.gmt4 {
  background-image: url('images/timezone/+4.png') ;
}

#time_zone_overlay.gmt-1 {
  background-image: url('images/timezone/-1.png') ;
}
#time_zone_overlay.gmt-2 {
  background-image: url('images/timezone/-2.png') ;
}
#time_zone_overlay.gmt-3 {
  background-image: url('images/timezone/-3.png') ;
}
#time_zone_overlay.gmt-4 {
  background-image: url('images/timezone/-4.png') ;
}
#time_zone_overlay.gmt-5 {
  background-image: url('images/timezone/-5.png') ;
}
#time_zone_overlay.gmt-6 {
  background-image: url('images/timezone/-6.png') ;
}
#time_zone_overlay.gmt-7 {
  background-image: url('images/timezone/-7.png') ;
}
#time_zone_overlay.gmt-8 {
  background-image: url('images/timezone/-8.png') ;
}

#time_zone_map {
  background-image: url('images/map.png') ;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  height: 21.5rem;
  width: 100%;
  margin-top: 0.5rem;
  z-index: 1;
}

#date_and_time h1 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 2rem 1.5rem 0 1.5rem;
  font-weight: 500;
}

#date_and_time h2 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0 1.5rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#date_and_time h1,h2 {
  margin: 0;
}

#date_and_time [data-type="list"] {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
}

#date_and_time [data-type="list"] li {
  height: 5rem;
  padding: 0 1.5rem;
  overflow: hidden;
}

#date_and_time [data-type="list"] li p {
  padding: 0 0.5rem 0 0;
  font-size: 1.4rem;
  line-height: 5rem;
}

#date_and_time [data-type="list"] button {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.5rem;
}


/*
  Import
*/

#import_contacts li,
#wifi li {
  padding: 0 1.5rem;
}

#import_contacts li:after,
#wifi li:after {
  content: "";
  transition: opacity 0.2s ease;
  background: #b1f1ff;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#import_contacts li:active:after,
#wifi li:active:after {
  opacity: 0.6;
}

#import_contacts li.disabled {
  pointer-events: none;
}

#import_contacts li.disabled p{
    pointer-events: none;
}

#import_contacts li.disabled:after {
  content: "";
  background-color: #e6e6e6;
  opacity: 0.7;
}

#import_contacts ul:first-child li:last-child {
  margin-bottom: 0;
}

/*
  About your rights
*/
#welcome_firefox {
  padding: 1.5rem 3rem 0 3rem;
  width: calc(100% - 6rem);
}

#welcome_firefox p {
  margin: 0;
  color: #000;
  padding: 0 0 2rem 0;
  font-size: 1.35rem;
  line-height: 1.8rem;
}
#welcome_firefox #firefox_logo_horizontal {
  margin: 1rem 0;
}

#welcome_firefox label {
  position: absolute;
  margin: -1.5rem 0 0 -1.5rem;
}

#welcome_firefox section a {
  font-size: 1.35rem;
  line-height: 1.8rem;
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

#welcome_firefox #firefox_os_privacy_links {
  margin-bottom: 3rem;
  display: block;
  overflow: hidden;
}

#welcome_firefox #firefox_os_privacy_links a {
  width: 50%;
  float: left;
}

#welcome_firefox #firefox_os_privacy_links a:last-child {
  float: right;
}

#welcome_firefox #form_share_statistics {
  clear: both;
}

#welcome_firefox #form_share_statistics label {
  width: auto;
  height: auto;
  margin: 0 3rem 0 0;
}

#welcome_firefox #form_share_statistics span {
  top: 1rem;
  left: 1rem;
}

#welcome_firefox #form_share_statistics p {
  width: calc(100% - 3.5rem);
  float: right;
}

/*
  Privacy policies
*/

#firefox_privacy {
  padding: 1.5rem 3rem 0 3rem;
  width: calc(100% - 6rem);
}

#firefox_privacy img {
  vertical-align: middle;
}

#firefox_privacy .logo_container {
  margin: 1rem 0 2.5rem 0;
}

#firefox_privacy .logo_title {
  font-size: 1.8rem;
  margin-left: 1rem;
  font-weight: 500;
}

#firefox_privacy p {
  margin: 0;
  color: #000;
  padding: 0 0 2rem 0;
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#firefox_privacy a {
  margin-left: 0.3rem;
}


#firefox_privacy input {
  margin-bottom: 2rem;
}

.invisible {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 4rem;
  width: 100%;
}

/*
  #about-your-rights
*/

#about-your-rights p ,#about-your-privacy p {
  margin: 0;
  color: #000;
  padding: 0 3rem 1rem 3rem;
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#about-your-rights p:first-child, #about-your-privacy p:first-child {
  margin-top: 2rem;
}

/*
 * Lists
 */

/* Overwrite "BB lists" */
[data-type="list"]:first-child {
  padding-top: 1.5rem;
}

[data-type="list"] li > a {
  padding: 0 1.5rem;
}

/* .pack-value-selector make checkbox fit the whole li */
/* .pack-value-selector should be part of "BB lists" */
[data-type="list"] li {
  transition: none;
}

[data-type="list"].pack-value-selector li:first-child {
  border-top: 0.1rem solid rgb(219, 217, 217);
}

[data-type="list"].pack-value-selector li:after {
  content: "";
  transition: opacity 0.2s ease;
  background: #008aaa;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

[data-type="list"].pack-value-selector li:active:after {
  opacity: 0.6;
}

[data-type="list"].pack-value-selector li[aria-disabled="true"]:after {
  background-color: #e6e6e6;
  opacity: 0.7;
  z-index: 1;
}

[data-type="list"].pack-value-selector li label:not([for]) {
  background: none;
  height: 100%;
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  pointer-events: auto;
}

[data-type="list"].pack-value-selector li label:not([for]) input {
  height: 100%
}

[data-type="list"].pack-value-selector li label:not([for]) input + span {
  background: none;
  left: 100%;
  margin-left: -2.2rem;
}

[data-type="list"].pack-value-selector li label:not([for]) input:checked + span {
  background: url("images/checked.png") no-repeat right center;
}

[data-type="list"].pack-value-selector li label:not([for]) input + span + p {
  font-weight: normal;
}

[data-type="list"].pack-value-selector li label:not([for]) input:checked + span + p {
  font-weight: 500;
}


#date_and_time [data-type="list"] select,
#date_and_time [data-type="list"] input {
  width: 8rem;
  right: 1.5rem;
  padding: 0;
  margin: 0;
  height: 100%;
}

/*
  States of Wifi
*/

.wifi-signal0 {
  background-image: -moz-image-rect(url(images/wifi_sprite.png), 0, 32, 32, 0) !important;
}

.wifi-signal1 {
  background-image: -moz-image-rect(url(images/wifi_sprite.png), 0, 64, 32, 32) !important;
}

.wifi-signal2 {
  background-image: -moz-image-rect(url(images/wifi_sprite.png), 0, 96, 32, 64) !important;
}

.wifi-signal3 {
  background-image: -moz-image-rect(url(images/wifi_sprite.png), 0, 128, 32, 96) !important;
}

.wifi-signal4 {
  background-image: -moz-image-rect(url(images/wifi_sprite.png), 0, 160, 32, 128) !important;
}

.icon {
  background-color: transparent !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}

/*
  3G
*/

#data_3g [data-type="list"] li {
  padding: 0 1.5rem;
}

#data_3g label:not([for]) {
  width: 6rem;
}

#data_3g .content {
  padding: 0 3rem 1rem 3rem;
}

#data_3g .content p {
  font-size: 1.4rem;
}

[data-type="list"] aside {
  margin: 0px 0.5rem 0px 0px !important;
}


/*
  Tutorial
*/

#tutorial [role=main] > [role=region] {
  background-color: #474747;
  color: white;
}

#tutorial [role=main] {
  height: 100%;
  position: relative;
}

#tutorial header {
  height: 6rem;
  padding: 3rem 2.5rem 0 2.5rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

#tutorial section {
  text-align: center;
}
