/* ------------------------------------
 * Layout.css will allow us creating
 * easy structures using flexbox.
 * This file will replace lists.css
 * ------------------------------------ */

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  color: #333;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  line-height: 22px
}

/* Horizontal layout */
.hbox {
  display: flex;
  flex-direction: row;
}

.hbox.left { justify-content: flex-start; }
.hbox.center { justify-content: center; }
.hbox.right { justify-content: flex-end; }
.hbox.top { align-items: flex-start; }
.hbox.middle { align-items: center; }
.hbox.bottom { align-items: flex-end; }

.hbox > .self-top { align-self: flex-start; }
.hbox > .self-middle { align-self: center; }
.hbox > .self-bottom { align-self: flex-end; }

/* Vertical layout */
.vbox {
  display: flex;
  flex-direction: column;
}

.vbox.left { align-items: flex-start; }
.vbox.center { align-items: center; }
.vbox.right { align-items: flex-end; }
.vbox.top { justify-content: flex-start; }
.vbox.middle { justify-content: center; }
.vbox.bottom { justify-content: flex-end; }

.vbox > .self-left { align-self: flex-start; }
.vbox > .self-center { align-self: center; }
.vbox > .self-right { align-self: flex-end; }

/*
 * Layout properties
 */

.fit {
  flex: 1;
}

.scroll {
  overflow: auto;
}

.fit.two   { flex: 2; }
.fit.three { flex: 3; }
.fit.four  { flex: 4; }
.fit.five  { flex: 5; }
.fit.six   { flex: 6; }

/*
 * Elements
 */

/* Lists */
.gaia-list {
  font-size: 18px;
}

.gaia-list li {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 40px;
  padding: 10px 15px;
}

.gaia-list li:after {
  position: absolute;
  content: "";
  right: 15px;
  top: 0;
  bottom: 0;
  left: 15px;
  border-bottom: 1px solid #e7e7e7;
  pointer-events: none;
}

.gaia-list li:last-of-type:not(.not-last):after {
  display: none;
}

.gaia-list.active li:active,
.gaia-list li.active:active {
  background-color: rgba(0, 213, 255, 0.3);
}


.gaia-list li.vbox {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

