/* All items are absolutely positioned to minimize the cost of reflow.
   They're overflow:hidden to ensure an offscreen item can never
   affect what's on the screen. */

.item {
  position:absolute;
  left:0;
  overflow:hidden;
}
