/* ----------------------------------
* Toolbars
* ---------------------------------- */

[role="toolbar"] {
  display: flex;
  height: 45px;
  background: #fff;
}

[role="toolbar"] button,
[role="toolbar"] a {
  flex: 1;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #858585;
  border-radius: 0;
  height: 100%;
}

[role="toolbar"] button:active,
[role="toolbar"] a:active {
  color: #fff;
  background-color: #b2f2ff;
}

[role="toolbar"] [data-icon] {
  font-size: 0;
}
