/**
 * Achievements
 */

.achievements-item {
  opacity: 0.4;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0;
}

.achievements-item.rewarded {
  opacity: 1;
}

.achievements-item .icon {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
}

.achievements-item:not(.rewarded) .icon {
  filter: grayscale(1);
}

.achievements-item .details {
  display: flex;
  flex-direction: column;
  white-space: normal;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.achievements-item .details .description {
  font-size: 1.4rem;
  color: #505859;
}
