/**
 * Application Permissions
 */

#appPermissions ul li img,
#homescreens ul li img {
  margin-right: 1.4rem;
  width: 3rem;
  height: 3rem;
  filter: url('shadow.svg#drop-shadow');
}

#appPermissions ul li > a,
#homescreens ul li > a  {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.uninstall-app {
  display: block;
  margin: auto;
  position: relative;
  top: 1.5rem;
  font-size: 1.6rem;
  line-height: 1em;
  width: calc(100% - 3rem);
  height: calc(6rem - 2rem);
}

#appPermissions .cb-alert {
  position: fixed;
}

/**
 * Right To Left Layout
 */

html[dir="rtl"] #appPermissions ul li img,
html[dir="rtl"] #homescreens ul li img {
  margin-left: 1.4rem;
  margin-right: auto;
}

/**
 * Vertical homescreen panel
 */

#homescreen [data-type="list"] li:first-child {
  padding-bottom: 1rem;
}

/**
 * App permissions details panel
 */

.developer-infos > a > small {
  color: #00e;
}