/**
 * Application Permissions
 */
#addons ul li img,
#addon-details ul li img,
#appPermissions ul li img,
#homescreens ul li img {
  position: absolute;
  width: 3rem;
  height: 3rem;
  left: 1.6rem;
}

#addons ul li > a,
#addon-detail-toggle,
#appPermissions ul li > a,
#homescreens ul li > a  {
  -moz-padding-start: 7.4rem;
}

/**
 * Overriding gaia-header styling for addons-add header button.
 */
.addons-add {
  color: #858585 !important;
}

.uninstall-app {
  margin: 1rem 1.5rem 0;
  padding: 1.5rem 0 0.5rem;
  border-top: 0.1rem solid #E6E6E3;
}

#appPermissions .cb-alert {
  position: fixed;
}

/**
 * Vertical homescreen panel
 */
#homescreen [data-type="list"] li:first-child {
  padding-bottom: 1rem;
}

/**
 * App permissions details panel
 */
.developer-infos > a > small {
  color: #00e;
}

/*
 * styles for the addons and addon-details panels
 */
.addon-paragraph {
  font-size: 1.7rem;
  line-height: 1.7rem;
  font-weight: 400;
  font-style: italic;
  padding-left: 1rem;
  padding-right: 1rem;
}

.addon-paragraph img {
  float: left;
  margin: 0 1rem 1rem 1rem;
  width: 6.4rem;
  height: 6.4rem;
}

/******************************************************************************
 * Right-To-Left layout
 */
html:-moz-dir(rtl) #addons ul li img,
html:-moz-dir(rtl) #addon-details ul li img,
html:-moz-dir(rtl) #appPermissions ul li img,
html:-moz-dir(rtl) #homescreens ul li img {
  left: unset;
  right: 1.6rem;
}

html:-moz-dir(rtl) .addon-paragraph img {
  float: right;
}
