/* dialog box container */

#dialogs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none;
}

body.dialog {
  overflow: hidden;
}

body.dialog #dialogs {
  display: table;
}

body.dialog #dialogs > div {
  display: table-cell;
  vertical-align: middle;
}

/* wi-fi dialog boxes (in the dialog container) */

div[role=dialog] {
  display: none;
  width: 100%;
  margin: auto;
  background-color: #eaeae4;
}

div[role=dialog].active {
  display: block;
}

div[role=dialog] > * {
  padding: 0 20px;
}

div[role=dialog] dl > * {
  line-height: 2.0em;
}

div[role=dialog] dt {
  float: left;
  margin-right: 0.5em;
}

div[role=dialog] dd {
  font-weight: bold;
}

div[role=dialog] input[type=text],
div[role=dialog] input[type=password] {
  width: 100%;
  margin-bottom: 1em;
  font-size: 1em;
}

div[role=dialog] footer {
  text-align: center;
  line-height: 80px;
  height: 80px;
  margin-top: 20px;
}

<<<<<<< HEAD
div[role=dialog] footer button {
  width: 120px;
  height: 40px;
  border: 4px solid;
  border-radius: 5px;
  -moz-border-top-colors:    #c3c9cb #c3c9cb #fff #fff;
  -moz-border-right-colors:  #c3c9cb #c3c9cb #fff #fff;
  -moz-border-bottom-colors: #c3c9cb #c3c9cb #fff #fff;
  -moz-border-left-colors:   #c3c9cb #c3c9cb #fff #fff;
  background: -moz-linear-gradient(#ffffff, #eaeae4);
  font-size: 1em;
}

<<<<<<< HEAD
div[role=dialog] footer button:active {
=======
/* 480x800 phones */
@media (orientation: portrait) and (width: 480px),
       (orientation: landscape) and (width: 800px) {
  div.dialog footer button {
    width: 180px;
    height: 60px;
  }
}

div.dialog footer button:active {
>>>>>>> upstream/master
  background: -moz-linear-gradient(#eaeae4, #ffffff);
}

div[role=dialog] footer button::-moz-focus-inner {
  border: none;
}

/* setting dialog boxes (fullscreen) */

form[role=dialog] {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: #eee;
  z-index: 10;
  margin: 0;
  padding: 0;
}

form[role=dialog].active,
form[role=dialog]:target {
  display: block;
}

form[role=dialog] button,
form[role=dialog] input[type=button] {
  height: 40px;
  margin: 10px;
  border: 4px solid;
  -moz-border-top-colors:    #c3c9cb #c3c9cb #fff #fff;
  -moz-border-right-colors:  #c3c9cb #c3c9cb #fff #fff;
  -moz-border-bottom-colors: #c3c9cb #c3c9cb #fff #fff;
  -moz-border-left-colors:   #c3c9cb #c3c9cb #fff #fff;
  border-radius: 5px;
  font-size: 1em;
}

form[role=dialog] header {
  height: 60px;
  border-bottom: 2px solid #c3c9cb;
  margin-bottom: 10px;
}

form[role=dialog] header h2 {
  margin: 0;
  height: 60px;
  font-size: 0.85em;
  line-height: 60px;
  background-color: #ccf;
}

form[role=dialog] header button {
  float: left;
}

form[role=dialog] header button + button {
  float: right;
}

form[role=dialog] label {
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 10px 20px;
}

form[role=dialog] label input {
  width: 100%;
  font-size: 1em;
}

/* TODO: merge the two types of dialog boxes (UX) */

*[role=dialog] button::-moz-focus-inner,
*[role=dialog] input[type=button]::-moz-focus-inner {
  border: none;
}

