/**
 * Table View
 * line height = 60px, border included
 */

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul li {
  position: relative;
  border-bottom: 0.1rem solid #e6e6e3;
  color: #000;
  -moz-box-sizing: border-box;
  min-height: 6rem;
}

ul li.active,
ul li:active {
  background-color: #ddf;
  color: #222;
}

ul li > a {
  display: block;
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  height: 60px;
  font-size: 1.8rem;
  line-height: 60px;
  padding: 0 3rem;
}

ul li.disabled > a {
  color: gray;
  pointer-events: none;
}

/* description + value on the same line */
ul li > a span {
  position: absolute;
  right: 2rem;
  color: #505859;
}

/* text ellipsis */
ul li > label + *,
ul li > label + * + * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 66px);
}

/* sublines */
ul li > small {
  position: absolute;
  left: 30px;
  top: 50%;
  padding-top: 4px;
  font-size: 1.2rem;
  color: #505859;
}

/* required for empty elements like Bluetooth */
ul li > small:not(:empty) + a {
  line-height: 44px;
}

/* three-state lists: on|off|ready */

ul[data-state] li[data-state] {
  display: none;
}

ul[data-state="on"] li[data-state="on"],
ul[data-state="off"] li[data-state="off"],
ul[data-state="ready"] li[data-state="ready"] {
  display: block;
}


/******************************************************************************
 * Boolean inputs
 */

ul li button, ul li a[role=button] {
  display: block;
  margin: auto;
  position: relative;
  top: 1rem;
  font-size: 1.5rem;
  line-height: 1em;
  width: calc(100% - 5rem);
  height: calc(100% - 2rem);
}

/* custom styles for boolean inputs (see /shared/style/switches.css) */
ul li > label:not([for]) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul li > label:not([for]) > span,
ul li > label:not([for]).switch > span {
  left: auto;
  right: 2rem;
}


/******************************************************************************
 * Text inputs
 */

ul li p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 3rem 5rem;
}

ul li p + label:not([for]) {
  top: 2.5rem;
  height: calc(100% - 2.5rem);
}

ul li p + input[type=text],
ul li p + input[type=password] {
  display: block;
  width: calc(100% - 6rem);
  font-size: 1.8rem;
  height: 2rem;
  line-height: 2rem;
  margin: -5rem auto 1rem;
}

/******************************************************************************
 * Other inputs
 */

[role=region] label > progress {
  display: block;
  width: calc(100% - 6rem);
  height: 3rem;
  margin: 1.5rem auto;
}

[role=region] label > select {
  display: inline-block;
  left: auto;
  right: 2rem;
  position: absolute;
  height: 3rem;
  margin: 1.5rem auto;
  font-size: 2rem;
}


/******************************************************************************
 * Setting icons
 */

#root li [data-l10n-id] {
  background-repeat: no-repeat;
  background-position: 14px center;
}

#root li [data-l10n-id="accessibility"]     { background-image: url(images/settings/accessibility.png); }
#root li [data-l10n-id="airplaneMode"]      { background-image: url(images/settings/airplane_mode.png); }
#root li [data-l10n-id="appPermissions"]    { background-image: url(images/settings/app_permissions.png); }
#root li [data-l10n-id="battery"]           { background-image: url(images/settings/battery.png); }
#root li [data-l10n-id="bluetooth"]         { background-image: url(images/settings/bluetooth.png); }
#root li [data-l10n-id="cellularAndData"]   { background-image: url(images/settings/network.png); }
#root li [data-l10n-id="developer"]         { background-image: url(images/settings/developer.png); }
#root li [data-l10n-id="deviceInfo"]        { background-image: url(images/settings/about_phone.png); }
#root li [data-l10n-id="deviceStorage"]     { background-image: url(images/settings/device_storage.png)}
#root li [data-l10n-id="display"]           { background-image: url(images/settings/display.png); }
#root li [data-l10n-id="doNotTrack"]        { background-image: url(images/settings/do_not_track.png); }
#root li [data-l10n-id="gps"]               { background-image: url(images/settings/gps.png); }
#root li [data-l10n-id="helpAndFeedback"]   { background-image: url(images/settings/help.png); }
#root li [data-l10n-id="hotspot"]           { background-image: url(images/settings/hotspot.png); }
#root li [data-l10n-id="keyboard"]          { background-image: url(images/settings/keyboard.png); }
#root li [data-l10n-id="languageAndRegion"] { background-image: url(images/settings/languages.png); }
#root li [data-l10n-id="mail"]              { background-image: url(images/settings/email.png); }
#root li [data-l10n-id="mediaStorage"]      { background-image: url(images/settings/media_storage.png)}
#root li [data-l10n-id="notifications"]     { background-image: url(images/settings/notifications.png); }
#root li [data-l10n-id="persona"]           { background-image: url(images/settings/persona.png); }
#root li [data-l10n-id="phoneLock"]         { background-image: url(images/settings/phone_lock.png); }
#root li [data-l10n-id="simSecurity"]       { background-image: url(images/settings/sim_card_lock.png); }
#root li [data-l10n-id="sound"]             { background-image: url(images/settings/sound.png); }
#root li [data-l10n-id="storage"]           { background-image: url(images/settings/storage.png); }
#root li [data-l10n-id="timeAndDate"]       { background-image: url(images/settings/date_time.png); }
#root li [data-l10n-id="wallpaper"]         { background-image: url(images/settings/wallpaper.png); }
#root li [data-l10n-id="wifi"]              { background-image: url(images/settings/wifi.png); }

#root li a {
  padding-left: 55px;
}

#root li small {
  left: 55px;
}


/******************************************************************************
 * Wi-Fi icons
 */

/* signal levels */
#wifi-availableNetworks li {
  background-repeat: no-repeat;
  background-position: right 3rem top 50%;
}

#wifi-availableNetworks li.wifi-signal0 { background-image: url(images/wifi_signal_0.png); }
#wifi-availableNetworks li.wifi-signal1 { background-image: url(images/wifi_signal_1.png); }
#wifi-availableNetworks li.wifi-signal2 { background-image: url(images/wifi_signal_2.png); }
#wifi-availableNetworks li.wifi-signal3 { background-image: url(images/wifi_signal_3.png); }
#wifi-availableNetworks li.wifi-signal4 { background-image: url(images/wifi_signal_4.png); }

/* secured networks */
#wifi-availableNetworks a.wifi-secure {
  background-repeat: no-repeat;
  background-position: right 1.5rem top 50%;
  background-image: url(images/wifi_lock.png);
}

/* searching... */
#wifi-availableNetworks .wifi-search {
  background-image: url(images/wifi_scan.png);
}


/******************************************************************************
 * Wi-Fi dialogs
 */

#wifi-status, #wifi-auth {
  font-size: 1.8rem;
}

/* hide identity field by default */

#wifi-auth label[for=identity] {
  display: none;
}

#wifi-auth.WPA-EAP label[for=identity] {
  display: block;
}

/* APN Settings */

#apnSettings-custom {
  font-style: italic;
}

#apnSettings-advanced {
  padding-bottom: 1em;
}


/******************************************************************************
 * Explanation texts
 */

.explanation {
  padding: 5px 30px;
  font-style: italic;
  font-size: 1.4rem;
  color: #505859;
}

.detailed-desc {
  padding: 0 3rem;
  font-size: 1.5rem;
}


/******************************************************************************
 * Bluetooth panel
 */

.toolbar-height {
  height: 4.8rem;
}

.bottom-toolbar {
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  padding-top: 0.6rem;
  margin: 0px;
}

.bottom-toolbar button {
  -moz-box-sizing: border-box;
  background: url("buttons/images/ui/default.png") repeat-x scroll left bottom #FAFAFA;
  border: 0.1rem solid #9F9F9F;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 600; 
  height: 4rem;
  width: calc((100% - 1rem)/2);
}

.popup {
  bottom: 0;
  left: 5px;
  margin: 0;
  position: fixed;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px 6px 6px 6px;
  padding: 0.8rem;
  width: 90%;
}

#paired-device-option li {
  height: 4.6rem;
  min-height: 4.6rem;
}

#paired-device-option li > a {
  line-height: 2em;
  padding: 0;
}

#paired-device-option #cancel-option {
  height: 4.6rem;
  min-height: 4.6rem;
}

#paired-device-option #cancel-option button {
  height: calc(100% - 1rem);
  line-height: normal;
}


/******************************************************************************
 * Bluetooth devices
 */

#bluetooth .devices li {
  background-repeat: no-repeat;
  background-position: right 3rem top 50%; /* same position as for Wi-Fi signal levels */
}

/* device icons */
.audio-card             { background-image: url(images/bluetooth/audio_card.png); }
.audio-input-microphone { background-image: url(images/bluetooth/audio_input_microphone.png); }
.battery                { background-image: url(images/bluetooth/battery.png); }
.camera-photo           { background-image: url(images/bluetooth/camera_photo.png); }
.camera-video           { background-image: url(images/bluetooth/camera_video.png); }
.camera-web             { background-image: url(images/bluetooth/camera_web.png); }
.computer               { background-image: url(images/bluetooth/computer.png); }
.drive-harddisk         { background-image: url(images/bluetooth/drive_harddisk.png); }
.drive-optical          { background-image: url(images/bluetooth/drive_optical.png); }
.drive-removable-media  { background-image: url(images/bluetooth/drive_removable_media.png); }
.input-gaming           { background-image: url(images/bluetooth/input_gaming.png); }
.input-keyboard         { background-image: url(images/bluetooth/input_keyboard.png); }
.input-mouse            { background-image: url(images/bluetooth/input_mouse.png); }
.input-tablet           { background-image: url(images/bluetooth/input_tablet.png); }
.media-flash            { background-image: url(images/bluetooth/media_flash.png); }
.media-floppy           { background-image: url(images/bluetooth/media_floppy.png); }
.media-optical          { background-image: url(images/bluetooth/media_optical.png); }
.media-tape             { background-image: url(images/bluetooth/media_tape.png); }
.modem                  { background-image: url(images/bluetooth/modem.png); }
.multimedia-player      { background-image: url(images/bluetooth/multimedia_player.png); }
.network-wired          { background-image: url(images/bluetooth/network_wired.png); }
.network-wireless       { background-image: url(images/bluetooth/network_wireless.png); }
.pda                    { background-image: url(images/bluetooth/phone_pda.png); }
.phone                  { background-image: url(images/bluetooth/phone_pda.png); }
.printer                { background-image: url(images/bluetooth/printer.png); }
.scanner                { background-image: url(images/bluetooth/scanner.png); }
.video-display          { background-image: url(images/bluetooth/video_display.png); }


/******************************************************************************
 * Wallpaper snapshot
 */

#wallpaper-preview {
  width: 90px;
  height: 135px;
  border: solid black 2px;
  border-radius: 4px;
  margin-left: 110px;
  margin-top: -10px;
  margin-bottom: 5px;
}


/******************************************************************************
 * Date and Time
 */

#date-picker, #time-picker {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

