/**
 * Table View
 * line height = 60px, border included
 */

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul li {
  position: relative;
  border-bottom: 0.1rem solid #e6e6e3;
  color: #000;
  -moz-box-sizing: border-box;
  min-height: 6rem;
}

ul li.active,
ul li:active {
  background-color: #ddf;
  color: #222;
}

ul li > a {
  display: block;
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  height: 60px;
  font-size: 1.8rem;
  line-height: 60px;
  padding: 0 3rem;
}

/* description + value on the same line */
ul li > a span {
  position: absolute;
  right: 2rem;
  color: #505859;
}

/* text ellipsis */
ul li > label + *,
ul li > label + * + * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 66px);
}

/* sublines */
ul li > small {
  position: absolute;
  left: 30px;
  top: 50%;
  padding-top: 4px;
  font-size: 1.2rem;
  color: #505859;
}

/* required for empty elements like Bluetooth */
ul li > small:not(:empty) + a {
  line-height: 44px;
}


/******************************************************************************
 * Boolean inputs
 */

ul li button, ul li a[role=button] {
  display: block;
  margin: auto;
  position: relative;
  top: 1rem;
  font-size: 1.5rem;
  line-height: 1em;
  width: calc(100% - 5rem);
  height: calc(100% - 2rem);
}

/* custom styles for boolean inputs (see /shared/style/switches.css) */
ul li > label:not([for]) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

ul li > label:not([for]) > span,
ul li > label:not([for]).switch > span {
  left: auto;
  right: 2rem;
}


/******************************************************************************
 * Text inputs
 */

ul li p {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding: 1rem 3rem 5rem;
}

ul li p + label:not([for]) {
  top: 2.5rem;
  height: calc(100% - 2.5rem);
}

ul li p + input[type=text],
ul li p + input[type=password] {
  display: block;
  width: calc(100% - 6rem);
  font-size: 1.8rem;
  height: 2rem;
  line-height: 2rem;
  margin: -5rem auto 1rem;
}


/******************************************************************************
 * Other inputs
 */

[role=region] label > progress {
  display: block;
  width: calc(100% - 6rem);
  height: 3rem;
  margin: 1.5rem auto;
}

[role=region] label > select {
  display: inline-block;
  left: auto;
  right: 2rem;
  position: absolute;
  height: 3rem;
  margin: 1.5rem auto;
  font-size: 2rem;
}


/******************************************************************************
 * Setting icons
 */

#root li [data-l10n-id] {
  background-repeat: no-repeat;
  background-position: 14px center;
}

#root li [data-l10n-id="airplaneMode"]      { background-image: url(images/settings_airplanemode.png); }
#root li [data-l10n-id="gps"]               { background-image: url(images/settings_gps.png); }
#root li [data-l10n-id="wifi"]              { background-image: url(images/settings_wifi.png); }
#root li [data-l10n-id="cellularAndData"]   { background-image: url(images/settings_network.png); }
#root li [data-l10n-id="bluetooth"]         { background-image: url(images/settings_bluetooth.png); }
#root li [data-l10n-id="hotspot"]           { background-image: url(images/settings_hotspot.png); }
#root li [data-l10n-id="sound"]             { background-image: url(images/settings_sound.png); }
#root li [data-l10n-id="display"]           { background-image: url(images/settings_display.png); }
#root li [data-l10n-id="wallpaper"]         { background-image: url(images/settings_wallpaper.png); }
#root li [data-l10n-id="notifications"]     { background-image: url(images/settings_notifications.png); }
#root li [data-l10n-id="timeAndDate"]       { background-image: url(images/settings_datetime.png); }
#root li [data-l10n-id="languageAndRegion"] { background-image: url(images/settings_languages.png); }
#root li [data-l10n-id="keyboard"]          { background-image: url(images/settings_keyboard.png); }
#root li [data-l10n-id="accessibility"]     { background-image: url(images/settings_accessibility.png); }
#root li [data-l10n-id="persona"]           { background-image: url(images/settings_persona.png); }
#root li [data-l10n-id="mail"]              { background-image: url(images/settings_email.png); }
#root li [data-l10n-id="phoneLock"]         { background-image: url(images/settings_phonelock.png); }
#root li [data-l10n-id="simSecurity"]       { background-image: url(images/settings_simcardlock.png); }
#root li [data-l10n-id="appPermissions"]    { background-image: url(images/settings_apppermissions.png); }
#root li [data-l10n-id="doNotTrack"]        { background-image: url(images/settings_donottrack.png); }
#root li [data-l10n-id="deviceInfo"]        { background-image: url(images/settings_aboutphone.png); }
#root li [data-l10n-id="helpAndFeedback"]   { background-image: url(images/settings_help.png); }
#root li [data-l10n-id="storage"]           { background-image: url(images/settings_storage.png); }
#root li [data-l10n-id="battery"]           { background-image: url(images/settings_battery.png); }
#root li [data-l10n-id="deviceStorage"],
#root li [data-l10n-id="mediaStorage"]      { background-image: url(images/settings_storage.png)}

#root li a {
  padding-left: 55px;
}

#root li small {
  left: 55px;
}


/******************************************************************************
 * Wi-Fi
 */

/* Wi-Fi icons */
#wifi-networks span {
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  left: auto;
  right: 2rem;
  -moz-border-top-colors:    transparent;
  -moz-border-right-colors:  transparent;
  -moz-border-bottom-colors: transparent;
  -moz-border-left-colors:   transparent;
  background-repeat: no-repeat;
  background-position: center center;
}

/* signal levels */
#wifi-networks .wifi-signal0 { background-image: url(images/wifi_signal_0.png); }
#wifi-networks .wifi-signal1 { background-image: url(images/wifi_signal_1.png); }
#wifi-networks .wifi-signal2 { background-image: url(images/wifi_signal_2.png); }
#wifi-networks .wifi-signal3 { background-image: url(images/wifi_signal_3.png); }
#wifi-networks .wifi-signal4 { background-image: url(images/wifi_signal_4.png); }

/* secured networks */
#wifi-networks .wifi-secure {
  background-image: url(images/wifi_lock.png);
}

/* searching... */
#wifi-networks .wifi-search {
  background-image: url(images/wifi_scan.png);
}

/* Wi-Fi dialogs */

#wifi-status, #wifi-auth {
  font-size: 1.8rem;
}

/* hide identity field by default */

#wifi-auth label[for=identity] {
  display: none;
}

#wifi-auth.WPA-EAP label[for=identity] {
  display: block;
}


/* APN Settings */

#apnSettings-custom {
  font-style: italic;
}

#apnSettings-advanced {
  padding-bottom: 1em;
}


/******************************************************************************
 * Explanation texts (Data, Bluetooth...)
 */

.explanation {
  padding: 5px 30px;
  font-style: italic;
  font-size: 1.4rem;
  color: #505859;
}


/******************************************************************************
 * Wallpaper snapshot
 */

#wallpaper-preview {
  width: 90px;
  height: 135px;
  border: solid black 2px;
  border-radius: 4px;
  margin-left: 110px;
  margin-top: -10px;
  margin-bottom: 5px;
}

