#pair-view h1, #alert-view h1 {
  font-size: 1.8rem;
}

#pair-view div, #alert-view div {
  font-size: 1.6rem;
}

#pair-view #pair-description {
  font-size: 1.3rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pair-view #device-info #label-name {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pair-view .pair-method {
  text-align: center;
  font-size: 1.8rem;
}

#pair-view .pair-method input {
  font-size: 1.8rem;
}

#pair-view menu, #alert-view menu {
  padding: 0.7rem;
  bottom: 0px;
}

#pair-view menu button, #alert-view menu button {
  height: 2.8rem;
  line-height: 2.8rem;
}

#alert-view menu button {
  width: 100%;
}

#device-info {
  background-repeat: no-repeat;
  background-position: left 0rem top 50%;
  padding-left: 3rem;
}

.bluetooth-default { 
  background-image: url(images/settings/bluetooth.png);
}
