/**
 * Settings style & layout
 */

html, body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden !important;
  font-family: "Open Sans", sans-serif;
}

body.hidden * {
  display: none;
}

/* Setting panels: full-size blocks, identified by a 'region' role */
[role=region] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  overflow-y: scroll;
  background: url(images/document_bg.png);
}


/******************************************************************************
 * Panel targets -- transitions
 *
 * this looks super nice on a desktop but not on an Otoro :-(
 *
 *  [role="region"] {
 *    visibility: hidden;
 *    transform: translateX(100%);
 *    transition: visibility 0s ease 0.3s, transform 0.3s ease;
 *  }
 *
 *  [role="region"]:target, #root:target {
 *    visibility: visible;
 *    transform: none;
 *    transition: visibility 0s ease, transform 0.3s ease;
 *  }
 *
 *  [role="region"]:target ~ [role="region"], #root {
 *    transform: translateX(-100%);
 *  }
 *
 * So we rely on `data-leaf' attributes to identify tree leafs,
 * in order not to move them when it's not necessary.
 */

[role="region"] {
  visibility: hidden;
  transform: translateX(100%);
  transition: visibility 0s ease .5s, transform .5s ease;
}

section[role="region"]:target {
  visibility: visible;
  transform: translateX(0);
  transition: visibility 0s ease, transform .5s ease;
}

section[role="region"]:target ~ section[role="region"]:not([data-leaf]) {
  transform: translateX(-100%);
}

body.hidden #root {
  transform: none;
  transition: none;
}


/******************************************************************************
 * Headers don't scroll with the rest of the page, except for #root
 */

[role="region"]:not(#root) > header:first-child {
  position: fixed;
  width: 100%;
}

[role="region"]:not(#root) > header:first-child + * {
  margin-top: 5rem;
}


/******************************************************************************
 * Right-to-Left layout
 */

/* transitions */

[dir=rtl] [role="region"] {
  transform: translateX(-100%);
}
[dir=rtl] #root {
  transform: translateX(+100%);
}

[dir=rtl] #root:target,
[dir=rtl] [role=region]:target {
  transform: none;
}

/* setting lists */

[dir=rtl] ul li > a {
  padding-left: inherit;
  padding-right: 3rem;
}

[dir=rtl] ul li > small {
  left: auto;
  right: 3rem;
}

[dir=rtl] [role=region] label > span {
  left: 1rem;
  right: auto;
}

/* root list and icons */

[dir=rtl] #root li [data-l10n-id] {
  background-position: right 1.4rem top 50%;
}

[dir=rtl] #root ul li > a {
  padding-left: inherit;
  padding-right: 5.5rem;
}

[dir=rtl] #root ul li > small {
  left: auto;
  right: 5.5rem;
}

/* bidi (e.g. language list) */

[dir=ltr] a[dir=rtl] {
  text-align: left;
}

[dir=rtl] a[dir=ltr] {
  text-align: right;
}


/******************************************************************************
 * Definition lists
 */

dl > * {
  font-size: 1.6em;
}

dl dt {
  padding-left: 30px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

dl dd {
  margin: 0;
  padding: 10px 30px;
  border-bottom: 0.1rem solid #e6e6e3; /* same as "ul li" */
}

