html, body {
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: Roboto;
  src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: Roboto;
  font-style: italic;
  src: url('fonts/Roboto-Italic.ttf');
}
@font-face {
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  src: url('fonts/Roboto-BoldItalic.ttf');
}

*[dir=rtl] .view > h2 {
  padding: 0 10px 0 0;
}

*[dir=rtl] .view {
  -moz-transform: translateX(-100%);
}
*[dir=rtl] #root {
  -moz-transform: translateX(+100%);
}

*[dir=rtl] #root:target,
*[dir=rtl] .view:target {
  -moz-transform: none;
}

*[dir=rtl] ul li > span,
*[dir=rtl] ul li > small {
  left: auto;
  right: 20px;
}

*[dir=rtl] .view label > span {
  left: 20px;
  right: auto;
}

*[dir=ltr] a[dir=rtl] {
  text-align: left;
}

*[dir=rtl] a[dir=ltr] {
  text-align: right;
}

