/* Most of this should probably move to the Building Blocks: Bug 1011418 */

section[role="notification"] {
  box-sizing: border-box;
  z-index: 1;
  position: relative; /* so that we can compete
                         with absolutely positioned elements */

  overflow: hidden;
  min-height: 3.5rem;

  background-color: rgba(77,77,77,0.95);
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

section[role="notification"] a {
  color: #9ef2e7;
  text-decoration: underline;
}

section[role="notification"] p {
  margin: .9rem 1.5rem;
  line-height: 1.7rem;

  text-align: center;
}

section[role="notification"] a {
  color: #9ef2e7;
  text-decoration: underline;
}
