#evmeContainer .evme-apps {
    position: absolute;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    overflow: hidden;
}
#evmeContainer.loading-app .evme-apps {
    pointer-events: none;
}

#evmeContainer.empty-query #evmeApps {
    display: none;
}

#evmeContainer .evme-apps ul {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-bottom: 10px;
}
#evmeContainer .evme-apps.has-more ul:not(.connection-error) {
    padding-bottom: 45px;
}
#evmeContainer .evme-apps ul li {
    clear: both;
    width: 25%;
    height: 89px;
    padding-top: 10px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    -moz-transition: -moz-transform .2s linear;
    transition: transform .2s linear;
}

#evmeContainer .evme-apps ul .installed-separator {
    display: block;
    width: 100%;
    height: 1px;
    padding: 0;
    margin: .2rem 0 0;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .3), 0 1px 0 0 rgba(0, 0, 0, .3) inset;
}

#evmeContainer .evme-apps:not(.has-installed) .has-installed-visible {
    display: none;
}
#evmeContainer .evme-apps ul li.new {
    -moz-transition: none;
    transition: none;
}
#evmeContainer .evme-apps ul #button-more {
    position: absolute;
    top: auto;
    bottom: 15px;
    left: 0;
    height: auto;
    color: #b4dae7;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0 1px 1px #000;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}
#evmeContainer .evme-apps ul #button-more.visible {
    opacity: 1;
}

#evmeContainer .evme-apps ul li:nth-child(4n+1) {
    clear: both;
}
#evmeContainer .evme-apps ul li .c {
    position: relative;
    display: block;
    padding: 44px 2px 0 2px;
}
#evmeContainer .evme-apps ul li .thumb, #evmeContainer .app-icon {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 5;
    display: block;
    width: 44px;
    height: 44px;
    margin-left: -22px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 23px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .8);
    -moz-transition: -moz-transform .2s linear;
    transition: transform .2s linear;
}
#evmeContainer .evme-apps ul li.new:not(.installed) .thumb {
    -moz-transform: scale(0);
    transform: scale(0);
}
#evmeContainer .evme-apps ul li.installed .c {
    padding-top: 50px;
}
#evmeContainer .evme-apps ul li.installed .thumb {
    border-radius: 0;
    width: 58px;
    height: 58px;
    margin-left: -29px;
    margin-top: -3px;
    box-shadow: none;
}
#evmeContainer .evme-apps ul li .thumb.noicon {
    background: transparent;
}
#evmeContainer .evme-apps ul li .thumb.noicon:after {
}
#evmeContainer .evme-apps ul li b {
    display: inline-block;
    line-height: 100%;
    max-height: 35px;
    max-width: 95%;
    margin-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px;
    color: #fff;
    font-size: -moz-calc(5.75 * 0.226rem);
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .6);
}
#evmeContainer .evme-apps ul li.installed b {
    line-height: 90%;
}
#evmeContainer .evme-apps ul li b em {
    font-style: normal;
}

#evmeContainer .evme-apps ul li .close {
    position: absolute;
    top: -4px;
    left: 50%;
    margin-left: -30px;
    border: 2px solid #fff;
    box-shadow: 0 0 2px 0 #000;
    width: 18px;
    height: 18px;
    line-height: 16px;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 18px;
    font-weight: 600;
    font-size: 14px;
    z-index: 0;
    opacity: 0;
    display: none;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}
#evmeContainer .evme-apps ul li#more-apps {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    z-index: 50;
    cursor: default;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .6), 0 -2px 0 0 rgba(0, 0, 0, .5);
    -moz-transition: none;
    transition: none;
}
#evmeContainer .evme-apps ul.connection-error #more-apps {
    display: none;
}

#evmeContainer #evmeApps .connection-message {
    width: 100%;
}
#evmeContainer #evmeApps.has-installed .connection-message,
#evmeContainer #evmeApps .connection-message:first-child:last-child {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
#evmeContainer #evmeApps.has-installed .connection-message {
    transform: translateY(35px);
}   
#evmeContainer #evmeApps.loading-more .connection-message {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 -1px 0 0 rgba(255, 255, 255, .4), 0 -2px 0 0 rgba(0, 0, 0, .4);
    transform: translateY(0);
}
#evmeContainer.loading-app .connection-message {
    opacity: 0;
}

body:not(.istouch) .evme-apps {

}
body:not(.istouch) .evme-apps ul {
    overflow: hidden;
}
body:not(.istouch) .evme-apps ul li:nth-child(4n+1) {
    clear: both;
}
body:not(.istouch) .evme-apps ul li:nth-child(5n+1) {
    clear: none;
}

/* Loading an app */
#evmeContainer.loading-app .evme-apps ul li, #evmeContainer.loading-app .evme-apps ul #button-more.visible, #evmeContainer.loading-app .evme-apps.has-installed ul:before {
    opacity: 0;
}
#evmeContainer.loading-app .evme-apps ul li.inplace {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: visible;
    margin-top: 0 !important;
    -moz-transition: -moz-transform .2s linear;
    transition: transform .2s linear;
}
#evmeContainer.loading-app .evme-apps ul li.inplace .doat-loading {
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -30px;
}

#evmeContainer.loading-app .evme-apps ul {
    min-height: 100%;
}

.apps-group {
    position: relative;
    width: 64px;
    height: 64px;
}
.apps-group span {
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
.apps-group span:nth-child(1) {
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .4);
}
.apps-group span:nth-child(2) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .5);
}
.apps-group span:nth-child(3) {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .6);
}
