<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>&lt;gaia-sub-header&gt;</title>
  <meta name="description" content="gaia-sub-header example" />
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-theme/gaia-base.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-fonts/style.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-icons/style.css">
  <script src="bower_components/gaia-theme/lib/gaia-theme-selector.js"></script>
  <script src="bower_components/pressed/pressed.js"></script>
  <script src="gaia-sub-header.js"></script>
  <style type="text/css">

    body {
      padding: 16px;
      padding-top: 48px;
    }

  </style>
</head>
<body role="application">
  <gaia-theme-selector></gaia-theme-selector>
  <h1 class="large l-align-center l-mb-mega">&lt;gaia-sub-header&gt;</h1>
  <section>
    <gaia-sub-header>Sub-Header</gaia-sub-header>
  </section>
  <section>
    <gaia-sub-header><a href="#">Gaia Sub-Header Link</a></gaia-sub-header>
  </section>
</body>
</html>
