<element name="template-messaging" extends="section">
  <template>

    <header>
      <h2 data-l10n-id="cellBroadcastMessages">Cell Broadcast Messages</h2>
    </header>

    <ul>
      <li id="menuItem-cellBroadcast" aria-disabled="true">
        <label class="pack-switch checkbox-label">
          <input type="checkbox" data-ignore disabled />
          <span data-l10n-id="cellBroadcast">Cell Broadcast</span>
        </label>
      </li>
      <li id="menuItem-emergencyAlert" aria-disabled="true">
        <label class="pack-switch checkbox-label">
          <input type="checkbox" data-ignore disabled />
          <span data-l10n-id="emergencyAlert">Emergency Alert</span>
        </label>
      </li>
    </ul>

    <header>
      <h2 data-l10n-id="messagingInformation">Information</h2>
    </header>

    <ul>
      <li class="hint smsc">
        <span data-l10n-id="messaging-SMSC">Service Center</span>
        <p class="explanation" data-l10n-id="unknown-SMSC">Info not available</p>
      </li>
    </ul>

  </template>
</element>
