<element name="template-messaging" extends="section">
  <template>

    <header>
      <h2 data-l10n-id="cellBroadcastMessages"></h2>
    </header>

    <ul>
      <li id="menuItem-cellBroadcast" aria-disabled="true">
        <gaia-switch data-ignore disabled>
          <label data-l10n-id="cellBroadcast"></label>
        </gaia-switch>
      </li>
      <li id="menuItem-emergencyAlert" aria-disabled="true">
        <gaia-switch data-ignore disabled>
          <label data-l10n-id="emergencyAlert"></label>
        </gaia-switch>
      </li>
    </ul>

    <header>
      <h2 data-l10n-id="messagingInformation"></h2>
    </header>

    <ul>
      <li class="hint smsc">
        <span data-l10n-id="messaging-SMSC"></span>
        <p class="explanation"></p>
      </li>
    </ul>

  </template>
</element>
