<element name="ala-custom" extends="section">
  <template>
    <gaia-header>
      <a class="back" href="#">
        <span class="icon gaia-icon-back"></span>
      </a>
      <h1 data-l10n-id="custom-location-ala-10"></h1>
    </gaia-header>
    <div>
      <ul>
        <li>
          <gaia-radio name="custom-loc" class="dcl-type-rc" value="rc">
            <label data-l10n-id="choose-a-region-city"></label>
          </gaia-radio>
        </li>
        <li class="dcl-rc-region">
          <p data-l10n-id="region"></p>
          <span class="button icon icon-dialog">
            <select class="dcl-region" name="dcl.region" data-value-type="string">
            </select>
          </span>
        </li>
        <li class="dcl-rc-city">
          <p data-l10n-id="city"></p>
          <span class="button icon icon-dialog">
            <select class="dcl-city" name="dcl.city" data-value-type="string">
            </select>
          </span>
        </li>
        <li>
          <gaia-radio name="custom-loc" class="dcl-type-gps" value="gps">
            <label data-l10n-id="enter-gps-coordinates"></label>
          </gaia-radio>
        </li>
        <li class="dcl-gps-area">
          <p class="description" data-l10n-id="enter-gps-description"></p>
          <p data-l10n-id="latitude"></p>
          <input class="dcl-latitude" type="number" min="-90.0" max="90.0" step="0.000001" placeholder="0" dir="auto">
          <p data-l10n-id="longitude"></p>
          <input class="dcl-longitude" type="number" min="-180.0" max="180.0" step="0.000001" placeholder="0" dir="auto">
        </li>
      </ul>
    </div>
  </template>
</element>
