<element name="ala-exceptions" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#ala-main">
        <span class="icon icon-back">back</span>
      </a>
      <h1 data-l10n-id="location-accuracy">Location Accuracy</h1>
    </header>
    <div>
      <ul id="app-list">
        <li class="description">
          <p>
            <small data-l10n-id="app-list-description">This list shows all the apps, which are allowed to use your location.</small>
          </p>
        </li>
      </ul>
    </div>
  </template>
</element>
