<element name="ala-exception" extends="section">
  <template>
    <gaia-header>
      <a class="pp-link back" href="#ala-exceptions">
        <span class="icon gaia-icon-back"></span>
      </a>
      <h1></h1>
    </gaia-header>
    <div>
      <ul>
        <li>
          <p class="description" data-l10n-id="exceptions-application-description"></p>
        </li>
        <li class="app-info app-element">
          <a class="menu-item">
            <img src="">
            <span></span>
          </a>
        </li>
        <li>
          <p>
            <span class="button icon icon-dialog">
              <select class="app-type">
                <option value="system-settings" data-l10n-id="global-settings"></option>
                <option value="blur" data-l10n-id="adjustment"></option>
                <option value="user-defined" data-l10n-id="custom-location"></option>
                <option value="no-location" data-l10n-id="no-location"></option>
                <option value="precise" data-l10n-id="precise"></option>
              </select>
            </span>
          </p>
        </li>

        <li class="type-blur type-box">
          <label>
            <p class="blur-label"></p>
            <input class="blur-slider" value="1" step="1" min="1" max="12" type="range">
          </label>
        </li>

        <li class="type-custom-location type-box custom-location-description">
          <p class="description" data-l10n-id="custom-location-description"></p>
        </li>
        <li class="type-custom-location type-box">
          <a class="menu-item set-custom-location panel-link" href="#set-custom-location">
            <span data-l10n-id="set-custom-location"></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="app-custom-location-alert overlay" hidden>
      <div class="modal modal-alert">
        <h1 data-l10n-id="attention"></h1>
        <p data-l10n-id="ala-custom-location-alert"></p>
        <button class="btn btn-blue" data-l10n-id="set-location"></button>
      </div>
    </div>
  </template>
</element>
