<html>
  <head></head><body><element name="ala-exceptions" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#ala-main">
        <span class="icon gaia-icon-back">back</span>
      </a>
      <h1 data-l10n-id="location-accuracy">Location Accuracy</h1>
    </header>
    <div>
      <ul id="app-list">
        <li>
          <p class="description" data-l10n-id="app-list-description">
            This list shows all the apps, which are allowed to use your location.
          </p>
        </li>
      </ul>
    </div>
  </template>
</element>
</body>
</html>
