<element name="ala-main" extends="section">
  <template>
    <gaia-header>
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-back"></span>
      </a>
      <h1 data-l10n-id="la-panel"></h1>
    </gaia-header>
    <div>
      <ul>
        <li>
          <label class="pack-switch">
            <input type="checkbox" class="uninit" name="geolocation.enabled">
            <span data-l10n-id="geolocation"></span>
          </label>
        </li>
        <li class="show-when-geolocation-on">
          <label class="pack-switch">
            <input type="checkbox" class="uninit" name="ala.settings.enabled">
            <span data-l10n-id="location-adjustment"></span>
          </label>
        </li>
        <li class="hide-when-ala-on">
          <p class="description"></p>
        </li>
        <li class="show-when-ala-on">
          <p class="description" data-l10n-id="location-adjustment-description"></p>
        </li>
        <li class="show-when-ala-on geolocation-type-box">
          <p>
            <span class="button icon icon-dialog">
              <select name="geolocation.type">
                <option value="blur" data-l10n-id="adjustment"></option>
                <option value="user-defined" data-l10n-id="custom-location"></option>
                <option value="no-location" data-l10n-id="no-location" selected></option>
                <option value="precise" data-l10n-id="precise"></option>
              </select>
            </span>
          </p>
        </li>
        <li class="type-blur type-box show-when-ala-on">
          <label>
            <p class="blur-label"></p>
            <input class="blur-slider" name="geolocation.blur.slider" type="range" step="1" min="1" max="12" data-default="1">
          </label>
        </li>
        <li class="type-custom-location type-box show-when-ala-on custom-location-description">
          <p class="description" data-l10n-id="custom-location-description"></p>
        </li>
        <li class="type-custom-location type-box show-when-ala-on">
          <a class="menu-item set-custom-location panel-link" href="#">
            <span data-l10n-id="set-custom-location"></span>
          </a>
        </li>
        <li class="show-when-ala-on add-exception-box">
          <a class="menu-item pp-link panel-link" href="#ala-exceptions">
            <span data-l10n-id="add-exceptions"></span>
          </a>
        </li>
        <div class="custom-location-alert overlay" hidden>
          <div class="modal modal-alert">
            <h1 data-l10n-id="attention"></h1>
            <p data-l10n-id="ala-custom-location-alert"></p>
            <button class="btn btn-blue" data-l10n-id="set-location"></button>
          </div>
        </div>
      </ul>
    </div>
  </template>
</element>
