/* Copied from buttons.css in Gaia's BB */

/* ----------------------------------
 * Buttons
 * ---------------------------------- */

.button::-moz-focus-inner,
.bb-button::-moz-focus-inner {
  border: none;
  outline: none;
}

.bb-button,
.button {
  font-family: sans-serif;
  font-style: italic;
  width: 100%;
  margin: 0 0 1rem;
  padding: 0 1.2rem;
  -moz-box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: #d8d8d8;
  border: none;
  border-radius: 2rem;
  font-weight: normal;
  color: #333;
  text-align: center;
  text-decoration: none;
  outline: none;
}

/* ----------------------------------
 * Buttons inside lists
 * ---------------------------------- */

li .bb-button,
li .button {
  position: relative;
  text-align: start;
  border: 0.1rem solid #c7c7c7;
  background: rgba(0,0,0,0.05);
  margin: 0 0 1rem;
  overflow: hidden;
  border-radius: 0;
  display: flex;
  height: auto;
  text-overflow: initial;
  white-space: normal;
  padding: 0.5rem 0.6rem;
}

/* Press */
li .bb-button:active:after,
li .button:active:after {
  opacity: 0;
}

.bb-button:active,
.button:active {
  background-color: #b2f2ff;
  color: #fff;
}

/* Disabled */
.bb-button[aria-disabled="true"],
.button[aria-disabled="true"] {
  background-color: rgba(0,0,0,0.05);
  color: #c7c7c7;
  pointer-events: none;
}

.bb-button[aria-disabled="true"].recommend,
.button[aria-disabled="true"].recommend {
  background-color: #97cbd5;
  color: rgba(255,255,255,0.5);
}

.bb-button[aria-disabled="true"].danger,
.button[aria-disabled="true"].danger {
  background-color: #eb7474;
  color: rgba(255,255,255,0.5);
}
