.appWindow:not(.bar) > .chrome {
  pointer-events: none;
  background-color: black;
  top: 0;
  height: 7.4rem;
  transform: scaleY(0.48) translateY(-2.4rem);
  transform-origin: top left;
  transition: transform 0.2s ease-in-out, background-color 0.5s ease;
  background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

.appWindow:not(.bar) > .chrome.maximized {
  transform: scaleY(1) translateY(0);
}

.appWindow:not(.bar).fullscreen-app > .chrome {
  height: 7.4rem;
  top: -2.4rem;
}

.appWindow:not(.bar).fullscreen-app > .chrome.maximized {
  top: 0;
}

.controls {
  pointer-events: auto;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Special cases */
.searchWindow > .chrome {
  display: none;
}

.lockScreenWindow:not(.bar) > .chrome .controls,
.lockScreenWindow:not(.bar) > .chrome .progress,
.homescreen:not(.bar) > .chrome .controls,
.homescreen:not(.bar) > .chrome .progress {
  visibility: hidden;
}

.lockScreenWindow:not(.bar) > .chrome {
  background-color: transparent;
}

#screen.attention .lockScreenWindow:not(.bar) > .chrome {
  background-color: black;
}

/* URL bar */
.chrome .controls .urlbar {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 3rem);
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 1rem;
  background-color: rgba(51,51,51,0.5);
  border-radius: 2rem;
  margin: 0.7rem 0 0.7rem 0.45rem;
  color: white;
}

.chrome .controls .urlbar .title {
  width: calc(100% - 3rem);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
  font-size: 2rem;
  float: none;
}

.controls .forward-button:not([data-disabled]) + .urlbar {
  width: calc(100% - 6rem);
}

.controls .back-button:not([data-disabled]) + .forward-button[data-disabled] + .urlbar {
  width: calc(100% - 6rem);
}

.controls .back-button:not([data-disabled]) + .forward-button:not([data-disabled]) + .urlbar {
  width: calc(100% - 9rem);
}

.controls .urlbar {
  transform: scaleX(0.48);
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
}

.maximized .controls .urlbar {
  transform: scaleX(1);
}

.chrome:not(.maximized):not(.manifest) .back-button:not([data-disabled]) + .forward-button[data-disabled] + .urlbar,
.chrome:not(.maximized):not(.manifest) .forward-button:not([data-disabled]) + .urlbar {
  transform: scaleX(0.48) translateX(-6rem);
}

.chrome:not(.maximized):not(.manifest) .back-button:not([data-disabled]) + .forward-button:not([data-disabled]) + .urlbar {
  transform: scaleX(0.48) translateX(-12.4rem);
}


/* Buttons */
.controls button  {
  -moz-appearance: none;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 3rem;
  width: 3rem;
  height: 5rem;
  line-height: 5rem;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  opacity: 1;
}

.controls .reload-button,
.controls .stop-button {
  background-size: 2rem auto;
  background-position: left center;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 3.5rem;
}

.loading .controls .reload-button {
  visibility: hidden;
  pointer-events: none;
}

.controls .stop-button {
  visibility: hidden;
  pointer-events: none;
}

.loading .controls .stop-button {
  visibility: visible;
  pointer-events: auto;
}

.controls .back-button[data-disabled],
.controls .forward-button[data-disabled] {
  display: none;
}

.appWindow:not(.bar) > .chrome button {
  opacity: 0;
  transition: opacity 0.15s ease-in;
}

.appWindow:not(.bar) > .chrome.maximized button {
  opacity: 1;
}


/* Buttons Images */
.controls .back-button {
  background-image: url("images/back.png");
}

.controls .forward-button {
  background-image: url("images/forward.png");
}

.controls .reload-button {
  background-image: url("images/reload.png");
}

.controls .stop-button {
  background-image: url("images/stop.png");
}


/* Progress */
.appWindow:not(.bar).navigation > .chrome .progress {
  top: 7.4rem;
}

/* App specifics */
.chrome.manifest .controls button {
  display: none;
}

.chrome.manifest .controls .forward-button:not([data-disabled]) + .urlbar,
.chrome.manifest .controls .back-button:not([data-disabled]) + .forward-button[data-disabled] + .urlbar,
.chrome.manifest .controls .back-button:not([data-disabled]) + .forward-button:not([data-disabled]) + .urlbar,
.chrome.manifest .controls .urlbar {
  width: calc(100% - 3rem);
}

.chrome.manifest .controls .urlbar .title {
  width: calc(100%);
}

