/* -----------------------------------------------------------------
  HEADER SKIN: dark
  .skin-dark will override default values
----------------------------------------------------------------- */

section[role="region"].skin-dark > header:first-child,
.skin-dark > section[role="region"] > header:first-child {
  background-color: #242d33;
}

.skin-dark section[role="region"] > header:first-child a,
.skin-dark section[role="region"] > header:first-child button,
section[role="region"].skin-dark > header:first-child a,
section[role="region"].skin-dark > header:first-child button,
gaia-header[data-skin="dark"] a,
gaia-header[data-skin="dark"] button {
  color: #00aac5;
}

.skin-dark section[role="region"] > header:first-child a:active:after,
.skin-dark section[role="region"] > header:first-child button:active:after,
.skin-dark section[role="region"] > header:first-child a:hover:after,
.skin-dark section[role="region"] > header:first-child button:hover:after,
section[role="region"].skin-dark > header:first-child a:active:after,
section[role="region"].skin-dark > header:first-child button:active:after,
section[role="region"].skin-dark > header:first-child a:hover:after,
section[role="region"].skin-dark > header:first-child button:hover:after,
gaia-header[data-skin="dark"] a:hover:after,
gaia-header[data-skin="dark"] button:hover:after {
  background-color: rgba(0,0,0,0.4);
}

section[role="region"].skin-dark header h2,
.skin-dark > section[role="region"] header h2 {
  background-color: #2c353b;
  color: #fff;
  border: none;
}
