/* -----------------------------------------------------------------
  HEADER SKIN: default
  Default values in case we are not overriding them using
  class="skin-*"
----------------------------------------------------------------- */

section[role="region"] > header:first-child {
  color: #fff;
  background-color: #f97c17;
}

section[role="region"] > header:first-child h1,
gaia-header h1 {
  color: #fff;
}

section[role="region"] > header:first-child a,
section[role="region"] > header:first-child button,
gaia-header a,
gaia-header button {
  color: rgba(0,0,0,0.6);
}

section[role="region"] > header:first-child a:active:after,
section[role="region"] > header:first-child button:active:after,
section[role="region"] > header:first-child a:hover:after,
section[role="region"] > header:first-child button:hover:after,
gaia-header a:active:after,
gaia-header button:active:after,
gaia-header a:hover:after,
gaia-header button:hover:after {
  background-color: rgba(0,0,0,0.07);
}

/* ----------------------------------
  Icons
---------------------------------- */

section[role="region"] > header:first-child .icon.icon-add,
gaia-header [data-icon="add"]:before {
  background-image: url(images/icons/add.png);
}

section[role="region"] > header:first-child .icon.icon-compose,
gaia-header [data-icon="compose"]:before {
  background-image: url(images/icons/compose.png);
}

section[role="region"] > header:first-child .icon.icon-edit,
gaia-header [data-icon="edit"]:before {
  background-image: url(images/icons/edit.png);
}

section[role="region"] > header:first-child .icon.icon-send,
gaia-header [data-icon="send"]:before {
  background-image: url(images/icons/send.png);
}

section[role="region"] > header:first-child .icon.icon-close,
gaia-header [data-icon="close"]:before {
  background-image: url(images/icons/close.svg);
}

section[role="region"] > header:first-child .icon.icon-back,
gaia-header [data-icon="back"]:before {
  background-image: url(images/icons/back.svg);
}

section[role="region"] > header:first-child .icon.icon-menu,
gaia-header [data-icon="menu"]:before {
  background-image: url(images/icons/menu.svg);
}

section[role="region"] > header:first-child .icon.icon-user,
gaia-header [data-icon="user"]:before {
  background-image: url(images/icons/user.png);
}

section[role="region"] > header:first-child .icon.icon-up,
gaia-header [data-icon="up"]:before {
  background-image: url(images/icons/up.png);
}

section[role="region"] > header:first-child .icon.icon-down,
gaia-header [data-icon="down"]:before {
  background-image: url(images/icons/down.png);
}

section[role="region"] > header:first-child .icon.icon-options,
gaia-header [data-icon="options"]:before {
  background-image: url(images/icons/options.png);
}

/* ----------------------------------
  Subheader
---------------------------------- */

section[role="region"] header h2 {
  color: #424242;
  border-bottom: solid 0.1rem #e6e6e6;
}
