html {
  font-size: 10px;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

.scrollable {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

gaia-grid {
  display: block;
  height: 100%;
  width: 100%;
}

body[data-cols="4"] .icon .title {
  /* Font size is the same independent on grid configuration */
  font-size: calc(1.4rem * 1.333);
}

.edit-mode #edit-mode-curtain {
  background: #000;
  opacity: 0.05;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
}

#confirmation-message {
  z-index: 10;
}

#contextmenu-dialog {
  display: none;
}
