gaia-subheader[hidden] {
  display: none;
}

/**
 * Gaia Subheader
 *
 * Dividing header usually found
 * heading and separating lists.
 */

gaia-subheader {
  display: block;
  padding: 0.2rem 0.8rem;
  border-bottom: solid 0.1rem #e6e6e6;
  color: #424242;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: start;
}

/**
 * [data-skin="organic"]
 */

gaia-subheader[skin="organic"] {
  border: 0;
  background-color: #999999;
  color: #ffffff;
}

/**
 * [data-skin="dark"]
 */

gaia-subheader[skin="dark"] {
  border: 0;
  background-color: #2c353b;
  color: #fff;
}
