/**
 * CONTACTS.CSS
 * Specific styles for the contacts app
 *
 * APP NAMESPACE:
 * 	.app-contacts
 * 		.appcnts- { ... }
 *
 * 	VIEWS:
 * 		.view-contacts-list
 * 		.view-edit-contact
 * 		.view-contact-profile
 * 		.view-select-tag
 * ------------------------------------------------------*/

/* Profile head */
.appcnts-profile-head { margin: -1.4rem -2rem 1rem; }

/* Profile section */
.appcnts-profile-section h1 { font: 1.4rem/1.5em System Sans Semibold, Sans-serif; border-bottom: solid 1px #dbd9d9; margin-bottom: 1rem; }
.appcnts-profile-section li .itm-body-exp { padding-bottom: 1rem; }
	.appcnts-profile-section h2 { text-transform: uppercase; font-size: 1.4rem; }

.blck-item > * {
  pointer-events: none;
}