#evme-search .helper {
    position: absolute;
    top: 5rem;
    left: 9%;
    right: 0;
    height: 3.7rem;
    overflow: hidden;
    z-index: 600;
    text-align: left;
    font-size: 1.4rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 200ms linear;
}
.evme-hide-os.evme-keyboard-visible:not(.evme-loading-app) #evme-search .helper,
body:not(.evme-loading-app) #evme-search.didyoumean .helper {
    opacity: 1;
    pointer-events: inherit;
}

.evme-loading-app #evme-search .helper {
    opacity: 0;
    pointer-events: none;
}

#evme-search .helper .inner {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 4.5rem;
}
    #evme-search .helper ul {
        list-style-type: none;
        color: #aae8ff;
        font-weight: 400;
        white-space: nowrap;
    }
    #evme-search .helper li {
        position: relative;
        display: inline-block;
        padding: 1rem 1rem 1rem 1rem;
    }
    #evme-search .helper li:first-child {
        padding-left: 0;
    }
    #evme-search .helper li:last-child {
        padding-right: 5rem;
    }
        #evme-search .helper li:after {
            content: "";
            position: absolute;
            top: 1.7rem;
            left: -0.3rem;
            width: 0.4rem;
            height: 0.4rem;
            background: #aae8ff;
            border-radius: 0.2rem;
        }
        #evme-search .helper li:nth-child(1):after,
        #evme-search .helper li.label:after {
            display: none;
        }
        #evme-search .helper li.label + li:after {
            display: none;
        }
        #evme-search .helper li.label {
            color: #fff;
            padding-right: 0;
            padding-left: 0;
        }
        #evme-search .helper li.link {
            font-weight: 600;
        }