html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

a.button {
  background-image: -moz-linear-gradient(#666, #333);
  border: 1px outset #555;
  border-radius: 7px;
  -moz-border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
  display: inline-block;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  margin: 3px 0px 3px 10px;
  padding: 8px;
  z-index: 1;
}

a.button:active {
  background-image: -moz-linear-gradient(#555, #222);
  border: 1px inset #000;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 1);
  padding: 9px 8px 7px;
}

a.button.hide {
  display: none;
  -moz-animation-duration: 250ms;
  -moz-animation-name: animateButtonHide;
}
@-moz-keyframes animateButtonHide {
  from {
    opacity: 1;
    display: inline-block;
  }
  to {
    opacity: 0;
    display: none;
  }
}

a.button.show {
  display: inline-block;
  -moz-animation-duration: 250ms;
  -moz-animation-name: animateButtonShow;
}
@-moz-keyframes animateButtonShow {
  from {
    opacity: 0;
    display: none;
  }
  to {
    opacity: 1;
    display: inline-block;
  }
}

a.toggleSwitch {
  display: inline-block;
  border: 1px solid #555;
  border-radius: 16px;
  -moz-border-radius: 16px;
  font-size: 18px;
  width: 80px;
  height: 32px;
  overflow: hidden;
  white-space: nowrap;
}

a.toggleSwitch > span.on {
  background-image: -moz-linear-gradient(#090, #0c0);
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 1);
  border-top-left-radius: 12px;
  -moz-border-radius-topleft: 12px;
  border-bottom-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
  display: inline-block;
  position: relative;
  line-height: 32px;
  width: 44px;
  height: 32px;
  margin: 0 -20px 0 -48px;
  padding: 0 8px 0 16px;
  z-index: 1;
}

a.toggleSwitch > span.lever {
  background-image: -moz-linear-gradient(#aaa, #fff);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 1);
  border-radius: 16px;
  -moz-border-radius: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  line-height: 32px;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  z-index: 2;
}

a.toggleSwitch > span.off {
  background-image: -moz-linear-gradient(#900, #c00);
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 1);
  border-top-right-radius: 12px;
  -moz-border-radius-topright: 12px;
  border-bottom-right-radius: 12px;
  -moz-border-radius-bottomright: 12px;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
  display: inline-block;
  position: relative;
  line-height: 32px;
  width: 44px;
  height: 32px;
  margin-left: -20px;
  padding: 0 16px 0 8px;
  z-index: 1;
  text-align: right;
}

a.toggleSwitch.off > span.on {
  margin-left: -48px;
  -moz-animation-duration: 250ms;
  -moz-animation-name: animateToggleSwitchOff;
}
@-moz-keyframes animateToggleSwitchOff {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -48px;
  }
}

a.toggleSwitch.on > span.on {
  margin-left: 0px;
  -moz-animation-duration: 250ms;
  -moz-animation-name: animateToggleSwitchOn;
}
@-moz-keyframes animateToggleSwitchOn {
  from {
    margin-left: -48px;
  }
  to {
    margin-left: 0;
  }
}

div.navigationBar {
  background-image: -moz-linear-gradient(#444, #111);
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  z-index: 9999;
  user-select: none;
  -moz-user-select: -moz-none;
}

div.navigationBar > .left {
  float: left;
}

div.navigationBar > .right {
  float: right;
}

div.navigationBar > a.button {
  margin: 3px;
}

div.navigationBar > h1 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
  position: absolute;
  width: 100%;
  z-index: -1;
}

div.view {
  display: none;
  position: absolute;
  width: 100%;
  height: -moz-calc(100% - 44px);
  margin-top: 44px;
  user-select: none;
  -moz-user-select: -moz-none;
  overflow-x: hidden;
  overflow-y: auto;
}

div.view.active {
  display: block;
}

div.view.push {
    left: -100%;
    -moz-animation-duration: 400ms;
    -moz-animation-name: animateViewPush;
}
@-moz-keyframes animateViewPush {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

div.view.pop {
    left: 0;
    -moz-animation-duration: 400ms;
    -moz-animation-name: animateViewPop;
}
@-moz-keyframes animateViewPop {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

div.view.pushTop {
    left: 0;
    -moz-animation-duration: 400ms;
    -moz-animation-name: animateViewPushTop;
}
@-moz-keyframes animateViewPushTop {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

div.view.popTop {
    left: 100%;
    -moz-animation-duration: 400ms;
    -moz-animation-name: animateViewPopTop;
}
@-moz-keyframes animateViewPopTop {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

h1 {
  color: #666;
  font-size: 20px;
  margin: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}

span.badge, ul.tableView > li span.badge {
  background-color: #888;
  border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 2px 4px;
  margin: 10px;
}

ul.tableView {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  list-style: none;
  margin: 10px;
  padding: 0;
  border-radius: 11px;
  -moz-border-radius: 11px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.6);
}

ul.tableView > li {
  border-bottom: 1px solid #ccc;
  min-height: 46px;
  position: relative;
}

ul.tableView > li:last-child {
  border-bottom: 0;
}

ul.tableView > li > a.drillDownCell, ul.tableView > li > a.selectionCell {
  color: #000;
  display: block;
  padding: 12px;
  text-decoration: none;
}

ul.tableView > li > a.toggleSwitch {
  float: right;
  margin: 5px 10px 0 0;
}

ul.tableView > li h1 {
  display: inline-block;
  vertical-align: middle;
}

ul.tableView > li img {
  margin: 10px;
  vertical-align: middle;
  max-width: 64px;
  max-height: 64px;
}

ul.tableView > li span {
  display: inline-block;
  padding: 12px;
  vertical-align: middle;
}

ul.tableView > li span.arrowRight {
  border-color: transparent transparent transparent #888;
  border-style: solid;
  border-width: 8px;
  width: 0;
  height: 0;
  margin-top: -4px;
  padding: 0;
  position: absolute;
  right: 4px;
  top: 50%;
}
