#lockscreen-panel-passcode {
  /* > camera, unlock icons > canvas */
  z-index: 32;
}

#lockscreen-passcode-code {
  position: absolute;
  bottom: 4.2rem;
  height: auto;
  width: 95%;
  margin-bottom: 1rem;
  padding-left: 0.1rem;
}

#lockscreen-passcode-code > span {
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 4.7rem;
  margin-top: 1.3rem;
  margin-left: 1rem;
  height: 2.9rem;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.2rem;
  position: relative;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #000;
}

#lockscreen-passcode-code.error > span {
  border: 0.2rem #ff2d2d solid;
}

#lockscreen-passcode-code.error > span[data-dot]::before {
  background-color: #ff2d2d;
}

#lockscreen-passcode-code > span[data-dot]::before {
  content: '';
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #3e3b39;
  border-radius: 0.75rem;
  top: 70%;
  left: 62%;
  -moz-margin-start: -0.75rem;
  margin-top: -0.75rem;
}

#lockscreen-inputpad-frame .lockscreen-panel {
  position: absolute;
  width: 100%;
  top: 73%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* while other components on LockScreen should be touchable,
   * this one would capture the event. */
  pointer-events: auto;
}

#lockscreen-pincode-error-message {
  position: absolute;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 0 1rem;
  bottom: 3rem;
  font-size: 1.5rem;
  color: #ff2d2d;
}
p.error ~ p#lockscreen-pincode-error-message {
  display: block;
}
.current-passcode-border {
  border: 0.2rem solid #00caf2;
}
