/* ----------------------------------
 * Tabs
 * ---------------------------------- */

/**
 * Note: assuming a 4rem tab height everywhere
 */

[role="tablist"] {
  display: -moz-flex;
  -moz-flex-direction: row;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Sans-serif;
}

[role="tablist"] > [role="tab"] {
  -moz-flex: 1;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

[role="tablist"] > [role="tab"] > a {
  position: relative;
  float: left;
  width: 100%;
  color: #fff;
  font-size: 1.3rem;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  background: #000 no-repeat center top;
}

[role="tablist"] > [role="tab"] > a:active {
  background-color: #008aaa;
}

[role="tablist"] > [role="tab"] > a.icon {
  font-size: 0;
}

[role="tablist"] > [role="tab"] > a.icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: no-repeat 50% 0;
  left: 0;
  z-index: 5;
}

/* XXX application-specific icons: these rules should not be part of this building block */
[role="tablist"] > [role="tab"] > a.icon-comms {
  background-image: url(tabs/images/icons/comms.png);
}

[role="tablist"] > [role="tab"] > a.icon-contacts {
  background-image: url(tabs/images/icons/contacts.png);
}

[role="tablist"] > [role="tab"] > a.icon-dialer {
  background-image: url(tabs/images/icons/dialer.png);
}

/* selected state */
[role="tablist"] > [role="tab"]:target > a.icon {
  background-position: center bottom;
}

/* disabled state */
[role="tablist"] > [role="tab"][aria-disabled="true"] > a {
  background: #000;
  color: #999;
}

/* tab panels */
[role="tablist"] [role="tabpanel"] {
  position: absolute;
  top: 4rem;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: calc(100% - 4rem);
  z-index: 10;
  display: block;
  overflow: auto;
}

[role="tablist"] :target [role="tabpanel"] {
  z-index: 1;
  visibility: visible;
}

/* bottom position */
[role="tablist"].bottom > [role="tab"] {
  margin-top: calc(100% - 4rem);
}

[role="tablist"].bottom [role="tabpanel"] {
  top: 0;
}

