smart-banner#notification-container {
  position: absolute;
  right: 5rem;
  bottom: 6rem;

  font-size: 2.8rem;
}

smart-banner#notification-container.hidden {
  display: none;
}

.notification-message, .notification-button-group {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 7rem;
  vertical-align: top;
}

.notification-title, .notification-body {
  line-height: 7rem;
  height: 7rem;
  display: block;
  text-overflow: ellipsis;
  max-width: 40rem;
  overflow: hidden;
}

.notification-title {
  font-weight: bold;
  font-style: normal;
}

.notification-body {
  font-weight: 300;
  font-style: italic;
}

.notification-button-group {
  margin-left: 4.4rem;
  padding-left: 5.2rem;
  border-left: solid 1px #5f6368;
  font-style: italic;
}

.notification-button-group.hidden {
  display: none;
}

.notification-button-group > smart-button[type="simple-text"],
.notification-button-group > smart-button[type="simple-text"] > * {
  padding-left: 0;
  padding-right: 0;
  height: 7rem;
  width: auto;
  line-height: 7rem;
  vertical-align: top;
}

.notification-button-group > smart-button[type="simple-text"]:not(:first-child) {
  padding-left: 2.4rem;
}

.notification-button-group > smart-button[type="simple-text"].hidden {
  display: none;
}

smart-banner#notification-container.has-title .notification-title,
smart-banner#notification-container.has-title .notification-body {
  line-height: 3.5rem;
  height: 3.5rem;
}
