gaia-grid {
  display: block;
  height: 100%;
  width: 100%;
}

#bgimage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#header {
  height: 5rem;
  background: #ccc;
  font-size: 2rem;
}
#name {
  font-weight: bold;
}
#close {
  float: right;
  color: white;
}

#content {
  position: relative;
}
