#TextSelectionDialogRoot {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

#TextSelectionDialogRoot > .textselection-dialog {
  display: none;
  height: 5.2rem;
  width: auto;
  position: absolute;
  background-color: #696b6e;
  box-shadow: 0.2rem 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.2rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#TextSelectionDialogRoot > .textselection-dialog.visible {
  opacity: 1;
}

#TextSelectionDialogRoot > .textselection-dialog.active {
  display: block;
}

#TextSelectionDialogRoot > .textselection-dialog div {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  height: 5.2rem;
  width: 5.2rem;
  display: inline-block;
}

#TextSelectionDialogRoot > .textselection-dialog div.hidden {
  display: none;
}

#TextSelectionDialogRoot > .textselection-dialog div:active {
  background-color: #4e595c;
  border-radius: 0.2rem;
}

#TextSelectionDialogRoot > .textselection-dialog div:after {
  content: '';
  background-color: #596466;
  width: 0.1rem;
  height: 4.4rem;
  margin-top: 0.4rem;
  display: none;
}

#TextSelectionDialogRoot > .textselection-dialog > div:not(.last-option):after {
  display: block;
}

#TextSelectionDialogRoot > .textselection-dialog div:active:after,
#TextSelectionDialogRoot > .textselection-dialog div:active + div:after{
  display: none;
}

#TextSelectionDialogRoot .textselection-dialog-copy {
  background-image: url('images/textselection_copy.png');
}

#TextSelectionDialogRoot .textselection-dialog-cut {
  background-image: url('images/textselection_cut.png');
}

#TextSelectionDialogRoot .textselection-dialog-paste {
  background-image: url('images/textselection_paste.png');
}

#TextSelectionDialogRoot .textselection-dialog-selectall{
  background-image: url('images/textselection_select_all.png');
}
