<!DOCTYPE html>
<html class="theme-media">
<head>
  <meta charset="utf-8">
  <title>Artists</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <link rel="stylesheet" href="/components/gaia-fonts/style.css">
  <link rel="stylesheet" href="/components/gaia-icons/gaia-icons-embedded.css">
  <link rel="stylesheet" href="/components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" href="/css/view.css">

  <script src="/components/dom-scheduler/lib/dom-scheduler.js"></script>
  <script src="/components/gaia-component/gaia-component.js"></script>
  <script src="/components/fast-list/fast-list.js"></script>
  <script src="/components/fast-list/gaia-fast-list.js"></script>
  <script src="/components/bridge/client.js"></script>
  <script src="/elements/music-search.js"></script>
</head>
<body role="application">
  <music-search id="search"></music-search>
  <gaia-fast-list id="list"></gaia-fast-list>

  <script src="/js/view.js"></script>
  <script src="view.js"></script>
</body>
</html>
