#card-picker {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: black;
  color: white;
}

#card-picker .title {
  top: 5.5rem;
  left: 3rem;
  position: absolute;
}

#card-picker .title h1 {
  font-weight: 100;
  font-style: italic;
  font-size: 5.5rem;
  font-weight: 200;
  margin: 0;
}

#card-picker[mode='add'] #card-picker-title-edit {
  display: none;
}

#card-picker[mode='update'] #card-picker-title-create {
  display: none;
}

.card-picker-prompt {
  text-align: center;
  font-weight: 100;
  font-style: italic;
  font-size: 3.8rem;
  width: 100%;
  top: 16.2%;
  position: absolute;
}

.card-picker-prompt > span > span {
  font-size: 5.2rem;
  font-weight: 500;
}

#card-picker-grid-view {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 27.28%;
  padding: 0 12rem 0 12rem;
  overflow: hidden;
  scroll-behavior: smooth;
}

#card-picker-grid-view > div {
  position: relative;
  width: 24rem;
  height: 31.5rem;
  float: left;
}

#card-picker.hidden {
  display: none;
}

.card-picker-card {
  width: 5rem;
  height: 5rem;
}

#card-picker smart-button[type="app-button"] {
  width: 19.2rem;
  height: 19.2rem;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 7rem 2.5rem 3.5rem 2.5rem;
  background-size: 100% auto;
}

#card-picker smart-button[type="app-button"] ~ .name {
  width: 24.2rem;
  height: 1.8rem;
  font-size: 1.8rem;
  line-height: 1.8rem;
  bottom: 0;
  transform-origin: 50% -2.5rem;
}

#card-picker-grid-view:after {
  /* Create some space on bottom such that scrolling the last row to center of
     grid view becomes possible */
  content: ' ';
  display: block;
  width: 30rem;
  height: 30rem;
}

/* Currently the :after tag is not used as text label (a span child element is
   used instead) so we use this for the "checked" style instead. */
#card-picker smart-button[type="app-button"]:after {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;

  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('images/tick_s.png');
  background-size: 9rem 9rem;
  background-position: center;
  background-repeat: no-repeat;

  transition: opacity 0.1s linear;
}

#card-picker smart-button[type="app-button"].selected:after {
  opacity: 1;
}

#card-picker smart-button[type="app-button"].tv-channel {
  background-color: #272727;
}

#card-picker smart-button[type="app-button"].tv-channel:before {
  color: white;
  line-height: 15.4rem;
}

#card-picker smart-button[type="app-button"].focused {
  transform: scale(1.2);
}

.card-picker-panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10.6rem;
  padding-top: 2.6rem;
  background: RGBA(0, 0, 0, 0.9);
  text-align: center;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease;
}

.card-picker-panel.hidden {
  opacity: 0;
  visibility: hidden;
}

.card-picker-panel smart-button.hidden {
  display: none;
}

.card-picker-panel smart-button.danger,
.card-picker-panel smart-button.danger.focused {
  background-color: #e63d2f;
  color: #ffffff;
}

.card-picker-panel smart-button.danger.pressed {
  background-color: #ac2e23;
}

#hide-cardpicker-button {
  min-width: 23.7rem;
}

#hide-cardpicker-button.danger > #done-label {
  display: none;
}

#hide-cardpicker-button:not(.danger) > #remove-this-folder-label {
  display: none;
}

#card-picker-input {
  font-size: 3.8rem;
  text-align: center;
  width: 40rem;
  height: 5rem;
  padding: 2.4rem 5rem 1rem;
  border: none;
  border-bottom: 0.2rem #fff solid;
  background: transparent;
  color: #fff;
  position: absolute;
  top: 3.6rem;
  right: 3rem;
}

#card-picker-input:focus {
  border-bottom: 0.4rem #00caf2 solid;
}
