#card-picker {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: RGBA(0, 0, 0, 0.8);
}

#card-picker-grid-view {
  width: 100%;
  height: 70%;
  position: relative;
  left: 0;
  top: 10%;
  overflow: scroll;
}

#card-picker-grid-view > div {
  position: relative;
  width: 24rem;
  height: 30rem;
  float: left;
}

#card-picker.hidden {
  display: none;
}

.card-picker-card {
  width: 5rem;
  height: 5rem;
}

#card-picker smart-button[type="app-button"] {
  width: 18rem;
  height: 18rem;
  background-color: transparent;
  background-repeat: no-repeat;
  margin: 4rem 3rem;
  background-size: 100% auto;
}

#card-picker smart-button[type="app-button"] ~ .name {
  width: 18rem;
  height: 5rem;
  font-size: 1.6rem;
  margin: 0 3rem;
  bottom: 0px;
}

#card-picker smart-button[type="app-button"].selected {
  outline: 0.6rem solid #0097b5;
}

#card-picker smart-button[type="app-button"].focused {
  transform: scale(1.2);
}

.card-picker-panel {
  top: 80%;
  position: absolute;
}

card-picker-grid-view