.left-top-panel {
  left: 6rem;
  top: 4rem;
  position: absolute;
}
#header-buttons > smart-button {
  margin-right: 1.8rem;
}
smart-button[type="text-and-icon"] {
  min-width: 15rem;
  text-align: center;
  box-sizing: border-box;
}