
.information-bar {
  position: absolute;
  right: 2.4rem;
  top: 3rem;
  color: #ffffff;
}

.weather-info {
  position: absolute;
  right: 0;
  top: 0;
  width: 25rem;
  height: 10rem;
}

.weather-image {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 10rem;
  height: 10rem;
  background-image: url(images/img_weather_mostly_cloudy.png);
  background-size: 10rem auto;
  background-repeat: no-repeat;
}

.temperature {
  display: inline-block;
  position: absolute;
  
  bottom: 3rem;
  left: 10rem; /* sit at the right of weather-image */
  height: 5.6rem;
  line-height: 5.6rem;
  
  font-size: 6rem;
  font-weight: 100;
}

.degree-marker {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: 100;
  position: relative;
  top: -2.4rem;
}

.weather-text {
  display: inline-block;
  position: absolute;
  
  bottom: 0;
  left: 10rem; /* sit at the right of weather-image */
  
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 300;
}

.clock-info {
  position: absolute;
  top: 0;
  /* right align to weather-info(25rem) + 1rem spacing */
  right: 26.2rem;
  width: 26rem;
  height: 10rem;

  border-right: solid 0.2rem #ffffff;
}

.time:before {
  content: attr(data-ampm);
  position: absolute;
  height: 1.8rem;
  line-height: 1.8rem;

  font-size: 1.8rem;
  bottom: 1.8rem;
  left: -2.8rem;
}

.time {
  position: absolute;
  top: 0;
  right: 1.2rem;
  height: 10rem;
  line-height: 10rem;

  display: inline-block;
  text-align: left;

  font-weight: 100;
  font-size: 10.6rem;

}
