.selection-border {
  /*
   * the following comment out because of our target device may not have the
   * patch of bug 480888.
   *    outline: solid 0.2rem yellow
   * The workaround of it is box-shadow: 0 0 0 0.2rem yellow.
   */
  position: absolute;
  box-shadow: 0 0 0 0.2rem yellow, 0 0 1rem 0.2rem yellow;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 100;
}

