
.panel-title {
  font-size: 30px;
  height: 3rem;
  margin: 0;
}

.layer-container {
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  overflow: hidden;
  transition: width 0.2s ease-in-out;
}

.menu-container {
  background-color: white;
  height: calc(100% - 6rem);
}

/* root panel */
.settings-group section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-left: solid 0.5rem orange;
}

.settings-items section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

/* state of different panels
 * note menu-items is also aware of active state
 */
/** main focus is on group list */
body[data-active='group'] .settings-group {
  width: 14rem;
  right: calc(100% * 2 / 3 + 2rem);
}

body[data-active='group'] .settings-items {
  width: calc(100% * 2 / 3 - 2rem);
  right: 2rem;
}

body[data-active='group'] .settings-detail {
  display: none;
}

/** main focus is on settings list */
body[data-active='list'] .settings-group {
  /* 4rem for icon, 0.5rem for border-left */
  width: 4.5rem;
  right: calc(100% * 2 / 3 + 2rem);
}

body[data-active='list'] .settings-items {
  width: calc(100% * 2 / 3 - 2rem);
  right: 2rem;
}

body[data-active='list'] .settings-detail {
  display: none;
}
