<element name="rpp-change-pass" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#rpp-main">
        <span class="icon icon-back">back</span>
      </a>
      <h1 data-l10n-id="rpp-panel">Remote Privacy Protection</h1>
    </header>
    <div>
      <ul>
        <li class="description">
          <p data-l10n-id="rpp-change-password-description">
            To reset your passphrase please enter Passcode lock or SIM PIN and new passphrase.
          </p>
        </li>
        <li>
          <form id="rpp-change-pass-form">
            <select class="pin-type"></select>
            <input class="pin" x-inputmode="digit" size="4" maxlength="4" type="password" placeholder="Enter SIM 1 Pin Code">
            <div class="pin-validation-message"></div>
            <input class="pass1" type="password" placeholder="New passphrase">
            <input class="pass2" type="password" placeholder="Confirm new passphrase">
            <div class="validation-message"></div>
            <input class="rpp-change-pass-ok btn" type="submit" value="Ok">
          </form>
        </li>
      </ul>
    </div>
  </template>
</element>