<html>
  <head></head><body><element name="rpp-change-pass" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#rpp-main">
        <span class="icon gaia-icon-back">back</span>
      </a>
      <h1 data-l10n-id="rpp-panel">Remote Privacy Protection</h1>
    </header>
    <div>
      <ul>
        <li>
          <p class="description" data-l10n-id="rpp-change-password-description">
            To reset your passphrase please enter Passcode lock or SIM PIN and new passphrase.
          </p>
        </li>
        <li>
          <form id="rpp-change-pass-form">
            <select class="pin-type"></select>
            <input class="pin" x-inputmode="digit" size="4" maxlength="4" placeholder="" type="password">
            <div class="pin-validation-message"></div>
            <input class="pass1" data-l10-id="new-passphrase" placeholder="New passphrase" type="password">
            <input class="pass2" data-l10-id="confirm-new-passphrase" placeholder="Confirm new passphrase" type="password">
            <div class="validation-message"></div>
            <input class="rpp-change-pass-ok btn" value="OK" type="submit">
          </form>
        </li>
      </ul>
    </div>
  </template>
</element></body>
</html>
