<html>
  <head></head><body><element name="rpp-main" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-back">back</span>
      </a>
      <h1 data-l10n-id="rpp-panel">Remote Privacy Protection</h1>
    </header>
    <div>
      <ul id="rpp-register" class="rpp-box">
        <li>
          <p class="description" data-l10n-id="rpp-new-password-description">
            Please set a passphrase to secure your remote features (maximum 100 characters).
          </p>
          <form id="rpp-register-form">
            <input class="pass1" data-l10-id="new-passphrase" placeholder="New passphrase" type="password">
            <input class="pass2" data-l10-id="confirm-new-passphrase" placeholder="Confirm new passphrase" type="password">
            <div class="validation-message"></div>
            <input class="rpp-register-ok btn" value="OK" type="submit">
          </form>
        </li>
      </ul>
      <ul id="rpp-login" class="rpp-box">
        <li>
          <p class="description" data-l10n-id="rpp-login-description">
            Please enter your passphrase.
          </p>
        </li>
        <li>
          <form id="rpp-login-form">
            <input class="pass1" data-l10-id="passphrase" placeholder="Passphrase" type="password">
            <div class="validation-message"></div>
            <a class="change-password-link link-text pp-link" href="#rpp-change-pass">
              <span data-l10n-id="rpp-change-password">Forgot/Change your passphrase?</span>
            </a>
            <input class="rpp-login-ok btn" value="OK" type="submit">
          </form>
        </li>
      </ul>
    </div>
  </template>
</element></body>
</html>
