<html>
  <head></head><body><element name="rpp-passcode" extends="section">
  <template>
    <header>
      <a class="pp-link back" href="#rpp-screenlock">
        <span class="icon gaia-icon-back">back</span>
      </a>
      <menu type="toolbar">
        <button class="passcode-change" data-mode="new" data-l10n-id="change">Change</button>
        <button class="passcode-create" data-mode="create" data-l10n-id="create">Create</button>
      </menu>
      <h1 data-l10n-id="passcode-heading" data-mode="create">Passcode</h1>
      <h1 data-l10n-id="current-passcode" data-mode="edit">Current Passcode</h1>
      <h1 data-l10n-id="new-passcode" data-mode="new">New Passcode</h1>
      <h1 data-l10n-id="enter-passcode" data-mode="confirm,confirmLock">Enter Passcode</h1>
    </header>
    <div class="passcode-overlay">
      <input x-inputmode="digit" class="passcode-input" type="number">
      <div class="passcode-container">
        <div class="passcode" id="passcode-pseudo-input">
          <label data-l10n-id="create-a-passcode" data-mode="new,create">Create a Passcode</label>
          <label data-l10n-id="passcode" data-mode="confirm,confirmLock,edit">Passcode</label>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
        </div>
        <div class="passcode" data-mode="new,create" id="passcode-pseudo-confirm-input">
          <label data-l10n-id="confirm-passcode" data-mode="new,create">Confirm Passcode</label>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
          <span class="passcode-digit"></span>
        </div>
        <div class="passcode-error" data-l10n-id="incorrect-passcode" data-type="incorrect">Incorrect passcode!</div>
        <div class="passcode-error" data-l10n-id="passcode-doesnt-match" data-type="mismatch">Passcode doesn't match. Try again!</div>
      </div>
    </div>
  </template>
</element>
</body>
</html>
