html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#viewfinder {
  position: absolute;
}

@media (orientation: portrait) {
  #controls {
    left: 0;
    height: 45px;
  }
  #misc-button, #switch-button {
    height: 45px;
    width: 33%;
  }
  #misc-button {
    left: 0;
  }
  #capture-button {
    left: 33%;
    height: 100px;
    width: 33%;
    top: -28px;
  }
  #switch-button {
    left: 66%;
  }
}

@media (orientation: landscape) {
  #controls {
    top: 0;
    width: 45px;
  }
  #misc-button, #switch-button {
    height: 33%;
    width: 45px;
  }
  #misc-button {
    top:0;
  }
  #capture-button {
    top: 33%;
    height: 33%;
    width: 100px;
    left: -28px;
  }
  #switch-button {
    top: 66%;
  }
}

#controls {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}

#controls > * {
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
}

#misc-button {
  text-align: center;
}

#video-timer {
  position:relative;
  top:50%;
  margin-top:-0.5em;
}

#gallery-button {
  display: block;
  width: 100%;
  height: 100%;
  background: url(images/video.png) no-repeat center center;
}

#capture-button {
  background-color: #03a2b4;
  border-radius: 100px;
}

#video-timer {
  display: none;
  color: white;
  font-family: sans-serif;
}

/* Specific to when we are capturing video */
.capturing #video-timer {
  display: block;
}

.capturing #gallery-button {
  display: none;
}

.capturing #capture-button {
  background-color: #d3361c;
}

.video.capturing #capture-button {
  background-image: url(images/stop.png);
}

#switch-button[disabled=disabled] {
  opacity: 0.5;
}

/* Swap the camera and video icons depending on mode */
.video #switch-button {
  background-image: url(images/camera.png);
}

.camera #switch-button {
  background-image: url(images/video.png);
}

.camera #capture-button {
  background-image: url(images/camera.png);
}

.video #capture-button {
  background-image: url(images/video.png);
}