html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  background-color: grey;
}

#video-controls {
  position: absolute;
  bottom: 20px;
  right: 1mozmm;
}

#filter-controls {
  position: absolute;
  bottom: 20px;
  left: 1mozmm;
}

.button {
  border-radius: 6px;
  border: 2px solid rgba(5,5,5, 0.4);
  background-color: rgba(5,5,5,0.5);

  padding: 3mozmm 1mozmm;
  height: 7mozmm;
  line-height: 7mozmm;

  color: white;
  font-weight: bold;
}

.selected {
  background-color: rgba(150,130,5,0.5);
  color: black;
}

