
.focus-ring {
  position: absolute;
  top: 50%; left: 50%;
  width: 10rem;
  height: 10rem;
  margin-top: -7rem;
  margin-left: -5rem;
  pointer-events: none;
  opacity: 0;
}

.focus-ring[data-state=focused] {
  opacity: 1;
  background-image: url(images/Focus_Locked_Ring.svg);
}

.focus-ring[data-state=focusing] {
  opacity: 1;
  background-image: url(images/Focus_Locking_Ring.svg);
  animation: 1s ring-animation infinite steps(30);
}

.focus-ring[data-state=fail] {
  opacity: 1;
  background-image: url(images/Focus_LockFail_Ring.svg);
}

@keyframes ring-animation {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(45deg);
  }
}
