
.focusring{
  position: absolute;
  top: 50%; left: 50%;
  pointer-events: none;
  opacity: 0.8;
  margin-top: -5rem;
  margin-left: -5rem;
  font-size: 92px;
}

[data-mode=faceTracking] .focusring{
  margin-top: -0rem;
  margin-left: -0rem;
}

[data-mode=continuousFocus] .focusring{
  margin-top: -5rem;
  margin-left: -5rem;
}

.focusring[data-state=focusing]:before {
  display: block;
  color: white;
  animation: 2s ring-animation infinite steps(180);
  content: "\e616";
}

.focusring[data-state=focused]:before {
  display: block;
  color: #AFFF3D;
  content: "\e615";
}

.focusring[data-state=face]:before {
  display: block;
  color: yellow;
  content: "\e615";
}

.focusring[data-state=fail]:before {
  display: block;
  color: red;
  content: "\e615";
}

.focusring[data-state=none]:before {
  display: none;
}


@keyframes ring-animation {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(45deg)}
  100% { transform: rotate(0deg) }
}
