.focusring{
  position: absolute;
  top: 50%; left: 50%;
  pointer-events: none;
  opacity: 0.8;
  font-size: 92px;
  background: transparent;
  transform: translate(-50%, -50%);
}

.focus-ring[state=none] .focusring:before {
  opacity: 0;
}

.focus-ring[state=focusing] .focusring:before {
  display: block;
  color: white;
  animation: 0.35s ring-animation 1 ease-in forwards;
}

.focus-ring[state=focused] .focusring:before {
  color: #AFFF3D;
  content: "\e615";
}

.focus-ring[state=fail] .focusring:before {
  color: red;
  content: "\e615";
  transform-origin:center center;
}

.focus-ring[state=focused][mode=continuousFocus] .focusring,
.focus-ring[state=focused][mode=touchFocus] .focusring {
  font-size: 78px;
}

.focusring-yellow {
  position: absolute;
  top: 0px; left: 0px;
  pointer-events: none;
  opacity: 0.8;
  background: transparent;
  color: yellow;
}


.focus-ring[mode=faceTracking] .focusring {
  transform: translate(0px, 0px);
}

@keyframes ring-animation {
  0% { transform: rotate(0deg) scale(1); }
  50% { transform: rotate(60deg) scale(1.1); }
  100% { transform: rotate(45deg) scale(1); }
}
