
.toggle-camera[disabled=disabled],
.toggle-flash[disabled=disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.hud {
  position: absolute;
  top: 7rem;
  height: 7.5rem;
  left: 0;
  right: 0;
  z-index: 50;
  transition: 0.2s ease-in-out;
}

.filmstriphidden .hud {
  transform: translateY(-5rem);
}

.hud a {
  position: absolute;
  z-index: 50;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 3rem;
  background-color: rgba(0,0,0,.3);
  /* extend touchable zone */
  background-clip: padding-box;
  border: 2.25rem solid transparent;
}

.hud a:active {
  background-color: #00b9df;
  box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,.25) inset;
}

.toggle-camera {
  right: 2rem;
}

body.recording .toggle-camera {
  display: none;
}

.toggle-flash {
  left: 2rem;
}

.toggle-camera[data-mode=back] {
  background-image: url(images/toggle_front.png);
}

.toggle-camera[data-mode=front] {
  background-image: url(images/toggle_back.png);
}

.toggle-flash[data-mode=on] {
  background-image: url(images/flash_on.png);
}

.toggle-flash[data-mode=off] {
  background-image: url(images/flash_off.png);
}

.toggle-flash[data-mode=auto] {
  background-image: url(images/flash_auto.png);
}

.toggle-flash[data-mode=torch] {
  background-image: url(images/flash_on.png);
}
