
/**
 * 1. Vertically align indicators
 * 2. Prevent interaction conflict.
 */

.indicators {
  display: flex; /* 1 */
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
  height: 100%;
  padding: 1.5rem;
  flex-direction: column;
  justify-content: center; /* 1 */
  pointer-events: none; /* 2 */
}

.indicators.hidden {
  display: none;
}

/** Indicators
 ---------------------------------------------------------*/

.indicators li {
  display: none;
  height: 1.8rem;
  width: 1.8rem;
  font-size: 18px;
  margin-bottom: 1.2rem;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255,255,255,0.8);
  color: #008EAB;
}

/**
 * visible
 */

.indicators[hdr=on] .indicator_hdr,
.indicators[geolocation=on] .indicator_geolocation {
  display: block;
}

/**
 * hidden
 */

.indicators[recording=true] .indicator_hdr,
.indicators[recording=true] .indicator_timer,
.indicators[timer=off] .indicator_timer {
  display: none;
}

/** Indicator Timer
 ---------------------------------------------------------*/

.indicators .indicator_timer {
  display: block;
}

/** Indicator Battery
 ---------------------------------------------------------*/

.indicators .indicator_battery {
  width: 2.5rem;
  height: 0.9rem;
  font-size: 2.5rem;
  line-height: 0.9rem;
  margin-left: -0.3rem;
  color: #D92E2E;
  background: transparent;
}

/**
 * deg90,
 * deg270
 */

.deg90 .indicators .indicator_battery,
.deg270 .indicators .indicator_battery {
  margin-top: 0.9rem;
  margin-left: -0.4rem;
}

/**
 * battery-enabled=true
 */

.indicators[battery-enabled=true] .indicator_battery {
  display: block;
}

/**
 * battery=low,
 * battery=verylow,
 * battery=critical
 */

.indicators[battery='low'] .indicator_battery,
.indicators[battery='verylow'] .indicator_battery,
.indicators[battery='critical'] .indicator_battery {
  display: block;
}

/**
 * battery=low
 */

.indicators[battery='low'] .indicator_battery:before {
  content: "\e619";
}

/**
 * battery=verylow,
 * battery=critical
 */

.indicators[battery='verylow'] .indicator_battery:before,
.indicators[battery='critical'] .indicator_battery:before {
  content: "\e61a";
}

/**
 * battery=critical
 */

.indicators[battery='critical'] .indicator_battery {
  animation: 2s linear infinite indicator_battery-animation;
}

/** Battery Animation
 ---------------------------------------------------------*/

@keyframes indicator_battery-animation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
