.notification {
  color: #FFFFFF;
  z-index: 80;
  transition: 200ms ease-in-out;
}

.notification  .fullScreen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 80;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.95); 
  padding-left: 0.5rem;
  color: #F0F0F0;
  transition: 200ms ease-in-out;
  overflow: hidden;
}

.fullScreen .messageTitle {
  position: relative;
  top: 20%;
  text-align: left;
  border-bottom: 0.2rem solid #BFBFBF;
  font-size: 2.5rem;
  font-weight: bold;
}

.fullScreen .message {
  position: relative;
  top: 20%;
  font-size: 2rem;
}

.notification .normal {
  position: absolute;
  bottom:20%;
  left: 20%;
  z-index: 80;
  background-color: transparent;
  width: 60%;
  height: auto;
  text-align: center;
  font-size: 2rem;
}

.notification .imgBox {
  font-size: 60px;
  color: #D92E2E;
}

.deg90 .notification .normal {
  left: 50%;
  bottom: 45%;
  transform: rotate(270deg);
}

.deg270 .notification .normal {
  left: -5%;
  bottom: 45%;
  transform: rotate(90deg);
}
