.preview-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: #000;
  z-index: 100;
  overflow: hidden;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
  background-color: #333333;
}

.preview-gallery.offscreen {
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in-out;
}

/** Frame Container
 ---------------------------------------------------------*/

.frame-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  -moz-user-select: none;
}

.media-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
}

.media-frame > img {
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  -moz-user-select: none;
}

.media-frame > video {
  transform-origin: 0 0;
}

/** Preview Menu
 ---------------------------------------------------------*/

.preview-menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.preview-menu.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.preview-gallery[secure-mode=true] .preview-share-icon,
.preview-gallery[secure-mode=true] .preview-option-icon {
  display: none;
}

.count-text {
  position: absolute;
  bottom: 83px;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  text-shadow:
    1px 1px 2px rgba(0,0,0,0.4),
    0 0 29px rgba(0,0,0,0.2);
  color: #FFF;
}

/** Preview Controls
 ---------------------------------------------------------*/

.preview-controls {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 4.5rem;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.preview-option-icon,
.preview-back-icon,
.preview-share-icon {
  vertical-align: middle;
  font-size: 2.9rem;
  color: white;
}

.preview-back-icon {
  margin-left: -1rem;
}

section[role="region"].skin-dark > header:first-child,
.skin-dark > section[role="region"] > header:first-child {
   background-color: rgba(0,0,0,0.12);
}
