
.timer {
  position: absolute;
  top: 50%; left: 50%;
  z-index:50;
  height: 16rem;
  width: 16rem;
  margin: -8rem;
  border-radius: 50%;
  color: #FFF;
  text-align: center;
  line-height: 16rem;
  opacity: 0;
  overflow: hidden;
  transform: scale(1.5) translateZ(1px);
  transition: none;
  pointer-events: none;
}

/**
 * visible
 */

.timer.visible {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 400ms,
    transform 300ms;
}

/** Black Circle
 ---------------------------------------------------------*/

.timer_circle-1 {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.12;
  transition: opacity 180ms;
}

/**
 * immanent
 */

.timer.immanent .timer_circle-1 {
  opacity: 0;
}

/** Red Circle
 ---------------------------------------------------------*/

.timer_circle-2 {
  position: absolute;
  left: 0; top: 0;
  width: 100%;
  height: 100%;
  background: rgb(245,50,50);
  opacity: 0;
}

/**
 * immanent
 */

.timer.immanent .timer_circle-2 {
  animation: timer_circle-2 3s linear 1;
}

@keyframes timer_circle-2 {
  0% { opacity: 0; }
  6% { opacity: 0.12; }
  100% { opacity: 0.7; }
}

/** Count
 ---------------------------------------------------------*/

.timer_count {
  position: relative;
  font-size: 10.2rem;
  font-weight: 100;
  opacity: 1;
  transform: scale(1.6);
  transition: none;
}

/**
 * shrink
 */

.shrink .timer_count {
  transition: all 1s;
  opacity: 0;
  transform: scale(1);
}
