bower_components/l20n/dist/aisle/
bower_components/l20n/dist/gaia/
bower_components/l20n/dist/gaiabuild/
bower_components/l20n/dist/jsshell/
bower_components/l20n/dist/node/
bower_components/l20n/dist/tooling/
bower_components/l20n/dist/web/
bower_components/l20n/dist/webcompat/l20n.min.js
