#cost-control * {
  margin:0;
  padding:0;
}

#cost-control {
  height: 4.5rem;
  width: 50%;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)),
                url('./images/gray-noise.png');
  background-repeat: no-repeat, repeat;
}

#cost-control.alert {
  background: url('./images/BG-cost-red-tile.png');
  background-repeat: repeat-x;
}

#cost-control-credit-area {
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
  margin-right: 3.5rem;
}

#cost-control-credit-area div {
  display:inline-block;
}

#cost-control-credit-area div p {
  margin:none;
  padding:0;
}

#cost-control-credit {
  font-size:18px;
  font-weight:bold;
}

#cost-control-time {
  color: #888;
  font-size: 11px;
}

#cost-control-update-icon {
  display: inline-block;
  height: 4.5rem;
  width: 1rem;
  background: url('./images/ico-reload.png') center no-repeat;
  margin-left: 0.5rem;
  opacity: 0.2;
}

#cost-control-credit-area.updating #cost-control-update-icon {
  opacity:1.0;
  -moz-animation: cost-control-spin 1.75s infinite linear;
}

@-moz-keyframes cost-control-spin {
  0% { -moz-transform:rotate(0deg); }
  100% { -moz-transform:rotate(360deg); }
}

#cost-control-topup::-moz-focus-inner {
  border:0;
}

#cost-control-topup {
  float: right;
  width: 4.5rem;
  height:100%;
  margin:0;
  padding:0;
  border:none;
  background-color: transparent;
  background-image: url('./images/ico-plus.png');
  background-position: center;
  background-repeat:no-repeat;
}

.not-updated {
  color: green;
}

.updated {
  color: pink;
}

#cost-control-remaining-credit-text {
  margin-bottom: 0;
}

#cost-control-spent, #cost-control-currency {
/*  font-size: 32px;*/
}
