/* remove if we don't want to display anything
 * keeping it for now, just in case :)
body {
  background: #2D2D2D;
  color: white;
}

h1 {
  display: none;
}

p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
*/

html, body {
  background: transparent;
}

body {
  display: none;
}
