html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f6f6f6;
  overflow: hidden;
}

#main-container {
  height: -moz-calc(800px - 20px);
  overflow: hidden;
}

#search-container {
  padding: 4px;
  text-align: center;
  background-color: #f6f6f6;
}

#search {
  width: 98%;
  margin: 0px;
  -moz-appearance: none;
  border-radius: 24px;
  border: 1px solid #c0c0c0;
  height: 48px;
  line-height: 48px;
  padding-left: 6px;
}

#contacts {
  font-family: helvetica;
}

.contact-header {
  background-image: -moz-linear-gradient(top, #d6d6d6, #f6f6f6);
  border-bottom: 1px solid #c0c0c0;
  border-bottom: 1px solid #c0c0c0;
  padding: 4px;
  color: #404040;
  font-weight: bold;
  pointer-events: none;
}

.contact {
  padding: 4px;
  height: 56px;
  line-height: 28px;
  border-bottom: 1px solid #c0c0c0;
  font-size: 20px;
  background-image: url(missing.png);
  background-repeat: no-repeat;
  background-size: 64px 64px;
}

.contact * {
  pointer-events: none;
}

.displayName {
  display: block;
  margin-left: 72px;
  pointer-events: none;
}

.phoneNumber {
  display: block;
  margin-left: 72px;
  color: #404040;
  pointer-events: none;
}

#shortcuts {
  position: fixed;
  right: 10px;
  top: 60px;
  height: -moz-calc(100% - 80px);
  text-align: center;
}

#shortcuts > a {
  display: block;
  font-size: 10px;
  text-decoration: none;
  color: #909090;
  font-weight: bold;
  height: -moz-calc(100% / 27);
}

#shortcuts > a[name="search-container"] {
  width: 13px;
  height: 13px;
  margin-bottom: 10px;
  background-image: url(lens.png);
}

#shortcuts > a:not([name="search-container"])[data-disabled] {
  color: #d0d0d0;
}

