html, body {
  background-color: #f4f4f4;
  height: 100%;
}

body section {
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 10rem);
  padding: 0 1.5rem;
}

form p {
  width: 100%;
}

#collection-icon {
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin-bottom: 2.4rem;
}
