.cmp-addr-label, .cmp-subject-label {
  color: #888888;
  width: -moz-min-content;
  white-space: nowrap;
  text-align: left;
  line-height: 3.3rem;
}

.cmp-subject-label {
  line-height: 3.2rem;
}

.cmp-addr-label::after, .cmp-subject-label::after {
  content: ':';
}

.cmp-addr-container, .cmp-subject-text {
  flex:1;
  min-width: 0;
}

.cmp-bubble-container {
  width: calc(100% - 1rem);
  float: left;
  display: inline-flex;
  flex-wrap: wrap;
}

html:-moz-dir(rtl) .cmp-bubble-container {
  float: right;
}

/* Make sure these styles take precedence over the base msg-peep-bubble styles
   by using both class names */
.cmp-peep-bubble.msg-peep-bubble {
  margin: 0.3rem 0.6rem;
  border: 0;
  border-radius: 1.4rem;
  font-size: 1.6rem;
  font-style: italic;
  color: #2c2c2c;
  background-color: white;
  flex-shrink: 0;
  flex-grow: 0;
}

.cmp-peep-bubble.msg-peep-bubble:active {
  color: white;
  background-color: #00aacc;
}

.cmp-to-text-container {
  overflow: hidden;
}

/* Override base shared style that adds a focus highlight */
body cards-compose input[type="text"],
body cards-compose input[type="email"] {
  margin-bottom: 0;
  padding: 0;
}
body cards-compose input:invalid:focus,
body cards-compose input:focus {
  box-shadow: none;
  border-bottom: 0;
}

input.cmp-addr-text, input.cmp-subject-text {
  height: 3.3rem;
  -moz-margin-start: 0.5rem;
  font-size: 1.4rem;
  border: 0;
  background: none;
}

input.cmp-addr-text, input.cmp-dot-text {
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
}

input.cmp-subject-text {
  font-size: 1.6rem;
  text-overflow: ellipsis;
}

.cmp-contact-add {
  background: url("images/icons/actionicon_email_addrecipient.png") no-repeat center center / 3rem auto;
  width: 3rem;
  height: 3.3rem;
}

.cmp-envelope-line {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: calc(100% - 2.8rem);
  color: #575757;
  background-color: #f2f2f2;
  padding: 0.4rem 1.4rem;
  font-size: 1.4rem;
}

.cmp-envelope-line.cmp-subject {
  margin: 0 1.5rem;
  padding: 0.4rem 0;
  background-color: white;
  border-bottom: 0.1rem solid #dfdfdf;
}

.cmp-subject input {
  color: #2c2c2c;
}

.cmp-body-text {
  overflow-x: auto;
  overflow-y: hidden;
  max-height: none;
  display: block;
  padding: 1rem 1.5rem 0;
  font-family: inherit;
  /* be careful about specifying a line-height different than the font-size,
     as it may result in the text visuall shifting upwards when typing the
     first character on a blank/new line and then back down when deleted. */
  font-size: 1.6rem;
  font-weight: normal;
  color: #333333;
  border: none;
  box-shadow: none;
  background: #fff;
  outline: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}


/* Copy/paste select all could reach across the whole DOM so only scope the
selection to the center "active" card. Bug 1152172. */
.center .cmp-body-text {
  -moz-user-select: text;
}
/* This style allows newlines to be copied. This catches br tags and is
extensible to the future where other tags could be in the contenteditable
field. Bug 1127160. */
.center .cmp-body-text * {
  -moz-user-select: text;
}

.cmp-body-html {
  margin: 0 1.5rem;
}

/* Attachment */
/* Super specific style to override base styles */
section[role="region"] .cmp-attachment-btn .icon.icon-attachment {
  background: url("images/icons/actionicon_attachments.png") no-repeat scroll center / 3rem;
}

.cmp-attachment-total {
  margin: 0 1.5rem;
  padding: 0.6rem 0;
  border-top: 0.1rem solid #dfdfdf;
  color: #a6a6a6;
  background-color: white;
}

.cmp-attachment-label {
  line-height: 1.4rem;
  color: inherit;
}

.cmp-attachment-size {
  white-space: nowrap;
  text-align: left;
  line-height: 1.4rem;
  -moz-padding-start: 0.5rem;
}

.cmp-attachment-container {
  padding: 0;
  margin: 0 1.5rem;
  font-size: 1.2rem;
  border-bottom: 0.1rem solid #dfdfdf;
}

.cmp-attachment-container li:last-child {
  margin-bottom: 0.6rem;
}

.cmp-attachment-container li:only-child {
  margin-bottom: 0;
}

/* More specific selector to override shared styles */
.cmp-attachment-container .cmp-attachment-item {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 4rem;
  min-height: 4rem;
  border-bottom: none;
}

.cmp-attachment-icon {
  background: url("images/icons/icon_default.png") no-repeat center left / 3rem auto;
  width: 3.6rem;
  height: 4rem;
}

html:-moz-dir(rtl) .cmp-attachment-icon {
  background-position: center right;
}

.mime-image .cmp-attachment-icon {
  background-image: url("images/icons/icon_image.png");
}
.mime-audio .cmp-attachment-icon {
  background-image: url("images/icons/icon_music.png");
}
.mime-video .cmp-attachment-icon {
  background-image: url("images/icons/icon_video.png");
}

.cmp-attachment-fileinfo {
  flex-grow: 2;
  max-width: calc(100% - 6.4rem);
}

.cmp-attachment-filename,
.cmp-attachment-filesize {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: normal;
  color: #393d3e;
  text-align: left;
}

html:-moz-dir(rtl) .cmp-attachment-filename,
html:-moz-dir(rtl) .cmp-attachment-filesize {
  text-align: right;
}

.cmp-attachment-filesize {
  max-width: 6.5rem;
  color: #a6a6a6;
}

.cmp-attachment-remove {
  background: url("images/icons/actionicon_email_removeattachment.png") no-repeat scroll center / 2rem;
  width: 2rem;
  border: 0.4rem solid transparent;
  height: 100%;
}

.cmp-messages-sending p {
  text-align: center;
}

.cmp-error-message {
  background-color: black;
  color: #fff;
  padding: 0.8rem;
  font-size: 120%;
  text-align: center;
}
