.card-compose {
}

.cmp-addr-label, .cmp-subject-label {
  display: inline-block;
  width: 6rem;
  text-align: right;
}
.cmp-addr-text {
  width: 20rem;
}
.cmp-subject-text {
  width: 24rem;
}

.cmp-envelope-bar {
  border-bottom: 1px solid black;
}

.cmp-body-text {
  width: 100%;
  height: -moz-calc(100% - 11rem);
}
