.card-account-picker {
}

.fld-accounts-header {
}
.fld-accounts-header-label {
}

.fld-account-item, .fld-folder-item, .fld-folder-list-header {
  display: block;
  line-height: 2.5rem;
  padding: 0.6rem 2rem;
  border-bottom: 1px solid gray;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fld-account-selected {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.fld-account-name {
  font-size: 2rem;
}
.fld-account-problem {
  color: red;
  font-size: 200%;
  font-weight: bold;
  padding-left: 2rem;
}
.fld-account-unread {
  display: none;
}

.card-folder-picker {
  box-shadow: inset 0 0 1rem black;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.folder-scoller-region {
  background-color: white;
  background: url(images/pattern.png) repeat left top #3a4446;
  background-size: auto auto, 100% 100%;
  overflow: hidden;
}

.fld-accounts-container, .fld-folders-container {
  -moz-transition: transform .2s ease-in;
  overflow-y: auto;
}

.fld-folders-container {
  -moz-transform: translateX(100%);
  height: calc(100% - 4.8rem);
}

.fld-accounts-container {
  position: absolute;
  width: 100%;
  -moz-transform: translateX(-100%);
  height: calc(100% - 9.8rem);
}

.folder-scoller-region .show {
  -moz-transform: translateX(0px);
}

.fld-accounts-btn {
  font-size: 1.2rem;
}
.fld-folders-header-account-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fld-folder-item:last-child {
  border-bottom: none;
}
.fld-folder-item.fld-folder-selected {
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
.fld-folder-unselectable {
  color: #444;
  background-color: #eee;
}
.fld-account-item:active, .fld-folder-item:active, .fld-folder-list-header:active {
  border-color: #008aaa;
  background: #008aaa;
}
.fld-folder-name {
  font-size: 1.6rem;
}
.fld-folder-unread {
  display: none;
}

.fld-folder-depth0 {
}
.fld-folder-depth1 {
  padding-left: 3.5rem;
}
.fld-folder-depth2 {
  padding-left: 5rem;
}
.fld-folder-depth3 {
  padding-left: 6.5rem;
}
.fld-folder-depth4 {
  padding-left: 8rem;
}
.fld-folder-depth5 {
  padding-left: 9.5rem;
}
.fld-folder-depthmax {
  padding-left: 11rem;
}

.fld-nav-settings-btn {
  background: url("images/icons/settings.png") no-repeat scroll center transparent;
}

.fld-nav-last-synced {
  display: inline-block;
  position: absolute;
  right: 2rem;
}

.fld-nav-account-problem {
  display: inline-block;
  color: red;
  font-weight: bold;
  font-size: 200%;
  position: absolute;
  right: 0;
}
