

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: white;
  color: black;
  font: normal 14px/15px Arial, Helvetica, sans-serif;
}

.hidden {
	display: none;
}

a, a:hover {
	text-decoration: none;
	color: white;
	outline: none;
}

input, button, textarea {
	outline: none;
}

::-moz-focus-inner {
	border: 0;
}

.top {
	width: 100%;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	overflow: hidden;
	background: black;
	color: white;
	font-size: 16px;
	line-height: 18px;
	-moz-user-select: none;
}

.userbar {
	overflow: hidden;
}

.account {
	float: left;
	padding: 15px;
}

.folder {
	float: right;
	padding: 15px;
}

.main {
	height: -moz-calc(100% - 50px - 38px);
    overflow: hidden;
    background: black;
    -moz-user-select: none;
}
.message-page {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.message-summary-header {
	overflow: hidden;
	line-height: 19px;
	padding-bottom: 3px;
}
.message-summary {
	padding: 2% 10px;
	border-bottom: 1px dotted gray;
	cursor: default;
	pointer-events: none;
	height: 10%;
	min-height: 35px;
	overflow: hidden;
	-moz-box-sizing: border-box;
  -moz-user-select: none;
}

.message-summary-text {
	font-size: 13px;
	color: gray;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.message-summary-subject {
	margin: 0;
	font-size: 18px;
	overflow: hidden;
}
.message-summary-mail {
	float: right;
	text-align: right;
	font-size: 14px;
	padding-left: 5px;
}
.message-summary-subject, .message-summary-mail {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.message-page {
	background: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.messages {
	position: relative;
	width: 100%;
	height: 100%;
}
.actions {
	width: 100%;
	font-size: 14px;
	line-height: 18px;
}
.action {
	width: 50%;
	float: left;
	padding: 10px;
	color: white;
	background: black;
	-moz-box-sizing: border-box;
	text-align: center;
	border-left: 1px dotted white;
}

.action:first-child {
	border: none;
}

.action:active {
	background: gray;
	color: black;
}

.first-screen {
	background: gray;
	overflow: hidden;
	height: 100%;
	width: 100%;
}
.mail-screen {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.first-screen-header {
	font-size: 28px;
	line-height: 36px;
	text-align: center;
	text-shadow: 1px 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(255, 255, 255, 0.3);
	padding-top: 5px;
}

.login-form {
	width: 400px;
	margin: 0 auto;
	padding: 0 0 5px;
}

.login-fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

.login-fieldset ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.login-fieldset li {
	margin: 25px 0;
	

	
}

.login-fieldset input { 
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-size: 26px;
	line-height: 30px;
	font-weight: normal;
	padding: 10px;
	width: 100%;
	-moz-box-sizing: border-box;
}

input::after {
	position: relative;
	z-index: 1;
	content: 'x';
	width: 100%;
	height: 100%;
	display: block;
}

.login-field {
	-moz-box-sizing: border-box;
	background: white;
	border-radius: 4px;
	box-shadow: 0 0 0 1px gray, 0 0 0 2px black;
	border: 2px solid transparent;
	width: 100%;
	overflow: hidden;
}

.login-email-field {
	width: 100%;
}

.add-account-button {
	width: 100%;
}

button {
	padding: 12px 32px;
	font-size: 28px;
	line-height: 30px;
	border-radius: 4px;
	border: 0;
	background: -moz-linear-gradient(to bottom, #EEEEEE, #BBBBBB);
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 1px gray, 0 0 0 2px black;
}

button:active {
	background: -moz-linear-gradient(to bottom, #CCCCCC, #AAAAAA);
}

.login-header {
	//font-style: ;
	font-weight: normal;
	text-align: left;
}

.first-screen-footer {
	padding: 100px 0 0;
	text-align: center;
}

.select-exist-button {
	padding: 10px 30px;
	font-size: 28px;
	line-height: 30px;
	-moz-box-sizing: border-box;
}

.pre-select-mail {
	text-align: center;
	margin-top: 30px;
	-moz-transition: all 0.3s;
}

@media screen and (max-height: 740px) {
  .pre-select-mail {
  	margin-top: -10px;
  }
}

.pre-select-mail a {
	display: inline-block;
	margin: 0 30px;
	background: white;
	padding: 0 10px;
	border-radius: 4px;
	box-shadow: 0 0 0 1px gray, 0 0 0 2px black;
	border: 2px solid transparent;
}
/*.pre-mail-selected {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 26px;
	line-height: 30px;
	padding: 2px 10px 0 0;
	vertical-align: middle;
}*/
.pre-mail-selected * {
	vertical-align: middle;
}
.pre-mail-selected {
	margin: 0;
	text-align: left;
	width: 400px;
	margin: 0 auto;
	vertical-align: middle;
	height: 48px;
	overflow: hidden;
}

.pre-mail-selected * {
	vertical-align: middle;
}

.field {
	position: relative;
}

.field .clean-button {
	position: absolute;
	font-size: 32px;
	line-height: 34px;
	right: 10px;
	top: 50%;
	margin-top: -17px;
	display: none;
	cursor: pointer;
}

.field input:focus ~ .clean-button {
	//display: block;
}
