
.sup-form {
  text-align: center;
}

.sup-form-label {
  text-align: center;
  margin: 20px;
}
.sup-form-text {
  display: block;
  margin: 10px 30px;
  width: 260px;
}
.sup-form-btn {
  margin: 10px 60px;
  width: 200px;
}

.sup-services-container {
  text-align: center;
}
.sup-service-choice {
  margin: 10px 60px;
  width: 200px;
}
