
.sup-form {
  text-align: center;
}

.sup-form-label {
  text-align: center;
  margin: 2rem;
}
.sup-form-text {
  display: block;
  margin: 1rem 3rem;
  width: 26rem;
}
.sup-form-btn {
  margin: 1rem 6rem;
  width: 20rem;
}

.sup-services-container {
  text-align: center;
}
.sup-service-choice {
  margin: 1rem 6rem;
  width: 20rem;
}

.sup-progress-region {
  padding: 0.5rem;
}
.sup-progress-spinner {
  width: 2.9rem;
  height: 2.9rem;
  background: url("images/spinner.png") no-repeat scroll left top transparent;
  border: medium none;
  animation: 1s steps(10, end) 0s normal none infinite moveDefault;
  display: inline-block;
  vertical-align: middle;
}
.sup-progress-label {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

@keyframes moveDefault {
  from {
    background-position: 0 top;
  }

  to {
    background-position: -390px top;
  }
}

.tng-header-item {
  font-weight: bold;
  background-color: #eee;
}
.tng-header-item, .tng-item {
  display: block;
  width: 100%;
  border-bottom: 1px solid gray;
  padding: 0.6rem;
  margin: 0;
  font-size: 1.6rem;
}
.tng-inert-item {
  color: gray;
}

.tng-account-item-label {
  margin: 0;
}
.tng-account-add {
  font-style: italic;
}

li {
  width: 100%;
  height: 5.5rem;
  border: solid 1px #dbd9d9;
  border-right: none;
  border-left: none;
  margin: -1px 0 0;
}

.list-text {
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  line-height: 5.5rem;
  padding-left: 3rem;
  font-size: 1.8rem;
}

li .aside.end {
  position: relative;
  float: right;
  right: 0.5rem;
  line-height: 5.5rem;
}
