gaia-grid {
  position: relative;
  overflow: hidden;
  display: block;
}

.loading:before {
  /**
  XXX: Do something less terrible...

  -13% to align the icon above the text of the icon.
  */
  margin-top: -13%;
  content: "";
  z-index: 30000;
  background: no-repeat center url('images/loading_spinner.png');
  background-size: 6rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /**
  keyframe must be defined outside of the web component
  See bug 1018269
  */
  animation: rotate 2.25s linear infinite;
}

.icon {
  position: absolute;
  transform-origin: 0 0;
  display: inline-block;
  text-align: center;
  z-index: 3;
  left: 0;
  top: 0;
}

.icon .image {
  display: inline-block;
  pointer-events: none;
}

.icon.visible .image {
  transition: opacity 0.4s;
  transition-delay: 0.3s;
}

.icon p {
  pointer-events: none;
  height: 3.2rem;
  width: 100%;
  margin: 0;
  padding: 0;
}

.icon .title {
  display: inline-block;
  /* Space between icon and title .1rem + .2rem = .3rem as spec says */
  margin-top: .1rem;
  /* We need this rule in order not to hide the drop shadow */
  padding: 0.2rem 1rem 1rem;
  text-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3),
               0.2rem 0.4rem 1rem rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
}

.divider {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  margin: 2.3rem 25%;
}

.divider span {
  display: block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
  width: 100%;
  z-index: 2;
  height: 0.2rem
}

.divider:last-of-type {
  visibility: hidden;
  padding-bottom: 1.4rem;
}

.dragging .icon.active {
  z-index: 4;
}

.dragging .divider,
.dragging .icon.has-transform.visible:not(.active) {
  transition-delay: 0.3s;
  transition: transform 0.4s;
}

/* Hiding overflow has the effect of cancelling out the off-screen rendering
 * caused by the display-port. As it's not possible to scroll while dragging,
 * this is a reasonable hack to recover some performance.
 *
 * XXX Unfortunately, changing the overflow of a web component causes it
 *     to disappear forever (seemingly a layout bug).
 */
/*
.edit-mode.dragging {
  overflow: hidden;
}
*/

.edit-mode .divider:last-child {
  visibility: visible;
}

.edit-mode .icon .remove {
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 0.5rem;
  width: 2.6rem;
  height: 2.6rem;
  background: url(images/remove.png) no-repeat;
}

/* Bug 1018269: This has no effect when this style is in a scoped style and
 *              needs to be redefined at the top level.
 */
@keyframes pulse {
  from { opacity: 0.65; }
  to { opacity: 1.0; }
}

.edit-mode .icon:not(.active) .image {
  animation-name: pulse;
  animation-duration: 0.4s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 0.65;
}

.edit-mode.dragging .icon .image,
.edit-mode.scrolling .icon .image,
.edit-mode .icon:not(.visible) .image {
  animation-name: none;
}

.icon .remove {
  display: none;
}

.edit-mode .icon.active .remove {
  display: none;
}

.edit-mode .icon.bookmark .title {
  background-color: rgba(132, 132, 132, 0.7);
  border-radius: 2rem;
  padding-bottom: .2rem;
}
