#notification-toaster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;

  overflow: hidden;

  background-image: url('images/grey-noise-bg.png');
  background-repeat: repeat-x;
  border-bottom: 1px #2c2c2c solid;

  font-size: 1em;

  -moz-transform: translateY(-40px);
  -moz-transition: -moz-transform .3s ease-in-out;
}

#toaster-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 6px;

  pointer-events: none;
}

#notification-toaster > div {
  left: 38px;
  width: -moz-calc(100% - 38px);
  height: 12px;

  padding: 0;

  line-height: 12px;
}

#toaster-title {
  position: absolute;
  top: 4px;
  color: #52B6CC;
}

#toaster-detail {
  position: absolute;
  top: 22px;
  color: white;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notification-toaster.displayed {
  -moz-transform: translateY(0);
}

#notifications-container {
  /* accounting for the scrollbar bug */
  width: -moz-calc(100% + 8px);

  /* minus quick settings and grippy */
  height: -moz-calc(100% - 60px - 20px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.notification {
  position: relative;
  background-image: url("images/notifications.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 80px;
  font-weight: bold;
}

.notification div {
  pointer-events: none;
}

.notification > div:first-of-type {
  margin: 0 0 0 85px;
  padding: 20px 0 0 0;

  font-size: 2.5mozmm;
  line-height: 2.5mozmm;
  color: #111;
}

.notification > div {
  margin: 0 0 0 85px;
  padding: 0;
  width: -moz-calc(100% - 105px);
  height: 25px;

  font-size: 2mozmm;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notification > a.close {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
}

.notification > img {
  float: left;
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  pointer-events: none;
}
