#notifications-container {
  /* accounting for the scrollbar bug */
  width: -moz-calc(100% + 8px);

  /* minus quick settings and grippy */
  height: -moz-calc(100% - 60px - 20px);
  overflow-y: scroll;
  overflow-x: hidden;
}

#notifications-container .notification {
  position: relative;
  background-image: url("images/notifications.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  height: 80px;
  font-weight: bold;
}

#notifications-container .notification div {
  pointer-events: none;
}

#notifications-container .notification > div:first-of-type {
  margin: 0 0 0 85px;
  padding: 20px 0 0 0;

  font-size: 2.5mozmm;
  line-height: 2.5mozmm;
  color: #111;
}

#notifications-container .notification > div {
  margin: 0 0 0 85px;
  padding: 0;
  width: -moz-calc(100% - 105px);
  height: 25px;

  font-size: 2mozmm;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#notifications-container .notification > a.close {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
}

#notifications-container .notification > img {
  float: left;
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  pointer-events: none;
}
