#quick-settings {
  height: 60px;
  width: 100%;
  background-color: #000;
  display: table;
}

#quick-settings > a {
  display: table-cell;
  width: 20%;
  outline: none;
  height: 100%;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  padding: 0 5px;
}

/* XXX: need icons here */
#quick-settings > a:not(#quick-settings-full-app)::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border-radius: 5px;
  margin: 5px auto;
}

#quick-settings > a:active {
  color: #000;
  background-color: #ccc;
}

#quick-settings > a:active::before {
  background-color: #000;
}
