.pin-card {
  position: relative;
  top: 1.5rem;
  box-sizing: border-box;
  height: calc(100% - 1.5rem);
  border-radius: .5rem;
  background-color: #FBFBFB;
  background-size: cover;
  color: #000;
  font-weight: 500;
  font-family: sans-serif;
  line-height: normal;
  white-space: normal;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
}

.pin-card > * {
  pointer-events: none;
}

.pin-card.light,
.pin-card.light p.description {
  color: #fff;
}

.pin-card .background {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  border-radius: .5rem;
  top: 0;
  left: 0;
  z-index: 0;
  background-size: cover;
}

.pin-card img {
  position: absolute;
  top: -1.5rem;
  left: calc(50% - 1.5rem);
  width: 3rem;
  height: 3rem;
  background: url(images/default_icon.png);
  background-size: cover;
  z-index: 1;
}

.pin-card header {
  position: relative;
  top: 1.5rem;
  text-align: center;
  overflow: hidden;
}

.pin-card.no-content header {
  height: calc(100% - 1.75rem);
}

.pin-card p.description {
  margin: 1rem 0;
  position: relative;
  font-size: 90%;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: #5D5D5D;
}

