@import url('../shared/style/switches.css');
@import url('../shared/style/input_areas.css');
@import url('../shared/style/buttons.css');
@import url('../shared/style/edit_mode.css');

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  font-size: 10px;
}

#clock-view {
  width: 100%;
  height: -moz-calc(100% - 0.13rem);

  color: black;
}

.visible {
  display: block;
}

#clock-time {
  letter-spacing: -0.5rem;
  font-weight: lighter;
  font-size: 11rem;
  color: #CFE2E6;
  pointer-events: none;
}

#clock-hour24-state {
  font-size: 3.7rem;
  color: #5C6466;
  text-transform: uppercase;
  pointer-events: none;
  position: relative;
}

#clock-day-date {
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  font-size: 2.1rem;
  margin: 2.6rem 0 0 1.5rem;
  line-height: 1.7rem;
  position: absolute;
  color: #737D80;
  width: 100%;
  top: 0;
}

#clock-day-date b {
  font-weight: normal;
  color: #A1B0B2;
}

/* digital clock */
#digital-clock {
  display: none;
  margin-top: 6.50rem;
  height: 100%;
}

#digital-clock.visible {
  display: block;
}

#digital-clock-face {
  text-align: center;
  position: absolute;
  width: 100%;
  margin: auto;
}

/* analog clock */
#analog-clock {
  display: none;
  width: 100%;
  height: 100%;
}

#analog-clock.visible {
  display: block;
}

#analog-clock-container.marks1 {
  width: 27rem;
  height: 27rem;
  margin: 6.9rem auto 0;
}

#analog-clock-container.marks2 {
  width: 24.8rem;
  height: 24.8rem;
  margin: 7.8rem auto 0;
}

#analog-clock-container.marks3 {
  width: 19.8rem;
  height: 19.8rem;
  margin: 7.8rem auto 0;
}

#analog-clock-container.marks4 {
  width: 14.8rem;
  height: 14.8rem;
  margin: 5.8rem auto 0;
}

#analog-clock-face {
  position: relative;

  width: 100%;
  height: 100%;

  background-image: url('images/analog_clock_face.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#analog-clock-hands {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;
  margin-top: 1.5%; /* to correctly snap the hands to the face */
}

.analog-clock-hand {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#secondhand {
  background-image: url('images/analog_clock_second_hand.svg');
}

#minutehand {
  background-image: url('images/analog_clock_minute_hand.svg');
}

#hourhand {
  background-image: url('images/analog_clock_hour_hand.svg');
}

/* banner*/
#banner-countdown {
  z-index: -1;
  opacity: 0;
  -moz-transition: all 600ms ease;
}
#banner-countdown.visible {
  z-index: 1;
  opacity: 1;
  -moz-transition: all 600ms ease;
}

#banner-countdown strong {
  white-space: nowrap;
}

/* localization */
body.hidden *[data-l10n-id] {
  visibility: hidden;
}

.hide {
  display: none;
}
