@import url('../shared/style/switches.css');
@import url('../shared/style/input_areas.css');
@import url('../shared/style/buttons.css');
@import url('../shared/style/edit_mode.css');

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  font-size: 10px;
}

#clock-view {
  width: 100%;
  height: -moz-calc(100% - 0.13rem);
  color: black;
}

.visible {
  display: block;
}

#clock-time {
  letter-spacing: -0.5rem;
  font-weight: lighter;
  font-size: 11rem;
  color: #CFE2E6;
  pointer-events: none;
}

#clock-hour24-state {
  font-size: 3.7rem;
  color: #5C6466;
  text-transform: uppercase;
  pointer-events: none;
  position: relative;
}

#clock-day-date {
  font-family: 'Fira Sans', sans-serif;
  font-weight: lighter;
  font-size: 2.1rem;
  margin: 2.6rem 0 0 1.5rem;
  line-height: 1.7rem;
  position: absolute;
  color: #737D80;
  width: 100%;
  top: 0;
}

#clock-day-date b {
  font-weight: normal;
  color: #A1B0B2;
}

/* digital clock */
#digital-clock {
  display: none;
  margin-top: 6.50rem;
  height: 100%;
}

#digital-clock.visible {
  display: block;
}

#digital-clock-face {
  text-align: center;
  position: absolute;
  width: 100%;
  margin: auto;
}

/* analog clock */
#analog-clock {
  display: none;
  width: 100%;
  height: 100%;
}

#analog-clock.visible {
  display: block;
}

#analog-clock-face {
  background-image: url('images/analog_clock_face.svg'); /*237x246 px*/
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 8.8rem auto 0;
}

#analog-clock-hands {
  position: absolute;
  z-index: 2;
  margin-top: 3.25%;
}

/* Analog clock face sizes based on 237x246 px svg */
#analog-clock-face.marks1 {
  width: 27rem;
  height: 28.02rem;
}
#analog-clock-face.marks1 svg {
  width: 27rem;
  height: 27rem;
}

#analog-clock-face.marks2 {
  width: 25rem;
  height: 25.944rem;
  margin-top: 6.9rem;
}
#analog-clock-face.marks2 svg {
  width: 25rem;
  height: 25rem;
}

#analog-clock-face.marks3 {
  width: 20rem;
  height: 20.755rem;
  margin-top: 6.2rem;
}
#analog-clock-face.marks3 svg {
  width: 20rem;
  height: 20rem;
}

#analog-clock-face.marks4 {
  width: 15rem;
  height: 15.566rem;
  margin-top: 5.8rem;
}
#analog-clock-face.marks4 svg {
  width: 15rem;
  height: 15rem;
}

/* These CSS styles all apply to the SVG clock elements */
#analog-clock-svg { /* styles for everything in the clock */
  stroke-linecap: butt; /* with butt ends */
  fill: transparent; /* on a transparent background */
}
#hourhand, #minutehand, #minutehandCentralPoint {
  fill: #CFE2E6;
  stroke-width: 0rem;
}

#secondhand, #secondhandCentralPoint { /* narrow blue second hand */
  fill: #597980;
}

#minutehandCentralPoint { /* dark-gray central point*/
  stroke-width: 0rem;
}

/* banner */
#banner-countdown {
  z-index: -1;
  opacity: 0;
  -moz-transition: all 600ms ease;
}
#banner-countdown.visible {
  z-index: 1;
  opacity: 1;
  -moz-transition: all 600ms ease;
}

#banner-countdown strong {
  white-space: nowrap;
}

/* localization */
body.hidden *[data-l10n-id] {
  visibility: hidden;
}

.hide {
  display: none;
}
