
@font-face {
  font-family: 'FontLight';
  src: url('fonts/opensans-light-webfont.woff');
}

@font-face {
  font-family: 'FontRegular';
  src: url('fonts/opensans-regular-webfont.woff');
}

@font-face {
  font-family: 'FontSemibold';
  font-weight: 600;
  src: url('fonts/opensans-semibold-webfont.woff');
}

@font-face {
  font-family: 'FontBold';
  font-weight: bold;
  src: url('fonts/opensans-bold-webfont.woff');
}

@font-face {
  font-family: 'FontLight';
  src: url('fonts/Open-Sans-Light.woff');
}

@font-face {
  font-family: 'FontLight';
  src: url('fonts/Open-Sans-Light.woff');
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  font-family: 'FontLight', sans-serif;
  font-size: 10px;
  background: black;
}

html * {
  overflow: hidden;
}

.font-regular{
  font-family: 'FontRegular';
}

.font-semibold{
  font-family: 'FontSemibold';
}

.font-bold{
  font-family: 'FontBold';
}

.contact-primary-info{
  font-size: -moz-calc(15*0.226rem);
  color: black;
}

.contact-secondary-info{
  font-size: -moz-calc(6*0.226rem);
  color: white;
}

.grid-wrapper {
  width: 100%;
  height: 100%;
}

.grid-v-align {
  vertical-align: middle;
}

.grid-row {
  display: table-row;
}

.grid-cell {
  display: table-cell;
}

.grid {
  display: table;
  table-layout: fixed;
}

.center {
  text-align: center;
}

#views {
  top: 0;
  height: -moz-calc(100% - 4rem);
  width: 100%;
}

#views > *[role=tabpanel] {
  height: 100%;
  width: 100%;
}

body.hidden *[data-l10n-id] {
  visibility: hidden;
}

*[role=tablist] *[role=tabpanel] {
	display:none;
}

*[role=tablist] *:target {
	display: block;
}

/* Structure for toolbar */
.toolbar {
  height: 4rem;
  width: 100%;
}

.toolbar-option{
  opacity: 0.6;
}

.toolbar-option-selected{
  opacity: 1;
}

.toolbar-option:active{
  opacity: 1;
  border: 0;
  border-style: none;
}

/* Toolbar Icon */
.icon {
  pointer-events:none;
  margin: 0 auto;
}

.icon-recents {
  width: 4rem;
  height: 4rem;
  background-image: url("images/ActionIcon_40x40_recents.png");
}

.icon-contacts {
  width: 4rem;
  height: 4rem;
  background-image: url("images/ActionIcon_40x40_contacts.png");
}

.icon-keypad {
  width: 4rem;
  height: 4rem;
  background-image: url("images/ActionIcon_40x40_dialpad.png");
}


