html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  background: black;
}

html * {
  overflow: hidden;
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open-Sans.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('fonts/Open-Sans-Bold.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('fonts/Open-Sans-Semibold.woff');
}

@media screen and (max-device-height: 800px) { 
  html {
    font-size: 13.5px;
  }
}

@media screen and (max-device-height: 480px) { 
  html {
    font-size: 10px;
  }
}

/* === Application Views === */
#views {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-radius: 10px;
}

#views > .view {
  height: 100%;
  width: 100%;
}

/* === Keyboard View === */
@font-face {
  font-family: 'Keyboard Symbols';
  font-weight: 600;
  src: url('fonts/Keyboard-Symbols.woff');
}

.phone-number-font {
  font-size:18pt;
  color:white;
}

.kb-keypad-number {
  font-size:25pt;
  color:white;
}

.kb-keypad-text {
  font-size:6pt;
  color:white;
}


#keyboard-view {
  width: 100%;
  height:100%;
}

#fake-phone-number-view {
  position: absolute;
  line-height: 0;
  visibility: hidden;
}

#phone-number-view-container {
  width:100%;
  height:-moz-calc(100% - 34.5rem);
  background: #1e2328;
  width:100%;
  text-align:center;
  display: table;
  table-layout: fixed;
}

#phone-number-view {
  display:table-cell;
  vertical-align:middle;
  width: -moz-calc(100% - 3rem);
}

#keyboard-container {
  width:100%;
  background: green;
  height:34.5rem;
}

#kb-keypad {
  background:yellow;
  height:-moz-calc(100% - 6.5rem);
  width:100%;
  display:table;
  table-layout:fixed;
  background:red;  
}

.kb-keypad-cell {
  display:table-cell;
  border-right:1px solid black;
}

.kb-keypad-cell:last-child {
  border:0;
}

.kb-keypad-cell-small {
  width:10rem;
}

.kb-keypad-key {
  background: #2d2642; /* Old browsers */
  background: -moz-linear-gradient(top, #2d2642 0%, #0f1214 100%); /* FF3.6+ */
  /* background: linear-gradient(top, #2d2642 0%,#0f1214 100%); /* W3C */
  border:0;
  border-right:1px solid #313A47;
  border-bottom:1px solid #313A47;
  height:7rem;
  vertical-align:middle;
}

.kb-keypad-key:last-child {
  border-right:0;
  border-bottom:0;
}

.kb-keypad-key-label-container {
  width:100%;
  height:100%;
  display:table;
}

.kb-keypad-key-label {
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

.kb-keypad-key-label > span {
  pointer-events: none;
}

.del-digit {
  margin:0 auto;
  background:url(images/dialer_icon_delete.png) 50% 50% no-repeat;
  background-size: 3.8rem 2.8rem;
}

#kb-callbar {
  background:black;
  height:6.5rem;
  padding:1rem 1.5rem;
}

#kb-callbar-add-contact {
  float:left;
  display:inline-block;
  height:4.5rem;
  width:9rem;
  background: -moz-linear-gradient(top, #19191a 0%, #242b36 100%); /* FF3.6+ */
  border:.1rem solid #242B36;
  border-radius:.5rem;
}

#kb-callbar-call-action {
  float:right;
  display:inline-block;
  height:4.5rem;
  width:19rem;
  border:0;
  border-radius:.5rem;
  background: -moz-linear-gradient(top, #84c82c 0%, #5f9b0a 100%); /* FF3.6+ */
}

.i-add-contact {
  margin: auto;
  width: 2.6rem;
  height: 2.5rem;
  background: url(images/dialer_icon_contact.png);
  background-size: 2.6rem 2.5rem;
}

.i-call {
  margin:0 auto;
  background-image:url("images/dialer_icon_call.png");
  width:2.6rem;
  height:2.5rem;
  background-repeat:no-repeat;
  background-size: 2.6rem 2.5rem;
}


/* === Call Screen === */

#call-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 0 1px 0;
  border: 0;
  border-radius: 10px;
  background: LightGray;
  -moz-transform: translateY(-100%);
  z-index: 100;
}

#call-screen.animate {
  -moz-transition: -moz-transform 0.5s ease;
}

#call-screen.prerender {
  -moz-transform: translateY(-moz-calc(-100% + 1px));
}
#call-screen.oncall.prerender {
  -moz-transform: translateY(-1px);
}

#call-screen.oncall {
  -moz-transform: translateY(0);
}

#call-screen.calling #call-screen-top {
  height: 60%;
}

#call-screen.in-call #call-screen-top {
  height: 60%;
}

#call-screen.incoming #call-screen-top {
  height: 86%;
}

#call-screen.calling #call-number-view-container {
  color: DarkGray;
  height: 20%;
  padding: 0 5% 0 5%;
}

#call-screen.in-call #call-number-view-container {
  color: DarkGray;
  height: 20%;
  padding: 0 5% 0 5%;
}

#call-screen.incoming #call-number-view-container {
  color: DarkGray;
  height: 12%;
  padding: 0 5% 0 5%;
}

#call-screen.calling #call-number-view {
  font-size: 4rem;
}

#call-screen.in-call #call-number-view {
  font-size: 4rem;
}

#call-screen.incoming #call-number-view {
  font-size: 4rem;
}

#call-screen.calling #call-picture {
  height: 80%;
  width: 100%;
  padding: 0 5% 5% 5%;
}

#call-screen.in-call #call-picture {
  height: 50%;
  width: 100%;
  padding: 0 5% 0 5%;
}

#call-screen.incoming #call-picture {
  height: 88%;
  width: 100%;
  padding: 0 5% 5% 5%;
}

#call-screen.calling #call-picture img {
  height: 95%;
  width: 90%;	
  margin: auto;
}

#call-screen.in-call #call-picture img {
  height: 100%;
  margin: auto;
}

#call-screen.incoming #call-picture img {
  height: 95%;
  width: 90%;	
  margin: auto;
}

#call-screen.calling #call-duration-view-container {
  display: none;
}

#call-screen.in-call #call-duration-view-container {
  color: DarkGray;
  height: 30%;
  padding: 0 5% 0 5%;
}

#call-screen.incoming #call-duration-view-container {
  display: none;
}

#call-screen.in-call #call-duration-view {
  font-size: 6rem;
}

#call-screen.calling #call-actions-container {
  height: 40%;
}

#call-screen.in-call #call-actions-container {
  height: 40%;
}

#call-screen.incoming #call-actions-container {
  height: 14%;
}

#call-screen.calling #call-actions-top {
  height: 65%;
  width: 100%;
  padding: 0 5% 5% 5%;
}

#call-screen.in-call #call-actions-top {
  height: 65%;
  width: 100%;
  padding: 0 5% 5% 5%;
}

#call-screen.incoming #call-actions-top {
  display: none;
}

#call-screen.calling #call-actions {
  width: 90%;
  height: 50%;
}

#call-screen.in-call #call-actions {
  width: 90%;
  height: 50%;
}

#call-actions > div {
  float: left;
  width: -moz-calc(100% / 3 - 2px);
  height: -moz-calc(100% - 1px);
  border-right: solid 1px LightGray;
  border-bottom: solid 1px LightGray;
}

#call-actions > div:last-child {
  border-right: none;
}

#call-actions > div > span {
  display: none;
}

#call-actions > div > div {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#speaker-button {
  background-image: url(images/speaker-icon.png);
}
#speaker-button.speak {
  background-image: url(images/speaker-icon-active.png);
}

#keypad-button {
  background-image: url(images/keypad-icon.png);
}
#keypad-button.displayed {
  background-image: url(images/keypad-icon-active.png);
}

#mute-button {
  background-image: url(images/mute-icon.png);
}
#mute-button.mute {
  background-image: url(images/mute-icon-active.png);
}

#contacts-button {
  background-image: url(images/contacts-icon.png);
}

#recents-button {
  background-image: url(images/recents-icon.png);
}

#write-msg-button {
  background-image: url(images/dialer_icon_message.png);
}

#call-screen.calling #call-button {
  height: 35%;
  width: 100%;
  padding: 0 5% 5% 5%;
}

#call-screen.in-call #call-button {
  height: 35%;
  width: 100%;
  padding: 0 5% 5% 5%;
}

#call-screen.incoming #call-button {
  width: 100%;
  height: 100%;
  padding: 0 5% 5% 5%;
}

#call-button > div {
  float: left;
  display: table;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  height: 75%;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#call-button > div > span {
  display: table-cell;
  vertical-align: middle;
}

#accept-call {
  background: DarkGray;
}

#accept-call:active {
  color: #A9A9A9;
  background: LightGray;
}

#end-call {
  background: DarkGray;
  border-right: solid 2px LightGray;
}

#end-call:active {
  background: LightGray;
}

#call-screen.calling #end-call {
  width: 90%;
}

#call-screen.in-call #end-call {
  width: 90%;
}

#call-screen.incoming #end-call {
  width: -moz-calc(90% / 2 - 1px);
}

#call-screen.calling #accept-call {
  display: none;
}

#call-screen.in-call #accept-call {
  display: none;
}

#call-screen.incoming #accept-call {
  width: -moz-calc(90% / 2 - 1px);
}

#mainKeyset.overlay {
  position: absolute;
  top: 0;
  height: 72%;
  background: url(images/call-screen-bg.png) center top no-repeat #575B66;
  color: white;
  z-index: 500;
}

#mainKeyset.overlay .keyboard-row .keyboard-key {
  border: 1px solid #bcbcbc;
}

#mainKeyset.overlay .keyboard-key > span {
  color: white;
}

#mainKeyset.overlay .keyboard-key:active {
  background: rgba(255, 255, 255, .3);
}

/* == Screen turn off hack == */

#screen-off {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 1000;
  display: none;
}

#screen-off.displayed {
  display: block;
}

/* localization */

body.hidden *[data-l10n-id] {
  visibility: hidden;
}
