#search-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity .3s linear;
}
#evmeContainer #search-header.animate,
#evmeContainer #header.animate,
#evmeContainer #evmeApps.animate {
    transition: opacity .3s linear;
}
    #search-overlay .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        background-position: 50% 0;
        background-size: cover;
    }
    #search-overlay .img {
        transition: opacity .3s linear;
    }
    #search-overlay .img.visible {
        opacity: 1;
    }

#bgimage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s linear;
    z-index: 1;
}
#bgimage-overlay.ontop {
    z-index: 500;
}
#bgimage-overlay.active {
    opacity: 1;
}
    #bgimage-overlay .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: 50% 0;
        background-size: cover;
    }
    
        #bgimage-overlay .actionbar h2 {
            font-weight: 600;
            color: #b4dae7;
            font-size: 1.3rem;
            height: 1.7rem;
            margin: 0.9rem 0 0;
            line-height: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-indent: 0;
            position: absolute;
            left: 3.2rem;
            top: 0;
            right: 5.4rem;
        }
        #bgimage-overlay.nosource .actionbar h2 {
            margin-top: 0;
            height: 5rem;
            line-height: 5rem;
        }
        #bgimage-overlay .actionbar .source {
            color: #fff;
            font-size: 1.3rem;
            line-height: 1.7rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;position: absolute;
            left: 3.2rem;
            top: 2.5rem;
            right: 5.4rem;
        }
            #bgimage-overlay .content .source span {
                text-decoration: underline;
            }
        
        #bgimage-overlay .actionbar .rightbutton {
            background-image: url('../../images/icon-wallpaper.png');
            background-size: 2.7rem;
        }
.evme-fullscreen-bgimage #search-header {
    display: none;
}