#evmeContainer #header {
    position: relative;
    z-index: 50;
    min-height: 8rem;
}
#evmeContainer:not(.empty-query) #header,
#evmeContainer.keyboard-visible #header {
    background: rgba(0, 0, 0, 0.8);
}
#evmeContainer #search-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 51;
    width: 100%;
}
    #evmeContainer #search-rapper {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 25;
        height: 5rem;
        width: 100%;
    }
    #evmeContainer.empty-query:not(.keyboard-visible) #search-rapper {
        height: 5rem;
    }
    #evmeContainer.empty-query:not(.keyboard-visible) #search-q {
        height: 5rem;
    }
    
    #evmeContainer #search-q,
    #evmeContainer #search-q-bg,
    #evmeContainer #search-selection {
        position: relative;
        height: 100%;
        border-radius: 0;
        font-size: 1.9rem;
        vertical-align: middle;
        text-transform: lowercase;
    }
    #evmeContainer #search-header fieldset {
        height: 100%;
        line-height: inherit;
        background: none;
        border: none;
    }
    #evmeContainer #search-q {
        background: transparent;
        border: none;
        width: 84%;
        left: 1.1rem;
        display: inline;
        color: #fff;
        font-style: normal;
        font-size: 1.9rem;
        font-weight: 300;
    }

    #evmeContainer #search-q-bg {
        background: url('/everything.me/images/search-icon.png') no-repeat 97% 50% rgba(0, 0, 0, 0.4);
        background-size: 3rem;
    }
    #evmeContainer .clear-visible #search-q-bg,
    #evmeContainer.keyboard-visible #search-q-bg {
        background: transparent;
    }
    #evmeContainer #search-q:focus {
        outline: none;
    }
        
    #evmeContainer #button-clear {
        position: absolute;
        top: 1.2rem;
        right: 0.4rem;
        z-index: 30;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        font-size: 0;
        background: url(/everything.me/images/search-clear.png) no-repeat;
        -moz-user-select: none;
        display: none;
    }
    #evmeContainer .clear-visible #button-clear {
        display: block;
    }
        #evmeContainer .clear-visible #button-clear:before {
            content: "";
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            left: -0.8rem;
            bottom: -0.8rem;
        }
    
    #evmeContainer #default-text {
        position: absolute;
        top: 1.6rem;
        left: 1.3rem;
        text-transform: none;
        display: none;
        color: #858585;
        font-style: italic;
        font-size: 1.9rem;
        font-weight: 300;
        pointer-events: none;
    }
    #evmeContainer.empty-query #default-text {
        display: block;
    }
    #evmeContainer.empty-query:not(.keyboard-visible) #default-text {
        color: #eee;
    }
    
#evmeContainer #homepage-search-text {
    position: absolute;
    top: 8.8rem;
    left: 1.6rem;
    cursor: pointer;
    text-indent: 0.6rem;
    z-index: 305;
    font-size: 1.3rem;
    color: #444;
    pointer-events: none;
    display: none;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
#evmeContainer #homepage-search-text:before {
    content: "";
    position: absolute;
    top: -2rem;
    left: -2rem;
    right: -2rem;
    bottom: -2rem;
}

#evmeContainer.screen-homepage #homepage-search-text {
    display: block;
}

#evmeContainer.loading-app #search-header  {
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0 !important;
}
