/* Contact detail header */
.contact-header {
  margin: -1.4rem -2rem 1rem;
}

/* Fav star in header */
section[role="region"] > header:first-child sup {
  background: url(/contacts/style/gphx/bitmap/default/vw-header/icons/fav-star.png) no-repeat center center;
  background-size: 100% auto;
  width: 1.2rem;
  height: 3.2rem;
  vertical-align: text-top;
  text-indent: 100%;
  overflow: hidden;
  position: relative;
  float: left;
  top: 0;
}

.contact-header img {
  width: 100%;
  height: 7.6rem;
  background: transparent no-repeat center 30%;
  background-size: 100% auto;
}

.view-contacts-list .block-list {
  padding-right: 1rem;
}

#contact-name-title {
  max-width: 22rem;
  float: left;
}

/* Contact detail main section */

.view-contact-profile article.view-body {
  overflow: scroll;
  position: absolute;
  min-height: 100%;
  width: -moz-calc(100% + 1rem);
}

.view-contact-profile .view-body-inner {
  background: transparent no-repeat center -8rem;
  background-size: 100% auto;
  padding: 0;
  background-color: #f5f5f5;
  overflow: visible;
  position: relative;
  min-height: calc(100% - 3.6rem);
}

.view-contact-profile .view-body-inner.up {
  background-position: center -8rem;
  -moz-transition: background-position 0.25s ease-out;
}

.view-contact-profile .view-body-inner > section {
  padding: 0 2rem;
  background: #f5f5f5;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  -moz-box-sizing: border-box;
}

.view-contact-profile .view-body-inner > section #toggle-favorite {
  padding-bottom: 1rem;
}

.view-contact-profile .view-body-inner hr {
  margin-top: 0;
}

.view-contact-profile .view-body-inner > section h1{
  padding-top: 1.4rem;
}

.view-contact-profile .view-body-inner > section.no-photo {
  transform: translateY(0);
}

.view-contact-profile .view-body-inner > section.up {
  transform: translateY(8rem);
  -moz-transition: transform 0.5s ease-out;
}

.view-contact-profile .view-body-inner .comment-notes {
  font-family: Open Sans;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.3em;
  white-space: pre-wrap;
}

#contact-detail h1 {
  font: 1.4rem/1.5em Open Sans, Sans-serif;
  font-weight: 600;
  border-bottom: solid 1px #dbd9d9;
  margin-bottom: 1rem;
}

#contact-detail li .item-body-exp {
  padding-bottom: 1rem;
}

#contact-detail h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.block-item > * {
  pointer-events: none;
}

.view-jumper-inner > li > * {
  pointer-events: none;
}

/* Edit contact section */
.view-edit-contact fieldset:not(.first) {
  position: relative;
  margin-right: 3rem;
}
.view-edit-contact fieldset div {
  position: relative;
}
.view-edit-contact .fillflow-row-action {
  width: 5rem;
  height: 5rem;
  margin: -2.5rem 0 0 0;
}

hr {
  background-color: #BCBCBC;
  border: 0;
  height: 1px;
}

/* Favorites handling */
#group-favorites abbr, .fixed-title abbr {
  background: url(gphx/bitmap/default/lists/favorites.png);
  display: block;
  background-size: 100% auto;
  width: 2rem;
  height: 2rem;
}

/* Search */

#groups-list {
  padding-top: 2.5rem;
}

.search-hide {
  display: none;
}

/* Common search styles */
form.search {
  background: url(gphx/bitmap/default/search/searchbar_1x35.png) repeat-x scroll left bottom transparent;
  position: absolute;
  width: 100%;
  -moz-box-sizing: border-box;
  top: 0;
  left: 0;
  color: #000;
  font-family: 'Open Sans', Sans-serif;
  font-size: 1.2rem;
  text-align: left;
  pointer-events: auto;
}

form.search label {
  display: block;
  padding: 0.5rem 3.3rem 0.5rem 2.5rem;
}

form.search input {
  height: 2.5rem;
  pointer-events: none;
}

form.search button {
  line-height: 2.5rem;
  padding: 0;
  margin-top: -0.5rem;
  width: 8rem;
  height: 3.5rem;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #707070;
  float: right;
}

/* Search view */
#search-view {
  pointer-events: none;
  transform: translateX(100%);
  z-index: 10;
}

#view-contacts-list.searching #search-view {
  transform: translateX(0);
}

#search-view form.search label {
  padding: 0.5rem 0 0.5rem 2.5rem;
}

#search-view form.search input {
  pointer-events: auto;
  width: 21.5rem;
  box-shadow: none;
}

/* Searching state */
#view-contacts-list.searching > header {
  transform: scale(0);
  pointer-events: none;
}

#view-contacts-list.searching .fixed-title {
  transform: scale(0) !important;
}

#view-contacts-list.searching .view-jumper {
  transform: scale(0);
}

#view-contacts-list.searching #groups-list h2 {
  display: none;
}

#view-contacts-list.searching .view-body-inner {
  height: calc(100% + 5rem);
  margin-top: -5rem;
}

#no-result {
  margin-top: -moz-calc((100% - 0.5rem) / 2);
  text-align: center;
  margin-left: -0.8rem;
}

/* "import contacts" button and throbber */
.importContacts {
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-left: 1.5rem;
  width: calc(100% - 6rem); /* 4.5rem = view-jumper width */
}

.importContacts button {
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
}

.importContacts span, .importContacts small {
  display: block;
}


/* Social network markers */
.icon-social {
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  text-indent: 100%;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}

.icon-social.icon-fb {
  background-image: url(images/f_logo.png) !important;
}

.icon-social.icon-tw {
  background-image: url(images/tw_logo2.png) !important;
}

.icon-social.notorg {
  margin-left: 0 !important;
}

#contact-detail p > strong {
  font-size: 1.4rem;
}

/*
  Loading screen while loading contacts
*/

.show-overlay {
  opacity: 1!important;
}

#loading-overlay {
  pointer-events: none;
  z-index: 200;
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  opacity: 0;
  -moz-box-sizing: border-box;
  -moz-transition: opacity 0.3s ease-out;
}

.loading-container {
  position: relative;
  top: 50%;
  margin-top: -6rem;
}

.loading-header {
  text-align: left;
  padding: 2rem 1rem 4rem 1rem;
  -moz-box-sizing: border-box;
  color: white;
  font-size: -moz-calc(10 * 0.226rem);
  font-weight: 300;
  border-top: .1rem solid white;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* MARK AS REMOVED */

.removed {
  border-color: #c8c8c8;
  opacity: 0.85;
}

.removed dl, .removed a, .removed input {
  background-color: transparent;
  color: #cccccc;
  pointer-events: none;
}

.removed button span.icon-delete {
  background-image: url("/contacts/style/gphx/bitmap/default/forms/undo.png");
}

.with-photo {
  padding-right: 5rem;
  border:1px solid #C8C8C8;
  background: none;
}

.with-photo.removed img {
  pointer-events: none;
}

.with-photo p {
  display: none;
}

.view-edit-contact .with-photo .fillflow-row-action {
  margin-left: -5rem;
}

/* Contacts in comms application */
@media screen and (max-height: 450px) and (min-height: 420px) {
 .view-jumper li {
  font-size: 1.05rem;
  line-height: 1.23rem;
 }
}

/* SETTINGS */

body[role="application"] section[role="region"] > header .icon.icon-settings
     { background-image: url(/contacts/style/gphx/bitmap/default/vw-header/icons/settings.png); }

section.view[data-state="active"] {
  -moz-transition: transform 0.5s ease;
}
