.fixed-title {
  position: absolute;
  top: 5rem;
  left: 2rem;
  right: 2.7rem;
  height: 2.3rem;
  padding: 0.5rem 0 0 1rem;
  z-index: 6;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  transform: translateY(-100%);
  text-align: left;
  color: #FF5F19;
  font-size: 1.6rem;
  border-bottom: 1px solid #FF5F19;
  pointer-events: none;
}

.fixed-title-fb {
  position: absolute;
  top: 5rem;
  left: 2.5rem;
  width: -moz-calc(100% - 4.2rem);
  z-index: 0;
  border-bottom: 1px solid #4D77CF;
  background: #f4f4f4;
  transform: translateY(-100%);
  color: #4D77CF;
  font-size: 1.5rem;
  text-align: left;
  pointer-events: none;
}
