/* Search */
#groups-list {
  padding-top: 2.5rem;
}

/* Common search styles */
form.search {
  position: absolute;
  width: 100%;
  -moz-box-sizing: border-box;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 1;
}

#search-view:not(.insearchmode) form.search * {
  pointer-events: none;
}

#search-view.insearchmode form.search input {
  pointer-events: auto;
}

form.search p {
  padding: 0;
}

form.search label {
  display: block;
  padding: 0.5rem 3.3rem 0.5rem 2.5rem;
}

form.search input {
  height: 2.5rem;
}

form.search input {
  pointer-events: none;
}

form.search button[type="submit"] {
  width: auto;
}

/* Search view */
#search-view {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
}

.facebook #search-view {
  z-index: 100;
}

#search-view.insearchmode {
  opacity: 1;
  pointer-events: auto;
}

#search-view form.search label {
  padding: 0.3rem 1.2rem;
}

#no-result {
  color: black;
  margin-top: 7.2rem;
  text-align: center;
  margin-left: -0.8rem;
  font-size: 1.8rem;
  color: #666;
  line-height: 6rem;
}

#search-progress {
  margin-top: 7.5rem;
  text-align: center;
}

#search-progress.hidden > progress {
  opacity: 0;
  animation-name: none;
}

/* facebook search */
.facebook #search-view button[type="submit"] {
  width: auto;
}

#search-view > section {
  position: absolute;
  top: 3.7rem;
  left: 0;
  right: 0;
  height: calc(100% - 3.7rem);
  background: #f3f3f3;
}

#groups-list-search {
  text-align: left;
  padding: 0 1.5rem;
  overflow: auto;
}

#search-list {
  height: 100%;
}

#search-list > li[data-uuid] > a *,
.facebook #search-list > li[data-uuid] *:not(input) {
  pointer-events: none;
}
