<!DOCTYPE html>
<html manifest="manifest.appcache">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="pragma" content="no-cache">
		<title>Contact profile</title>

		<!-- BOOTZILLA -->
		<link rel="stylesheet" type="text/css" href="/bootzilla/css/package.css">
		<script type="text/javascript" src="/bootzilla/js/responsive.js"></script>

		<!-- CONTACTS -->
		<link rel="stylesheet" type="text/css" href="../style/contacts.css">

		<script>
			var host = document.location.host;
			var domain = host.replace(/(^[\w\d]+\.)?([\w\d]+\.[a-z]+)/, '$2');
			var src = 'http://' + domain + '/webapi.js';
			document.write('<script src="' + src + '"><\/script>');
		</script>

	</head>
	<body class="app-contacts">
		<section class="view view-contact-profile">
			<div class="vw-inner">
				<header class="vw-header">
					<ul class="pull-right stack vw-actions">
						<li><a href="#" title="Edit contact"><i class="i-edit">Edit</i></a></li>
					</ul>
					<p class="vw-back pull-left"><a href="#" title="Back"><i class="i-back">Back</i></a></p>
					<h1>Mark Afeinto <i class="i-fav">Favourite</i></h1>
				</header>

				<article class="vw-body">
					<div class="vw-bdy-inner">
						<div class="appcnts-profile-head">
							<figure	><img src="dummy/320x75.jpg" alt="Ismale González"></figure>
							<nav class="tabs">
								<ul class="grid">
									<li class="active"><a href="#"><i class="i-profile">Information</i></a></li>
									<li><a href="#"><i class="i-log">Feed</i></a></li>
								</ul>
							</nav>
						</div>

						<section class="appcnts-profile-section">
							<h1>Telefónica Digital</h1>
							<ul>
								<li>
									<h2>Mobile</h2>
									<div class="item">
										<div class="itm-media pull-right">
											<button class="action"><i class="i-message">Message</i></button>
										</div>
										<div class="itm-body-exp">
											<button class="action">
												<i class="i-call">Call</i>
												<b>+34 607 477 497</b>
												<em>Telefónica</em>
											</button>
										</div>
									</div>
								</li>

								<li>
									<h2>Home</h2>
									<div class="item">
										<div class="itm-body-exp">
											<button class="action">
												<i class="i-call">Call</i>
												<b>+34 607 477 497</b>
											</button>
										</div>
									</div>
								</li>

								<li>
									<h2>Work</h2>
									<div class="item">
										<div class="itm-body-exp">
											<button class="action">
												<i class="i-email">E-mail</i>
												<b>alonso@gmail.com</b>
											</button>
										</div>
									</div>
								</li>
							</ul>
						</section>

					</div>
				</article>

				<nav class="vw-nav">
					<ul class="grid">
						<li><a href="#" title="Log"><i class="i-log">Communications Log</i></a></li>
						<li><a href="#" title="Contacts"><i class="i-contacts">Contacts</i></a></li>
						<li><a href="#" title="Messages"><i class="i-messages">Messages</i></a></li>
						<li><a href="#" title="Apps"><i class="i-grid">Apps</i></a></li>
					</ul>
				</nav>
			</div>
		</section>
	</body>
</html>