<!DOCTYPE html>
<html manifest="manifest.appcache">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="pragma" content="no-cache">
		<title>Edit contact</title>

		<!-- BOOTZILLA -->
		<link rel="stylesheet" type="text/css" href="../bootzilla/css/package.css">
		<script type="text/javascript" src="../bootzilla/js/responsive.js"></script>

		<!-- CONTACTS -->
		<link rel="stylesheet" type="text/css" href="../style/contacts.css">


		<script>
			var host = document.location.host;
			var domain = host.replace(/(^[\w\d]+\.)?([\w\d]+\.[a-z]+)/, '$2');
			var src = 'http://' + domain + '/webapi.js';
			document.write('<script src="' + src + '"><\/script>');
		</script>

	</head>
	<body class="app-contacts">
		<section class="view view-select-tag">
			<div class="vw-inner">
				<header class="vw-header">
					<p class="vw-back pull-left"><a href="#" title="Back"><i class="i-back">Back</i></a></p>
					<h1>Label</h1>
				</header>

				<article class="vw-body">
					<div class="vw-bdy-inner">
						<ul class="selection-list">
							<li> <a href="#">Default number</a> </li>
						</ul>
						<ul class="selection-list">
							<li>
								<a href="#">
									Mobile
									<i class="slcl-state i-selected">Selected</i>
								</a>
							</li>
							<li><a href="#">Home</a></li>
							<li><a href="#">Work</a></li>
							<li><a href="#">Personal</a></li>
							<li><a href="#">Fax home</a></li>
							<li><a href="#">Fax office</a></li>
							<li><a href="#">Other fax</a></li>
							<li><a href="#">Another</a></li>
						</ul>
						<input class="textfield" type="text" value="Custom Tag">
					</div>
				</article>

				<nav class="vw-nav">
					<ul class="grid">
						<li><a href="#" title="Log"><i class="i-log">Communications Log</i></a></li>
						<li><a href="#" title="Contacts"><i class="i-contacts">Contacts</i></a></li>
						<li><a href="#" title="Messages"><i class="i-messages">Messages</i></a></li>
						<li><a href="#" title="Apps"><i class="i-grid">Apps</i></a></li>
					</ul>
				</nav>
			</div>
		</section>
	</body>
</html>