#appdetail-view.view {
  top: 0;
}

#appdetail-view > .view-scroll {
  top: 5rem;
}

#appdetail-view .info {
  font-size: 1.7rem;
  padding: 0 3rem 1rem;
}

#appdetail-view .settings > li:last-child {
  padding-bottom: 0;
}
