/* DATAUSAGE VIEW */
.view[data-viewname="datausage"] .content {
  padding: 1rem 1.5rem;
  background: #fff;
  border-bottom: solid 1px #d7d8d6;
}

.view[data-viewname="datausage"]  .toggle-data {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.view[data-viewname="datausage"]  .toggle-data li {
  float: left;
  width: calc(100%/2);
  position: relative;
}

.view[data-viewname="datausage"]  .toggle-data li :-moz-any(label, span) {
  display: block;
}

.view[data-viewname="datausage"]  .toggle-data li input {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  opacity: 0;
}

.view[data-viewname="datausage"]  .toggle-data li span {
  height: 2.5rem;
  border: solid 1px #b2b2b2;
  background: #fafafa url(../images/app/ui/datausage/toggle-bg.png) repeat-x left bottom;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.5rem;
  padding: 1rem 1rem 1rem 4rem;
}

.view[data-viewname="datausage"]  .toggle-data li:first-child span {
  border-radius: 0.3rem 0 0 0.3rem;
}

.view[data-viewname="datausage"]  .toggle-data li:last-child span {
  border-radius: 0 0.3rem 0.3rem 0;
}

.view[data-viewname="datausage"]  .toggle-data li:last-child {
  margin-left: -1px;
}

.view[data-viewname="datausage"]  .toggle-data li span:before {
  content: "";
  width: 2rem;
  height: 2rem;
  position: absolute;
  background: #fff;
  border: solid 1px #9c9c9c;
  left: 1rem;
  top: 50%;
  margin: -1.2rem 0 0;
  transition: background 0.2s ease;
}

.view[data-viewname="datausage"]  .toggle-data li span em {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
}

/* Active state */
.view[data-viewname="datausage"]  .toggle-data li input:checked + span {
  background: url(../images/app/ui/datausage/toggle-sh.png) repeat-x left top;
}

.view[data-viewname="datausage"]  .toggle-data li:first-child input:checked + span:before {
  background: #009d89;
  border-color: #086b5e;
}

.view[data-viewname="datausage"]  .toggle-data li:last-child input:checked + span:before {
  background: #cbd936;
  border-color: #aab71d;
}

/* Settings extended */
.view[data-viewname="datausage"] section.settings header {
  border-bottom: solid 1px #d7d8d6;
  overflow: hidden;
  padding: 1rem;
}

.view[data-viewname="datausage"] section.settings header :-moz-any(h1, p) {
  font-weight: 600;
  font-size: 1.4rem;
}


.view[data-viewname="datausage"] section.settings header h1 {
  float: left;
}

.view[data-viewname="datausage"] section.settings header p {
  float: right;
}


