/* TOPUP VIEW */
#data-limit-dialog {
  top: 0;
  z-index: 20;
}

#data-limit-dialog form {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5rem 1.5rem 0.5rem;
  border-top: solid 0.1rem #e7e7e7;
}

#data-limit-dialog form button.switch-unit-button {
  float: right;
  margin: 0;
  width: 9rem;
  height: 2rem;
}

#data-limit-dialog form label {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#data-limit-dialog form input {
  text-align: right;
  font-weight: 500;
  font-size: 2.4rem;
  width: calc(100% - 10rem);
}

#data-limit-dialog .content .info {
  text-align: center;
}

#data-limit-dialog .content .info h2 {
  font-size: 1.8rem;
  line-height: 1em;
  font-weight: normal;
  text-align: left;
  margin-bottom: 1rem;
}

#data-limit-dialog .content .info p {
  font-size: 1.4rem;
  line-height: 1.3em;
  color: #505859;
  text-align: left;
  margin-bottom: 0.5rem;
}

