/* FIRST TIME EXPERIENCE VIEW */

#firsttime-view, #firsttime-view .view {
  top: 0;
  transform: translate(0, 0);
  transition: none;
  -moz-user-select: none;
}

#firsttime-view .view[data-viewport="right"] {
  transform: translateX(100%);
}

/* Content */
#firsttime-view .content:not(gaia-header) {
  padding: 0;
  margin-top: 1.5rem;
  list-style: none;
}

/* Wrapper with scroll */
#firsttime-view section.content {
  -moz-box-sizing: border-box;
  /* window height - header height - gaia-buttons height - content top margin  */
  max-height: calc(100% - 5rem - 7rem - 1.5rem);
  overflow-x: auto;
}

#firsttime-view .content h2 {
  font-size: 1.9rem;
  margin-bottom: 1.6rem;
  font-weight: normal;
  font-style: italic;
  padding: 2rem 3rem 0;
}

#firsttime-view .content > p {
  font-size: 1.6rem;
  padding: 0 3rem;
}
