/* TOPUP VIEW */
.view[data-viewname="settings"] {
  bottom: 0;
}

.view[data-viewname="settings"]  section[role="region"].buttons-list {
  padding: 1rem 1.3rem;
}

.view[data-viewname="settings"] section[role="region"].buttons-list button {
  margin: 0;
}