/* TOPUP VIEW */
#settings-view {
  bottom: 0;
}

#settings-view .view-scroll {
  top: 5rem;
}

#settings-view.view {
  top: 0;
}

#settings-view .choose-plan {
  padding: 1rem 1.3rem;
}

#settings-view .buttons-list button {
  margin: 0;
}
