html, body {
  padding: 0;
  margin: 0;
  font-size: 10px;
  width: 100%;
  height: 100%;
  background-color: pink;
  overflow: hidden;
}
section[role="region"] {
  margin-bottom: 1.5rem;
  position: relative;
}