.appWindow .titlebar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 6;
}

.appWindow:not(.lockScreenWindow) .titlebar .notifications-shadow {
  background-image: -moz-element(#ambient-indicator);
  width: 100%;
  position: absolute;
  top: 0;
  height: .2rem;
}

.appWindow .titlebar .titlebar-maximized {
  width: 100%;
}

.appWindow .titlebar .titlebar-minimized {
  background-size: cover;
  width: calc(100% - 100% * var(--rocketbar-scale) + 8rem * var(--rocketbar-scale) - 0.5rem);
  right: 0;
  position: absolute;
}

/* Transitions between the maximized / minimized status bars */
.chrome + .titlebar .titlebar-maximized {
  opacity: 0;
}

.chrome.maximized + .titlebar .titlebar-maximized {
  opacity: 1;
}

.chrome + .titlebar .titlebar-minimized {
  transform: translateY(0);
  opacity: 1;
}

.chrome.maximized + .titlebar .titlebar-minimized {
  opacity: 0;
}

[data-manifest-name="FTU"]:not(.bar) > .chrome + .titlebar .titlebar-minimized,
.homescreen:not(.bar) > .chrome + .titlebar .titlebar-minimized,
.lockScreenWindow:not(.bar) > .chrome + .titlebar .titlebar-minimized,
.attentionWindow:not(.bar) > .chrome + .titlebar .titlebar-minimized {
  opacity: 0;
}

[data-manifest-name="FTU"]:not(.bar) > .chrome + .titlebar .titlebar-maximized,
.homescreen:not(.bar) > .chrome + .titlebar .titlebar-maximized,
.lockScreenWindow:not(.bar) > .chrome + .titlebar .titlebar-maximized,
.attentionWindow:not(.bar) > .chrome + .titlebar .titlebar-maximized {
  opacity: 1;
}

/* Special cases */
#screen.utility-tray .appWindow .titlebar {
  visibility: hidden;
}

/* Homescreen must show the maximized status bar */
#homescreen .chrome + .titlebar .titlebar-maximized {
  opacity: 1;
}

#homescreen .chrome + .titlebar .titlebar-minimized {
  opacity: 0;
}

/* RTL View */
html[dir="rtl"] .appWindow .titlebar .titlebar-minimized {
  left: 0;
  right: unset;
}
