.fixed-title {
  position: absolute;
  top: 0;
  width: 100%;
  height: -moz-calc(2.8rem + 1px);
  margin: 0;
  z-index: 6;
  background-repeat: no-repeat;
  background-color: white;
  transform: translateY(-100%);
}