/*
 *  The code is being shared between system/emergency-call/js/keypad.js
 *  and dialer/js/keypad.js. Be sure to update both file when you commit!
 *
 */

#keyboard-view {
  height: 100%;
}

#fake-phone-number-view {
  font-size: 4rem;
  position: absolute;
  line-height: 0;
  visibility: hidden;
}

#phone-number-view-container {
  width: 100%;
  height: -moz-calc(100% - 34.5rem);
  background: #2C3743;
  text-align: center;
  display: table;
  table-layout: fixed;
  border-spacing: 1.5rem 0rem;
  font-family: 'MozTT';
  font-weight: 300;
}

#phone-number-view-container.keypad-visible {
  height: -moz-calc(100% - 34.5rem);
  visibility: hidden;
}

#phone-number-view {
  width: 100%;
  border: 0;
  background: transparent;
  text-align: left;
  cursor: none;
  -moz-user-select: none;
}

#keypad-delete {
  text-align: center;
  width: 4rem;
  visibility: hidden;
}

article:not(:target) #keypad-delete {
  display: none;
}

#keypad-delete > div {
  width: 3.3rem;
  height: 2.4rem;
  background: url('images/dialer_icon_delete.png');
  background-repeat: no-repeat;
}

#keypad-delete:active > div {
  background-position: 0 -2.4rem;
}


#keyboard-container {
  width: 100%;
  height: 34.5rem;
}

#keypad {
  background: rgba(24,24,24,.92);
  height: -moz-calc(100% - 10rem);
  width: 100%;
  display: table;
  table-layout: fixed;
}

.keypad-cell {
  display: table-cell;
}

.keypad-cell:first-child .keypad-key {
  border-left: 0;
}

.keypad-cell:last-child .keypad-key {
  border-right: 0;
}

.keypad-key {
  border: solid 0.1rem rgba(255, 255, 255, 0.2);
  border-right-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  padding:0.2rem 0 0 1.5rem;
  -moz-box-sizing: border-box;
  height: 7rem;
  vertical-align: middle;
  color: white;
  font-family: 'MozTT';
  font-weight: 400;
  font-size: 5rem;
}

.keypad-key em {
  margin-left: 0.3rem;
  font-weight: normal;
  font-size: 1.5rem;
  color: #96AAB4;
  font-style: normal;
}

.keypad-key:active {
  background: #00aacc;
}

.keypad-key:active em {
  color: #FFF;
}

.keypad-key:active .voicemail {
  background-image: url('images/voicemail_.png');
}

.keypad-key * {
  pointer-events: none;
}

#keypad-delete * {
  pointer-events: none;
}

.keypad-key-centered {
  padding: 1.9rem 0 0 0;
  text-align: center;
}

.keypad-key .font-size-plus {
  font-size: 2rem;
  font-weight: normal;
}

.keypad-subicon {
  background-repeat: no-repeat;
  background-position: center bottom;

  -moz-user-select: none;
  pointer-events: none;

  display: inline-block;
  width: 2.2rem;
  height: 1.1rem;
}

.voicemail {
  background-image: url('images/voicemail.png');
}

.asterisk {
  background-image: url('images/asterisk.png');
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  background-size: 3rem 3rem;
  background-position: center;
  margin: auto 1.5rem;
  pointer-events: none;
}

.sharp {
  background-image: url('images/sharp.png');
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
  background-size: 3rem 3rem;
  background-position: center;
  margin: auto 1.5rem;
  pointer-events: none;
}

#keypad-callbar {
  background: rgba(24,24,24,.92);
  height: 6.5rem;
  width: 100%;
  display: table;
  table-layout: fixed;
  border-spacing: 1rem 1rem;
  border: solid 0.1rem rgba(255, 255, 255, 0.2);
  border-right-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-left: 0;
  -moz-box-sizing: border-box;
}

#keypad-callbar-add-contact,
#keypad-callbar-cancel {
  display: table-cell;
  width: 9rem;
  background: url("images/btn_generic.png") repeat-x;
  background-size: auto 100%;
  border: .1rem solid #242B36;
  border-radius: .2rem;
  vertical-align: middle;
}

#keypad-callbar-add-contact.disabled {
  opacity: 0.2;
  border: .1rem solid #2d292a;
}


#keypad-callbar-add-contact:active {
  background: #333333;
}

#keypad-callbar-cancel {
  width: 10rem;
}

#keypad-callbar-cancel:active {
  opacity: 0.7;
}

#keypad-callbar-cancel > div {
  text-align: center;
  font: 2rem 'MozTT';
}

#keypad-callbar-call-action {
  display: table-cell;
  width: 100%;
  background: url("images/btn_pick_up.png") repeat-x;
  background-size: auto 100%;
  border: 0;
  border-radius: .2rem;
  vertical-align: middle;
}

#keypad-callbar-call-action:active {
  background: #4B780A;
}

.icon-add-contact {
  margin: auto;
  width: 4rem;
  height: 4rem;
  background-image: url("images/ActionIcon_40x40_addcontact.png");
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-position: center;
}

#keypad-callbar-call-action > div {
  margin: auto;
  width: 4rem;
  height: 4rem;
  background-image: url("images/ActionIcon_40x40_pickup.png");
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-position: center;
}

#keypad-hidebar {
  background: rgba(24,24,24,.92);
  border: solid 0.1rem rgba(255, 255, 255, 0.2);
  border-right-color: rgba(0, 0, 0, 0.4);
  border-bottom-color: rgba(0, 0, 0, 0.4);
  border-left: 0;
  -moz-box-sizing: border-box;
}

#keypad-hidebar-hang-up-action-wrapper {
  float: left;
  height: 6.5rem;
  width: 50%;
}

#keypad-hidebar-hide-keypad-action-wrapper {
  height: 6.5rem;
  width: 50%;
}

.keypad-hidebar-button {
  height: 4rem;
  border: 0;
  border-radius:.3rem;
  display: block;
}

#keypad-hidebar-hang-up-action {
  background: url("images/btn_hang_up.png") repeat-x;
  background-size: auto 100%;
  opacity: 1.0;
  margin: 1rem .5rem 1.5rem 1.5rem;
}

#keypad-hidebar-hang-up-action:active {
  background: #820000;
}

#keypad-hidebar-hang-up-action > div {
  margin: 0 auto;
  background-image: url('images/ActionIcon_40x40_hangup.png');
  background-repeat: no-repeat;
  background-size: 4rem 4rem;
  background-position: center;
  width: 4rem;
  height: 4rem;
}

#keypad-hidebar-hide-keypad-action {
  background: url("images/btn_generic.png") repeat-x;
  background-size: auto 100%;
  opacity: 1.0;
  margin: 1rem 1.5rem 1.5rem .5rem;
}

#keypad-hidebar-hide-keypad-action:active {
  background: #333333;
}

#keypad-hidebar-hide-keypad-action > div {
  margin: -moz-calc((4rem - 3rem)/2) auto;
  background-image: url('images/ActionIcons_30x30_dismiss_keyboard.png');
  background-repeat: no-repeat;
  background-size: 3rem 3rem;
  background-position: center;
  width: 3rem;
  height: 3rem;
}

.phone-number-font {
  font-size: 4rem;
  color: white;
  font-family:'MozTT';
}