html, body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: 'MozTT', sans-serif;
  font-size: 10px;
  background: white;
  color: black;
}

#message-screen {
  width: 100%;
  height: 100%;
}

#message-screen.responseForm #response {
  display: block;
}

#message-container {
  height: -moz-calc(100% - 5rem - 5rem);
}

#message {
  font-size: 2rem;
  padding: 1rem;
  white-space: pre-line;
  word-wrap: break-word;
  overflow: auto;
}

#response {
  width: 100%;
  height: 5rem;
  background: rgb(245, 245, 245);
  display: none;
}

#response p {
  height: 3.8rem;
  margin: 0.6rem;
}

#response-text[disabled] {
  opacity: 0.8;
}

/*
  Loading screen
*/

#loading-overlay.hide {
  display: none;
}