/* Overrides building blocks */
#contact-list .contact-item {
  height: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* End overrides building blocks */

.contact-item {
  flex: 1;
  padding: .2rem 2rem 0;
  min-width: 0;
}

.contact-item .ci__tel-type:not(:empty):after {
  content: ',';
}

.ci__name {
  line-height: 1.9rem;
  pointer-events: none;
  padding-left: 1.5rem
}
html[dir="rtl"] .ci__name {
  padding-right: 4rem;
}

.ci--action-menu .ci__name {
  font-size: 1.7rem;
  line-height: 2.1rem;
  font-weight: 500;
}

.ci__details {
  line-height: 1.7rem;
  pointer-events: none;
}

.ci--action-menu .ci__details {
  font-size: 1.5rem;
}

.ci__mark {
  background-color: #94EEE9;
  color: unset;
}

.ci--action-menu .ci__mark {
  background: #333;
  color: #94eee9;
}

html[dir="ltr"] .ci__tel-type {
  vertical-align: top;
}

.ci__details {
  display: block;
  white-space: nowrap;
}
html[dir="ltr"] .ci__details {
  padding-right: 6rem;
  padding-left: 1.5rem;
}
html[dir="rtl"] .ci__details {
  padding-left: 6rem;
  padding-right: 1.5rem;
}

.ellipsis-name {
  display: inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: -.3rem;
}
html[dir="rtl"] .ellipsis-name {
  text-align: right;
}
.ci__tel {
  overflow: hidden;
  text-overflow: ellipsis;
}
html[dir="rtl"] .ci__tel {
  text-align: right;
}

.ellipsis-tel {
  display:inline-block;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

