<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>&lt;gaia-toolbar&gt;</title>
  <meta name="description" content="gaia-toolbar example" />
  <link rel="stylesheet" type="text/css" href="bower_components/base/base.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-icons/style.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-fonts/style.css">
  <script src="bower_components/gaia-theme/lib/gaia-theme-selector.js"></script>
  <script src="bower_components/gaia-component/gaia-component.js"></script>
  <script src="bower_components/gaia-dialog/gaia-dialog.js"></script>
  <script src="bower_components/gaia-icons/gaia-icons.js"></script>
  <script src="gaia-toolbar.js"></script>
  <style type="text/css">

    body {
      padding: 16px;
      padding-top: 48px;
    }

  </style>
</head>
<body role="application">
  <gaia-theme-selector></gaia-theme-selector>
  <h1 class="large l-align-center l-mb-mega">&lt;gaia-toolbar&gt;</h1>
  <button id="append">Add one</button>
  <section id="section">
    <gaia-toolbar class="l-mb-mega" selected="2">
      <button data-icon="recent-calls"></button>
      <button data-icon="user"></button>
      <button data-icon="dialpad"></button>
      <button data-icon="sync">sync</button>
      <button data-icon="camera">camera</button>
    </gaia-toolbar>

    <gaia-toolbar class="l-mb-mega" selected="2">
      <button data-icon="recent-calls"></button>
      <button data-icon="user"></button>
    </gaia-toolbar>

    <gaia-toolbar selected="2">
      <button>Phone</button>
      <button>Contact</button>
      <button>Dialer</button>
      <button>Refresh</button>
      <button>Add to homescreen</button>
    </gaia-toolbar>
  </section>

  <script>
  /*jshint esnext:true*/

  append.onclick = add;

  function add() {
    var div = document.createElement('div');

    div.innerHTML = `
      <gaia-toolbar selected="2">
        <div>Phone</div>
        <div>Contact</div>
        <div>Dialer</div>
        <div>Refresh</div>
        <div>Add to homescreen</div>
      </gaia-toolbar>`;

    section.appendChild(div.firstElementChild);
  }

  </script>
</body>
</html>
