.evmeScope [role="notification"].connection-message {
    width: 100%;
    padding: 1.2rem 5rem;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1.8rem;
    font-weight: normal;
    -moz-box-sizing: border-box;
}