<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>&lt;gaia-loading&gt;</title>
  <meta name="description" content="gaia-loading example" />
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-theme/gaia-base.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-theme/gaia-theme.css">
  <link rel="stylesheet" type="text/css" href="bower_components/gaia-fonts/style.css">
  <script src="bower_components/gaia-theme/lib/gaia-theme-selector.js"></script>
  <script src="gaia-loading.js"></script>
  <style type="text/css">

    body {
      padding: 16px;
      padding-top: 48px;
    }

  </style>
</head>
<body role="application">
  <gaia-theme-selector></gaia-theme-selector>
  <h1 class="large l-align-center l-mb-mega">&lt;gaia-loading&gt;</h1>
  <section class="l-align-center">
    <gaia-loading></gaia-loading>
  </section>
</body>
</html>
