<html>
  <head></head><body><element name="gt-ala-custom" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-close">back</span>
      </a>
    </header>
    <div>
      <ul>
        <li>
          <div class="gt-picture">
            <img src="style/images/guided_tour/privacy-panel-gt-04.svg">
          </div>
          <div class="gt-description">
            <h2 data-l10n-id="gt-ala-custom-header">What is Custom Location?</h2>
            <p data-l10n-id="gt-ala-custom-desc">
              With the custom location setting you are able to hide your real location and set it to another place worldwide. You choose where you are!
            </p>
          </div>
          <div class="gt-action">
            <div class="gt-pager page-4"></div>
            <a class="pp-link btn btn-dark-gray back" href="#gt-ala-blur" data-l10n-id="back">Back</a>
            <a class="pp-link btn btn-blue" href="#gt-ala-exceptions" data-l10n-id="next">Next</a>
          </div>
        </li>
      </ul>
    </div>
  </template>
</element>
</body>
</html>
