<html>
  <head></head><body><element name="gt-ala-explain" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-close">back</span>
      </a>
    </header>
    <div>
      <ul>
        <li>
          <div class="gt-picture">
            <img src="style/images/guided_tour/privacy-panel-gt-02.svg">
          </div>
          <div class="gt-description">
            <h2 data-l10n-id="gt-ala-explain-header">What is Location Adjustment good for?</h2>
            <p data-l10n-id="gt-ala-explain-desc">
              Many apps access your geolocation, like the addressbook or the camera. If you don't want to disclose your exact position, you can adjust the accuracy of your current location that is used by apps, set a custom location or hide your geolocation.
            </p>
          </div>
          <div class="gt-action">
            <div class="gt-pager page-2"></div>
            <a class="pp-link btn btn-dark-gray back" href="#gt-main" data-l10n-id="back">Back</a>
            <a class="pp-link btn btn-blue" href="#gt-ala-blur" data-l10n-id="next">Next</a>
          </div>
        </li>
      </ul>
    </div>
  </template>
</element>
</body>
</html>
