<element name="gt-ala-blur" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link back" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div>
      <ul>
        <li>
          <div class="gt-picture">
            <img src="style/images/guided_tour/privacy-panel-gt-03.svg">
          </div>
          <div class="gt-description">
            <h2 data-l10n-id="gt-ala-blur-header">How to set Location Adjustment?</h2>
            <p data-l10n-id="gt-ala-blur-desc">
            Not every app needs your exact location to work properly.  Instead of sharing your exact coordinates, you can choose to effectively blur your location to e.g. 50 miles around you. This way, your weather app will still work, but you are not disclosing your exact location. Remember: Location Adjustment will not completely hide you!
            </p>
          </div>
          <div class="gt-action">
            <div class="gt-pager page-3"></div>
            <a class="pp-link btn btn-dark-gray back" href="#gt-ala-explain" data-l10n-id="back">Back</a>
            <a class="pp-link btn btn-blue" href="#gt-ala-custom" data-l10n-id="next">Next</a>
          </div>
        </li>
      </ul>
    </div>
  </template>
</element>
