<html>
  <head></head><body><element name="gt-ala-exceptions" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-close">back</span>
      </a>
    </header>
    <div>
      <ul>
        <li>
          <div class="gt-picture">
            <img src="style/images/guided_tour/privacy-panel-gt-05.svg">
          </div>
          <div class="gt-description">
            <h2 data-l10n-id="gt-ala-exceptions-header">What is location per app?</h2>
            <p data-l10n-id="gt-ala-exceptions-desc">
              Here you will find an overview of all apps, that can access your geolocation. You can adjust the settings for each app individually. They overwrite the global location accuracy for that app.
            </p>
          </div>
          <div class="gt-action">
            <div class="gt-pager page-5"></div>
            <a class="pp-link btn btn-dark-gray back" href="#gt-ala-custom" data-l10n-id="back">Back</a>
            <a class="pp-link btn btn-blue" href="#gt-rpp-explain" data-l10n-id="next">Next</a>
          </div>
        </li>
      </ul>
    </div>
  </template>
</element>
</body>
</html>
