<element name="la-blur" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link back" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div>
      <ul>
        <li>
          <div class="gt-picture">
            <img src="style/images/guided_tour/privacy-panel-gt-03.svg">
          </div>
          <div class="gt-description">
            <h2 data-l10n-id="la-blur-header">How to set Location Accuracy?</h2>
            <p data-l10n-id="la-blur-desc">
              Not each app needs your exact location to work properly. Instead of sharing your exact coordinates, you can choose to effectively blur your location to e.g. 50 miles around you. This way, your weather app will still work, but you are not disclosing your exact address. Remember: Location Fuzzing doesn't always work. Your location can been determined by an determined adversary or even by your IP-address. Use with caution.
            </p>
          </div>
          <div class="gt-action">
            <a class="pp-link btn btn-dark-gray back" href="#la-explain" data-l10n-id="back">Back</a>
            <a class="pp-link btn btn-blue" href="#la-custom" data-l10n-id="next">Next</a>
          </div>
        </li>
      </ul>
    </div>
  </template>
</element>
