<element name="gt-main" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-close"></span>
      </a>
    </header>
    <div>
      <ul>
        <li>
          <div class="gt-picture">
            <img src="style/images/guided_tour/privacy-panel-gt-01.svg">
          </div>
          <div class="gt-description">
            <h2 data-l10n-id="gt-main-pc-header"></h2>
            <p data-l10n-id="gt-main-desc"></p>
          </div>
          <div class="gt-action">
            <div class="gt-pager page-1"></div>
            <a class="pp-link btn btn-blue" href="#gt-ala-explain" data-l10n-id="get-started"></a>
          </div>
        </li>
      </ul>
    </div>
  </template>
</element>
