<element name="gt-main" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link back" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div>
      <ul>
        <li>
          <div class="gt-picture">
            <img src="style/images/guided_tour/privacy-panel-gt-01.svg">
          </div>
          <div class="gt-description">
            <h2 data-l10n-id="gt-main-header">Welcome to the Privacy Panel!</h2>
            <p data-l10n-id="gt-main-desc">
              This app will help you enhance your privacy protection and enables you to lock or find your phone if it's lost. Just have a closer look. It takes only 2 minutes!
            </p>
          </div>
          <div class="gt-action">
            <div class="gt-pager page-1"></div>
            <a class="pp-link btn btn-blue" href="#gt-ala-explain" data-l10n-id="get-started">Get started!</a>
          </div>
        </li>
      </ul>
    </div>
  </template>
</element>
