#crash-dialog h1 {
  border-bottom: none;
}

#crash-dialog p {
  overflow: visible;
}

#crash-dialog p:not(:first-of-type) {
  border-top: none;
}

#crash-dialog a {
  text-decoration: underline;
  margin-top: 2rem;
}

#crash-dialog.learn-more > form {
  display: none;
}

#crash-dialog:not(.learn-more) > section {
  display: none;
}

/* "Crash Reports" information page */
section[role="region"] > header {
  position: absolute;
}

section[role="region"] > div {
  position: absolute;
  top: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: scroll;
}

#crash-dialog > section {
  background-color: #fff;
  color: #000;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#crash-dialog > section > div > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#crash-dialog .description {
  font-size: 1.5rem;
  word-wrap: break-word;
  -moz-hyphens: auto;
  white-space: normal;
  padding: 1rem 3rem;
}
