/* ----------------------------------
 * Lists: default
 * ---------------------------------- */

div[role="list"] {
  font-family: "MozTT", "Moz", Sans-serif;
  font-weight: 400;
}

div[role="list"] strong {
  font-weight: 500;
}

div[role="list"] h3 {
  border-bottom: 0.1rem solid #ff4E00;
  padding: 0 0 0.5rem 1.5rem;
  font-size: 1.6rem;
  line-height: 1.6rem;
  color: #ff4E00;
  margin: 0 1.5rem;
  font-weight: normal;
  text-transform: uppercase;
}

div[role="list"] h3:first-of-type {
  padding: 1.5rem 0 0.5rem 1.5rem;
}

div[role="list"] ul {
  list-style: none;
  margin: 0 0 0.5rem 0;
  padding: 0 1.5rem;
  overflow: hidden;
}

div[role="list"] li {
  display: inline-block;
  width: 100%;
  -moz-box-sizing: border-box;
  transition: transform 0.3s ease;
  border-bottom: solid 0.1rem #dbd9d9;
  margin: 0;
  position: relative;
}

div[role="list"] li mark {
  background-color: #cfd3d7;
}

div[role="list"] li:last-of-type {
  border: none;
}

div[role="list"] li > a {
  text-decoration: none;
  color: #000;
  display: inline-block;
  width: 100%;
  position: relative;
}

/* Pressed State */
div[role="list"] li > a:after {
  content: "";
  transition: opacity 0.2s ease;
  background-color: #b1f1ff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
}

div[role="list"] li > a:active:after {
  opacity: 0.6;
}

div[role="list"] li aside {
  float: left;
  display: inline;
  position: relative;
  width: 3rem;
  height: 5rem;
  padding-top: 1rem;
  margin: 0 0.5rem 0 0;
}

div[role="list"] li aside.b2g-end {
  float: right;
  margin: 0;
  padding: 0;
  width: 6rem;
  height: 6rem;
}

div[role="list"] li aside time {
  font-size: 1.5rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: #000;
}

div[role="list"] li aside img {
  display: block;
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  background: transparent center center;
  background-size: 100% auto;
}

div[role="list"] li aside img.b2g-no-picture { 
  height: 2rem;
  padding: 4rem 0 0 4rem;
  width: 2rem;
  background: transparent;
}

div[role="list"] li article {
  display: block;
  overflow: hidden;
  padding: 1rem 0.5rem 0 0;
}

div[role="list"] li aside:not(.b2g-end) ~ article {
  padding: 1rem 0.5rem 0 0;
}

div[role="list"] li p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  display: block;
  margin: 0;
  color: #5b5b5b;
  font-size: 1.5rem;
  line-height: 2rem;
}

div[role="list"] li p:first-of-type {
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #000;
  padding-bottom: 0.1rem;
}

div[role="list"] li p:first-of-type em {
  font-size: 1.5rem;
  font-style: normal;
}

div[role="list"] li p strong {
  color: #000;
}

div[role="list"] li p time {
  font-size: 1.5rem;
  color: #5b5b5b;
  margin-right: 0.3rem;
  font-weight: 500;
}

/* Icon definitions */
div[role="list"] li .b2g-icon {
  width: 100%;
  height: 100%;
  background: transparent no-repeat left center;
  font: 0/0 a;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

div[role="list"] li .b2g-icon.b2g-icon-unread {
  background: url(lists/images/icons/dot.png) no-repeat center;
}

/* Edit mode */
div[role="list"] li > a:first-of-type > * {
  transition: margin 0.6s ease;
}

div[role="list"].b2g-edit-mode li > a:first-of-type > * {
  margin-left: 3.5rem;
  transition: margin 0.6s ease;
}

div[role="list"].b2g-edit-mode li > a {
  pointer-events: none;
}

div[role="list"] li > label:not([for]) {
  width: 5rem;
  height: 6rem;
  position: absolute;
  top: -0.1rem;
  z-index: 100;
  border: none;
}

div[role="list"] li > label:not([for]) {
  opacity: 0;
  left: -5rem;
  transition: all 0.6s ease; 
}

div[role="list"].b2g-edit-mode li > label:not([for]) {
  opacity: 1;
  left: -1.5rem;
  transition: all 0.6s ease;
}

/* Disabled */
div[role="list"] li[aria-disabled="true"]:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #e6e6e6;
  opacity: 0.7;
}

div[role="list"] li[aria-disabled="true"] {
  pointer-events: none;
}

/* ----------------------------------
 * Lists: Extended info
 * ---------------------------------- */

div[role="list"] ul {
  padding: 0;
}

div[role="list"] li aside,
div[role="list"] li aside.b2g-end,
div[role="list"] li .b2g-icon {
  width: 3rem;
  height: 8rem;
  padding: 0;
  margin: 0;
}

div[role="list"] li aside img {
  height: 8rem;
  margin-right: -3rem;
}

div[role="list"] li article {
  padding: 0.7rem 0.5rem 0 3rem;
}

div[role="list"] li aside:not(.b2g-end) ~ article {
  padding-left: 0;
}

div[role="list"] li p {
  color: #000;
}

div[role="list"] li p:last-of-type {
  color: #5b5b5b;
}

div[role="list"] li p:first-of-type time {
  color: #008caa;
}

div[role="list"] li p:last-of-type {
  color: #5b5b5b;
}

div[role="list"].b2g-edit-mode li > label:not([for]) {
  height: 8rem;
  left: 0;
}
