/*csslint important: 0*/
#global-overlays {
  /* See the new mozpasspointerevents attribute added in bug 796452 */
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}

#global-overlays * {
  pointer-events: none !important;
}

#global-overlays .close-global-overlay {
  pointer-events: auto !important;
  height: 3rem;
  width: 5rem;
}
