#keyboards {
  /* See the new mozpasspointerevents attribute added in bug 796452 */
  pointer-events: none;

  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;

  transform: translateY(0);
  transition: opacity 0.2s ease, transform 0.4s ease;
}

#keyboards.hide {
  opacity: 0;
  transform: translateY(100%);
  /* ease-in for disappearing */
  transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

#keyboards.no-transition {
  transition: none !important;
}

@media not all and (-moz-physical-home-button) {
  #screen:not(.software-button-disabled) #keyboards {
    bottom: var(--software-home-button-height);
  }
}

#screen.software-button-enabled #keyboards {
  bottom: var(--software-home-button-height);
}

@media (orientation: landscape) {
  #screen.software-button-enabled #keyboards {
    right: var(--software-home-button-height);
    bottom: 0;
    left: 0;
    width: auto;
  }
}

#keyboards iframe {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;
  border: 0;
}

#keyboards iframe.hide {
  transform: translateY(100%);
}

/* notification */
#keyboard-show-ime-list > .fake-notification {
  box-sizing: border-box;

  /* wait for activate */
  display: none;
}

#keyboard-show-ime-list > .fake-notification.activated {
  display: block;
}

#keyboard-show-ime-list > .fake-notification > .title-container {
  margin: 1.4rem 0 0 3.7rem;
}

#keyboard-show-ime-list > .fake-notification > .detail {
  margin-left: 3.7rem;
}

.lockScreenInputWindow.slide-from-bottom {
  animation: slideFromBottom 0.4s both ease;
}

.lockScreenInputWindow.slide-to-bottom {
  animation: slideToBottom 0.4s both ease-in;
}

@keyframes slideFromBottom {
  0% {
    opacity: 0;
    transform: translateY(calc(100%));
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideToBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateY(calc(100%));
  }
}

.lockScreenInputWindow {
  transform: translateY(calc(100%));
}

.lockScreenInputWindow #lockscreen-inputpad-frame {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;
  border: 0;
}

.lockScreenInputWindow #lockscreen-inputpad-frame.hide {
  transform: translateY(calc(100%));
}
