html {
  font-size: 10px;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 13.3px;
  }
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  overflow: hidden;

  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 12px;
}

#screen {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;

  background-color: #000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#screen.screenoff {
  background: #000 !important;
}

#screen.screenoff > * {
  visibility: hidden;
}

#homescreen {
  position: absolute;
  left: 0px;
  top: 20px;
  width: 100%;
  height: -moz-calc(100% - 20px);
  border: 0px;
  overflow: hidden;
}

#screen.active-statusbar #homescreen {
  top: 40px;
  height: -moz-calc(100% - 40px);
}

#windows {
  position: absolute;
  left: 0px;
  width: 100%;
  top: -100%;
  height: 0;
  max-height: 0;
  border: 0px;
  overflow: hidden;
}

#windows.active {
  top: 0;
  height: 100%;
  max-height: 100%;
}

#windows > iframe.appWindow {
  position: absolute;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  left: 0;
  top: 20px;
  z-index: 1;

/*
 * Do not specify height/width here! They should go to
 * Window.prototype.resize() in window_manager.js
 *
 */

/*
 * Disable this for now because it forces an expensive fallback path in
 * Gecko.  The performance issue should be fixed by
 * https://bugzilla.mozilla.org/show_bug.cgi?id=697645 or a related bug.
 *
  border-radius: 8px;
 */
}

#screen.active-statusbar #windows > iframe.appWindow {
  top: 40px;
}

#windows > iframe.appWindow.active {
  z-index: 9995;
  background-color: #fff;
}

#windows > iframe.appWindow:not(.active) {
  visibility: hidden;
}

#windowSprite {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: -moz-calc(100% - 20px);
  z-index: 9999;
  opacity: 0;
  background-color: #373a3d;
  pointer-events: none;
  -moz-transform: scale(0.5);
  -moz-transition: -moz-transform 0.5s ease, opacity 0.3s ease;
}

#windowSprite.open {
  -moz-transform: scale(1);
  opacity: 1;
}

#windowSprite.faded {
  opacity: 0;
}

#windowSprite.close {
  /* The transition on color is not really useful but it is used to fire
     a transitionend event on the sprite after a certain amount of time.
     This amount of time is when the 'transform' animation should start.
  */
  -moz-transition: color 0.1s ease, opacity 0.3s ease, -moz-transform 0.3s 0.1s ease;
  -moz-transform: scale(0.5);
  opacity: 0.3;
  color: black;
}

.accessibility-invert {
  filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxmaWx0ZXIKICAgICAgaWQ9ImludmVydEZpbHRlciIKICAgICAgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIj4KICAgIDxmZUNvbG9yTWF0cml4CiAgICAgICAgdmFsdWVzPSItMSAwIDAgMCAxIDAgLTEgMCAwIDEgMCAwIC0xIDAgMSAwIDAgMCAxIDAgIiAvPgogIDwvZmlsdGVyPgo8L3N2Zz4K#invertFilter);
}

iframe.backgroundWindow {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 1px;
  height: 1px;
  visibility: hidden;
}

#keyboard-frame {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 10001;
  border: 0;
  transform: translateY(0);
  -moz-transition: -moz-transform 0.2s ease;
  pointer-events: none;
}

#keyboard-frame.visible {
  z-index: 9000;
  pointer-events: auto;
}

#keyboard-frame.hide {
  transform: translateY(100%);
}

#keyboard-overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  border: 0;
  z-index: 10002;
  background: -moz-element(#keyboard-frame);
  background-position: top center;
  pointer-events: none;
}

#screen.fullscreen #keyboard-overlay {
  /* Show it above fullscreen - see https://mxr.mozilla.org/mozilla-central/source/layout/style/ua.css#218 */
  z-index: 2147483647;
}

#dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
}

#screen.modal-dialog #dialog-overlay,
#screen.popup #dialog-overlay {
  display: block;
}
