body {
    background-color: #000;
}

#splash {
    position: fixed;
    top: -moz-calc((100% - 250px)/2);
    left: -moz-calc((100% - 250px)/2);
    -moz-transition: opacity .5s;
}

#gameframe {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    opacity: 0;
    -moz-transition: opacity .5s;
    -moz-transform-origin: 0px 0px;
    -moz-transform: scale(.458,.545);
}
