#debug-ttl {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  height: 2.2rem;
  width: 5.8rem;
  background-color: darkgreen;
  pointer-events: none;
  font-size: 2rem;
  line-height: 2rem;
  text-align: right;
  font-weight: bold;
  overflow: hidden;
  padding-right: 0.3rem;
}
