body {
  background-color: #ddd;
}

#detailIcon {
  width: 128px;
  height: 128px;
  margin: 10px;
  vertical-align: middle;
}

#detailName {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
}

#detailDescription {
  color: #333;
  margin: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
}