<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1">

    <link rel="stylesheet" href="demo-app/css/h1.css">
    <link rel="stylesheet" href="demo-app/css/ul.css">
    <link rel="stylesheet" href="demo-app/css/app.css">

    <script type="text/javascript" src="lib/dom-scheduler.js" async></script>
    <script src="bower_components/fast-list/fast-list.js" defer></script>

    <script type="text/javascript" src="demo-app/js/bacon-source.js" async></script>
    <script type="text/javascript" src="page.js" async></script>

    <title>Dom Scheduler Demo</title>
  </head>

  <body class="theme-communications">
    <h1>
      Main List
    </h1>
    <div id="h1-after"></div>
    <button>
      Edit
    </button>
    <section>
      <ul>
        <section
          ><h2> </h2
          ><div class="background"
            ></div
            ></section>
        <li
          ><h3> </h3
          ><p> </p
          ><div class="overlay"
            ><div class="cursor">↕︎</div></div
          ></li>
      </ul>
    </section>

  </body>

</html>
