.evmeScope a {
    text-decoration: none;
    color: inherit;
}
.evmeScope ul {
    list-style-type: none;
}

/* When clicking on an app */
.loading-app #header {
    transition: all .2s linear;
    opacity: 0 !important;
}

#bgimage-overlay .content .close,
.app-icon:after
{
    background-image: url('/everything.me/images/sprite.png');
    background-repeat: no-repeat;
}
.evmeScope select {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    border: 0;
    z-index: 800;
}

/* Results Containers */

.evmeScope .evme-apps {
    position: absolute;
    top: 8.1rem; /* result's header height, overriden in collection.css */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    font-size: 0;
}
  .evmeScope .evme-apps > div {
      -moz-box-orient: vertical;
      -moz-box-sizing: border-box;
      display: -moz-box;
      width: 100%;
      min-height: 100%;
      padding-top: 2.4rem;
  }
  .evmeScope .apps-wrapper {
    padding: 0 1rem;
  }
  .evmeScope .evme-apps.has-more > div {
    padding-bottom: 4.9rem;
  }


/* Notifications */

section[role="status"] {
  /* override status.css to show above collections */
  z-index: 10002 !important;
}

.evmeScope .evme-apps section[role="notification"] {
    position: relative;
    -moz-box-flex: 1;
    display: none;
    visibility: hidden;
}
.evmeScope .evme-apps section[role="notification"] > div {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    height: 2.9rem;
}
/* Prevent unnecessary cpu usage (bug 922341) */
.evmeScope .evme-apps section[role="notification"] progress {
    display: none;
}

.evmeScope:not(.connection-error) .evme-apps section[role="notification"].show progress {
  display: inline-block;
}
.evmeScope .evme-apps.has-more section[role="notification"] > div {
    margin-top: 1rem;
    padding-top: 0.5rem;
    box-shadow: 0 -0.1rem 0 0 rgba(255, 255, 255, .4),
                0 -0.2rem 0 0 rgba(0, 0, 0, .4);
}
.evmeScope .evme-apps:not(.has-more) section[role="notification"] > div {
    margin-top: -1.45rem;
}
.evmeScope .evme-apps.has-more section[role="notification"].connection-message > div {
  padding-left: 1rem;
  padding-right: 1rem;
}

.evmeScope:not(.connection-error) .evme-apps.has-more section[role="notification"].loading-more,
.evmeScope.connection-error .evme-apps section[role="notification"].connection-message {
    display: block;
}

.evmeScope:not(.connection-error) .evme-apps section[role="notification"].show,
.evmeScope.connection-error .evme-apps section[role="notification"].connection-message {
    display: block;
    visibility: visible;
}

.evmeScope .evme-apps:not(.has-more) section[role="notification"].loading-more span {
    display: none;
}
