.evmeScope {
    visibility: hidden;
}
.evme-ready .evmeScope {
    visibility: visible;
}

.evme-has-query .evmeScope {
    height: 100%;
}

.evme-keyboard-visible .evmeScope,
.evme-suggest-collections-loading .evmeScope {
    height: 100%;
}

.evme-keyboard-visible .apps > div.evmePage ol,
.evme-has-query .apps > div.evmePage ol {
    opacity: 0;
}
.apps > div.evmePage {
    height: 100%;
    -moz-box-sizing: border-box;
    padding-top: calc(25% + 1.3rem);
}

/* Maximum 12 icons for page */
.evmePage ol > li:nth-child(13) {
  display: none;
}
@media all and (min-device-width: 480px) and (min-device-height: 960px ) {
  .evmePage ol > li:nth-child(13) {
    display: inline-block;
  }
  .evmePage ol > li:nth-child(17) {
    display: none;
  }
}

.evme-has-results #footer,
.evme-suggest-collections-loading #footer {
  display: none;
}

#footer {
    transition: transform 100ms ease;
}
.evme-displayed.evme-keyboard-visible #footer,
.evme-displayed.evme-has-query #footer{
    transform: translateY(100%);
}
