#evmeContainer .dialog {
    position: absolute;
    top: 2rem;
    left: 1.1rem;
    width: 26.8rem;
    z-index: 0;
    padding: 0.7rem 1.3rem 1.3rem 1.3rem;
    font-size: 1.7rem;
    color: #fff;
    opacity: 0;
    border-radius: 0.6rem;
    box-shadow: 0 0.8rem 1.8rem 0.2rem rgba(0, 0, 0, .6);
}
#evmeContainer .dialog,
#evmeContainer .dialog .tiparrow:before {
    background: rgba(0, 0, 0, .9);
    border: 0.2rem solid #4c4c4c;
}
#evmeContainer .dialog-blackout {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 0;
}
#evmeContainer .dialog,
#evmeContainer .dialog-blackout {
    opacity: 0;
    -moz-transition: opacity .4s linear;
    transition: opacity .4s linear;
}
#evmeContainer .dialog.visible,
#evmeContainer .dialog-blackout.visible {
    opacity: 1;
    z-index: 800;
}
#evmeContainer .dialog-blackout.visible {
    z-index: 790;
}
    #evmeContainer .dialog h2 {
        font-size: 2.1rem;
        font-weight: 600;
        padding: 0.5rem 0;
    }
    #evmeContainer .dialog h2 em {
        font-style: normal;
        color: #6fd3f3;
    }
    #evmeContainer .dialog .content {
        position: relative;
        line-height: 2rem;
    }
        #evmeContainer .dialog .content a {
            text-decoration: underline;
        }
        #evmeContainer .dialog .content .br {
            height: 1rem;
        }
    #evmeContainer .dialog .buttons {
        padding-top: 1.2rem;
    }
        #evmeContainer .dialog .button,
        #evmeContainer .ptip .button {
            position: relative;
            display: inline-block;
            font-size: 1.7rem;
            height: 3.9rem;
            line-height: 3.9rem;
            width: 12.8rem;
            cursor: pointer;
            text-align: center;
            font-weight: 600;
            color: #1d2223;
            text-shadow: 0 0.1rem 0 rgba(255, 255, 255, .6);
            border: 0.1rem solid #0c3e4d;
            border-radius: 0.6rem;
            font-family: 'Helvetica Neue', 'Helvetica', Arial, Sans-Serif;
            background: #054b62;
            background: -moz-linear-gradient(center top, #d8ecf3 0%, #bfdee9 50%, #b4dae7 50%, #88c3d7 100%);
        }
        #evmeContainer .dialog .button:hover,
        #evmeContainer .ptip .button:hover {
            opacity: .7;
        }
        #evmeContainer .dialog .button:last-child {
            margin-left: 0.8rem;
        }
        #evmeContainer .dialog .button:first-child:last-child {
            display: block;
            width: auto;
            margin: 0;
        }
    
    #evmeContainer .dialog .tiparrow {
        width: 2.4rem;
        height: 1.2rem;
        position: absolute;
        top: -1.2rem;
        left: 1.5rem;
        overflow: hidden;
    }
    #evmeContainer .dialog .tiparrow:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2rem;
        height: 2rem;
        margin-left: -1rem;
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
#evmeContainer .dialog .entity {
     white-space: nowrap;
}


#evmeContainer .ptip {
    font-family: 'MozTT';
    color: #fff;
    text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .5);
}
#evmeContainer .ptip,
#evmeContainer .ptip .tiparrow:before {
    background: #833068 url('/everything.me/images/bgpattern.jpg') bottom left repeat;
    background-size: 3.6rem 3.6rem;
    border: 0.2rem solid #a6528f;
}
#evmeContainer .ptip .content em {
    font-style: normal;
    color: #70c8ea;
}

#evmeContainer #dialog_searchpage-tip {
    top: 3.8rem;
    left: 0.6rem;
    right: 0.6rem;
    width: auto;
    padding: 0;
    font-size: 1.9rem;
    text-align: center;
}
    #evmeContainer #dialog_searchpage-tip .content {
        padding: 3rem 2rem 5rem 2rem;
        line-height: 140%;
        overflow: hidden;
    }
    #evmeContainer #dialog_searchpage-tip .content .inner {
        position: relative;
        z-index: 10;
    }
    #evmeContainer #dialog_searchpage-tip .content:before {
        content: "";
        background: transparent url('/everything.me/images/temp/welcome-icons.jpg') bottom left no-repeat;
        background-size: 25.6rem 9.9rem;
        position: absolute;
        bottom: -3rem;
        left: -3rem;
        z-index: 5;
        width: 25.6rem;
        height: 9.9rem;
        opacity: .99;
    }
    #evmeContainer #dialog_searchpage-tip .tiparrow {
        left: 4.2rem;
    }
    #evmeContainer .mode-edit #dialog_searchpage-tip .tiparrow {
        left: 1.1rem;
    }
    
#evmeContainer #dialog_tip-first-exact {
    text-align: center;
    font-size: 1.9rem;
    line-height: 150%;
    right: auto;
    left: 50%;
    width: 27rem;
    margin-left: -15.2rem;
    padding: 1.2rem 1.5rem 1.5rem 1.5rem;
}
    #evmeContainer #dialog_tip-first-exact h2 {
        padding: 0;
    }
    #evmeContainer #dialog_tip-first-exact .content {
        line-height: 140%;
    }