html {
  font-size: 10px;
  font-family: "Fira Sans";
  font-weight: 100;
  font-style: italic;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: white;
}

a {
  outline: 0;
}

a:hover, a:active, a:focus {
  outline: 0;
}

#main-section {
  width: 100%;
  height: 100%;
}

#main-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

#top-container {
  box-sizing: border-box;
  padding: 0 5rem 0 5rem;
  background-color: #404040;
  height: calc(100% - 31.8rem);
}

#header {
  width: 100%;
  height: 15rem;
  padding-top: 4.2rem;
  box-sizing: border-box;
  color: #b4b4b4;
  line-height: 6.8rem;
}

#label {
  width: 80%;
  height: 6.8rem;
  display: inline-block;
  font-style: italic;
  font-size: 7rem;
}

#time {
  float: right;
  font-style: normal;
  font-size: 9rem;
}

#time-prefix-container {
  float: right;
  font-style: normal;
  font-size: 1.6rem;
  font-weight: normal;
  margin-right: 0.4rem;
}

#time-prefix {
  vertical-align: bottom;
  height: 4rem;
  display: inline-block;
}

#epg-container {
  font-size: 2.8rem;
  height: calc(100% - 15rem);
  width: 100%;
  overflow: hidden;
}

#epg-left {
  position: relative;
  width: 46.8rem;
  height: 100%;
  float: left;
  box-sizing: border-box;
}

#date {
  width: 100%;
  float: left;
  height: 3.8rem;
  padding-left: 1.6rem;
  border-bottom: #5e5e5e 0.6rem solid;
}

#channel-list-container {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  height: calc(100% - 4rem);
}

#channel-list {
  margin: 0;
  padding: 0;
  font-size: 3.4rem;
  list-style: none;
  transition: transform 0.3s;
  background-color: #5e5e5e;
  position: relative;
  transform: translateZ(0.01rem);
}

#channel-list > li {
  font-weight: normal;
  line-height: 10.8rem;
  border-bottom: 0.3rem #404040 solid;
  border-top: 0.3rem #404040 solid;
  border-right: 0.4rem #404040 solid;
  padding-left: 1.6rem;
  margin-bottom: 0.1rem;
  position: relative;
}

#channel-list > li.hidden {
  display: none;
}

#channel-list > li > .title {
  position: absolute;
  left: 11.2rem;
  font-size: 3.2rem;
  font-weight: 100;
}

#epg-right {
  position: relative;
  float: left;
  width: calc(100% - 46.8rem);
  height: 100%;
  overflow: hidden;
}

#time-marker-container {
  position: absolute;
  transition: left 0.3s;
  z-index: 1;
}

#time-marker {
  width: 0;
  height: 0;
  position: relative;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1.5rem solid white;
  top: 3.1rem;
  left: -1rem;
  transition: transform 0.3s;
}

#timeline-container {
  overflow: hidden;
  padding-left: 2rem;
  display: inline-block;
  height: 3.8rem;
  border-bottom: #5e5e5e 0.6rem solid;
  width: 100%;
  position: relative;
  float: left;
}

#timeline {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  transition: transform 0.3s;
  position: relative;
  display: inline-block;
  transform: translateZ(0.01rem);
}

#timeline > li {
  display: inline-block;
  width: 33.8rem;
  box-sizing: border-box;
}

#program-list-container {
  float: left;
  width: 100%;
  font-size: 0;
  overflow: hidden;
  position: relative;
  height: calc(100% - 4.6rem);
}

#program-list {
  display: inline-block;
  transition: transform 0.3s;
  position: relative;
  transform: translateZ(0.01rem);
}

#program-list > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 0.7rem;
  white-space: nowrap;
  font-size: 0;
  display: block;
  height: 10.8rem;
}

#program-list > ul.hidden {
  display: none;
}

#program-list > ul > li {
  display: inline-block;
  position: relative;
  width: 33.5rem;
  font-size: 2.5rem;
  line-height: 10.8rem;
  overflow: hidden;
  padding-bottom: 0.3rem;
  padding-right: 0.3rem;
  border-bottom: 0.1rem #5e5e5e solid;
  margin-top: 0.3rem;
  background-color: #404040;
  height: 11.2rem;
  background-clip: content-box;
  box-sizing: border-box;
}

#program-list > ul > li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0.1rem;
  background-color: #5e5e5e;
  height: 10.8rem;
}

#program-list > ul > li.focus {
  background-color: #00caf2;
}

#program-list > ul > li.hidden {
  display: none;
}

#program-list > ul > li[data-duration="1"] {
  width: 33.8rem;
}

#program-list > ul > li[data-duration="2"] {
  width: 67.6rem;
}

#program-list > ul > li[data-duration="3"] {
  width: 101.4rem;
}

#program-list > ul > li[data-duration="4"] {
  width: 135.2rem;
}

#program-list > ul > li[data-duration="5"] {
  width: 169rem;
}

#program-list > ul > li[data-duration="6"] {
  width: 202.8rem;
}

#program-list > ul > li[data-duration="7"] {
  width: 236.9rem;
}

#program-list > ul > li > .title {
  margin-left: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 2rem);
  box-sizing: border-box;
  position: absolute;
}

#program-list > ul > li > .background-progress {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: calc(100% - 0.3rem);
  transform: scaleX(0);
  transform-origin: 0;
  width: calc(100% - 0.3rem);
}

#program-list > ul > li > .background-progress.smooth {
  transition: transform 0.3s;
}

#bottom-container {
  width: 100%;
  box-sizing: border-box;
  height: 31.8rem;
  background-color: #232323;
  padding: 2.8rem 5rem 2.8rem 5rem;
}

#video-thumbnail {
  background-color: green;
  width: 46.4rem;
  height: 26.2rem;
  float: left;
}

#detail-container {
  float: left;
  overflow: hidden;
  margin-left: 2rem;
  width: calc(100% - 51.4rem);
  position: relative;
  white-space: nowrap;
  height: 100%;
}

#program-title-container {
  font-size: 5rem;
  color: #d4d4d4;
  height: 10.6rem;
  margin-bottom: 1.8rem;
  position: relative;
}

#program-title {
  position: absolute;
  bottom: 0;
  color: #d4d4d4;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#program-detail {
  font-size: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4rem;
  height: 3.8rem;
}

#program-meta {
  font-size: 4rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1.4rem;
  height: 3.8rem;
}

#program-meta > li {
  display: inline-block;
  padding-right: 4.9rem;
  padding-left: 5rem;
  border-right: 0.1rem #5e5e5e solid;
}

#program-meta > li:first-child {
  padding-left: 0;
}

#program-meta > li:last-child {
  border-right: 0;
}

#progress-bar {
  width: 30%;
  height: 0.6rem;
  position: absolute;
  bottom: 0;
  background: linear-gradient(135deg, rgba(0, 202, 242, 1) 25%, rgba(0, 202, 242, 1) 50%, rgba(0, 202, 242, 1) 75%, rgba(59, 59, 59, 1) 75%);
}

#progress-bar-back {
  width: 100%;
  height: 0.6rem;
  position: absolute;
  bottom: 0;
  background-color: #3b3b3b;
}
