html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
  overflow: hidden;
  background: white;
}

/**
 * Headers should not scroll with the rest of the page, except for #root.
 */
section[role="region"] > header {
  position: absolute;
}

section[role="region"] > div {
  position: absolute;
  top: 5rem;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 5rem);
  overflow-y: scroll;
}

aside.pack-end > label {
  margin-top: 0.5rem;
}

section[data-type="list"] p>label {
  width: 100%;
  display: inline-block;
}
