#permission-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -moz-transition: opacity 0.5s ease;
  pointer-events: none;
  display: none;
}

#screen.fullscreen-layout-app.software-button-enabled #permission-screen {
  height: 100%;
}

@media (orientation: landscape) {
  #screen.fullscreen-layout-app.software-button-enabled #permission-screen {
    height: 100%;
  }
}

#screen:-moz-full-screen-ancestor > #permission-screen,
#screen.fullscreen-app #permission-screen,
#screen.lockscreen-camera #permission-screen {
  top: 0;
  height: 100%;
}

#permission-screen.visible {
  pointer-events: auto;
  display: inline-block;
}

#permission-dialog > div.inner {
  overflow-y: scroll;
}

#screen:not(.fullscreen-app):not(.fullscreen-layout-app) #permission-dialog > div.inner {
  margin-top: 0;
}

@media not all and (-moz-physical-home-button) {
  #screen:not(.software-button-disabled) #permission-screen {
    height: 100%;
  }

  #screen.fullscreen-app:not(.software-button-disabled) #permission-screen {
    height: 100%;
  }
}

#permission-title {
  padding: 0 0 6.48vh 0; /* 6.48vh = 7rem in 1920x1080 */
  font-size: 3.8rem;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
  margin: 0;
}

#permission-icon {
  background-repeat: no-repeat;
  background-size: 6.4rem;
  background-position: 0 50%;
  width: 6.4rem;
  height: 6.4rem;
  display: inline-block;
  vertical-align: bottom;
}

#permission-message {
  margin: 0;
  padding: 0;
  font-size: 3.8rem;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
  word-wrap: break-word;
}

#permission-more-info-link.hidden {
  display: none;
}

#permission-hide-info-link.hidden {
  display: none;
}

#permission-more-info {
  margin-left: 1rem;
  padding-top: 2rem;
  font-weight: 200;
  font-style: italic;
  font-size: 3.8rem;
  line-height: 140%;
}

#permission-more-info.hidden {
  display: none;
}

#permission-more-info a {
  color: white;
  outline: none;
}

#permission-screen.more-info #permission-icon,
#permission-screen.more-info #permission-message,
#permission-screen.more-info #permission-remember-section,
#permission-screen.more-info #permission-more-info-link,
#permission-screen.more-info #permission-device-selector,
#permission-screen.more-info #permission-devices,
#permission-screen.more-info #permission-no,
#permission-screen.more-info #permission-yes {
  display: none;
}

#permission-screen:not(.more-info) #permission-hide-info-link,
#permission-screen:not(.more-info) #permission-more-info-box {
  display: none;
}

#permission-hide-info-link {
  position: absolute;
  margin-left: -11.5rem;
  left: 50%;
  bottom: 12.5vh; /* 13.5rem in 1920x1080 */
}

#permission-more-info-box {
  overflow-y: scroll;
}

#permission-more-info-box.hidden {
  display: none;
}

#permission-remember-section {
  font-size: 3.8rem;
  font-weight: 200;
  font-style: italic;
  color: #ffffff;
  outline: none;
  margin-top: 4rem;
  margin-left: 12%;
  margin-right: 12%;
  transition: transform 0.5s ease;
}

#permission-remember-section:focus {
  transform: scale(1.2);
}

#permission-remember-section.hidden {
  display: none;
}

#permission-screen:not(.more-info)[data-type] #permission-remember-section {
  display: block;
}

#permission-screen:not(.more-info)[data-type] #permission-icon {
  display: inherit;
}

#permission-screen:not(.more-info)[data-type] #permission-message {
  padding-left: 1rem;
  padding-right: 1rem;
  display: inline-block;
}

#permission-device-selector {
  font-size: 1.8rem;
  font-weight: 200;
  font-style: italic;
  padding: 3rem 0 2rem 1.2rem;
}

#permission-device-selector.hidden {
  display: none;
}

#permission-devices {
  margin: 0;
  padding: 0;
}

#permission-devices li.device-cell {
  position: relative;
  list-style-type: none;
}

#permission-devices li.device-cell > a:active {
  background-color: rgba(52,140,158, .6);
}

#permission-devices li.device-cell label:active {
  background-color: transparent;
}

#permission-devices .deviceEnable {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#permission-devices input[type="checkbox"] + span {
  position: absolute;
  top: 0.3rem;
  right: 1.5rem;
  margin: 0;
  background: url(images/alarm_off.png) no-repeat center top / 3.4rem;
  width: 3.4rem;
  height: 3.4rem;
}

#permission-devices input[type="checkbox"]:checked + span {
  border-color: #00acce;
  background: url(images/alarm_on.png) no-repeat center top / 3.4rem;
}

#permission-devices .device-list > input {
  display: none;
}

#permission-devices .device-item {
  padding: 1rem;
  display: block;
  font-weight: 300;
  font-size: 1.8rem;
}

#permission-devices .device-item:active {
  background-color: transparent;
}

.device-item > span {
  pointer-events: none;
}

#permission-screen[data-type="geolocation"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_Geolocation.png);
}

#permission-screen[data-type="fmradio"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_FMRadio.png);
}

#permission-screen[data-type*="camera"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_Camera.png);
}

#permission-screen[data-type*="wifi"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_WifiInformation.png);
}

#permission-screen[data-type="contacts"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_Contacts.png);
}

#permission-screen[data-type*="device-storage"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_DeviceStorage.png);
}

#permission-screen[data-type="video-capture"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_VideoRecorder.png);
}

#permission-screen[data-type="camera-selector"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_VideoRecorder.png);
}

#permission-screen[data-type="audio-capture"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_Microphone.png);
}

#permission-screen[data-type="media-capture"] #permission-icon {
  background-image: url(images/PermissionsDialogIcons_VideoAndMic.png);
}
