.apps {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* pages */
.apps > div {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.apps ol {
  width: -moz-calc(4 * 8rem);
  padding: 0;
  list-style-type: none;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.apps ol > li {
  position: relative;
  width: 8rem;
  display: inline-block;
  float: left;
  text-align: center;
  /* It SHOULD be 2.5rem but status bar is 32px instead of 20px */
  padding-bottom: -moz-calc(2.5rem - 0.3rem);
  font-family:'Open Sans';
}

/* Maximum 16 icons for page */
.apps ol > li:nth-child(17) {
  display: none;
}

/* Option to delete apps */
.apps ol > li span.options {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 33%;
  z-index: 2;
  background: url(../resources/images/menu.png) no-repeat center top;
}

/* Container -> icon + label */
.apps ol > li > div {
  height: 100%;
  width: 100%;
  pointer-events: none; /* NO touchable area */
}

/* icon */
.apps ol > li > div > img {
  width: 6rem;
  height: 6rem;
  border-radius: .6rem;
}

/* label wrapper */
.apps ol > li > div > span {
  overflow: hidden; /* We cut the text to avoid messing up the grid */
  text-overflow: ellipsis; /* Ellipsis to represent clipped text */
}

/* text label */
.apps ol > li > div > span > span {
  font-size: -moz-calc(6 * 0.226rem); /* 6pt */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.labelWrapper {
  text-transform: capitalize; /* First letter always capitalized */
  font-weight: bold; /* App label font weight */
  color: #fff; /* App label color */
  white-space: nowrap; /* NO new lines */
  display: block;
  width: 94%; /* At least 6% of margin between labels of different apps */
  position: relative;
  height: 1.5rem; /* 15px in otoro */
  margin: 0 auto;
}

.apps .draggable {
  z-index: 10000;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 8rem;
  -moz-transform: translate(0,0);
}

.apps .draggable > img {
  margin-bottom: .5rem;
  box-shadow: 0 0 5px 5px #666;
  -moz-transform: scale(1.1);
  border-radius: 1rem;
  width: 6rem;
  height: 6rem;
}

/* label wrapper */
.apps .draggable > span {
  /* shift left edge of text to center */
  left: 50%;
}

/* text label */
.apps .draggable > span > span {
  font-size: 2rem;
  text-shadow: 0 0 5px #666;
  /* shift left edge of text half distance to left */
  margin-left: -100%;
}

@-moz-keyframes shake {
  0% { -moz-transform: translate(3px, 2px) rotate(0deg); }
  10% { -moz-transform: translate(-2px, -3px) rotate(-2deg); }
  20% { -moz-transform: translate(-5px, 0px) rotate(2deg); }
  30% { -moz-transform: translate(0px, 3px) rotate(0deg); }
  40% { -moz-transform: translate(2px, -2px) rotate(2deg); }
  50% { -moz-transform: translate(-2px, 3px) rotate(-2deg); }
  60% { -moz-transform: translate(-5px, 2px) rotate(0deg); }
  70% { -moz-transform: translate(3px, 2px) rotate(-2deg); }
  80% { -moz-transform: translate(-2px, -2px) rotate(2deg); }
  90% { -moz-transform: translate(3px, 3px) rotate(0deg); }
  100% { -moz-transform: translate(2px, -3px) rotate(-2deg); }
}

@-moz-keyframes rotation {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); }
}

@-moz-keyframes none {}

/* Image and label have shaking effect */
.apps[data-mode = 'edit'] ol > li > div {
  -moz-animation-name: shake;
  -moz-animation-duration: 2s;
  -moz-transform-origin:50% 50%;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  opacity: .8;
}

.apps[data-transitioning] ol > li > div > img, .apps[data-transitioning] ol > li > div {
  -moz-animation-name: none;
}

.apps[data-mode = 'normal'] ol > li span.options {
  display: none;
}

.apps ol > li[data-dragging] {
  opacity: 0;
}

