/* This is a web component, so animation keyframes are defined
 * in apps-panel.css */

homescreen-group {
  position: relative;
}

homescreen-group:before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
  border: 0.2rem solid rgba(0, 0, 0, 0.6);
}

#group-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#group-container > .gaia-container-child > * {
  width: calc(32vw * 0.25);
  height: calc(32vw * 0.25);
}

#group-container > .gaia-container-child:not(.added):not(.dragging) {
  transition: transform 0.2s;
}

#group-container > .gaia-container-child.added gaia-app-icon {
  animation-name: icon-added;
  animation-duration: 0.4s;
  z-index: 1;
}
