@font-face {
  font-family: 'Open Sans';
  src: url('fonts/opensans-regular-webfont.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('fonts/opensans-semibold-webfont.woff');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  src: url('fonts/opensans-bold-webfont.woff');
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  font-size: 10px;
  font-family:'Open Sans';
}

* {
  -moz-user-select:none;
}

section,footer,nav,a,img {
  margin:  0;
  padding: 0;
  border:none;
}

#paginationBar {
  width: 100%;
  height: .3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

#paginationBar > .paginationScroller {
  width: 100%;
  height: 100%;
  background-color: #ff7f02;
  -moz-transition: -moz-transform .2s ease;
  visibility: hidden;
}

#content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#content > section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#search {
  -moz-transform: translateX(-100%);
}

#icongrid {
  -moz-transform: translateX(0);
}

button:focus::-moz-focus-inner {
  border-color: transparent !important;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

button {
   outline: none;
}

@media screen and (min-width: 480px) {
  html {
    font-size: 13.3px;
  }
}

html[dir=rtl] .apps ol > li {
  float: right;
}
