html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #222;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

@font-face {
	   font-family: Roboto;
	   src: url('fonts/Roboto-Regular.ttf');
}
@font-face {
	   font-family: Roboto;
	   font-weight: bold;
	   src: url('fonts/Roboto-Bold.ttf');
}
@font-face {
	   font-family: Roboto;
	   font-style: italic;
	   src: url('fonts/Roboto-Italic.ttf');
}
@font-face {
	   font-family: Roboto;
	   font-weight: bold;
	   font-style: italic;
	   src: url('fonts/Roboto-BoldItalic.ttf');
}

#screen {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%; 
	background: #142e51 url(images/noise.png);
}

/*
 * Simulate a common device-screen size on large monitors, for testing
 * on desktops/laptops.  1300px is just wider than the widest tablet
 * screen on the market today.
 */
@media all and (min-width: 1300px) {
  #screen {
    max-width: 480px;
    max-height: 800px;
  }
}

#lockscreen {
  position: absolute;
  z-index: 10000;
  top: 0px;
  width: -moz-calc(100%);
  height: -moz-calc(100%);
  color: white;
  overflow: hidden;
  padding-left: 5%;
  background-color: black;
  background-image: url('images/lockscreen.jpg');
  background-size: cover;
}

#lockscreen > * {
  pointer-events: none;
}

#lockscreen > #status {
  display: -moz-box;
  -moz-box-orient: horizontal;
  width: -moz-calc(100% - 4px);
  height: 20px;
  padding: 2px;
}

#lockscreen > #status > #padding {
  -moz-box-flex: 1;
}

#lockscreen > #clock {
  position: absolute;
  top: -moz-calc(50%);
  font-size: 58px;
}

#lockscreen > #clock > *[data-format*="%b"] {
  font-size: 100px;
}

#lockscreen > #notifications {
  position: absolute;
  bottom: 2%;
}

#lockscreen > #notifications > * {
  display: inline-block;
}

#notificationsScreen {
  position: absolute;
  z-index: 9998;
  top: -moz-calc(-100% + 48px);
  width: -moz-calc(100%);
  height: -moz-calc(100% - 24px);
  background-color: #444;
  background: #323f4d url(images/notificationsbar-bg.png) no-repeat 0 100%;
}

#home {
  position: absolute;
  top: 24px;
  width: -moz-calc(100%);
  height: -moz-calc(100% - 24px);
}

#windows {
  position: absolute;
  left: 0px;
  top: 24px;
  width: 100%;
  height: 0;
  overflow: hidden;
}

#windows.active {
  height: -moz-calc(100% - 24px);
  overflow: visible;
}

iframe.appWindow {
  position: absolute;
  background-color: #000;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -moz-transform-origin: center bottom;
  -moz-transform: scale(0);
  -moz-transition: all 0.3s ease;
}

iframe.appWindow.active {
  -moz-transform: scale(1);
}

#statusbar {
  display: -moz-box;
  -moz-box-orient: horizontal;
  background: url(images/statusbar-bg.png) repeat-x;
  width: -moz-calc(100% - 4px);
  height: 20px;
  padding: 2px;
  background-color: #444;
  color: #fff;
  overflow: hidden;
  position: relative;
  z-index: 9999;
}

#statusbar > * {
  -moz-box-flex: 0;
  pointer-events: none;
}

#statusbar > #padding {
  -moz-box-flex: 1;
}

.battery {
  float:right;
  margin: 1px 3px;
  padding: 4px 6px 4px 4px;
  width: 29px;
  background: url(images/battery-main.png);
  background-repeat: no-repeat;
  background-size: 29px 16px;
}

.battery > #fuel {
  height: 8px;	 
	background-image: -moz-linear-gradient(top, #b9fd00, #8fc400);
}

.battery > #fuel.low {
  background-image: -moz-linear-gradient(top, lightyellow 10%, yellow 80%, gold);
}

.battery > #fuel.critical {
  background-image: -moz-linear-gradient(top, lightcoral 10%, red 80%, darkred);
}

.battery > #fuel.charging {
  background-image: -moz-linear-gradient(top, #b9fd00, #8fc400);
  -moz-animation-duration: 3s;
  -moz-animation-name: batteryCharging;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
}

@-moz-keyframes batteryCharging {
  from {
    width: 0;
  }
  to {
    width: 19px;
  }
}
.battery > #charging {
  height: 8px;
  width: 18px;
  background-image: url(images/battery-charging.png);
  background-repeat: no-repeat;
  background-size: 18px 8px;
  position: absolute;
  margin-left: 2px;
  top: 7px;
}

#taskManager {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -moz-transform: scale(0);
  -moz-transition: all 0.3s ease;
}

#taskManager.active {
  opacity: 1;
  -moz-transform: scale(1);
}

#taskManager ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
}

#taskManager li {
  background-color: #00f;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: -40%;
  -moz-transform: scale(0.5);
}

#taskManager li:last-child {
  margin-right: 0;
}

#keyboard {
  position: absolute;
  z-index: 9997;
  bottom: 0;
  background-color: #36373b;
  width: -moz-calc(100%);
  min-height: 200px;
  -moz-transition: bottom 0.2s ease;
}

#keyboard[data-hidden] {
  bottom: -800px;
}

.keyboard-key {
  display: inline-table;
  text-align: center;
  color: white;
  font-size: 32px;
  height: 64px;
  line-height: 64px;
  min-width: 0 !important;
  margin-bottom: 2px;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 1px;
  padding: 0;
  border: 1px solid black;
  border-radius: 5px;
  background: -moz-linear-gradient(top, rgb(94,97,102) 10%, rgb(64,64,72) 90%);
}

.keyboard-key[data-active] {
  color: #ccc;
  background: -moz-linear-gradient(bottom, rgb(94,97,102) 10%, rgb(64,64,72) 90%);
}
