#landing-time {
  text-align: left;
  padding: 4.4rem 0 0 2.5rem;
  color: #fff;
  font-family: 'MozTT', sans-serif;
}

html[dir=rtl] #landing-time {
  text-align: right;
  padding: 4.4rem 2.5rem 0 0;
}

#landing-clock, #landing-date {
  text-shadow: 2px 2px 3px #000000;
  margin: 0;
  padding: 0;
}

html[dir=rtl] #landing-clock, #landing-date {
  text-shadow: 2px 0 3px 2px #000000;
}

#landing-clock {
  margin: 0 0 -1rem -0.4rem;
  font-weight: 300;
}

html[dir=rtl] #landing-clock {
  margin: 0 -0.4rem -1rem 0;
}

.numbers {
  font-size: calc(28 * 0.226rem);
}

.meridiem {
  font-size: calc(17 * 0.226rem);
}

#landing-date {
  font-size: calc(7 * 0.226rem);
  font-weight: 400;
}
