form[role="dialog"][data-type="confirm"] {
  z-index: 20001; /* just below the sleep menu */
}

#delete-dialog {
  visibility: hidden;
  pointer-events: none;
}

#delete-dialog.visible {
  visibility: visible;
  pointer-events: auto;
}