#rocketbar-overlay {
  width: 100%;
  height:100%;
  background-color: #262422;
  opacity: 0;
  position: absolute;
  z-index: 20000;
  transition: opacity 0.5s, transform 0.5s;
  transform: scale(0);
  color: #fff;
}

#rocketbar-overlay.visible{
  opacity: 1;
  transform: scale(1);
}

#rocketbar-input {
  border: none;
  margin: 1rem;
  padding: 1.5rem;
  width: calc(100% - 5rem);

  color: #fff;
  font-size: 1.6rem;
  background: #333;
  border-radius: 0.5rem;
}

#rocketbar-search-results {
  overflow: scroll;
  width: 100%;
  height: calc(100% - 6.8rem);
  list-style-type: none;
  font-size: 1.4rem;
  background-color: #262422;
  padding: 0;
  margin: 0;
}

#rocketbar-search-results li {
  border-bottom: 0.1rem solid #3c3a39;
  margin: 0;
  padding: 1.5rem 1.5rem 1.5rem 5rem;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 1.5rem center;
  background-size: 3rem;
  font-size: 1.5rem;
}

#rocketbar-search-results li * {
  pointer-events: none;
}

#rocketbar-search-results li:last-child {
  border-bottom: none;
}

#rocketbar-search-results li small {
  display: block;
  height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

#rocketbar-search-results li h3 {
  display: block;
  height: 1.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: normal;
  margin: 0 0 0.8rem;
  padding: 2rem 0 1rem 1rem;
  background: #343738;
}

#rocketbar-search-results li small.suggestion {
  display: inline-block;
  border-radius: 0.4rem;
  padding: 0.7rem 0.8rem;
  margin: 0.4rem 0.3rem 0 0;
  background: #343738;
  color: #fff;
  pointer-events: auto;
}

#rocketbar-search-results li.visual {
  padding: 0 0 0.8rem;
  background: #2b2d2e;
}

#rocketbar-search-results li.visual small.suggestion {
  width: 6rem;
  height: 6.4rem;
  margin: 0 0.2rem 0;
  text-align: center;
  background: none;
  font-size: 1.3rem;
}

#rocketbar-search-results li.visual small.suggestion img {
  display: block;
  margin: 0 auto 0.4rem;
}

#rocketbar-activation-icon {
  width: 28rem;
  height: 3.1rem;
  background-image: url('images/rocketbar.png');
  background-size: cover;
  margin: 2rem auto;
}
