html {
  font-size: 10px;
}

body {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

* {
  -moz-user-select: none;
}

#page-indicator {
  width: 100%;
  height: 1.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.pin-the-web #page-indicator {
  display: flex;
}

#page-indicator span {
  position: relative;
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0 0.25rem 0.5rem;
  opacity: 0.6;
}

#page-indicator span:before,
#page-indicator span:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 100%;
  transition: opacity 0.2s;
}

#page-indicator span:before {
  opacity: 0;
  background-color: white;
}

#page-indicator span:after {
  opacity: 1;
  border: 0.1rem solid white;
}

#page-indicator span.active:before {
  opacity: 1;
}

#page-indicator span.active:after {
  opacity: 0;
}

#panels {
  height: 100vh;
  overflow-y: hidden;
  scroll-snap-type-x: mandatory;
  scroll-snap-points-x: repeat(100vw);
  white-space: nowrap;
}

.pin-the-web #panels {
  height: calc(100vh - 1.5rem);
}

.dragging #panels {
  overflow: hidden;
}

#panels > * {
  position: relative;
  display: inline-block;
  width: 100vw;
  height: 100%;
  vertical-align: top;
}

#panels > div > .shadow {
  position: absolute;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  width: 100%;
  height: 0.8rem;
  transition: visibility 0.2s, opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

#panels > div > .shadow.visible {
  opacity: 1;
  visibility: visible;
}

