<element name="rp-features" extends="section">
  <template>
    <gaia-header>
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-back"></span>
      </a>
      <h1 data-l10n-id="rp-panel"></h1>
    </gaia-header>
    <div>
      <ul class="remote-settings">
        <li class="remote-locate hint">
          <gaia-switch name="rp.locate.enabled">
            <label data-l10n-id="remote-locate"></label>
          </gaia-switch>
          <p class="explanation" data-l10n-id="remote-locate-description"></p>
        </li>
        <li class="remote-ring hint">
          <gaia-switch name="rp.ring.enabled">
            <label data-l10n-id="remote-ring"></label>
          </gaia-switch>
          <p class="explanation" data-l10n-id="remote-ring-description"></p>
        </li>
        <li class="remote-lock hint">
          <gaia-switch name="rp.lock.enabled">
            <label data-l10n-id="remote-lock"></label>
          </gaia-switch>
          <p class="explanation" data-l10n-id="remote-lock-description"></p>
        </li>
      </ul>
      <div class="overlay">
        <div class="modal modal-alert">
          <h1 data-l10n-id="attention"></h1>
          <p data-l10n-id="rp-lockscreen-alert"></p>
          <a href="#rp-screenlock" class="btn btn-blue pp-link" data-l10n-id="take-me-there"></a>
        </div>
      </div>
    </div>
  </template>
</element>
