<element name="rp-main" extends="section">
  <template>
    <gaia-header ignore-dir>
      <a class="pp-link back" href="#root">
        <span class="icon gaia-icon-back"></span>
      </a>
      <h1 data-l10n-id="rp-panel"></h1>
    </gaia-header>
    <div>
      <ul id="rp-register" class="rp-box">
        <li>
          <p class="description" data-l10n-id="rp-new-password-description"></p>
          <form id="rp-register-form">
            <input  class="pass1" type="password" data-l10n-id="new-passphrase" placeholder="New passphrase">
            <input class="pass2" type="password" data-l10n-id="confirm-new-passphrase" placeholder="Confirm new passphrase">
            <div class="validation-message"></div>
            <button class="rp-register-ok btn" type="submit" data-l10n-id="ok"></button>
          </form>
        </li>
      </ul>
      <ul id="rp-login" class="rp-box">
        <li>
          <p class="description" data-l10n-id="rp-login-description"></p>
        </li>
        <li>
          <form id="rp-login-form">
            <input class="pass1" type="password" data-l10n-id="passphrase" placeholder="Passphrase">
            <div class="validation-message"></div>
            <a class="change-password-link link-text pp-link" href="#rp-change-pass">
              <span data-l10n-id="rp-change-password"></span>
            </a>
            <button class="rp-login-ok btn" type="submit" data-l10n-id="ok"></button>
          </form>
        </li>
      </ul>
    </div>
  </template>
</element>
