#app-list {
  font-size: 1.2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 1rem 0.2rem #000;
  z-index: 300;
  overflow: hidden;
}

#app-list-header {
  font-size: 2rem;
  line-height: 3rem;
  height: 3rem;
  color: white;
}

#app-list-close-button {
  margin-right: 1rem;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: white;
  outline: 0;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

#app-list-page-indicator {
  position: absolute;
  width: 100%;
  height: 2rem;
  left: 0;
  bottom: 0;
  text-align: center;
}

.app-list-page-indicator-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.2rem;
  color: white;
  font-size: 120%;
  opacity: 0.3;
  transition: opacity 0.2s ease;
}

.app-list-page-indicator-item.focus {
  opacity: 1;
}

#app-list-container {
  overflow: visible;
  width: 100%;
  height: calc(100% - 3rem);
  position: relative;
  white-space: nowrap;
  transition: transform 0.2s ease-out;
}

.app-list-page {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

.app-list-icon {
  display: inline-block;
  vertical-align: top;
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  color: white;
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.app-list-icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

img.icon {
  width: 3.2rem;
  height: 3.2rem;
  display: block;
  margin: 1rem auto 1rem auto;
}
