html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  overflow: hidden;
}

section {
  width: 100%;
  height: 100%;
}

menu[type="toolbar"] button:before {
  position:absolute;
  width: 10px;
  height: 5px;
  border: black 2px solid;
  top: calc(50% - 3px);
  left: 10px;
  content: ' ';
}

#main-section menu[type="toolbar"] button {
  padding-left: 30px;
}

#app-list-open-button:before {
  background-color: #33E;
}

#widget-editor-open-button:before {
  background-color: #E33;
}

#widget-container {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.selection-border {
  position: absolute;
  outline: solid 0.2rem yellow;
  box-shadow: 0 0 1rem 0.2rem yellow;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 100;
}

.static-element {
  display: block;
  position: absolute;
  cursor: pointer;
}

#static-video {
  background-color: black;
  transition: all 0.5s ease;
  z-index: 50;
}

#static-bookmark {
  background-size: 100% 100%;
}

#widget-container .fullscreen {
  z-index: 200 !important;
  margin-top: -5rem !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
  height: calc(100% + 5rem) !important;
}
