/* ----------------------------------
 * SWITCHES
 * ---------------------------------- */

gaia-switch {
  display: inline-block;
  width: 100%;
}

label.pack-switch {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 5rem;
  position: relative;
  background: none;
}

label.pack-switch span {
  float: left;
  font-size: 1.8rem;
  color: #333;
  padding: 1rem 0 0;
  height: 6rem;
  line-height: 3rem;
  box-sizing: border-box;
  display: block;
}

label.pack-switch span:not(:empty) {
  -moz-padding-end: 6rem;
}

label.pack-switch input {
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}

label.pack-switch input:checked ~ span:after {
  background-position: center bottom;
}

/* ----------------------------------
 * ON/OFF SWITCHES
 * ---------------------------------- */

label.pack-switch input ~ span:after {
  content: 'Off';
  position: absolute;
  right: 0;
  top: 25%;
  width: 3rem;
  height: 2.7rem;
  pointer-events: none;
  border-radius: 1.35rem;
  overflow: hidden;
  transition: background 0.2s ease;
  font-size: 1.8rem;
  font-weight: 600;
  color: rgb(153, 156, 178);
  justify-content: center;
  text-align: left;
}

/* switch: 'ON' state */
label.pack-switch input:checked ~ span:after {
  content: 'On';
  color: #33d6ff;
}

/* switch: disabled state */
label.pack-switch input:disabled ~ span:after {
  opacity: 0.4;
}

label.pack-switch input.uninit ~ span:after {
  transition: none;
}

/******************************************************************************
 * Right-To-Left tweaks
 */

html[dir="rtl"] label.pack-switch span {
  float: right;
}

html[dir="rtl"] label.pack-switch input {
  left: unset;
  right: 0;
}

html[dir="rtl"] label.pack-switch input ~ span:after {
  left: 0;
  right: unset;
}
