html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 10px;
}

body > section {
  width: 100%;
  height: 100%;
}

/* No downloads message */

#no-downloads {
  height: calc(100% - 5rem);
  text-align: center;
  display: none;
}

body[data-downloads="0"] #no-downloads {
  display: block;
}

#no-downloads span:first-child {
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
}

#no-downloads span:nth-child(2) {
  font-size: 1.8rem;
  color: #1CABCB;
}

/* List of downloads */

#downloads {
  height: calc(100% - 5rem);
  font-weight: 400;
  padding: 0;
  overflow: hidden;
}

#downloads ul {
  overflow-y: auto;
  height: 100%;
}

/* Only <li> elements are touchable */
#downloads li p {
  pointer-events: none;
}

#downloads li .fileName {
  padding: 1rem 6rem 1rem 3.5rem;
}

#downloads li .info {
  font-size: 1.2rem;
  padding: 0 6rem 0 3.5rem;
}
