html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: scroll;
}

menu {
  display: block;
  padding: 0;
  margin: 0;
}

gaia-list h3 {
  width: calc(100% - 10px);
}

gaia-list .action.disabled {
  pointer-events: none;
  color: var(--header-disabled-button-color);
}

.controls {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 0.5rem;
}

/* gaia-button forces the min-width we need to override. */
/* Hence the !important */
gaia-button.single {
  min-width: 90% !important;
}

gaia-button.primary {
  --button-background: var(--color-blue);
  --text-color: var(--color-gamma);
}

gaia-button.destructive {
  --button-background: var(--color-destructive);
  --text-color: var(--color-beta);
}

a.navigation *, a.action *, a.edit * {
  pointer-events: none;
}

gaia-list span.group {
  text-transform: capitalize;
  font-size: 0.8em;
  min-height: auto;

  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
              var(--highlight-color);
  color: var(--text-color);
}

gaia-list span.group::before {
  display: none;
}

gaia-list a.first::before {
  display: none;
}

#main gaia-list,
#details-content {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100% - 50px);
  overflow: scroll;
}
