#edit-list {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  overflow: scroll;
}

#edit-color {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-content: space-around;

  margin: 0;
  padding: 0;

  overflow: hidden;
  z-index: 10;

  transform: translateY(100%);
  transition: transform 0.3s ease;
}

#edit-color #catcher {
  flex: 1 0 calc(50% - 6px);
  background: transparent;
}

#edit-color #controls {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-content: space-around;

  flex: 1 0 50%;
  background: var(--background);
}

#edit-color.editing {
  transform: translateY(0);
}

#edit-color gaia-color-picker {
  flex: 1 1 70%;
  width: 70%;
  margin: auto;
}

.buttons-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-content: center;
}

.buttons-bar > gaia-button {
  flex: 1 0 40%;
  margin: 5px !important;
  min-width: 30% !important;
}

#edit-color .buttons-bar {
  flex: 0 0 60px;
}

#edit gaia-list li * {
  pointer-events: none;
}

#edit gaia-list li span {
  color: var(--text-color-minus);
}

#edit iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(50% - 50px - 6px);

  border-top: 2px var(--border-color) solid;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px var(--border-color) solid;

  pointer-events: none;
}

#edit gaia-header h1 {
  text-transform: capitalize;
}
