#homescreenStatus {
  z-index: 10001;
  transition: transform .3s ease;
  transform: translateY(100%);
}

#homescreenStatus.visible {
  transform: translateY(0);
}

#homescreenStatus > p > strong {
  white-space: nowrap;
}
