#permission-screen {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: -moz-calc(100% - 20px);
  background-color: rgba(0,0,0,0.4);
  -moz-transition: opacity 0.5s ease;
  pointer-events: none;
  display: none;
}

#screen:-moz-full-screen-ancestor > #permission-screen,
#screen.fullscreen-app #permission-screen {
  top: 0;
  height: 100%;
}

#screen.attention #permission-screen {
  top: 40px;
  height: -moz-calc(100% - 40px);
}

#permission-screen.visible {
  pointer-events: auto;
  display: inline-block;
}

#permission-remember-section {
  height: 6rem;
  border-top: 0.1rem solid #686868;
  width: 100%;
  position: relative;
}

#permission-remember-section {
  display: none;
}

#permission-message {
  background-image: none;
  background-repeat: no-repeat no-repeat;
  min-height: 64px;
}

#permission-screen[data-type] #permission-remember-section,
#permission-screen[data-type] #permission-icon {
  display: inherit;
}

#permission-screen[data-type] #permission-message {
  padding-left: 64px;
}

#permission-remember-section label {
  position: absolute;
  right: 1rem;
}

#permission-remember-label {
  line-height: 5rem;
}

#permission-screen[data-type="geolocation"] #permission-message {
  background-image: url('images/PermissionsDialogIcons_Geolocation.png');
}

#permission-screen[data-type="fmradio"] #permission-message {
  background-image: url('images/PermissionsDialogIcons_FMRadio.png');
}

#permission-screen[data-type*="camera"] #permission-message {
  background-image: url('images/PermissionsDialogIcons_Camera.png');
}

#permission-screen[data-type*="wifi"] #permission-message {
  background-image: url('images/PermissionsDialogIcons_WifiInformation.png');
}

#permission-screen[data-type="contacts"] #permission-message {
  background-image: url('images/PermissionsDialogIcons_Contacts.png');
}

#permission-screen[data-type*="device-storage"] #permission-message {
  background-image: url('images/PermissionsDialogIcons_DeviceStorage.png');
}
