/* common (day/months day) - careful here */

/** hour */

.day-events {
  display: block;
  box-shadow: none;
  /* XXX: used to create a new stacking context to fix Bug 972666 without
   * causing performance issues described on Bug 972675 */
  position: relative;
  z-index: 0;
}

.day-events > .hour {
  height: 5rem;
  padding-left: 1.5rem;
  position: relative;
  border-bottom: 0.1rem solid #f8f8f8;
}

.day-events > .hour:last-child {
  border-bottom: none;
}

.day-events .hour.hour-allday .display-hour {
  overflow: hidden;
  height: 1px;
  width: 1px;
  text-indent: 100%;
  display: block;
}

.day-events .hour-allday .events {
  height: auto;
}

.day-events .hour-header {
  position: absolute;
  width: 4em;
  padding-top: 0.5rem;
  color: #777;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 400;
}

body[data-time-format="24"] .day-events .hour-header {
  padding-left: 1.2rem;
}

/** events */

.day-events .events {
  -moz-user-select: none;
  position: relative;
  width: calc(100% - 6rem);
  height: 5rem;
  margin-left: 5.5rem;
  border-left: 0.1rem solid #f8f8f8;
}

.day-events .event {
  position: absolute;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.day-events .hour-allday .event {
  position: relative;
  margin-top: 0.1rem;
  height: 3.8rem;
}

.day-events .hour-allday .event:only-of-type {
  /* we center it vertically if only one .event */
  margin-top: 0.6rem;
}

.day-events .container {
  height: 100%;
  padding: 0.85rem 0.7rem 0;
  border-left-style: solid;
  border-left-width: 0.4rem;
}

.day-events .container.has-alarm {
  padding-right: 3rem;
}

.day-events .icon-calendar-alarm {
  position: absolute;
  top: 0.2rem;
  right: 0;
  width: 3rem;
  height: 3rem;
}

.day-events .event-title {
  min-height: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

.day-events .event-location {
  display: block;
  top: 2.8rem;
  min-height: 2.1rem;
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #707070;
  font-size: 1.3rem;
  font-weight: 400;
}
