/* common (day/months day) - careful here */

.day-events h4,
.day-events h5 {
  font-weight: normal;
}

/** hour */

.day-events {
  display: block;
  box-shadow: none;
  /* XXX: used to create a new stacking context to fix Bug 972666 without
   * causing performance issues described on Bug 972675 */
  position: relative;
  z-index: 0;
}

.day-events > .hour {
  height: 5rem;
  padding-left: 1.5rem;
  position: relative;
  border-bottom: 0.1rem solid #f8f8f8;

  /**
   * set scrollable areas to a solid background color
   * see bug 968478
   */
  background-color: #fff;
}

.day-events > .hour:last-child {
  border-bottom: none !important;
}

.day-events > .hour.hour-allday {
  min-height: 5rem;
  height: auto;
}

.day-events .hour.hour-allday .display-hour {
  overflow: hidden;
  height: 1px;
  width: 1px;
  text-indent: 100%;
  display: block;
}

.day-events .hour-allday .events {
  height: auto;
}

.day-events > .hour h4 {
  position: absolute;
  width: 4em;
  color: #777;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  padding-top: 0.5rem;
}

/** events */

.day-events .events {
  -moz-user-select: none;
  position: relative;
  width: calc(100% - 6rem);
  height: 5rem;
  margin-left: 5.5rem;
  border-left: 0.1rem solid #f8f8f8;
}

.day-events .event {
  position: absolute;
  top: 0;
  z-index: 10;
  overflow: hidden;
}

.day-events .hour-allday .event {
  position: relative;
}

.day-events .container {
  height: 100%;
  padding: 0.85rem 0.7rem 0;
  border-left-style: solid;
  border-left-width: 0.4rem;
}

.day-events .container.has-alarm {
  padding-right: 3rem;
}

.day-events .icon-alarm {
  position: absolute;
  top: 2px;
  right: 0;
}

.day-events .event h5 {
  min-height: 1.5rem;
  font-size: 1.4rem;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  font-weight: 500;
}

.day-events .event .location {
  display: block;
  top: 2.8rem;
  min-height: 2.1rem;
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #707070;
  font-size: 1.3rem;
  font-weight: 400;
}

/* we hide when the there is not enough room for copy */
.day-events .event.many-overlaps h5,
.day-events .event.many-overlaps .location {
  display: none;
}

.day-events .event.partial-hour .container {
  padding-top: 0.4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.day-events .event.partial-hour-tiny .container,
.day-events .event.partial-hour-small .container {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}

.day-events .event.partial-hour-micro .container,
.day-events .event.partial-hour-tiny .container {
  /* since alarm icon is hidden we remove the padding right */
  padding-right: 0.7rem;
}

.day-events .event.partial-hour .location {
  padding-top: 0.2rem;
}

.day-events .event.partial-hour-tiny h5,
.day-events .event.partial-hour-tiny .location,
.day-events .event.partial-hour-small h5,
.day-events .event.partial-hour-small .location {
  display: inline-block;
  line-height: 1.6rem;
  min-height: 0;
  padding: 0;
}

.day-events .event.partial-hour-tiny h5,
.day-events .event.partial-hour-small h5 {
  margin-right: 0.85rem;
}

.day-events .event.partial-hour-micro h5,
.day-events .event.partial-hour-micro .location {
  visibility: hidden;
}

.day-events .event.partial-hour-micro .icon-alarm,
.day-events .event.partial-hour-tiny .icon-alarm {
  /* hide icon since we don't have enough space for it and using a different
   * size looks weird (not consistent) */
  display: none;
}

.day-events .event.partial-hour-small .icon-alarm {
  top: 50%;
  transform: translateY(-50%);
}


/* months day view */

#months-day-view .day-events {
  height: calc(100% - 4.6rem);
  overflow-x: hidden;
  overflow-y: auto;
  will-change: scroll-position;
}

/* day view */

#day-view > section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

#day-view h4 {
  font-size: 1.5rem;
  width: 3em;
  font-weight: normal;
}

#day-view > section.active {
  display: block;
}

#day-view .day-events-wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 5rem);
  will-change: scroll-position;
}

#day-view .day-events.allday {
  height: 5rem;
  border-bottom: 1px solid #e2e2e2;
  position: relative;
  z-index: 11;
  background-color: #f8f8f8;
}

#day-view .day-events.allday h4 {
  width: 3.3rem;
  height: 100%;
}

#day-view .icon-allday:before {
  position: relative;
  top: 3px;
  left: 4px
}
