/* generic stuff that will probably live in the building blocks */

form, fieldset, input, textarea {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

input, textarea {
  width: 100%;
}

select {
  border: none;
  background: transparent;
}

input[type="checkbox"] {
  width: inherit;
}

form,
form ol {
  margin: 0px;
  padding: 0px;
}

/* for calendar */

form li {
  padding: 0.25rem;
}

form li {
  margin: 1rem 2rem;
}
