/* generic stuff that will probably live in the building blocks */

form, fieldset, input, textarea {
  border: 0;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

input, textarea {
  width: 100%;
}

select {
  border: none;
  background: transparent;
  font-size: 1.7rem;
}

form,
form ol {
  margin: 0;
  padding: 0;
}

/* for calendar */

form li {
  margin: 1rem 2rem;
}

.datetime {
  /* pass the events from <span> to <input> */
  pointer-events: none;
  position: absolute;
  left: 1.5rem;
  font-weight: normal;
}

.hidden-input {
  /* The hidden date and time inputs need to overlap the span(s) with datetime class. */
  position: absolute;
  /* visibility: hidden; will avoid events to reach the <input> */
  opacity: 0;
  /* input should not be selectable otherwise it might affect the layout */
  -moz-user-select: none;
  /* Bug 1117652: copypaste bubble would be triggered if tapping or longpressing
                  on the input field, so we let the cursor out of the screen to
                  prevent it. */
  text-indent: 110%;
}

/* RTL View */
html[dir="rtl"] .datetime {
  left: unset;
  right: 1.5rem;
}
