#modify-account-view.preset-google .full-url,
#modify-account-view.preset-yahoo .full-url {
  display: none;
}

#modify-account-view.create .delete-record {
  display: none;
}

:target#remove-account-dialog {
  display: block;
}

#modify-account-view .during-progress {
  display: none;
}

#modify-account-view.in-progress .during-progress {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#modify-account-view.in-progress .during-progress > div {
  display: inline-block;
  margin: 16rem 1.5rem 0;
  padding-top: 1.2rem;
  border-top: 0.1rem solid #bebebe;
}

#modify-account-view.in-progress .during-progress > div > span {
  display: inline-block;
  width: calc(100% - 4rem);
  vertical-align: middle;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.024rem;
  word-spacing: 0.1rem;
}

#modify-account-view.in-progress .during-progress > div > progress {
  line-height: normal;
  margin-right: 0.5rem;
}

#modify-account-view.in-progress .save,
#modify-account-view.in-progress form {
  display: none;
}

#modify-account-view form ol {
  margin-top: 1.5rem;
}

#modify-account-view form li {
  margin: 0;
  padding: 0 1.5rem 1rem;
}

#modify-account-view form li input {
  font-size: 1.7rem;
}


#remove-account-dialog {
  display: none;
}
