/* TODO(gareth): Why are these namespaced under
 *     #time-views if they already have ids?
 */
#time-views #month-view {
  background-color: #F8F8F8;
  height: auto;
}

#time-views #month-day-agenda {
  background-color: #F8F8F8;
  flex: 1;
}

section.month {
  display: none;
  height: 100%;
}

section.month.active {
  display: block;
}

body[data-path^="/month/"] section.month.next,
body[data-path^="/month/"] section.month.previous {
  display: block !important;
}

/* section.month > * */
#month-days,
section.month > ol
{
  margin-left: 0.3rem;
  margin-right: 0.3rem;
}

section.month > ol {
  display: flex;
}

section.month li {
  -moz-user-select: none;
  font-size: 1.4rem;
  line-height: 120%;
  -moz-margin-end: 0.1rem;
  flex-grow: 1;
  flex-basis: 4.4rem;
}

/* The margin-right is used elsewhere to create horizontal space
 * between the list elements. Once we reach the rightmost one,
 * we should turn it off.
 */
section.month li:last-child {
  -moz-margin-end: 0;
}

#month-days {
  overflow: hidden;
}

#month-days li {
  color: #657073;
  font-size: 1.4rem;
  height: 2rem;
  padding: 0.185rem 0;
  text-align: center;
  text-transform: uppercase;
}

#month-days > ol {
  height: auto;
}

section.month ol {
  height: 4.4rem;
  margin-bottom: 0.1rem;
  display: flex;
}

/* The last week doesn't need a bottom border. */
section.month ol:last-child {
  border-bottom: 0;
}

/* Make the rows a bit taller for larger resolutions */
/* use min-height instead of min-device-width because of b2g Bug 979924 */
@media (min-height: 640px) {
  section.month ol {
    height: 6rem;
  }
}

section.month > ol > li {
  background-color: white;
  height: 100%;
  position: relative;
  text-align: center;
}

section.month .present {
  border: 0.1rem solid #F97C17;
}

section.month .selected {
  color: white;
  background-color: #00A8C9;
}

section.month .other-month {
  color: #BDBDBD;
}

section.month .day {
  display: block;
  font-size: 1.8rem;
  line-height: 4.4rem;
}

section.month .busy-indicator {
  bottom: 0.4rem;
  color: #CBCBCB;
  display: flex;
  flex-direction: row;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
}

section.month .selected > .busy-indicator {
  color: white;
}

section.month .icon-calendar-dot {
  height: 0.4rem;
  line-height: 0.4rem;
  margin: 0 0.2rem;
  position: relative;
  width: 0.4rem;
}

section.month .icon-calendar-dot:before {
  /* center dots */
  -moz-margin-start: calc(50% - 1.8rem);
}

/* month-day-agenda
 * =============== */

#month-day-agenda {
  margin-bottom: 4.5rem;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  will-change: scroll-position;
}

#event-list-date {
  border-bottom: 0.1rem solid #0AC;
  color: #0AC;
  font-size: 1.6rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0 1.5rem;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

#empty-message {
  display: none;
}

#empty-message.active {
  align-items: center;
  color: #B8B8B8;
  display: flex;
  font-size: 2rem;
  height: calc(100% - 3rem);
  justify-content: center;
  position: relative;
  width: 100%;
}

#month-day-agenda .event {
  display: block;
  height: 6rem;
  margin: 0;
  position: relative;
  padding: 0 1.5rem;
}

#month-day-agenda .event:active,
#month-day-agenda .event:focus {
  outline: none;
}

#month-day-agenda .container {
  height: 100%;
  padding: 0 1.5rem;
  border-bottom: 0.1rem solid #E5E5E5;
}

/* The last month day event doesn't need a bottom border. */
#month-day-agenda .event:last-child > .container {
  border-bottom: none;
}

#month-day-agenda .container.has-alarm {
  padding-right: 3rem;
}

#month-day-agenda .icon-calendar-alarm {
  position: absolute;
  top: 0.2rem;
  right: 0;
  width: 3rem;
  height: 3rem;
}

#month-day-agenda .event-title {
  min-height: 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
}

#month-day-agenda .event-location {
  display: block;
  top: 2.8rem;
  min-height: 2.1rem;
  padding-top: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #707070;
  font-size: 1.3rem;
  font-weight: 400;
}

#month-day-agenda .icon-calendar-dot {
  position: absolute;
  height: 3rem;
  left: -1.4rem;
  top: 50%;
  margin-top: -3rem;
}

#month-day-agenda .icon-calendar-dot:before {
  font-size: 6rem;
}

#month-day-agenda .event-time {
  color: #657073;
  display: flex;
  flex-direction: column;
  float: left;
  font-size: 1.5rem;
  height: 6rem;
  justify-content: center;
}

#month-day-agenda .event-time .all-day {
  white-space: normal;
  line-height: 1.4;
  width: 7rem;
}

#month-day-agenda .start-time,
#month-day-agenda .end-time {
  height: 2.5rem;
  line-height: 2.5rem;
}

#month-day-agenda .event-details {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 6rem;
  justify-content: center;
  left: 11.5rem;
  position: absolute;
  top: 0;
  width: 17rem;
}

#month-day-agenda .event-details > h5 {
  color: #252525;
  font-size: 1.9rem;
  font-weight: normal;
  height: 2.5rem;
  line-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#month-day-agenda .details {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #A2A2A2;
  white-space: nowrap;
  width: 100%;
}

#month-day-agenda .location {
  font-size: 1.4rem;
  height: 2.5rem;
  line-height: 2.5rem;
  width: 100%;
}

#month-day-agenda .icon-calendar-alarm {
  display: none;
}

#month-day-agenda .has-alarms .icon-calendar-alarm {
  display: block;
  height: 6rem;
  line-height: 6rem;
  position: absolute;
  right: 1rem;
}

/* RTL View */

html[dir="rtl"] section.month .busy-indicator {
  flex-direction: row-reverse;
}

html[dir="rtl"] #month-day-agenda .icon-calendar-alarm {
  left: 0;
  right: unset;
}

html[dir="rtl"] #month-day-agenda .icon-calendar-dot {
  left: unset;
  right: -1.4rem;
}

html[dir="rtl"] #month-day-agenda .event-time {
  float: right;
  text-align: right;
}

html[dir="rtl"] #month-day-agenda .event-details {
  left: unset;
  right: 11.5rem;
  width: 19rem;
  text-align: right;
}

html[dir="rtl"] #month-day-agenda .has-alarms .event-details {
  width: 16rem;
}

html[dir="rtl"] #month-day-agenda .has-alarms .icon-calendar-alarm {
  left: 1rem;
  right: unset;
}

html[dir="rtl"] #month-day-agenda .details,
html[dir="rtl"] #event-list-date {
  text-align: right;
}
