/*
COLORS

BUSY BACKGROUND: #CCC
BORDER: #AAA;
CALENDER BORDER: #606060
MONTH DAY BACKGROUND: #FFF
MONTH DAY PAST BACKGROUND: #A8A8A8
MONTH DAY PAST COLOR: #666
MONTH DAY TODAY BORDER COLOR: #444
MONTH DAY SELECTED BACKGROUND: #444
MONTH DAY SELECTED COLOR: white
*/

html, body {
  margin: 0;
  padding: 0;
  font-size: 3mozmm;
  height: 100%;
  background: #E3E3E3;
}


ol {
  font-size: 120%;
}

/* month view */
/* sub: toolbar  */

#month .toolbar {
  width: 100%;
  overflow: hidden;
  padding: 1mozmm;
  border-bottom: 2px solid black;
}

#month .toolbar h3 {
  padding: 0px;
  margin: 0px;
}

#month .toolbar h3,
#month .toolbar a {
  display: block;
  float: left;
  width: 33%;
}

.rtl #month .toolbar h3,
.rtl #month .toolbar a {
  float: right;
}

#month .toolbar h3 {
  text-align: center;
}

.rtl #month .toolbar a.new-event,
.ltr #month .toolbar a.accounts {
  text-align: left;
}

.rtl #month .toolbar a.accounts,
.ltr #month .toolbar a.new-event {
  text-align: right;
}

/* sub common: day headers, day boxes */

#month .month li,
#month-days li {
  width: 14.28%;
  font-weight: bold;
}

.rtl #month-days li,
.rtl #month .month li {
  float: right;
}

.ltr #month-days li,
.ltr #month .month li {
  float: left;
}

/* sub: day header row */

#month-days {
  clear: both;
}

#month-days li {
  color: white;
  text-align: center;
  background-color: #AAA;
  text-transform: uppercase;
  font-size: 60%;
}

section.month {
  clear: both;
}

/* sub: day rows */

section.month {
  overflow: hidden;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
  border-bottom: 2px solid #606060;
}

.rtl section.month li {
  padding-left: 1.8%;
  text-align: left;
}

.ltr section.month li {
  padding-right: 1.8%;
  text-align: right;
}

section.month li {
  padding-top: 0.15%;
  border-bottom: 1px solid #AAA;
  border-left: 1px solid #AAA;
  height: 6.5mozmm;
  position: relative;
  background-color: white;
}

section.month li.today {
  border: 3px solid #444;
}

section.month li.selected {
  background-color: #444;
  color: white;
}

section.month li.past {
  background-color: #E7E7E7;
  color: #9A9A9A;
}

section.month li > .day {
  padding: 1% 2% 0 0;
}

/* sub day rows: busy indicators */

section.month li .busy-indicator,
section.month li .busy-indicator > span{
  height: 1.2mozmm;
}

section.month li .busy-indicator {
  overflow: hidden;
  clear: both;
  bottom: 0px;
  position: absolute;
  line-height: 0px;
  width: 100%;
}

section.month li .busy-indicator:before {
  /* &nsbp; */
  content:"\00a0";
}


section.month li .busy-indicator > span {
  width: 8.33%;
  background-color: #CCC;
  position: absolute;
  text-indent: -1000em;
}

/**
Indicators are in units of 12
*/
/* ltr busy units */
.ltr .busy-indicator .busy-1 { left: 0%; }
.ltr .busy-indicator .busy-2 { left: 8.33%; }
.ltr .busy-indicator .busy-3 { left: 16.66%; }
.ltr .busy-indicator .busy-4 { left: 24.990000000000002%; }
.ltr .busy-indicator .busy-5 { left: 33.32%; }
.ltr .busy-indicator .busy-6 { left: 41.65%; }
.ltr .busy-indicator .busy-7 { left: 49.980000000000004%; }
.ltr .busy-indicator .busy-8 { left: 58.31%; }
.ltr .busy-indicator .busy-9 { left: 66.64%; }
.ltr .busy-indicator .busy-10 { left: 74.97%; }
.ltr .busy-indicator .busy-11 { left: 83.3%; }
.ltr .busy-indicator .busy-12 { left: 91.63%; }


/* rtl busy units */
.rtl .busy-indicator .busy-1 { right: 0%; }
.rtl .busy-indicator .busy-2 { right: 8.33%; }
.rtl .busy-indicator .busy-3 { right: 16.66%; }
.rtl .busy-indicator .busy-4 { right: 24.990000000000002%; }
.rtl .busy-indicator .busy-5 { right: 33.32%; }
.rtl .busy-indicator .busy-6 { right: 41.65%; }
.rtl .busy-indicator .busy-7 { right: 49.980000000000004%; }
.rtl .busy-indicator .busy-8 { right: 58.31%; }
.rtl .busy-indicator .busy-9 { right: 66.64%; }
.rtl .busy-indicator .busy-10 { right: 74.97%; }
.rtl .busy-indicator .busy-11 { right: 83.3%; }
.rtl .busy-indicator .busy-12 { right: 91.63%; }
