#week-view {
  overflow: hidden;
  -moz-user-select: none;
}

#week-view h1 {
  color: #707070;
  text-transform: uppercase;
  font-size: 1.3rem;
  height: 2rem;
  line-height: 1.9rem;
  text-align: center;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
}

#week-view {
  position: static;
}

#week-view > section {
  height: 100%;
  display: none;
  position: absolute;
}

#week-view > section.active {
  display: block;
}

/* sticky all-day styles */
#week-view .sticky ul {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 2.9rem;
  height: 2rem;
  border-bottom: 0.1rem solid #e2e2e2;
}

#week-view .week-events > ol,
#week-view .sticky .week-events {
  border-bottom: 0.1rem solid #f8f8f8;
  border-left: 0.1rem solid #f8f8f8;
  height: 5rem;
  position: relative;
}

#week-view .sticky li {
  float: left;
}

#week-view .sticky ul > li {
  height: 7rem;
}

#week-view .sticky .week-events {
  border-bottom: 0;
  height: 5rem;
  overflow-y: scroll;
  border-left: 0.1rem solid #e2e2e2;
}

#week-view .sticky .week-events li.event {
  position: static;
}

#week-view .days-3 .sticky li {
  width: 33%;
}

#week-view .days-4 .sticky li {
  width: 25%;
}

#week-view .sticky {
  background-color: #f8f8f8;
  border-bottom: 0.1rem solid #e2e2e2;
  height: 7.1rem;
  overflow: hidden;
  position: relative;
  z-index: 11;
}

#week-view .sticky .all-day {
  float: left;
  position: absolute;
  top: 2rem;
  font-size: 3.2rem;
  width: 2.9rem;
  height: 4rem;
  color: #707070;
  text-align: center;
  overflow: hidden;
  padding-top: 0.8rem;
}

#week-view .icon-allday:before {
  margin-left: -0.2rem;
}

#week-view .sticky .children {
  width: 100%;
}

#week-view .sticky .children ol {
  border-bottom: 0;
  border-left: 0;
}

/* sidebar styles */
#week-view .sidebar {
   min-height: 5rem;
   width: 2.9rem;
   color: #707070;
   text-align: center;
   text-transform: uppercase;
   font-size: 1.5rem;
   border-left: none;
   border-top: none;
   float: left;
}

#week-view .sidebar li:last-child {
  border-bottom: none;
}

#week-view .sidebar > li {
  line-height: 1.5;
  width: 3rem;
  padding: 0.4rem 0.3rem 0 0;
  float: left;
  height: 5rem;
  text-align: center;

  border-bottom: 0.1rem solid #f8f8f8;
  padding: 0.2rem;
  overflow: hidden;
}

#week-view .scroll {
  height: calc(100% - 7rem);
  overflow-y: scroll;
  will-change: scroll-position;
}

#week-view .scroll > .children {
  position: relative;
  height: 100%;
  float: left;
  width: calc(100% - 2.9rem);
}


#week-view .weekday .children > section {
  height: 100%;
  width: 25%;
  float: left;
}

#week-view .weekday.days-3 .children > section {
  width: 33%;
}

#week-view .week-events,
#week-view .week-events > ol {
  width: 100%;
}

/* week view event styles */
#week-view .week-events .event {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-left-style: solid;
  border-left-width: 0.4rem;
  padding: 0.6rem 0.7rem;
  /* set z-index so it's over the lines */
  z-index: 1;
}

#week-view .week-events .container {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.8rem;
  font-size: 1.4rem;
  color: #333;
  font-weight: 500;
  width: 100%;
  height: 100%;
}

#week-view .week-events .has-overlaps .container {
  /* we hide text if event overlaps with another since column is too narrow */
  visibility: hidden;
}

/* partial hour events */
#week-view .event.partial-hour {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

#week-view .event.partial-hour-tiny {
  padding-top: 0;
  padding-bottom: 0;
}

#week-view .event.partial-hour-micro .container {
  visibility: hidden;
}

#week-view .event.partial-hour .container {
  padding-right: 0.7rem;
  height: auto;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

