html, body {
  background: transparent;
}

#curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

form[role="dialog"][data-type="confirm"] > section {
  display: none;
}

form[role="dialog"][data-type="confirm"][data-state="alert"] menu #ok {
  margin-left: 0;
  display: inline-block;
  width: 100%;
}

form[role="dialog"][data-type="confirm"][data-state="wait"] #cancel,
form[role="dialog"][data-type="confirm"][data-state="progress"] #cancel {
  width: 100%;
}

form[role="dialog"][data-type="confirm"][data-state="wait"] #retry {
  display: none;
}

form[role="dialog"][data-type="confirm"][data-state="progress"] #progress {
  display: inline-block;
}

form.no-menu[role="dialog"][data-type="confirm"] menu,
form[role="dialog"][data-type="confirm"][data-state="progress"] menu #retry,
form[role="dialog"][data-type="confirm"][data-state="alert"] menu #retry,
form[role="dialog"][data-type="confirm"][data-state="alert"] menu #cancel,
form[role="dialog"][data-type="confirm"]:not([data-state="alert"]) menu #ok,
form[role="dialog"][data-type="confirm"][data-state="message"] menu {
  display: none;
}

form[role="dialog"][data-type="confirm"][data-state="error"] menu #retry,
form[role="dialog"][data-type="confirm"][data-state="timeout"] menu #retry {
  margin-left: 1rem;
}

/* Sections */

form[role="dialog"][data-type="confirm"][data-state="wait"] #wait {
  display: inline-block;
}

form[role="dialog"][data-type="confirm"][data-state="message"] #message {
  display: inline-block;
}

form[role="dialog"][data-type="confirm"][data-state="error"] #error {
  display: inline-block;
}

form[role="dialog"][data-type="confirm"][data-state="timeout"] #timeout {
  display: inline-block;
}

form[role="dialog"][data-type="confirm"][data-state="alert"] #alert {
  display: inline-block;
}

p[role="status"] {
  text-align: center;
}

#progress p[role="status"] {
  text-align: left;
}
