<element name="la-blur" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div class="gt-box">
      <div class="gt-picture"></div>
      <div class="gt-description">
    <h2 data-l10n-id="la-blur-header">How to set Location Accuracy?</h2>
    <p data-l10n-id="la-blur-desc">
    Not each app needs your exact location to work properly. Instead of sharing your exact coordinates, you can choose to effectively adjust the precision of your location to e.g. 50 miles around you.
    </p>
    </div>

      <div class="gt-action">
        <a class="pp-link btn btn-blue" href="#la-explain">Back</a>
        <a class="pp-link btn btn-blue" href="#la-custom">Next</a>
      </div>
    </div>
  </template>
</element>
