<element name="la_blur" extends="section">
  <template>
    <header>
      <a class="pp-link" href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="privacy-panel">Guided tour</h1>
    </header>
    <div>
      <div class="gt-picture"></div>
      <div class="gt-description">
        <h2>How to set Location Accuracy?</h2>
        <p>
          Not each app needs your exact location to work properly. Instead
          of sharing your exact coordinates, you can choose to effectively
          blur your location to e.g. 50 miles around you.
        </p>
      </div>
      <div class="gt-action">
        <a class="pp-link btn back" href="#la_explain">Back</a>
        <a class="pp-link btn next" href="#la_custom">Next</a>
      </div>
    </div>
  </template>
</element>
