<element name="la-custom" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div class="gt-box">
      <div class="gt-picture"></div>
      <div class="gt-description">
    <h2 data-l10n-id="la-custom-header">What is Custom Location?</h2>
    <p data-l10n-id="la-custom-desc">
    With the custom location setting you are able to hide your real location and set it to another place worldwide. You choose where you are!
    </p>
    </div>
      <div class="gt-action">
        <a class="pp-link btn btn-blue" href="#la-blur">Back</a>
        <a class="pp-link btn btn-blue" href="#la-exceptions">Next</a>
      </div>
    </div>
  </template>
</element>
