<element name="la-exceptions" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div class="gt-box">
      <div class="gt-picture"></div>
      <div class="gt-description">
    <h2 data-l10n-id="rpp-exceptions-header">What is location per app?</h2>
    <p data-l10n-id="la-exceptions-desc">
    Here you will find an overview of all apps, that can access your geolocation. You can adjust the settings for each app individually. They overwrite the global location accuracy for that app.
    </p>
    </div>

      <div class="gt-action">
        <a class="pp-link btn btn-blue" href="#la-custom">Back</a>
        <a class="pp-link btn btn-blue" href="#rpp-explain">Next</a>
      </div>
    </div>
  </template>
</element>
