<element name="rpp-lock" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div class="gt-box">
      <div class="gt-picture"></div>
      <div class="gt-description">
    <h2 data-l10n-id="rpp-lock-header">How to lock my phone?</h2>
    <p data-l10n-id="rpp-lock-desc">
    If you have lost your phone and you want to lock it remotely just send an SMS with “RPP lock YOURPASSPHRASE” to your phone number. The phone will lock itself and only you will be able to unlock it with your regular screen passcode.
    </p>
    </div>

      <div class="gt-action">
        <a class="pp-link btn btn-blue" href="#rpp-ring">Back</a>
        <a class="pp-link btn btn-blue" href="#root">Finish Tour</a>
      </div>
    </div>
  </template>
</element>
