<element name="rpp_passphrase" extends="section">
  <template>
    <header>
      <a class="pp-link" href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="privacy-panel">Guided tour</h1>
    </header>
    <div>
      <div class="gt-picture"></div>
      <div class="gt-description">
        <h2>How to set your personal pass phrase?</h2>
        <p>
          Tap "Remote Privacy Protection" and set your passphrase to secure your remote features. If you have forgotten your actual passphrase you can reset it using your SIM pin or lockscreen pass code.
        </p>
      </div>
      <div class="gt-action">
        <a class="pp-link btn back" href="#rpp_explain">Back</a>
        <a class="pp-link btn next" href="#rpp_locate">Next</a>
      </div>
    </div>
  </template>
</element>
