<element name="rpp-ring" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div class="gt-box">
      <div class="gt-picture"></div>
      <div class="gt-description">
    <h2 data-l10n-id="rpp-ring-header">How to ring your phone?</h2>
    <p data-l10n-id="rpp-ring-desc">
    It‘s easy! Just send an SMS with “RPP ring YOURPASSPHRASE” to your phone number and it will ring until you find it and unlock it.
    </p>
    </div>

      <div class="gt-action">
        <a class="pp-link btn btn-blue" href="#rpp-locate">Back</a>
        <a class="pp-link btn btn-blue" href="#rpp-lock">Next</a>
      </div>
    </div>
  </template>
</element>
