<element name="rpp_lock" extends="section">
  <template>
    <header>
      <a class="pp-link" href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="privacy-panel">Guided tour</h1>
    </header>
    <div>
      <div class="gt-picture"></div>
      <div class="gt-description">
        <h2>How to lock my phone?</h2>
        <p>
          Lorem ipsum...
        </p>
      </div>
      <div class="gt-action">
        <a class="pp-link btn back" href="#rpp_ring">Back</a>
        <a class="pp-link btn next" href="#root">Done</a>
      </div>
    </div>
  </template>
</element>
