<element name="rpp_explain" extends="section">
  <template>
    <header>
      <a class="pp-link" href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="privacy-panel">Guided tour</h1>
    </header>
    <div>
      <div class="gt-picture"></div>
      <div class="gt-description">
        <h2>Remote Privacy Protection?<br>What is it?</h2>
        <p>
          If your phone is stolen or lost, you can use the Remote Privacy Protection. With another phone you can locate it, let it ring or even lock it remotely. You first have to set your personal passhrase and enable the features you want to use (locate, ring and lock).
        </p>
      </div>
      <div class="gt-action">
        <a class="pp-link btn back" href="#la_exceptions">Back</a>
        <a class="pp-link btn next" href="#rpp_passphrase">Next</a>
      </div>
    </div>
  </template>
</element>
