<element name="welcome" extends="section">
  <template>
    <header class="gt-header">
      <a class="pp-link" href="#root">
        <span class="icon icon-close">back</span>
      </a>
    </header>
    <div class="gt-box">
      <div class="gt-picture"></div>
      <div class="gt-description">
    <h2 data-l10n-id="welcome-header">Welcome to the Privacy Panel!</h2>
    <p data-l10n-id="welcome-desc">
    This app will help you enhance your privacy protection and enables you to lock or find your phone if it's lost. Just have a closer look. It takes only 2 minutes!
    </p>
      </div>
      <div class="gt-action">
        <a class="pp-link btn btn-blue" href="#la-explain">Get started!</a>
      </div>
    </div>
  </template>
</element>
